.menu{
	background-image: url("../img/style-img.jpg");
	background-size: 100%;
	width: 100%;
	height: 66px;
	line-height: 66px;
}

.m-left{
	float: left;
}
.logo{
	margin: 0;padding: 0;
	color: white;
	text-transform: uppercase;
	font-family: 'Anton'
	font-weight: 900;
	font-size: 38px;
	letter-spacing: 1px;
}
.m-right{
	float: right;
	margin-right: -150px;
}
.m-link{
	text-decoration: none;
	color: white;
	font-weight: 500;
	font-size: 15px;
	padding: 0;margin: 0 100px;
}

.Name{
	background-image: url("../img/style-img.jpg");
	background-size: 130%;
	padding-top: 1px;
	padding-bottom: 1px;
	border-radius: 16px;
	margin: 4px 2px;
	color: white; 
}

.button {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

.backstart {
    position: fixed;
    top: 10px;
    right: 10px; 
    width: 25
	height: 25
}

