body {
    background: black;
    color: white;
    margin: 0;
    padding: 0;
}

header {
    background: black;
    background-image: url(Images/logo.jpg);
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    margin: 20px;
    height: 500px;
    text-align: center;
}

section {
    padding: 20px;
    display: flex;
    flex-direction: row;
}

table {
            align-content: center;
            max-width: inherit;
        }
        td {
            padding: 5px;
            max-width: 400px;
            text-align: center;
            vertical-align: top;
        }

div {
    background: black;
    width: 400px;
    margin: auto;
}

footer {
    padding: 10px 20px;
}

ul {
    margin:0;
    padding: 0;
    list-style-type: none;
}

li {
    display: inline-block;
    margin-right: 20px;
   text-decoration: none;
}
a {
    color: white;
}

footer {
    text-align: center;
    padding-bottom: 20px;
}

