*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}body,p,b,dl,dd,td,th,input,img,form,div,ul,li,h1,h2,h3,h4,h5,h6,span,select{margin:0;padding:0}img,iframe{border:0}ol,ul,li{list-style:none}img,input,label,select{vertical-align:middle}body{color:#333;font:12px/1.5 Arial,宋体,Helvetica,sans-serif;background-color:#f0f0f1}a:link,a:visited{text-decoration:none}.center{margin:0 auto}.clear{clear:both}.left{float:left}.right{float:right}
.header-bg{width:100%;height:75px;background-color:#fff;box-shadow:3px 6px 15px 0px #c7c7c7;}
.konxi{padding-right:5px}
header,.phide{display:none;}
#header,#search,#content,#footer,.request,.home,.nv{width:1120px;margin:0 auto}
#header{height:65px}
#logo{float:left;width:148px;height:60px;padding:4px 1px}
#topimg{float:left;padding:0;margin-left:35px;overflow:hidden;color:#000;font-size:14px;font-family:microsoft yahei}
#topimg span a{color:#008c5f;padding:0 6px}
#topimg p{height:75px;line-height:75px;}
.yous{float:right;margin:10px;text-align:right;}
.yous a{color:#000;cursor:pointer}
.yous a:hover{color:#a40000}
.language{float:left;height:32px;line-height:32px;background:#ffffff;color:#000;padding:0 10px;font-family:microsoft yahei;font-size:14px;margin:0 15px;overflow:hidden;}
.nv .language a{font-size:13px;font-family:simsun;color:#666;font-weight:bold;cursor:pointer;}
.nv .language a:hover,.language a.active{color:#d75544;}
.nv{overflow:hidden;background-color:#f0f0f1;margin-top:20px}
.nv ul li{float:left;line-height:32px;font-size:15px;text-align:center;height:32px;}
.nv ul li a{-webkit-transition:all .2s;-moz-transition:all .2s;-ms-transition:all .2s;-o-transition:all .2s;color:#fff;padding:6px 10px;background:#ababab;margin-right:2px;font-size:14px;font-family:Microsoft yahei;}
.nv ul li a:hover{color:#000;background:#fff}
.nv ul li.menufbq a{background:#d75544;}
.nv ul li.menufbq a:hover{background:#FFF;}
.standbydomain{float:left;padding:0 10px 0 15px;color:#036c8a}
.standbydomain a{border-radius:6px;}
.standbydomain a:hover {background:#bf3b2a!important;color:#fff!important}
.h2right {height:30px;line-height:30px;font-family:microsoft yahei;font-size:14px;padding-left:15px;float:left;}
.h2fright{float:right;height:30px;line-height:30px;padding-right:20px;font-size:13px;color:#d75544;font-weight:700;}
.h2fright a{color:#d75544;}
.h2right a {color:#333;font-size:13px;padding-left:10px;}
.h2right a:hover {color:#d75544}
.h2ps {float:right;font-size:12px;color:#bbbbbb;font-weight:normal;padding-right:5px;font-family:simsun;height:30px;line-height:42px;}
#content {margin-top:10px;overflow:hidden}
#screen {overflow:hidden;margin-bottom:10px}
.toparea {float:left;width:24.25%;margin-right:1%;border:1px solid #d75544;border-width:1px 1px 1px 0}
.toparear p {font-size:15px;margin-bottom:1px;line-height:31px;text-align:center}
.toparear p a {-webkit-transition:all .2s;-moz-transition:all .2s;-ms-transition:all .2s;-o-transition:all .2s;color:#333;background:#FFF;display:block}
.toparear p a:hover {background:#d75544;color:#FFF}
#cate {overflow:hidden;width:100%;background-color:#fff}
#cate h2,#mobilefuli h2,#mobilefuliapp h2{padding-left:16px;height:30px;line-height:30px;font-size:14px;color:#333;width:204px;float:left;background-color:#e4e4e4;font-family:Microsoft yahei;font-weight:normal;}
#cate .mingz ul {float:left;width:100%;border-top:1px solid #e4e4e4}
#cate .mingz li,#mobilefuli li,#mobilefuliapp li {width:157px;float:left;display:inline}
#cate .mingz li a,#mobilefuli li a,#mobilefuliapp li a {-webkit-transition:all .2s;-moz-transition:all .2s;-ms-transition:all .2s;-o-transition:all .2s;float:left;padding-left:15px;line-height:27px;height:27px;font-size:13px;color:#333;display:inline;width:140px}
#cate .mingz li a:hover {color:#000;background:#DDD;text-decoration:none}
#cate ul {padding:5px 0 15px 20px;float:left;width:100%;border-top:1px solid #e4e4e4}
#cate li {width:157px;float:left;display:inline}
#cate li a {-webkit-transition:all .2s;-moz-transition:all .2s;-ms-transition:all .2s;-o-transition:all .2s;float:left;padding-left:15px;line-height:27px;height:27px;font-size:13px;color:#333;display:inline;width:108px}
#cate li a:hover {color:#000;background:#DDD;text-decoration:none}
#goodtool {float:left;width:100%;background-color:#fff}
#goodtool h2 {padding-left:16px;height:30px;line-height:30px;font-size:14px;color:#333;width:204px;float:left;background-color:#e4e4e4}
#goodtool ul {padding:5px 0 15px 20px;float:left;width:100%;border-top:1px solid #e4e4e4}
#goodtool ul li {float:left;display:inline;width:auto}
#goodtool ul li a {-webkit-transition:all .2s;-moz-transition:all .2s;-ms-transition:all .2s;-o-transition:all .2s;float:left;padding:0 10px;line-height:27px;height:27px;font-size:13px;color:#333;display:inline;width:auto;}
#goodtool li a:hover {color:#000;background:#DDD;text-decoration:none}
#mobilefuli,#mobilefuliapp {overflow:hidden;width:100%;background-color:#fff}
#mobilefuli ul,#mobilefuliapp ul {padding:10px 0 15px 20px;float:left;width:100%;border-top:1px solid #e4e4e4}
.appcate {margin-top:3px;}
#mobilefuliapp .appcate li{font-size:13px;font-family:simsun;padding:3px 7px;background:#dddddd;margin-left:5px;color:#333;border-radius:5px;width:auto;line-height:normal;cursor:pointer;}
#mobilefuliapp .appcate li.ate{background:#d75544;color:#FFF;}
.screenh2 h2 {padding-left:16px;height:30px;line-height:30px;font-size:14px;color:#333;width:204px;background-color:#e4e4e4;font-weight:normal;}
#mobilefuli li a:hover,#mobilefuliapp li a:hover {color:#000;background:#DDD;text-decoration:none}
#mobilefuliapp li a span,#cate .relay li a span{background:#ddd;padding:3px 2px;font-size:12px;color:#333;border-radius:3px;margin-left:3px;}
.footerbg {background:#f0f0f1;border-top:2px solid #d75544;margin-top:0;}
.footer-xy {float:left;width:70%;color:#000;}
.footer-logo {float:right;width:30%;color:#FFF;}
.footer-logo img{width:80px;opacity:0.5;float:right;}
.footer-xy h1{font-size:13px;font-family:microsoft yahei;text-align:left;margin-bottom:10px;line-height:20px;font-weight:normal;}
.footer-xy span{color:#d75544;float:left;font-size:13px;font-family:microsoft yahei;}
#footer {clear:both;padding:40px 0 15px 0;text-align:center;line-height:21px;font-size:13px;letter-spacing:0;overflow:hidden;}
.copyright {color:#000;clear:both;padding:10px 0;text-align:center;background:#FFF;}
.copyright a {color:#000}
#leftnv {position:fixed;left:53%;top:134px;margin-left:516px;}
#leftnv ul{border:1px solid #ccc}
#leftnv li {width:86px;font-size:15px;background-color:#fff;height:30px;text-align:center;border-bottom:1px solid #e6ebf4;line-height:30px;transition:.2s;}
#leftnv li:hover {background-color:#7b7b7b}
#leftnv a {text-decoration:none;color:#333;display:block;-webkit-transition:all .2s;-moz-transition:all .2s;-ms-transition:all .2s;-o-transition:all .2s}
#leftnv a:hover {color:#fff}
#leftnv li:last-child {height:34px;line-height:34px}
#leftnv li.nvdapp {margin-top:15px;background:#d75544;}
#leftnv li.nvdapp a{color:#FFF;font-size:13px;}
#leftnv li.nvdapp:hover {background:#b34234;border-radius:18px;}
.tip-hot {vertical-align:top}
.tip-new {vertical-align:top;margin:3px 0 0 4px;}
.topmobilefuli,#fulionemob,.qiang,.screenh2 {	display:none}
.topareal {width:12%;float:left;background:#d75544;height:287px}
.toparear {width:88%;float:right;background:#f0f0f1}
.topareal p {color:#FFF;padding:60px 2px 0 2px;font-size:15px;text-align:center;font-weight:bold}
.toparear p:hover {background:#000}
.footerlink {margin:20px auto;}
.footerlink .footerlinkul {display:flex;align-items:center;justify-content:center;text-align:center;}
.footerlink .footerlinkul li{float:left;}
.footerlink .footerlinkul li a{background:#d75544;padding:8px 16px;color:#FFF;transition:.2s;}
.footerlink .footerlinkul li a:hover{background:#b34234;}
.fulilayer {padding:20px;background-color:#d75544;color:#FFF;font-family:microsoft yahei;font-weight:300;}
.fulilayer h1{font-size:16px;font-weight:normal;text-align:center;padding-bottom:15px;}
.fulilayer p{text-indent:2em;font-size:13px;color:#FFF;}
.fulilayer li{font-size:13px;color:#FFF;padding:3px 0;}
.partner{margin:6px 0 10px 0;}
.partner,.partner span,.partner li {float:left;font-size:13px;font-family:microsoft yahei;}
.partner span{color:#333;font-weight:bold;}
.partner li a{color:#000;padding:0 8px;}
.partner li a:hover{text-decoration:underline;}
.fulilayer li a{color:#ffd121;font-family:simsun;text-decoration:underline;}
.layui-layer .layui-layer-btn .layui-layer-btn0{border-color:#d75544;background-color:#d75544;font-size:14px;font-family:microsoft yahei;height:32px;line-height:32px;padding:0px 20px;}
.layui-layer-title{padding:0;text-align:center;font-family:Microsoft yahei;font-size:16px;background-color:#d75544;color:#fff;border:none;}
#qrlayer p{text-align:center;font-size:15px;font-family:Microsoft yahei;color:#000;padding-top:10px;}

.nv .rightli{height:30px;overflow:hidden;}
.nv .rightli li{float:right;font-size:13px;padding:0;color:#d75544;}

@media only screen and (min-width:0) and (max-width:640px) {
.appcate {float:left;margin:5px 0;}
#mobilefuliapp .appcate li{padding:3px 5px;}
}
@media only screen and (min-width:0px) and (max-width:850px){
.footer-logo{display:none;}
.footer-xy {width:100%}
}
@media only screen and (min-width:0) and (max-width:1120px) {
#header,.nv,#content,#footer {width:96%}
.yous,.standbydomain,.pcmobilefuli,.h2right,#topimg {display:none}
#cate li,#mobilefuli li,#mobilefuliapp li,#cate .mingz ul li {width:auto}
.toparea p {float:left;width:33.33333%;margin-bottom:0;}
.seat p {width:100%}
.margin-left-p1 {margin-left:0}
.topmobilefuli,#fulionemob,.qiang,.screenh2,header{display:block}
#mobilefuli ul,#mobilefuliapp ul,#cate ul {padding:10px 0 15px 5px;}
#cate li a {width:102px;}
#logo {width:170px;margin:0 auto;float:none;}
.nsssv {width:100%}
.nsssv ul li {overflow:hidden;width:49%}
.nsssv ul li img {width:100%;height:auto}
.screenh2,#leftnv {display:none}
.toparea {float:none;width:100%;margin-right:0;border:0;padding-top:10px;}
.toparear {width:100%;float:none;}
.toparear p a {display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-size:13px;text-align:left;padding-left:8%;}
.mobfloat {float:left;}
.screenh2 {border-bottom:1px solid #e4e4e4;}
#screen {background:#FFF;}
.am-header-nav a{color:#337ab7;}
.am-header {position:relative;width:100%;height:75px;line-height:75px;padding:0 0px;}
.am-header .logom a{padding-left:10px;}
.am-header .am-header-nav {position:absolute;top:0;}
.am-header .am-header-nav img {height:16px;width:auto;vertical-align:middle;}
.am-header .am-header-right {right:10px;font-size:16px;font-family:microsoft yahei;}
.am-header-fixed {position:fixed;top:0;left:0;right:0;width:100%;z-index:1010;}
.am-with-fixed-header {padding-top:32px;}
.am-header-right a:hover {text-decoration:none;color:#e45544;}
.am-header-icon {width:30px;}
.am-offcanvas {display:none;position:fixed;top:0;right:0;bottom:0;left:0;z-index:1090;background:rgba(0, 0, 0, 0.15);}
.am-offcanvas.am-active {display:block;}
.am-offcanvas-page {position:fixed;-webkit-transition:margin-left 0.3s ease-in-out;transition:margin-left 0.3s ease-in-out;}
.am-offcanvas-bar {position:fixed;top:0;bottom:0;left:0;z-index:1091;width:180px;max-width:100%;background:#444;overflow-y:auto;-webkit-overflow-scrolling:touch;-webkit-transition:-webkit-transform 0.3s ease-in-out;transition:-webkit-transform 0.3s ease-in-out;transition:transform 0.3s ease-in-out;transition:transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;-webkit-transform:translateX(-100%);-ms-transform:translateX(-100%);  transform:translateX(-100%);}
.am-offcanvas.am-active .am-offcanvas-bar.am-offcanvas-bar-active {-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);}
#r-nav .am-offcanvas-content a{color:#ccc;padding:10px 0;display:block;border-bottom:1px solid #484848;}
.am-offcanvas-bar-flip {left:auto;right:0;-webkit-transform:translateX(100%);-ms-transform:translateX(100%);transform:translateX(100%);}
.am-offcanvas-bar-flip:after {right:auto;left:0;}
.am-offcanvas-content {padding:15px;}
.am-offcanvas-content a {color:#fff;font-size:14px;font-family:microsoft yahei;}
.am-offcanvas-content a:hover {color:#eae8de;}
.nv {margin-top:10px;}
.header-bg{position:fixed;}
header,.mshow{display:block}
#header,.mhide{display:none;}
.m-zw{height:75px;}
.nv .tokonw a{background:#d65241;}
.nv {margin-top:10px;}
.topareal{display:block;width:100%;height:auto;background:#e4e4e4;}
.topareal p{width:100%;padding:5px 0;font-size:13px;font-weight:normal;color:#000;}
/*Frequent Updates Start*/
.language{margin:0 0 0 2px;}
/*Frequent Updates Stop*/
}

/*Frequent Updates Coder*/
.warinfo{margin-bottom:20px;background:#FFF;color:#525252;border-radius:5px;border:1px solid #e0e0e0;padding:.625em;width:96%;margin:15px auto 0;}
.warinfo p{font-size:13px;font-family:'microsoft yahei';}
.warinfo p a{color:#525252;text-decoration:underline;}
#suidomain{margin:8px 0 0 0;font-size:13px;background:#f5f5f5;padding:5px 10px;color:#333;}
#m-suidomain{height:35px;overflow:hidden;background:#FFF;color:#525252;border-radius:5px;border:1px solid #e0e0e0;padding:0 .625em;width:96%;margin:8px auto 0;}
#m-suidomain ul li{line-height:35px}
#m-suidomain ul li a{color:#d75544;text-decoration:underline;}
.yous{cursor:auto;}
#cate .relay li a{width:auto;padding:0 20px 0 15px;}
#cate .relay li {width:auto}

@media only screen and (min-width:0) and (max-width:498px) {
#mobilefuli li,#mobilefuliapp li,#cate .mingz ul li{width:33.33333%;}
#mobilefuli li a,#mobilefuliapp li a,#cate .mingz ul li a{width:100%;;}
#mobilefuliapp li a {padding-left:8px;}
}

@media only screen and (min-width:0) and (max-width:465px) {
#cate li a {width:100%;padding-left:5px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
#cate li{width:33.33333%;}
.h2ps {display:none;}
}

@media only screen and (min-width:0) and (max-width:443px) {
.language{margin:10px 0 0 0;}
#mobilefuliapp .appcate li{padding:3px 4px;margin-left:2px;}
}
@media only screen and (min-width:0) and (max-width:382px) {
#mobilefuliapp li{width:50%;}
}
@media only screen and (min-width:0) and (max-width:304px) {
#mobilefuli li,#mobilefuliapp li,#cate li,.toparea p{width:50%;}
#mobilefuli li a,#mobilefuliapp li a,#cate .mingz ul li a{width:100%;padding-left:10%;}
}

.dark #cate li a:hover,.dark #mobilefuliapp li a:hover,.dark #mobilefuli li a:hover{color:#999;background:#131313;text-decoration:none}
.dark #cate,.dark #goodtool,.dark #mobilefuli,.dark #mobilefuliapp{background:#1d1d1d;}
.dark #cate h2,.dark #mobilefuli h2,.dark #mobilefuliapp h2{background:#131313;color:#666}
.dark #mobilefuliapp li a span{background:#131313;color:#333}
body.dark {background:#232323;color:#666;}
.dark .layui-layer-title{background:#232323;}
body.dark a,.dark #qrlayer p{color:#666;}
.dark #topimg{color:#888}
.dark .header-bg{background-color:#191919;box-shadow:3px 6px 15px 0px #000000;}
.dark #cate ul,.dark #mobilefuli ul,.dark #mobilefuliapp ul{border-top:1px solid #131313;}
.dark #cate li a,.dark #mobilefuli li a,.dark #mobilefuliapp li a,.dark .footer-xy,.dark .partner span,.dark .partner li a,.dark .copyright,.dark #mobilefuliapp .appcate li,.dark .xuanyan,.dark .h2right a,.dark p.tinfo,.dark .h2ps{color:#666;}
.dark #cate .relay li a span{background:#000;color:#666;}
dark .h2ps{color:#4c4c4c;}
.dark .yous a,.dark .topareal p,.dark #suidomain,.dark #leftnv a,.dark .h2right{color:#666;}
.dark .topareal,.dark .toparea,.dark .copyright{background:#191919;}
.dark .toparea{background:#191919;border:1px solid #191919;}
.dark #leftnv li{background:#191919;border:1px solid #232323;}.dark #leftnv{border:1px solid #232323;}
.dark .toparear p a{color:#666;background:#1d1d1d;}
.dark .toparear,.dark #suidomain,.dark #mobilefuliapp .appcate li{background:#131313;}
.dark #mobilefuliapp li a span.act,.dark #cate .relay li a span.act,.dark #mobilefuliapp .appcate li.ate{background:#000;color:#aaa;transition:.5s}
.dark .nv{background:none;}
.dark .nv ul li.menufbq a,.dark .fulilayer{background:#333;}
.dark .nv ul li a,.dark .language,.dark .footerlink .footerlinkul li a{background:#191919;color:#999;}
.dark #leftnv a:hover,.dark .yous a:hover,.dark .toparear p a:hover{color:#aaa;}
.dark .footerbg{background:#1d1d1d;border-top:2px solid #3a3a3a;}
.dark .nv ul li.menufbq a:hover,.dark .nv ul li a:hover,.dark #leftnv li:hover,.dark .toparear p a:hover,.dark .footerlink .footerlinkul li a:hover{background:#080808;}
.dark .layui-layer{background-color:#131313;}
.dark .layui-layer .layui-layer-btn .layui-layer-btn0{border-color:#333333;background-color:#333333;}
.dark p.tinfo a,.dark .language a:hover,.dark .language a.active,.dark .footer-xy span,.dark .h2fright,.dark .nv .rightli li{color:#73342c;}
.dark .warinfo,.dark #m-suidomain{background:#000;color:#666;border:none;}
.dark #leftnv ul{border: 1px solid #333;}