body {
  background-color: #FFF;
  color: #000;
}
a {
    color: #000
}
a:focus,a:hover {
    color: #000
}
.main {
  background: #FFF
}
.menu_left {
  background-color: whitesmoke
}
.menu_not_react {
    color: #949494;
    background:whitesmoke!important
}
.list-types-new li:hover {
    background: #ebebeb
}
.list-type:hover,.list-type.active {
    color: #000
}
.list-type {
    color: #000
}
.style-scope .List .more {
    background-color: whitesmoke
}
.List .file .size.downloading,.List .file .size.partial {
    background-color: whitesmoke
}
.List .file .left-info {
    border-color: #FFF
}
.video_title {
    border-color: whitesmoke
}
.video_comment {
    border-color: whitesmoke
}
.List .more:hover {
    color: #000;
}
.List .more {
    color: #b3b3b3;
}
.List .file .add {
    color: #949494;
    border-color: whitesmoke
}
.List .file .add:hover {
    color: #f00
}
.List .file .add:active {
    background-color: #FAFAFA;
}
.editable .icon-edit:hover + .body {
    color: #000
}
.List .file .title {
}
.List .file .header:hover {
    color: #000
}
.List .file textarea {
    background-color: whitesmoke
}
.button-follow {
    border-color:#AAA;
    color: #999;
}
.button-follow:hover {
    background-color: rgba(255,255,255,0.3)!important;
    border-color: #2ecc71!important;
    color: #2ecc71
}
.button-follow-big {
    border-color:#2ecc71;
    color: #2ecc71;
}
.button-follow-big:hover {
    border-color: #2ecc71!important;
    color: #2ecc71;
    background-color: #000;
}
.button-submit {
    background-color: #ff0000;
    color: #FFF;
}
.button-submit:hover {
    color: #000;
    background-color: whitesmoke
}
.button-outline {
    background-color: whitesmoke;
    color: #7b7b7b
}
.button-outline:hover {
    background-color: whitesmoke;
    color: #000
}
.List .file .seeding {
    background-color: whitesmoke;
}
.ytd-header-author{
    color: #000
}
.yt-img-avatar svg{
    fill: #000
}
.yt-icon-menu-left{
    color: #000
}
