

/* ---- /1oEY4zYmwPH4s5ytYNn85kMFED8KnWce3/css/style.css ---- */


::-webkit-scrollbar{
	width:7px;
	height:5px;
}
::-webkit-scrollbar-track{
	background-color:#424242;
}
::-webkit-scrollbar-thumb{
	background-color:#F48FB1;
}
::-webkit-scrollbar-thumb:hover{
	background-color:#F06292;;
}
::-webkit-scrollbar-thumb:active{
	background-color:#E91E63;
}
::selection{
	background-color:#F06292;
}

html,body{
	background-color:#212121;
	padding:0;
	margin:0;
	color:#FAFAFA;
}
*{
	outline:none;
	font-family:'Roboto','consolas','Microsoft YaHei',微软雅黑;
}	
a{
	padding:0 1rem;
	cursor:pointer;
	color:#FAFAFA;
	text-decoration:none;
	transition:color 1s;
}
a:hover{
	color:#E91E63;
}
#top{
	display:none;
}
header.site{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	z-index:2;
}
header.site #online,header.site a.top{
	position:absolute;
	bottom: 1ex;
	right: 5rem;
	opacity:0;
}
header.site #online{
	left:5rem;
	opacity:1;
	color:#E91E63;
}
header.site #online::before,header.site #online::after{
	content:"已连接到 ";
	color:#FAFAFA;
	font-size:small;
}
header.site #online::after{
	content:" 个节点";
}
header.site h1{
	margin:0;
	padding:1rem 0 1ex;
	text-align:center;
	background-color:#424242;
	/*background: -webkit-linear-gradient(rgba(117,117,117,1),rgba(255,255,255,0));background: -moz-linear-gradient(rgba(117,117,117,1),rgba(255,255,255,0));background: -o-linear-gradient(rgba(117,117,117,1),rgba(255,255,255,0));background: -ms-linear-gradient(rgba(117,117,117,1),rgba(255,255,255,0));background: linear-gradient(rgba(117,117,117,1),rgba(255,255,255,0));*/
}
header.site h1::before{
	display:block;
	content:" ";
	height:1px;
	width:100%;
	background-color:#616161;
	position:absolute;
	top:0;
}
header.site h1 a{
	display:inline-block;
}
header.site h1 a:hover::before{
	transform:translateX(-30%);
	border-color:#E91E63;
}
header.site h1 a:hover::after{
	transform:translateX(-60%);
	border-color:#E91E63;
}
header.site h1 a:active::before{
	transform:translateX(49vw);
	border-color:white;
}
header.site h1 a:active::after{
	transform:translateX(-55vw);
	border-color:white;
}
header.site h1 a::before, header.site h1 a::after{
	pointer-events:none;
	content:" ";
	display:block;
	height:0;
	width:5rem;
	position:absolute;
	left: 50%;
    -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -o-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%) ;
	border-top:1px solid #fff;
	animation-name:title-top;
	animation-duration:1s;
	-webkit-animation-timing-function: ease; -moz-animation-timing-function: ease; -o-animation-timing-function: ease; -ms-animation-timing-function: ease; animation-timing-function: ease ;
	animation-delay:0.1s;
	transition:transform 1s,border-color 0.8s;
	/*
	animation-fill-mode:forwards;
	visibility: hidden;
	*/
}
@keyframes title-top{
	0%{
		-webkit-transform: translateX(-130%); -moz-transform: translateX(-130%); -o-transform: translateX(-130%); -ms-transform: translateX(-130%); transform: translateX(-130%) ;
		border-color:#212121;
		visibility: visible;
	}
	100%{
		-webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -o-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%) ;
		border-color:#fff;
		visibility: visible;
	}
}
header.site h1 a::after{
	animation-name:title-bottom;

}
@keyframes title-bottom{
	0%{
		-webkit-transform: translateX(30%); -moz-transform: translateX(30%); -o-transform: translateX(30%); -ms-transform: translateX(30%); transform: translateX(30%) ;
		border-color:#212121;
		visibility: visible;
	}
	100%{
		-webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -o-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%) ;
		border-color:#fff;
		visibility: visible;
	}
}
div.wrap{
	position:relative;
	margin-top:5rem;
}
div.article-menu{
	max-width:840px;
	margin:auto;
	line-height:2rem;
}
div.article-menu::before{
	content:" ";
	height:104%;
	width:0;
	border-left:1px solid #fafafa;
	position:absolute;
	transform:translateY(-2%);
}

div.article-menu p:hover{
	color:#E91E63;
}

div.article-menu p a, div.article-menu p{
	position:relative;
	display:block;
/* 	border-bottom:1px solid #212121; */
	transition:/* border-bottom 0.5s, */margin-left 1s,color 1s;
}
div.article-menu p time{
	position:absolute;
	right: 0;
	bottom:-1ex;
    font-size: xx-small;
}
div.article-menu p a:hover{
	margin-left:1ex;
}
div.article-menu p a::before{
	content:" ";
	position:absolute;
	width:1ex;
	height:1ex;
	border-radius:50%;
	background-color:#fafafa;/*#E91E63;*/
	top:50%;
	transform:translateY(-50%);
	margin-left: -19.3px;
	transition:background-color 1s,margin-left 1s;
}
div.article-menu p a:hover::before{
	background-color:#E91E63;
	margin-left:-27.3px;
}
div.article-menu p a::after{
	content:" ";
	position:absolute;
	width:100%;
	height:1px;
	background-color:#fafafa;/*#E91E63;*/
	bottom:0;
	left:0;
	opacity:0;
	transition:background-color 1s,left 1s,width 1s,opacity 0.5s;
}
div.article-menu p a:hover::after{
	background-color:#E91E63;
	left:1rem;
	width:99%;
	opacity:1;
}
article{
	margin-top:85px;
}
header.article{
	text-align:center;
}
header.article h2 a{
	display:inline-block;
	text-align:center;
}
#userid{
	cursor:pointer;
	text-transform: uppercase;
	display:inline-block;
	transition:color 1s;
}
#userid:hover{
	color:#E91E63;
}
#userid::after,header.article h2 a::after{
	content: " ";
    width: 0;
    height: 2px;
	background-color:#E91E63;
    display: block;
    margin: auto;
	transition:all 1s;
	position: relative;
	bottom: 5px;
}
#userid::after{
	height:1px;
}
#userid:hover::after,header.article h2 a:hover::after{
	width:100%;
	background-color: white;
}
header.article section.info{
	color: #757575;
    font-size: small;
    font-style: oblique;
}

section.content {
    position: relative;
    height: calc(100vh - 300px);
    overflow: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

td, tr, th {
	border: 1px solid;
	margin: 0;
	overflow: auto;
	/* display: run-in; */
	white-space: nowrap;
}



/*********************/
article section.table{
	font-size:0;
	-webkit-text-size-adjust:none;
}
article section.table span{
	display:inline;
	border:1px solid;
	font-size:1rem;
	width:50%;
	height:2.2rem;
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box ;
	white-space:nowrap;
	padding:7px 0;
	overflow-x:auto;
	overflow-y:hidden;
}
article section.table span::-webkit-scrollbar{
	height:3px;
	border-bottom:1px solid;
}
article section.table span.th{
	font-size:1.2rem;
	font-weight:bolder;
	text-align:center;
	counter-reset:No;
}
article section.table span:nth-child(odd){
	float:left;
	text-indent:2rem;
	counter-increment:No;
	width:calc(100% - 25rem);
}
article section.table span:nth-child(odd)::before{
	content:counter(No)".";
	padding-right:1%;
}
article section.table span.th::before{
	content:"";
}
article section.table span:nth-child(even){
	float:right;
	border-left:0;
	text-indent:1rem;
	width:calc(20rem + 5rem);
}
article section.table span:nth-child(n+0){
	border-bottom:0 solid;
}
article section.table span:nth-last-child(2),article section.table span:nth-last-child(1){
	border-bottom:1px solid;
}

section.comment{
	position: fixed;
    width: 100%;
    bottom: 0;
    margin-bottom: 0;
}
section.comment span.tip{
	padding-left: 2rem;
    display: inline-block;
	font-size: large;
}
section.comment span.userid{
	position:absolute;
	/*right:2rem;*/
	line-height: 1.5rem;
	font-size: x-small;
}
section.comment textarea.content{
    width: 100%;
	box-sizing: border-box;
	padding: 0 0.5rem;
	resize: vertical;
	background-color:rgba(0,0,0,0.2);
	color:#FAFAFA;
	transition:all 0.3s;
	height: 5rem;
}
section.comment textarea.content:focus{
	border-color: #E91E63;
}
section.comment a.submit{
	display: block;
    width: 100%;
    box-sizing: border-box;
    background: #c50039;
    text-align: center;
    line-height: 2.5em;
	color:#E91E63;
}
section.comment a.submit:hover{
	color:#FAFAFA;
}

