p, blockquote, ul, pre {
	max-width: 600px;
	margin: 16px auto;

	color: #ffffff;
	font-size: 18px;
	line-height: 1.4;
}

blockquote {
	background-color: rgba(0, 0, 0, 0.2);
	border-left: 2px solid #ffffff;
	padding: 4px 24px;
	box-sizing: border-box;
}

pre {
	background-color: rgba(0, 0, 0, 0.2);
	padding: 16px;
	padding-bottom: 0;
	box-sizing: border-box;
	overflow-x: auto;
	font-size: 16px;
	tab-size: 4;
	-webkit-tab-size: 4;
	-moz-tab-size: 4;
}

li {
	margin: 8px 0;
}