.timelapse {
	max-width: 600px;
	margin: 0 auto;
	padding-bottom: 32px;
	position: relative;
}

.timelapse-timeline {
	position: absolute;
	left: calc(20% - 32px);

	width: 4px;
	height: calc(100% - 64px);
	background-color: #ffc0ff;
}

.timelapse-event {
	position: relative;
	padding-top: 24px;
	padding-left: 20%;
	box-sizing: border-box;
}

.timelapse-marker {
	position: absolute;
	left: calc(20% - 42px);
	top: 28px;

	width: 24px;
	height: 24px;
	border-radius: 50%;
	background-color: #ffc0ff;
}

.timelapse-date {
	color: #ffc0ff;
	font-size: 20px;
}

.timelapse-title {
	width: 70%;
	color: #ffffff;
	font-size: 18px;
}