@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src:
		local("Roboto Regular"),
		local("Roboto-Regular"),
		url('../fonts/roboto/Roboto-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 400;
	src:
		local("Roboto Italic"),
		local("Roboto-Italic"),
		url('../fonts/roboto/Roboto-Italic.ttf') format('truetype');
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	src:
		local("Roboto Medium"),
		local("Roboto-Medium"),
		url('../fonts/roboto/Roboto-Medium.ttf') format('truetype');
}
@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 500;
	src:
		local("Roboto Medium Italic"),
		local("Roboto-MediumItalic"),
		url('../fonts/roboto/Roboto-MediumItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src:
		local("Roboto Bold"),
		local("Roboto-Bold"),
		url('../fonts/roboto/Roboto-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 700;
	src:
		local("Roboto Bold Italic"),
		local("Roboto-BoldItalic"),
		url('../fonts/roboto/Roboto-BoldItalic.ttf') format('truetype');
}
