.comment-new-content {
	display: block;
	width: calc(100% - 18px);
	height: 64px;
	margin-bottom: 4px;
	padding: 8px;
	resize: vertical;

	border: 1px solid #000;

	font-family: inherit;
	font-size: 12px;
}

.comment-new-publish {
	display: inline-block;
	width: calc(100% - 20px);
	height: 12px;
	padding: 6px 10px;
	cursor: pointer;

	background-color: #9563F9;

	color: #FFF;
	font-size: 12px;
	line-height: 12px;
	text-align: center;
}
.comment-new-publish.publishing {
	background-color: #6363F9;
}