a:link,a:visited{
  color: #ffdfe8;
}
a:hover,a:active{
  color: #f0688d;
}

body{
  background: #000;
}

.bash .terminal{
  border-top: 6px solid #74132d;
  position: absolute;
  height: auto;
  padding: 35px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  overflow-x: hidden;
  font-size: 13px;
}

/*#row{
  padding: 15px 35px;
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  box-sizing: border-box;
  background: #b91d47;
}*/

@media only screen and (max-device-width: 800px) {
  .bash .terminal{
    padding: 15px;
    padding-bottom: 100px;
  }
}

.color-blue{
  color: rgb(43, 96, 255);
}

.color-light-blue{
  color: rgb(43, 172, 255);
}

.color-red{
  color: rgb(255, 43, 43);
}

.color-green{
  color: rgb(43, 255, 65);
}

.color-highlight-green{
  color: rgb(43, 96, 255);
  background: rgb(43, 255, 65);
}
