/* CHANGE WHATEVER YOU WANT */
body, html { 
margin:0;
font-family: "Lalezar", cursive;
animation-name: page;
-webkit-animation-name: page;
-moz-animation-name: page;
animation-duration: 1.0s;
-webkit-animation-duration: 1.0s;
-moz-animation-duration: 1.0s;
}

@keyframes page{ /*PAGE TRANSITION */
from{
opacity: 0;
}to{
opacity: 1.0;
}
}
@-webkit-keyframes page{
from{
opacity: 0;
}to{
opacity: 1.0;
}
}
.content{
padding: 30px;
}

.nav-main {
width: 100%;
background-color: #2196f3;
height: 70px;
color: #fff;
}

.logo {
float: left;
height: 40px;
padding: 15px 30px;
font-size: 2.5em;
line-height: 40px
}

.nav-main > ul {
margin: 0;
padding: 0;
float: left;
list-style-type: none;
}

.nav-main > ul > li {
float: left;
}

.nav-item {

display: inline-block;
padding: 15px 20px;
height: 40px;
line-height: 40px;
color: #fff;
text-decoration: none;
}
.nav-item:hover{
background-color: #1565c0;
}

.nav-content{
position: absolute;
top: 70px;
overflow: hidden;
background-color: #1565c0;
color: #fff;
max-height: 0;
}

.nav-content a {
color: #fff;
text-decoration: none;
}
.nav-content a:hover{
text-decoration: underline;
}

.nav-sub {
padding: 20px;
}

.nav-sub ul {
padding: 0;
margin: 0;
list-style-type: none;
}

.nav-sub ul li a {
display: inline-block;
padding: 5px 0;
}

.nav-item:focus{
background-color: #1565c0;
}

.nav-item:focus ~ .nav-content {
max-height: 400px;
transition: max-height 0.4s ease-in;
-webkit-transition: max-height 0.4s ease-in;
-moz-transition: max-height 0.4s ease-in;
}

