/* CHANGE WHATEVER YOU WANT */
body, html { 
margin:0;
font-family: "Lalezar", cursive;
animation-name: page;
-webkit-animation-name: page;
-moz-animation-name: page;
animation-duration: 1.0s;
-webkit-animation-duration: 1.0s;
-moz-animation-duration: 1.0s;
}

@keyframes page{ /*PAGE TRANSITION */
from{
opacity: 0;
}to{
opacity: 1.0;
}
}
@-webkit-keyframes page{
from{
opacity: 0;
}to{
opacity: 1.0;
}
}
.content{
padding: 30px;
}

.nav-main {
width: 100%;
background-color: #212121;
height: 70px;
color: #fff;
}

.logo {
float: left;
height: 40px;
padding: 15px 30px;
font-size: 2.5em;
line-height: 40px
}

.nav-main > ul {
margin: 0;
padding: 0;
float: left;
list-style-type: none;
}

.nav-main > ul > li {
float: left;
}

.nav-item {

display: inline-block;
padding: 15px 20px;
height: 40px;
line-height: 40px;
color: #fff;
text-decoration: none;
}
.nav-item:hover{
background-color: #424242;
}

