$white: #EEEEEE
$lightgrey: #BBBBBB
$grey: #888888
$darkgrey: #333333
$black: #222222
$alpha-lightgrey: rgba($darkgrey, 0.3)
$alpha-grey: rgba($darkgrey, 0.5)
$alpha-darkgrey: rgba($darkgrey, 0.9)
$blue: #008CBA
$gold: #FFD700
$aqua: #64E6E3
$purple: #965FF9

=no-select
	-webkit-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	-o-user-select: none
	user-select: none

=all-select
	-webkit-user-select: all
	-moz-user-select: all
	-ms-user-select: all
	-o-user-select: all
	user-select: all
=select
	-webkit-user-select: text
	-moz-user-select: text
	-ms-user-select: text
	-o-user-select: text
	user-select: text
=blur($size)
	-webkit-filter: blur($size)
	-moz-filter: blur($size)
	-o-filter: blur($size)
	-ms-filter: blur($size)
	filter: blur($size)

=scrollbar($width, $height, $color, $background)
	::-webkit-scrollbar
		width: $width
		height: $height
	::-webkit-scrollbar-thumb
		background-color: rgba($color, 0.8)
		&:hover
			background-color: $color
	::-webkit-scrollbar-track, ::-webkit-scrollbar-corner
		background-color: $background

=list-triangle($color)
	padding: 0 1em
	list-style: none
	li:before
		content: ""
		border-color: transparent $color
		border-style: solid
		border-width: 0.35em 0 0.35em 0.45em
		display: block
		height: 0
		width: 0
		left: -1em
		top: 0.9em
		position: relative

=ellipsis
	overflow: hidden
	text-overflow: ellipsis
	line-height: 1.25

body
	+no-select
	margin: 0

h1, h2, h3, h4, h5, p, .container, .container-fluid
	+select
.btn, .form-control
	margin-top: 5px
	margin-bottom: 10px
.btn-outline
	color: white
	background-image: none
	background-color: transparent
	border-color: white
	&:hover
		color: $black
		background-color: white
.btn-secondary
	background-color: white
.card-primary
	color: white
img
	+no-select
hr
    margin-top: 20px
    margin-bottom: 20px
    border: 0
    border-top: 1px solid $grey
textarea
	max-width: 100%
blockquote
	border-left-width: 5px
    background-color: white
pre
	border: initial
    background-color: initial
    color: inherit
	white-space: pre-line
	word-break: break-word
	word-wrap: break-word
.alert
	font-size: 18px
.carousel img
	width: 100%
.no-decoration, .no-decoration:hover, .no-decoration:active
	text-decoration: none
.input + button
	margin: 10px 0
.img-center
	display: block
	margin-left: auto
	margin-right: auto
a
	color: $blue
=bar
	box-shadow: 0px 0px 5px grey
	padding: 10px 0

.vertical-center
	display: flex
	justify-content: space-evenly
