@import normalize
@import parallax
@import animation
@import threejs

+scrollbar(12px, 7px, $purple, $darkgrey)

=poly-background
	background-color: $darkgrey
	background-image: url("../img/background/poly-background.jpg")
	background-position: center center
	background-repeat: no-repeat
	-webkit-background-size: cover
	-moz-background-size: cover
	-o-background-size: cover
	background-size: cover
	color: white

body
	+no-select
	cursor: url('../img/mouse.png'), pointer

.navbar-brand
	font-size: 1.75rem
	font-weight: 400

.title
	background: -webkit-linear-gradient(left, $aqua, $purple 70%)
	-webkit-background-clip: text
	-webkit-text-fill-color: transparent
	line-height: 1.4 !important

h2
	font-family: 'Roboto', Arial, sans-serif
	font-weight: 200
	text-transform: uppercase
	opacity: 0.7

hr
	border-top-color: rgba(0, 0, 0, 0.1)

header
	min-height: 100vh
	-webkit-transition: 1s ease
    transition: 1s ease
	.parallax-background
		+poly-background
	.parallax-content
		display: flex
		.card
			background-color: $alpha-lightgrey
			color: white
			border-radius: 3px

#header-search
	max-width: 40rem
	#logo
		width: 30vh
	#link-bar
		display: flex
		justify-content: space-evenly
		& > *
			margin: auto 5px auto 0
			text-transform: uppercase
			text-decoration: none
		#logo-zerome
			display: flex
			align-items: center
			color: #FF5E3B
			& > img
				width: 50px
		#logo-zeromail
			background-color: #FF5E3B
			color: white
			font-size: 18px
			font-family: monospace
			padding: 2px 5px
		#logo-zerotalk
			background-color: #FF5E3B
			color: white
			font-size: 18px
			font-family: consolas, menlo, monospace
			padding: 2px 5px
		#logo-kopykate
			& > img
				width: 150px
		#logo-youtube
			width: 100px

#results
	display: flex
	justify-content: space-evenly
	flex-wrap: wrap
	.card
		margin: 1rem
		min-width: 15rem
		-webkit-transition: 200ms
		transition: 200ms
		&:hover
			box-shadow: 1px 1px 12px #555
			a
				color: #64E6E3
		a
			text-decoration: none
			color: #965FF9

footer
	background-color: rgba(255, 255, 255, 0.8)
