.ac_results {
	margin-left: -70px;
}
.ac_results ul {
	padding: 0;
	margin: 3px 0 0;
}
.ac_results .ac_odd, .ac_results .ac_even {
	background-color: #fff;
}
.ac_results li table {
	color: #000;
	font-family: Arial, sans-serif;
	font-size: 12px;
	font-weight: normal;
	text-align: left;
	width: 100%;
}
.ac_results .ac_over {
	background-color: #369;
}
.ac_results .ac_over td {
	color: #fff;
}
.ac_results .acResultSymbol {
	width: 80px;
}
.ac_results .acResultName {
	color: #888;
	width: 280px;
}
.ac_results .ac_over .acResultName {
	color: #ccc;
}
.ac_results .acResultCountry {
	font-size: 11px;
	text-align: right;
	width: 90px;
}
.ac_results {
	padding: 0px;
	border: 1px solid black;
	background-color: white;
	overflow: hidden;
	z-index: 900000001;
}