
:root{--background-interact:#222;--background-hover:#292929;--flavor1:skyblue;--flavor2:white;--flavor3:cyan;--border:#666;--border-hover:skyblue;--text:#eee;--text-button:#fff;--background-dark:#222;--background-medium:#333;--background-light:#444
}
body{margin:0;background:var(--background-dark);color:var(--text);font-family:sans-serif;font-size:16px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center
}
em{font-style:normal;font-weight:bold
}
a{text-decoration:none;color:#cce
}
a:hover{color:var(--flavor1)
}
select,input,button,textarea{background-color:var(--background-interact);color:var(--text);border:2px solid var(--border);border-radius:5px;padding:6px 12px;-webkit-transition:all .3s;-o-transition:all .3s;transition:all .3s
}
textarea,input{border-width:0
}
select:hover,input:hover,button:hover,textarea:hover{background-color:var(--background-hover);border-color:var(--border-hover);color:var(--flavor1)
}
.unsigned{background-color:royalblue
}
.unsigned:hover{background-color:transparent
}
.container[data-v-496f16b8]{background:var(--background-light);padding:16px;margin-left:8px;margin-right:8px;min-width:450px;max-width:1200px;min-height:calc(100vh - 32px);-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1
}
.header[data-v-26fd1bac]{font-weight:bold;text-align:center;margin-bottom:12px
}
.header .lang[data-v-26fd1bac]{cursor:pointer;color:#cce
}
.header .lang[data-v-26fd1bac]:hover{color:#ddf
}
.gallery-list{padding-top:2em
}
.list-container{margin-top:8px
}
.tabs{margin-bottom:4px
}
.tabs>.tab{padding:6px 12px;border:2px solid var(--border);font-size:1.2em;border-radius:5px 5px 0 0;background-color:#222;margin-right:8px;cursor:pointer;color:var(--text-button);z-index:1;position:relative
}
.tabs>.tab.active{background-color:var(--background-medium);border-bottom:0px;z-index:10
}
.tabs>.tab:hover{background-color:var(--background-medium);color:var(--flavor1)
}
.simple-entry{border-bottom:1px solid var(--border);padding:4px 8px
}
.box{padding:16px;background-color:var(--background-medium);border:2px solid var(--border);border-radius:5px
}
.tab-body{margin-bottom:32px;z-index:5;position:relative;border-top-left-radius:0
}
.tab-body code{color:var(--flavor1)
}
.unsigned-marker[data-v-15bbd543]{height:100%;position:absolute;top:0;left:0;width:1em;background-color:royalblue
}
.gallery-list-item[data-v-15bbd543]{position:relative;border-bottom:2px solid var(--border);padding:10px;height:1.5em;overflow:hidden;-webkit-transition:all .5s;-o-transition:all .5s;transition:all .5s
}
.gallery-list-item img[data-v-15bbd543]{height:192px;width:192px;float:left;-o-object-fit:contain;object-fit:contain;margin-right:20px
}
.gallery-list-item .title[data-v-15bbd543]{font-size:1.2em
}
.collapsed[data-v-15bbd543]{height:1.5em
}
.expanded[data-v-15bbd543]{height:192px
}
.expandable[data-v-15bbd543]:hover{height:192px
}
.expandable[data-v-15bbd543]:active{height:unset
}
.row[data-v-5fc06cb8]{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;margin-bottom:16px
}
.row>label[data-v-5fc06cb8]{width:500px;min-width:250px;max-width:250px;-webkit-box-flex:0;-ms-flex-positive:0;flex-grow:0;display:block;margin-bottom:8px
}
.row>label>em[data-v-5fc06cb8]{display:block;margin-bottom:8px
}
.row>.entry[data-v-5fc06cb8]{-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;margin-left:24px
}
.row>.entry>.address-input[data-v-5fc06cb8]{width:25em
}
.zip-info{float:right
}
.gallery-editor .back{margin-bottom:1em
}
.taglist{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap
}
.taglist .tag{border-radius:5px;border:1px solid var(--border);margin:5px;padding:2px 6px
}
.ok{background-color:darkgreen
}
.err{background-color:darkred
}
.tab-body{padding:10px
}
.tab-body textarea{max-width:100%;width:600px;height:10em
}
.tab-body .title{font-size:1.5em;width:600px;max-width:100%
}
.tab-body .tags{width:600px;max-width:100%
}
.metadata>*{margin-bottom:8px
}
.metadata .delete{background-color:darkred;border-color:red;float:right
}
.chapter .title{display:-webkit-box;display:-ms-flexbox;display:flex
}
.chapter .title input{font-size:2em;-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1
}
.chapter .image-list{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap
}
.chapter .image-list .image-item{background-repeat:no-repeat;background-position:center center;width:192px;height:192px;-o-object-fit:contain;object-fit:contain;margin:8px
}
.chapter .image-list .image-item h1{font-size:3em;opacity:.2;-webkit-transition:all .5s;-o-transition:all .5s;transition:all .5s;margin:auto;text-align:center;line-height:192px
}
.chapter .image-list .image-item:hover>h1{opacity:1
}
.shadow{text-shadow:black 1px 1px 4px,black -1px 1px 4px,black 1px -1px 4px,black -1px -1px 4px
}
.vertical-text{text-orientation:vertical
}