body {
	scrollbar-face-color: #DEE3E7;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-shadow-color: #DEE3E7;
	scrollbar-3dlight-color: #D1D7DC;
	scrollbar-arrow-color:  #006699;
	scrollbar-track-color: #EFEFEF;
	scrollbar-darkshadow-color: #98AAB1;
}
.itext       { font-family: Tahoma, Verdana; font-size: 12px; border: 1px solid #CE8C00; 
               background-color: #FFEAD5; width: 300px;}
.itexta      { font-family: Tahoma, Verdana; font-size: 12px; border: 1px solid #CE8C00; 
               background-color: #FFEAD5; width: 300px;}
.botao      { border:3px outset #FFC54A; font-family: Tahoma; font-size: 12px; color: #FFFFFF; background-color: #CE8C00; width: 150px; font-weight:bold; padding-left:4px; padding-right:4px; padding-top:1px; padding-bottom:1px }               
               
font {	font-family: Tahoma, Verdana; font-size: 12; text-align: justify }
td   {	font-family: Tahoma, Verdana; font-size: 12; text-align: justify }
.menu        { font-family: Tahoma, Verdana; font-size: 12; color: #BD1010 }
A:LINK       { TEXT-DECORATION: none }
A:VISITED    { TEXT-DECORATION: none }
A:ACTIVE     { TEXT-DECORATION: none }
A:HOVER      { TEXT-DECORATION: none }
.titulo      { font-family: Tahoma, Verdana; font-size: 12; color: #FFFFFF }
.titulon     { font-family: Tahoma, Verdana; font-size: 11; color: #FFFFFF }
.titulond    { font-family: Tahoma, Verdana; font-size: 11; color: #FFFFFF }
.propData	 { 
	Border-top:1px dashed #BD1010; 
	width: 200px;
	border-left:0px; 
	border-right: 0px;
	border-bottom: 0px;
}

.redacao     { border: 1px solid #9D9D9D; 
				padding-left: 45px; 
				padding-right: 4px; 
                padding-top: 1px;
                padding-bottom: 1px; 
                background-color:#CFCFCF; 
                background-image:url('../pic/site/info.gif');
				background-repeat: no-repeat;
				background-position:  left 50%;
				margin-bottom: 10px;               
                 }
.redacao H3 {
	font-family: Tahoma; font-size: 13; text-align: justify; color:#BD1010; 
	font-weight:bold; margin-top:0; margin-bottom:0			
}                 
.redacao H4 {
	font-family: Tahoma; font-size: 12; 
	text-align: right; 
	/* color:#BD1010; */
	padding-left: 4px; 
	padding-right: 4px; 
	margin-top:0; 
	margin-bottom:0; 
	padding-top: 2px;
	padding-bottom: 2px; 
	/* background-color: #DEDEDE; */
	font-weight: bold;
}   