a{
  color: black;
}

a:hover{
  color: gray;
}

#main{
  display: flex;
  height: 400px;
}

#history{
  flex: 1;
  white-space: pre;
  overflow: auto;
  margin: 5px;
  border: 1px solid gray;
  padding: 3px;
}

#users{
  min-width: 250px;
  width: 33%;
  margin: 5px;
  border: 1px solid gray;
  padding: 3px;
  overflow: auto;
  white-space: pre;
}

#stats{
  border: 1px solid gray;
  margin-top: 5px;
  padding: 3px;
}

.user{
  font-weight: bold;
}
