
.drag-container {
  display: table;

  left: 221px;
  top: 53px;

  visibility: hidden;

  position: fixed;
  width: calc(100% - 223px);
  height: calc(100% - 55px);
  border: 1px solid rgba(255, 80, 157, 1);
}

.drag-container .middle {
  display: table-cell;
  vertical-align: middle;
}

.drag-container.show {
  visibility: visible;

}