
html, body {
  background-color: #FFFFFF;

  padding: 0;
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}


:focus { outline:none; }
::-moz-focus-inner { border:0; }


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}



/*
.left-panel * {
  border: 1px solid red;
}
*/

.left-panel {
  position: fixed;
  left: 0;
  top: 0;

  width: 220px;
  height: 100%;

  background-color: rgba(230, 230, 230, 1);
  border-right: 1px solid rgba(204, 204, 204, 1);
}

.left-panel .search-bar {
  position: relative;
  top: 64px;

  margin-left: 10px;
  margin-right: 10px;

  height: 24px;
}

.left-panel .menu {
  position: relative;
  top: 64px;
}



.left-panel .menu ul {
  list-style: none;
  padding: 0;

  padding-top: 4px;
  padding-bottom: 4px;
  color: rgba(140, 140, 140, 1);
  font-size: 11px;
}


.left-panel .menu ul .title {
  margin-left: 10px;
  padding-bottom: 4px;
  cursor: default;
}

.left-panel .menu ul li {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 18px;
  color: rgba(40, 40, 40, 1);
  font-size: 13px;
  cursor: default;
}

.left-panel .menu ul li:hover,
.left-panel .menu ul li.selected {
  background-color: rgba(210, 210, 210, 1);
}

.left-panel .menu ul li .border {
  display: inline-block;
  width: 18px;
  height: 18px;

  color: #FFFFFF;

  border: 0;
  border-radius: 4px;
}

.left-panel .menu ul li i  {
  position: relative;
  left: 3px;
  top: 0;

  font-size: 13px;
}

.left-panel .menu ul .add-btn {
  font-size: 14px;
  margin-left: 4px;
  cursor: pointer;
}

.left-panel .menu ul .add-btn:hover {
  color: #f5f5f5;
}

.left-panel .menu li .remove {
  float: right;
  margin-right: 14px;
  font-size: 14px;
  color: rgba(140, 140, 140, 1);

  visibility: hidden;
  cursor: pointer;
}

.left-panel .menu li:hover .remove {
  visibility: visible;
}

.left-panel .menu li .remove:hover {
  color: #f5f5f5;
}

.left-panel .language {
  position: absolute;
  bottom: 14px;
  left: 16px;
  font-size: 11px;
  color: rgba(20, 20, 20, 1);
  cursor: pointer;
}

.left-panel .language:hover {
  text-decoration: underline;
}






.left-panel .about {
  position: absolute;
  bottom: 14px;
  right: 16px;
  font-size: 11px;
  color: rgba(20, 20, 20, 1);
  cursor: pointer;
  text-decoration: none;
}

.left-panel .about:hover {
  text-decoration: underline;
}

.dropup {
  position: relative;
  display: inline-block;
}






.top-panel {
  position: fixed;
  left: 221px;
  top: 0;

  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 8px;

  width: calc(100% - 221px);
  /*height: 50px;*/

  background-color: rgba(250, 250, 250, 1);
  border-bottom: 1px solid rgba(221, 221, 221, 1);

  z-index: 10;
}

/*
.top-panel * {
  border: 1px solid red;
}
*/


.top-panel .middle {
  display: table-cell;
  vertical-align: middle;
}

.top-panel .middle .inner {
  margin-left: auto;
  margin-right: auto;
}

.top-panel .controls {
  width: 25%;
  text-align: center;
  color: rgba(85, 85, 85, 1);
}

.top-panel .controls .control {
  width: 32px;
  font-size: 1em;
}

.top-panel .controls .fa.bigger {
  font-size: 1.3em;
}

.top-panel .playing {
  width: 45%;
  min-width: 240px;
  max-width: 380px;

  height: 42px;

  border: 1px solid rgba(230, 230, 230, 1);
  border-radius: 6px;

  background-repeat: no-repeat, repeat;
  background-size: 42px 100%;

  background-color: #FFFFFF;

  padding-left: 42px;

  overflow-x: hidden;
}

.top-panel .playing .title {
  color: rgba(2, 2, 2, 1);
  font-weight: normal;
  text-align: center;
  font-size: 13px;
  margin-top: 2px;
}

.top-panel .playing .title .more {
  font-size: 14px;
  color: rgba(255, 80, 157, 1);
  cursor: pointer;
  visibility: hidden;
}

.top-panel:hover .playing .title .more {
  visibility: visible;
}

.top-panel .playing .description {
  color: rgba(128, 128, 128, 1);
  font-weight: lighter;
  text-align: center;
  font-size: 12px;
  margin-bottom: -2px;
}

.top-panel .playing .progress-bar {
  position: relative;
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 59%, rgba(229, 229, 229, 1) 60%, rgba(229, 229, 229, 1) 100%);
  height: 8px;
  margin-top: 3px;
  border: 0;
}

.top-panel .playing .progress-bar .progress {
  min-width: 1px;
  max-width: calc(100% - 3px);
  width: 0;
  height: 100%;
  padding: 0;
}

.top-panel .playing .progress-bar .progress .color {
  margin-bottom: 10px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 59%, rgba(114, 114, 114, 1) 60%, rgba(114, 114, 114, 1) 100%);
  height: 100%;
  width: 100%;
  display: inline-block;
}

.top-panel .playing .progress-bar .progress .button {
  position: relative;

  width: 5px;
  height: 100%;
  background-color: rgba(114, 114, 114, 1);
  display: none;
  float: right;

  border-left: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
  /*border-top: 1px solid #FFFFFF;*/

  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

  margin-right: -6px;
}

.top-panel:hover .playing .progress-bar .progress .button {
  display: inline-block;
}

.top-panel .playing .progress-bar span {
  visibility: hidden; !important;
}


.top-panel .volume {
  width: 20%;
  text-align: center;
  color: rgba(170, 170, 170, 1);
}

.top-panel .volume .control {
  text-align: center;
  width: 40px;
}

.top-panel .volume .volume-bar {
  display: inline-block;

  width: 64px;
  height: 3px;

  border: 0;
  border-radius: 3px;
  background: linear-gradient(90deg, rgba(108, 108, 108, 1) 99%, rgba(217, 217, 217, 1) 100%, rgba(217, 217, 217, 1) 100%);
}

.top-panel .volume .volume-bar span {
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 10px;
  height: 10px;
  background-color: #FFFFFF;
  float: right;
}

.top-panel .ext {
  width: 10%;
  min-width: 100px;

  text-align: right;
  color: rgba(127, 127, 127, 1);
}

.top-panel .ext .control {
  display: inline-block;
  text-align: center;
  width: 32px;
}

.top-panel-filler {
  position: fixed;

  top: 0;
  right: 0;
  width: 82px;
  height: 60px;

  background-color: rgba(250, 250, 250, 1);
  border-bottom: 1px solid rgba(221, 221, 221, 1);
}

.container {
  position: relative;
  left: 221px;
  top: 53px;

  width: calc(100% - 221px);
}

.overlay-absolute {
  display: none;

  background-color: rgba(20, 20, 20, 0.3);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 100;
}

.overlay-absolute.show {
  display: table;
}

.overlay-absolute .middle {
  display: table-cell;
  vertical-align: middle;
}

.overlay-absolute .loading {
  display: inline-block;
  padding: 10px;
  background-color: rgba(240, 240, 240, 0.7);
  border-radius: 12px;
}




.hr {
  width: 100%;
  height: 1px;
  background-color: rgba(230, 230, 230, 1);
  margin-top: 1px;
  margin-bottom: 1px;
}



