
.player-bar {
  background-image: url("../optional/music/Dead by April/Acoustic Sessions/cover.jpg");
  background-size: cover;
}

.player-bar table {
  background-color: rgba(200, 200, 200, 0.5);
}

.player-bar .currently-playing {
  display: table;

  width: 300px;
  height: 100%;

  background: linear-gradient(90deg, rgba(32, 168, 197, 0.7) 0%, rgba(59, 200, 231, 0.7) 100%);
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

.player-bar .currently-playing .middle,
.player-bar .controls .middle {
  display: table-cell;
  vertical-align: middle;
}

.player-bar .currently-playing .cover {
  margin-left: 16px;

  width: 44px;
  height: 44px;

  border-radius: 6px;

  margin-right: auto;
  text-align: center;
}

.player-bar .currently-playing .title {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 1.1em;
  padding-left: 16px;
}

.player-bar .currently-playing .description {
  color: #FFFFFF;
  font-weight: normal;
  font-size: 0.9em;
  padding-left: 16px;
}

.player-bar .currently-playing .expand {
  color: #FFFFFF;
  width: 16px;
  height: 20px;

  margin-right: 16px;
  border: 1px solid #FFFFFF;
  border-radius: 16px;

  padding-top: 4px;
  padding-left: 9px;
}


.player-bar .controls {
  display: table;

  width: 300px;
  height: 100%;
}

.player-bar .controls .control {
  display: inline-block;

  width: 50px;
  text-align: center;
}

.player-bar .controls i {
  color: #FFFFFF;
}
