
/*
.search * {
  border: 1px solid red;
}
*/

.search .showing-results {
  position: relative;

  width: calc(100% - 50px);
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 50px;

  background-color: rgba(240, 240, 240, 1);
}

.search .showing-results .title {
  color: rgba(121, 121, 121, 1);
  font-size: 13px;
  font-weight: lighter;
}

.search .showing-results .word {
  font-weight: normal;
  color: rgba(20, 20, 20, 1);
}


.search .result {
  position: relative;

  padding-left: 50px;
  padding-right: 50px;

}

.search .result .search-title {
  display: flex;
}

.search .result .search-title .title {
  font-size: 17px;
  font-weight: bold;

  padding-top: 15px;
  padding-bottom: 15px;

  color: rgba(25, 25, 25, 1);
}

.search .result .search-title .right {
  font-size: 15px;
  font-weight: lighter;

  flex-grow: 100;
  text-align: right;
  margin-top: 15px;
  margin-bottom: 15px;

  color: rgba(255, 80, 157, 1);
  cursor: pointer;
}

.search .result .search-title .see-all:hover {
  text-decoration: underline;
}

.search .result .hr {
  width: 100%;
  height: 1px;
  background-color: rgba(221, 221, 221, 1);
}

.search .result .song {
  display: inline-block;
  padding-top: 6px;
  padding-bottom: 6px;

  width: 25vw;
  min-width: 260px;
  max-width: 360px;
}

.search .result .song[playing='false'] .overlay .fa-pause,
.search .result .song[playing='true'] .overlay .fa-play {
  display: none;
}

.search .result .song .cover {
  display: table-cell;
  vertical-align: middle;
  padding-right: 16px;
  width: 0;
}

.search .result .song .cover .img {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;

  width: 46px;
  height: 46px;

  border-radius: 6px;
  margin-top: 3px;
}

.search .result .song .cover .img .overlay {
  visibility: hidden;
  text-align: center;

  width: 100%;
  height: 100%;

  border-radius: 6px;

  background-color: rgba(128, 128, 128, 0.7);

  font-size: 20px;
  color: #FFFFFF;
}

.search .result .song .cover .img .overlay i {
  margin-top: 12px;
}

.search .result .song .cover .img:hover .overlay {
  visibility: visible;
}

.search .result .song .info {
  display: table-cell;

  padding-right: 6px;
}

/* TODO: when word is wraping then replace line ending with 3 dots ... */

.search .result .song .info .title {
  font-size: 14px;
  font-weight: normal;
  color: rgba(20, 20, 20, 1);

  padding-top: 0;
  padding-bottom: 1px;

  height: 16px;
  overflow-y: hidden;
}

.search .result .song .info .artist {
  font-size: 13px;
  font-weight: lighter;
  color: rgba(129, 129, 129, 1);

  padding-top: 0;
  padding-bottom: 1px;
}

.search .result .song .info .album {
  font-size: 13px;
  font-weight: lighter;
  color: rgba(129, 129, 129, 1);
}