/* CSS Document */
/* 动画 */
@-webkit-keyframes flipInX{
    0%{-webkit-transform:perspective(400px) rotate3d(1,0,0,90deg);transform:perspective(400px) rotate3d(1,0,0,90deg);-webkit-transition-timing-function:ease-in;transition-timing-function:ease-in;opacity:0;}
    40%{-webkit-transform:perspective(400px) rotate3d(1,0,0,-20deg);transform:perspective(400px) rotate3d(1,0,0,-20deg);-webkit-transition-timing-function:ease-in;transition-timing-function:ease-in;}
    60%{-webkit-transform:perspective(400px) rotate3d(1,0,0,10deg);transform:perspective(400px) rotate3d(1,0,0,10deg);opacity:1;}
    80%{-webkit-transform:perspective(400px) rotate3d(1,0,0,-5deg);transform:perspective(400px) rotate3d(1,0,0,-5deg);}
    100%{-webkit-transform:perspective(400px);transform:perspective(400px);}
}
@keyframes flipInX{
    0%{-webkit-transform:perspective(400px) rotate3d(1,0,0,90deg);transform:perspective(400px) rotate3d(1,0,0,90deg);-webkit-transition-timing-function:ease-in;transition-timing-function:ease-in;opacity:0;}
    40%{-webkit-transform:perspective(400px) rotate3d(1,0,0,-20deg);transform:perspective(400px) rotate3d(1,0,0,-20deg);-webkit-transition-timing-function:ease-in;transition-timing-function:ease-in;}
    60%{-webkit-transform:perspective(400px) rotate3d(1,0,0,10deg);transform:perspective(400px) rotate3d(1,0,0,10deg);opacity:1;}
    80%{-webkit-transform:perspective(400px) rotate3d(1,0,0,-5deg);transform:perspective(400px) rotate3d(1,0,0,-5deg);}
    100%{-webkit-transform:perspective(400px);transform:perspective(400px);}
}
@-webkit-keyframes flipOutX{
    0%{-webkit-transform:perspective(400px);transform:perspective(400px);}
    30%{-webkit-transform:perspective(400px) rotate3d(1,0,0,-20deg);transform:perspective(400px) rotate3d(1,0,0,-20deg);opacity:1;}
    100%{-webkit-transform:perspective(400px) rotate3d(1,0,0,90deg);transform:perspective(400px) rotate3d(1,0,0,90deg);opacity:0;}
}
@keyframes flipOutX{
    0%{-webkit-transform:perspective(400px);transform:perspective(400px);}
    30%{-webkit-transform:perspective(400px) rotate3d(1,0,0,-20deg);transform:perspective(400px) rotate3d(1,0,0,-20deg);opacity:1;}
    100%{-webkit-transform:perspective(400px) rotate3d(1,0,0,90deg);transform:perspective(400px) rotate3d(1,0,0,90deg);opacity:0;}
}
@-webkit-keyframes fadeInDown{
    0%{opacity:0;-webkit-transform:translate3d(0,-50%,0);transform:translate3d(0,-50%,0);}
    100%{opacity:1;-webkit-transform:none;transform:none;}
}
@keyframes fadeInDown{
    0%{opacity:0;-webkit-transform:translate3d(0,-50%,0);transform:translate3d(0,-50%,0);}
    100%{opacity:1;-webkit-transform:none;transform:none;}
}
@-webkit-keyframes fadeInUp{
    0%{opacity:0;-webkit-transform:translate3d(0,50%,0);transform:translate3d(0,50%,0);}
    100%{opacity:1;-webkit-transform:none;transform:none;}
}
@keyframes fadeInUp{
    0%{opacity:0;-webkit-transform:translate3d(0,50%,0);transform:translate3d(0,50%,0);}
    100%{opacity:1;-webkit-transform:none;transform:none;}
}
@-webkit-keyframes fadeInDown2{
    0%{opacity:0;-webkit-transform:translate3d(0,-25%,0);transform:translate3d(0,-25%,0);}
    100%{opacity:1;-webkit-transform:none;transform:none;}
}
@keyframes fadeInDown2{
    0%{opacity:0;-webkit-transform:translate3d(0,-25%,0);transform:translate3d(0,-25%,0);}
    100%{opacity:1;-webkit-transform:none;transform:none;}
}
@-webkit-keyframes fadeOutDown{
    0%{opacity:1;}
    100%{opacity:0;-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0);}
}
@keyframes fadeOutDown{
    0%{opacity:1;}
    100%{opacity:0;-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0);}
}
@-webkit-keyframes bounceInDown{
    0%,60%,75%,90%,100%{-webkit-transition-timing-function:cubic-bezier(0.215,0.610,0.355,1.000);transition-timing-function:cubic-bezier(0.215,0.610,0.355,1.000);}
    0%{opacity:0;-webkit-transform:translate3d(0,-3000px,0);transform:translate3d(0,-3000px,0);}
    60%{opacity:1;-webkit-transform:translate3d(0,25px,0);transform:translate3d(0,25px,0);}
    75%{-webkit-transform:translate3d(0,-10px,0);transform:translate3d(0,-10px,0);}
    90%{-webkit-transform:translate3d(0,5px,0);transform:translate3d(0,5px,0);}
    100%{-webkit-transform:none;transform:none;}
}
@keyframes bounceInDown{
    0%,60%,75%,90%,100%{-webkit-transition-timing-function:cubic-bezier(0.215,0.610,0.355,1.000);transition-timing-function:cubic-bezier(0.215,0.610,0.355,1.000);}
    0%{opacity:0;-webkit-transform:translate3d(0,-3000px,0);transform:translate3d(0,-3000px,0);}
    60%{opacity:1;-webkit-transform:translate3d(0,25px,0);transform:translate3d(0,25px,0);}
    75%{-webkit-transform:translate3d(0,-10px,0);transform:translate3d(0,-10px,0);}
    90%{-webkit-transform:translate3d(0,5px,0);transform:translate3d(0,5px,0);}
    100%{-webkit-transform:none;transform:none;}
}
@-webkit-keyframes bounceInUp{
    0%,60%,75%,90%,100%{-webkit-transition-timing-function:cubic-bezier(0.215,0.610,0.355,1.000);transition-timing-function:cubic-bezier(0.215,0.610,0.355,1.000);}
    0%{opacity:0;-webkit-transform:translate3d(0,20px,0);transform:translate3d(0,20px,0);}
    60%{opacity:1;-webkit-transform:translate3d(0,-20px,0);transform:translate3d(0,-20px,0);}
    75%{-webkit-transform:translate3d(0,5px,0);transform:translate3d(0,5px,0);}
    90%{-webkit-transform:translate3d(0,-5px,0);transform:translate3d(0,-5px,0);}
    100%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);}
}
@keyframes bounceInUp{
    0%,60%,75%,90%,100%{-webkit-transition-timing-function:cubic-bezier(0.215,0.610,0.355,1.000);transition-timing-function:cubic-bezier(0.215,0.610,0.355,1.000);}
    0%{opacity:0;-webkit-transform:translate3d(0,20px,0);transform:translate3d(0,20px,0);}
    60%{opacity:1;-webkit-transform:translate3d(0,-20px,0);transform:translate3d(0,-20px,0);}
    75%{-webkit-transform:translate3d(0,5px,0);transform:translate3d(0,5px,0);}
    90%{-webkit-transform:translate3d(0,-5px,0);transform:translate3d(0,-5px,0);}
    100%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);}
}
@-webkit-keyframes fadeOutUp{
    0%{opacity:1;}
    100%{opacity:0;-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0);}
}
@keyframes fadeOutUp{
    0%{opacity:1;}
    100%{opacity:0;-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0);}
}
@font-face {font-family: "iconfont";
    src: url('../fonts/iconfont.eot'); /* IE9*/
    src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
/* ====================
     公共样式
==================== */
body{ -webkit-backface-visibility: hidden; font-size:12px;  font-family:'Helvetica Neue',"hiragino sans gb","Microsoft YaHei",'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif; line-height:150%; margin:0; padding:0; color:#333333; width:100%; background-color: white;position: relative;}
div,form{margin:0 auto; padding:0;}
h1,h2,h3,h4,h5,h6,ul,ul li,dl,dt,dd,form,img,p,form{margin:0; padding:0; border:none; list-style-type:none; vertical-align:top;}
font{ font-size:12px;}
em{ font-style:normal}
span.img,span.pic{ text-align:center}
a{ text-decoration:none; color:#444;}
a:hover{ color:#dd0303; text-decoration:underline;}
li{color:#4a4a4a;}
.none{ display:none}
.clear{clear:both;}
.clearfix {clear: both;zoom: 1;}
.clearfix:after, .clearfix:before {content: '.';display: block;font-size: 0;height: 0;line-height: 0;overflow: hidden;visibility: hidden;width: 0;}
div, form {margin: 0 auto;padding: 0;}
.bg-0,.bg-0 td{background:#f9f9f9}

.bgz-1{background:#f9f9f9; }
input,button,select,textarea{outline:none}
/*顶部*/
.header{ width:100%; height:127px;border-bottom:1px solid #d1d1d1;box-shadow: 0px 1px 3px rgba(0,0,0,.15);background:#FFF}
.headerbg{ width:100%; height:30px; background:#444952;}
.headerbg .top_nav{width:1000px; height:30px; line-height:30px;}
.headerbg .top_nav .welcome{ float:left; height:30px; line-height:30px;}
.headerbg .top_nav .welcome a{background:url(../images/bg_03.jpg) no-repeat; display:block; width:62px; height:22px; margin-top:4px; float:left;}
.headerbg .top_nav .welcome span{background:url(../images/bg_05.jpg) no-repeat; display:block;width:40px; height:22px; margin-top:4px; float:left; margin-left:4px;}
.headerbg .top_nav .welcome span em{ padding-left:12px; line-height:22px;}
.headerbg .top_nav .welcome p{ float:left;color:#fff;letter-spacing:1px;}
.headerbg .top_nav .market{ float:right; position:relative;z-index:1;}
.headerbg .top_nav .market ul li{border-left:1px solid #353942; float:left; position:relative;transition: all 0.5s ease-in-out 0s; width: 90px;}
.headerbg .top_nav .market ul li:hover{background:#17191c;}
.headerbg .top_nav .market ul li p{width:80px;padding: 0 5px; color:#fff; text-align:center;  height:30px; display: block; cursor:pointer; text-decoration:none;}
.headerbg .top_nav .market ul li h3{ font-size:12px; color:#fff;background:url(../images/bj_02.jpg) no-repeat; text-align:center; padding:0 15px; width:48px; height:31px;cursor:pointer; font-weight:normal; position:relative;}
.headerbg .top_nav .market ul li h3 img{position:absolute; right:0;top:31px; border-left:1px solid #d4d4d4; border-right:1px solid #d4d4d4; border-bottom:1px solid #d4d4d4; display:none;}
.headerbg .top_nav .market ul li h3.hover{ background:#fff;color:#333;}
.headerbg .top_nav .market ul li h3.hover img{display:block;}
.headerbg .top_nav .market ul li em.ntes-nav{ background:url(../images/nav_03.png) no-repeat; width:5px; height:3px; position:absolute; left:69px; top:13px;}
.headerbg .top_nav .market ul li h3.hover em,.headerbg .top_nav .market ul li.hangqing a.hover em{ background:url(../images/nav2_03.png) no-repeat;}
.open_show{ width:305px; height:180px; position:absolute; right:-1px;display:block; top:30px; border-left:1px solid #e3e0d7; border-right:1px solid #e3e0d7;border-bottom:1px solid #e3e0d7;background:#fff; z-index:1;}
.fist_list{ width:305px; height:85px; border-bottom:1px dashed #aaa; }
.fist_list dl { padding:5px 12px;}
.fist_list dl dt{ font-size:12px;}
.fist_list dl dd{ float:left; margin-right:10px; height:20px; line-height:20px; padding-bottom:4px;}
.fist_list .btc1{background:url(../images/bg_13.jpg) no-repeat left; }
.fist_list .btc1 a{ padding-left:18px;}
.fist_list .btc2{background:url(../images/bg_21.jpg) no-repeat left; }
.fist_list .btc2 a{ padding-left:18px;}
.fist_list .btc3{background:url(../images/bg_15.jpg) no-repeat left; }
.fist_list .btc3 a{ padding-left:18px;}
.fist_list .btc4{background:url(../images/bg_31.jpg) no-repeat left; }
.fist_list .btc4 a{ padding-left:18px;}
.fist_list .btc5{background:url(../images/bg_34.jpg) no-repeat left; }
.fist_list .btc5 a{ padding-left:18px;}
.fist_list .btc6{background:url(../images/bg_36.jpg) no-repeat left; }
.fist_list .btc6 a{ padding-left:18px;}
.fist_list .btc7{background:url(../images/bg_45.jpg) no-repeat left; }
.fist_list .btc7 a{ padding-left:18px;}
.fist_list .btc8{background:url(../images/bg_51.jpg) no-repeat left; }
.fist_list .btc8 a{ padding-left:18px;}
.fist_list .btc9{background:url(../images/bg_53.jpg) no-repeat left; }
.fist_list .btc9 a{ padding-left:18px;}
.fist_list .btc10{background:url(../images/bg_31.jpg) no-repeat left; }
.fist_list .btc10 a{ padding-left:18px;}
.fist_list .btc11{background:url(../images/bg_34.jpg) no-repeat left; }
.fist_list .btc11 a{ padding-left:18px;}
.fist_list .btc12{background:url(../images/bg_36.jpg) no-repeat left; }
.fist_list .btc12 a{ padding-left:18px;}
/*Logo部分*/
.head-main{ width:1000px; height:60px; margin-top:10px;}
.head-main .logo{ width:175px; height:47px; float:left; margin:20px 0;}
.head-main .logo a{background:url(../img/logo.jpg) no-repeat; display:block; width:150px; height:55px;background-size:contain;}
/*币种展示部分*/
.head-main .currency_list{ float:right; margin-left:0px; width:250px; padding-top:25px;font-size:14px;color:#888}
.nwsu{ float:right; margin-top:15px;}
/***header导航****/
.main-nav-div{float:left;padding-left:40px;}
.main-nav-list li{float:left;font-size:15px; font-family: "hiragino sans gb","Microsoft YaHei";line-height:30px;height:30px;padding: 3px 15px;margin:22px 0 0 0;}
.main-nav-list li.on{background: #E0695C;border-radius: 3px;}
/*.main-nav-list li:hover a{color: white!important;text-decoration: none;}*/
.main-nav-list li.on>a{color: white!important;}
/*主要内容*/
.content{ width:1000px; height:auto; margin-top:15px;}
.content .focus_map{ width:1000px; height:190px;}
.content .focus_map .recommend{width:220px; height:190px; float:left;}
.content .focus_map .recommend h2{background:url(../images/bg_43.jpg) no-repeat;width:220px; height:39px;}
.content .focus_map .recommend h2 p{ font-size:14px; color:#fff; line-height:39px; padding-left:15px;}
.content .focus_map .recommend ul{width:218px; height:150px; border-left:1px solid #d5d5d5;border-right:1px solid #d5d5d5; border-bottom:1px solid #d5d5d5;}
.content .focus_map .recommend ul li{ width:218px; height:50px; border-bottom:1px #dcdcdc dotted;}
.content .focus_map .recommend ul li a{ display:block; padding:3px 18px;}
.content .focus_map .recommend ul .last{ border:none;}
/*焦点图*/
.container, .container *{margin:0; padding:0;}
.container{width:770px; height:190px; overflow:hidden;position:relative; float:right;}
.slider{position:absolute;}
.slider li{ list-style:none;display:inline;}
.slider img{ width:770px; height:190px; display:block;}
.slider2{width:2310px;}
.slider2 li{float:left;}
.num{ position:absolute; right:5px; bottom:5px;}
.num li{background:url(../images/circlebg_05.png); width:12px; height:12px; float:left; margin:5px;}
.num li.on{background:url(../images/circlebg_03.png); width:12px; height:12px; cursor: pointer;}

/*交易模块*/
.transaction_list{ width:1002px;  margin-top:10px;background:#FFF;overflow: hidden;}
.tabmenu_down{ width:1000px; height:42px; line-height:42px; background:#f8f8f8; border-bottom:2px solid #545454;border-top: 1px solid #d5d5d5;border-right: 1px solid #d5d5d5;border-left: 1px solid #d5d5d5; }
.tabmenu_down ul{ float:left;}
.tabmenu_down ul li{transition: all 0.3s ease-in-out 0s; position:relative; float:left; width:139px; height:42px; line-height:42px; text-align:center; font-size:14px;cursor:pointer;border-right:1px solid #eee;}
.tabmenu_down ul li a{font-family: "hiragino sans gb","Microsoft YaHei";font-size:16px;transition: all 0.3s ease-in-out 0s;}
.tabmenu_down .on{position:relative;background: #fff; height: 42px;line-height: 42px;margin-top:0;border-right: 1px #d5d5d5 solid;
    border-left:1px solid #d5d5d5;_margin-top: -2px;
    margin-left: -1px;}
.tabmenu_down ul li:hover .bottom_line{display:block;}
.tabmenu_down ul li:hover a{color: #cc0000; text-decoration:none;}
.tabmenu_down ul li:hover{background:white;}
/*.tabmenu_down .on:after{content: "";border-style: solid;border-width: 0 8px 4px 8px;border-color: transparent transparent #E0695C transparent;height: 0px;position: absolute;left: 65px;bottom:0;width: 0px;-webkit-transform: rotate(360deg);}*/
.tabmenu_down .color a{ color:#eb9138}
.tabmenu_down .on a{ color:#cc0000;}
/*.tabmenu_down a:hover{color:#bc3832;}*/
.tabmenu_down  span{ float:right; padding-right:10px;}
.tabmenu_down .on .bottom_line{display:block;width:100%; height:2px; background: #E0695C;position:absolute;bottom:-2px;}
.bottom_line{transition: all 0.3s ease-in-out 0s; width:100%; height:2px; background: #E0695C;position:absolute;bottom:-2px;display:none;}
.title{ width:1000px; height:34px; line-height:34px; border-bottom:1px #bbb solid;border-top: 1px solid #dadada; border-left:1px solid #dadada;border-right: 1px solid #dadada;}
.text_list1{ width:1000px; min-height:30px; line-height:30px;}

.title span{ float:left; padding-left:3px;}
.title .fast,.text_list .fast1{ width:155px; margin-left:10px;display:block;}
.title .second,.title .third,.title .fourth,.title .fifth,.title .sixth{ width:140px;display:block;}
.title .second{width: 177px;}
.title .third{width:130px;}

.title .sixth{width: 137px;}
.third,.title .fourth,.title .fifth{width:126px;}

.title .seventh{ width:58px;display:block;}

.text_list{ width:1000px; height:32px; line-height:32px;font-size: 12px;border-bottom: 1px solid #f2f2f2;}
.text_list:last-child{border-bottom: none;}
.text_list:hover{ width:1000px; height:32px; background:#f5f5f5; cursor:pointer; }
.text_list>a{float: left;  text-decoration: none; line-height: 30px;}
.text_list span{ float:left; }
.text_list .fast{ width:158px; margin-left:10px; display:block;font-size: 12px;}
.text_list .fast1{width: 118px}
.text_list a { float: left;  padding-left: 5px;  text-decoration: none; font-size: 13px; color:#454545;}
.text_list .fast a,.hedging tr td a,.hedging-LTC tr td a{padding-left:20px;height:30px;line-height:30px;display:block;}
.text_list .up{ width:175px;display:block; color:#CC0000; position:relative;}
.text_list .up .usd-color{color: #cc0000;}
.text_list .down .usd-color:hover {color:#669900;}
.text_list .up em{background:url(../images/bg_18.jpg) no-repeat; display:block; width:10px; height:9px; position:absolute; top:10px; left:120px;-webkit-backface-visibility: hidden;-webkit-transform-style: preserve-3d; -webkit-transform:translate3d(0,0,0); animation:fadeInUp 1.5s .2s ease both 1;-webkit-animation:fadeInUp 1.5s .2s ease both 1;-moz-animation:fadeInUp 1.5s .2s ease both 1}
.text_list .last {width:175px;display:block; }
.text_list .down{color:#669900; position:relative;width:175px;display:block;}
.text_list .down em{background:url(../images/bg_28.jpg) no-repeat; display:block; width:10px; height:9px; position:absolute; top:10px; left:120px;-webkit-backface-visibility: hidden;-webkit-transform-style: preserve-3d; -webkit-transform:translate3d(0,0,0); animation:fadeInDown 1.5s .2s ease both 1;-webkit-animation:fadeInDown 1.5s .2s ease both 1;-moz-animation:fadeInDown 1.5s .2s ease both 1}
.text_list .down .usd-color{color: #669900;}

.text_list .second,.text_list .third,.text_list .fourth,.text_list .fifth,.text_list .sixth{ width:127px;display:block;}
.text_list .third,.text_list .fourth, .text_list .fifth ,.text_list .sixth{width: 127px}
.text_list .seventh{ width:80px;display:block;}
.text_list .seventh1{width:80px;}
.text_list .eight{width: 15px; display: block;}
.eight .fa-2x{font-size: 14px; line-height: 30px; color: #777;}
.eight .fa-2x:hover{color: #e0695c;}
/*币种展示模块*/
.blogo_show
{float: left; width:1000px; min-height:100px; margin-top:10px; border-left:1px solid #d5d5d5 ;border-right:1px solid #d5d5d5;border-bottom:1px solid #d5d5d5;border-top:2px solid #e0695c;background:#FFF}
.blogo_show ul li{ width:1000px; height:72px; border-bottom:1px #dcdcdc dotted;}
.blogo_show ul li a{ float:left; display:inline-block; width:142px; height:72px; border-right:1px #dcdcdc dotted; text-align:center;}
.blogo_show ul li a:hover{display:inline-block; width:142px; height:72px;background:#f8f8f8;}
.blogo_show ul li .lasts{ border:none;}
.show_box{ width:1000px;padding-bottom: 22px; margin-top:10px; border:1px solid #d5d5d5 ;background:#FFF}
.logo_list{ width:960px; height:60px; margin-top:10px; font-size: 14px;}
.logo_list dl dd{ float:left; margin:10px 14px;}
.logo_list .one {background:url(../images/bg_113.jpg) no-repeat; line-height:15px; height:16px; }
.logo_list .one a{ padding-left:20px; font-size:14px; display:block; *line-height:17px; *height:17px;}
.logo_list .two {background:url(../images/bg_115.jpg) no-repeat; line-height:15px; height:16px;}
.logo_list .two a{ padding-left:20px; font-size:14px; display:block; *line-height:17px; *height:17px;}
.logo_list .three {background:url(../images/bg_117.jpg) no-repeat; line-height:15px; height:16px;}
.logo_list .three a{ padding-left:20px; font-size:14px; display:block; *line-height:17px; *height:17px;}
.logo_list .fore {background:url(../images/bg_119.jpg) no-repeat; line-height:15px; height:16px;}
.logo_list .fore a{ padding-left:20px; font-size:14px; display:block; *line-height:17px; *height:17px;}
.logo_list .fire {background:url(../images/bg_125.jpg) no-repeat; line-height:15px; height:16px;}
.logo_list .fire a{ padding-left:20px; font-size:14px; display:block; *line-height:17px; *height:17px;}
.logo_list .six {background:url(../images/bg_122.jpg) no-repeat; line-height:15px; height:16px;}
.logo_list .six a{ padding-left:20px; font-size:14px; display:block; *line-height:17px; *height:17px;}
.logo_list .seven {background:url(../images/bg_128.jpg) no-repeat; line-height:15px; height:16px;}
.logo_list .seven a{ padding-left:20px; font-size:14px; display:block; *line-height:17px; *height:17px;}
.logo_list .eight {background:url(../images/bg_131.jpg) no-repeat; line-height:15px; height:16px;}
.logo_list .eight a{ padding-left:20px; font-size:14px; display:block; *line-height:17px; *height:17px;}
.logo_list .ones {background:url(../images/bg_141.jpg) no-repeat; line-height:15px; height:16px; }
.logo_list .ones a{ padding-left:20px; font-size:14px; display:block; *line-height:17px; *height:17px;}
.logo_list .twos {background:url(../images/bg_142.jpg) no-repeat; line-height:15px; height:16px;}
.logo_list .twos a{ padding-left:20px; font-size:14px; display:block; *line-height:17px; *height:17px;}
.logo_list .threes {background:url(../images/bg_143.jpg) no-repeat; line-height:15px; height:16px;}
.logo_list .threes a{ padding-left:20px; font-size:14px; display:block; *line-height:17px; *height:17px;}
.logo_list .fores {background:url(../images/bg_146.jpg) no-repeat; line-height:16px; height:16px;}
.logo_list .fores a{ padding-left:20px; font-size:14px; display:block; *line-height:17px; *height:17px;}
.logo_list .fires {background:url(../images/bg_144.jpg) no-repeat; line-height:15px; height:16px;}
.logo_list .fires a{ padding-left:20px; font-size:14px; display:block; *line-height:17px; *height:17px;}
.logo_list .sixs {background:url(../images/bg_148.jpg) no-repeat; line-height:12px; height:16px;}
.logo_list .sixs a{ padding-left:20px; font-size:14px; display:block; *line-height:13px; *height:13px;}
.logo_list .sevens {background:url(../images/bg_145.jpg) no-repeat; line-height:15px; height:16px;}
.logo_list .sevens a{ padding-left:20px; font-size:14px; display:block; *line-height:17px; *height:17px;}
.logo_list .eights {background:url(../images/bg_150.jpg) no-repeat; line-height:10px; height:16px;}
.logo_list .eights a{ padding-left:20px; font-size:14px; display:block; *line-height:15px; *height:15px;}
/*广告图*/
.picter{ width:1000px; height:80px; margin-top:10px;}
.picter2{ width:240px; height:91px; margin-top:5px; margin-bottom:15px;}
.picter3{ width:265px; height:150px; margin-top:10px;}
.picter4{ width:265px; height:150px; margin-top:10px;}
/*信息模块*/
.zixun{border-left: 3px solid #e0695c; padding-left:10px;}
.information{ width:1002px; height:auto; margin-top:10px;}
.information .side_left{ float:left; width:265px;height:auto;background:#FFF}
.information .side_left .left_list{ width:265px;  height:auto;}
.information .side_left .left_list .search_query{ width:265px; margin:10px 0;border:1px solid #d5d5d5;padding-bottom: 7px;}
.information .side_left .left_list .search_query h3{ width:265px; height:35px; line-height:35px; }
.information .side_left .left_list .search_query h3 a{ margin-left:10px; font-size:14px;}
.information .side_left .left_list .search_query ul{ padding:5px 5px; width:250px;}
.information .side_left .left_list .search_query ul li{ margin-left:10px; _margin-left:8px; line-height:27px; max-width:232px;  height:27px; overflow:hidden;text-overflow: ellipsis; display: block;}
.information .side_right{ float:right; width:725px; border:1px solid #d5d5d5; height:auto;background:#FFF}
.information .side_right .mod_content{ width:725px; }
.mod_title { width:725px; height:35px; line-height:35px; background:#f8f8f8; font-size:14px;border-top:1px solid #f0f0f0;border-bottom:1px solid #f0f0f0;}
.mod_title h3{float:left; padding-left:15px; font-size:15px;}
.mod_title h3>a{font-weight:bold;color:#bd4f43;}
.mod_content span{ float:right; padding-right:10px; font-size:12px;}
.information .side_right .mod_contents{ width:725px; height:150px;}
.mod_contents span{ float:right; padding-right:10px; font-size:12px;}
.content_list{ width:700px; margin:5px 15px;}
.content_list dl{ width:700px; height:25px; line-height:25px; padding:4px 0;}
.content_list dl dt{ font-size:14px; float:left; height:25px; overflow:hidden; text-align:left; width: 70px; }
.content_list dl dt>a{color:#262626;}
.content_list dl dt a:hover{height:25px; display:block; color:#C00;}
.content_list dl dd{ float:left; margin-left:12px;height:25px; overflow:hidden; text-align:left;   }
.content_list dl dd a:hover{height:25px; display:block; color:#C00;}
.content_list dl .more{ height:25px; text-align:center;}
.content_list dl .more a:hover{ color:#dd0303; height:25px; display:block;}
.more a{color:#888;}
/*底部内容*/
.foot{ width:100%; height:auto; /*border-top:1px solid #d5d5d5;*/}
.foot .else_b{ width:1000px; height:235px; margin-top:10px;}
.foot .else_b .else_title{ width:1000px; height:25px; line-height:25px;}
.foot .else_b .else_title h3{ padding-left:15px; float:left; font-size:15px; font-weight:normal;}
.foot .else_b .else_title span{ float:right; padding-right:10px;}
.b_lists{ width:970px; height:203px; margin-top:15px;}
.b_lists ul li{ float:left; width:140px; height:31px; line-height:31px; margin-left:20px;*margin-left:18px; margin-bottom:20px;}
.b_lists .xpm{background:url(../images/bg_170.jpg) no-repeat;}
.b_lists .xpm a{ padding-left:38px; font-size:14px;overflow: hidden; height: 30px; display: block;}
.b_lists .bec{background:url(../images/bg_172.jpg) no-repeat;}
.b_lists .bec a{ padding-left:38px; font-size:14px;overflow: hidden; height: 30px; display: block;}
.b_lists .xrp{background:url(../images/bg_174.jpg) no-repeat;}
.b_lists .xrp a{ padding-left:38px; font-size:14px; overflow: hidden; height: 30px; display: block;}
.b_lists .zcc{background:url(../images/bg_176.jpg) no-repeat;}
.b_lists .zcc a{ padding-left:38px; font-size:14px;overflow: hidden; height: 30px; display: block;}
.b_lists .mec{background:url(../images/bg_178.jpg) no-repeat;}
.b_lists .mec a{ padding-left:38px; font-size:14px;overflow: hidden; height: 30px; display: block;}
.b_lists .anc{background:url(../images/bg_180.jpg) no-repeat;}
.b_lists .anc a{ padding-left:38px; font-size:14px;overflow: hidden; height: 30px; display: block;}
.b_lists .xpms{background:url(../images/bg_188.jpg) no-repeat;}
.b_lists .xpms a{ padding-left:38px; font-size:14px;overflow: hidden; height: 30px; display: block;}
.b_lists .becs{background:url(../images/bg_190.jpg) no-repeat;}
.b_lists .becs a{ padding-left:38px; font-size:14px;overflow: hidden; height: 30px; display: block;}
.b_lists .xrps{background:url(../images/bg_191.jpg) no-repeat;}
.b_lists .xrps a{ padding-left:38px; font-size:14px;overflow: hidden; height: 30px; display: block;}
.b_lists .zccs{background:url(../images/bg_192.jpg) no-repeat;}
.b_lists .zccs a{ padding-left:38px; font-size:14px;overflow: hidden; height: 30px; display: block;}
.b_lists .mecs{background:url(../images/bg_193.jpg) no-repeat;}
.b_lists .mecs a{ padding-left:38px; font-size:14px;overflow: hidden; height: 30px; display: block;}
.b_lists .ancs{background:url(../images/bg_194.jpg) no-repeat;}
.b_lists .ancs a{ padding-left:38px; font-size:14px;overflow: hidden; height: 30px; display: block;}

.b_lists .xpmx{background:url(../images/bg_201.jpg) no-repeat;}
.b_lists .xpmx a{ padding-left:38px; font-size:14px;overflow: hidden; height: 30px; display: block;}
.b_lists .becx{background:url(../images/bg_202.jpg) no-repeat;}
.b_lists .becx a{ padding-left:38px; font-size:14px;overflow: hidden; height: 30px; display: block;}
.b_lists .xrpx{background:url(../images/bg_203.jpg) no-repeat;}
.b_lists .xrpx a{ padding-left:38px; font-size:14px; overflow: hidden; height: 30px; display: block;}
.b_lists .zccx{background:url(../images/bg_204.jpg) no-repeat;}
.b_lists .zccx a{ padding-left:38px; font-size:14px;overflow: hidden; height: 30px; display: block;}
.b_lists .mecx{background:url(../images/bg_206.jpg) no-repeat;}
.b_lists .mecx a{ padding-left:38px; font-size:14px;overflow: hidden; height: 30px; display: block;}
.b_lists .ancx{background:url(../images/bg_207.jpg) no-repeat}
.b_lists .ancx a{ padding-left:38px; font-size:14px;overflow: hidden; height: 30px; display: block;}
.b_lists .xpmsx{background:url(../images/bg_215.jpg) no-repeat;}
.b_lists .xpmsx a{ padding-left:38px; font-size:14px;overflow: hidden; height: 30px; display: block;}
.b_lists .becsx{background:url(../images/bg_216.jpg) no-repeat;}
.b_lists .becsx a{ padding-left:38px; font-size:14px;overflow: hidden; height: 30px; display: block;}
.b_lists .xrpsx{background:url(../images/bg_217.jpg) no-repeat;}
.b_lists .xrpsx a{ padding-left:38px; font-size:14px;overflow: hidden; height: 30px; display: block;}
.b_lists .zccsx{background:url(../images/bg_218.jpg) no-repeat;}
.b_lists .zccsx a{ padding-left:38px; font-size:14px;overflow: hidden; height: 30px; display: block;}
.b_lists .mecsx{background:url(../images/bg_219.jpg) no-repeat;}
.b_lists .mecsx a{ padding-left:38px; font-size:14px;overflow: hidden; height: 30px; display: block;}
.b_lists .ancsx{background:url(../images/bg_220.jpg) no-repeat;}
.b_lists .ancsx a{ padding-left:38px; font-size:14px;overflow: hidden; height: 30px; display: block;}



/*专题栏目*/
.bt-intro{width: 1000px; float: left; margin: 20px 0 0 0; border-top: 1px dotted #d5d5d5; padding-top: 25px;}
.btc-box{width:190px; float: left; margin: 0 10px 0 0;}
.btc-box>ul{ border-right:1px dotted #d5d5d5;}


.btc-box>ul>li{width: 100%;}
.btc-box ul li a i{transition: all 0.2s ease-in-out 0s; text-align: center;text-indent: 1.5em; line-height: 1.6em; color: #ccc;}
.btc-box ul:hover a i{color: #e0695c;}
.btc-box>ul>li>a>h2{text-align: center; margin:0 0 10px 0;*font-size:1.5em;}
.btc-box>ul>li>p{padding: 0 10px; height:56px; text-overflow: -o-ellipsis-lastline;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;}
.zt_more{ margin: 7px 0 7px 10px;  display: block;}
.iconfont {font-family:"iconfont" !important;font-size: 60px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.icon-kuangji:before { content: "\e603"; }

/*footer*/
.pagefooter{ width:100%; height:40px; background-color:#222222; /* margin-top:15px;*/}
.pagefooter .footer_text{ width:1000px; height:40px; line-height:40px;}
.pagefooter .footer_text a {color: white;}
.pagefooter .footer_text p{ float:left; color:#fff;}
.pagefooter .footer_text p a{color:#fff; _margin-top:3px; display: inline;}
.pagefooter .footer_text span{ float:right; color:#fff;}
/*浮动列表*/
body{background-image:url(about:blank);background-attachment:fixed;/*必要，防抖动*/}
.float_list{ border:1px solid #d5d5d5; position:fixed;_position:absolute;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight) -900+"px");bottom:80%;left:50%;margin-left:499px; margin-bottom:-20px;width:80px;zoom:1;}
.float_list dl dt{width:80px; height:35px; line-height:35px; text-align:center; background:#dc4842; }
.float_list dl dt a{font-size:14px; color:#fff;}
.float_list dl dd{width:80px; height:35px; line-height:35px; text-align:center; border-bottom:1px dotted #d5d5d5;}
.float_list dl dd.border-b{ border-bottom:none;}
.float_list dl dd a{font-size:14px;}
.float_list dl dd a:hover{width:80px; height:35px; display:block; background:#f8f8f8;}
/*内页样式*/
.wrapper{ width:1000px; height:auto; margin-top:15px; }
.position{ width:1000px; text-align: left;}
.position .red{ color:#bc3832;}
.layout_main{ width:1000px; overflow: hidden; margin-top:10px; border:1px solid #d5d5d5;background:#FFF}
.layout_main .layout_title{ width:1000px; height:37px; line-height:37px; background-color:#f8f8f8;}
.layout_main .layout_title h3{padding-left:15px; font-size:15px; font-weight:normal;}
.layout_list{ width:1000px; height:auto; margin-top:5px;}
.layout_list ul li{ width:1000px; border-bottom:1px dotted #aaaaaa; overflow: hidden;}
.layout_list ul li .fast_text{ float:left; margin:18px 15px;}
.layout_list ul li .fast_text p a{ font-size:15px; color: #222;}
.layout_list ul li .text_list1{ float:left; width:850px; _width:845px;  margin: 12px 0 12px 28px;*min-height: 50px;}
.layout_list ul li .text_list1 a{ padding-bottom: 3px; float:left; margin-left:20px; line-height:30px; font-size:14px; text-align:left; width:145px; _width:125px;*width:110px;height:30px;*height:30px;overflow: hidden; display: block;}
.layout_list ul .lasts{ border:none;}
.layout_list li:last-child{border: none;}
.text_list1 span a{text-align: left;}


/*内页底部样式*/
.foots{ width:100%; height:auto; margin-top:15px;  }
.foots .else_b{ width:1000px;  height:177px; margin-top:10px; }
.foots .link ul li {float: left;padding: 2px 4px;}
.foots .link ul li a{color: #888;}
.link a{color:#999;}
.else_b .tool{ width:290px; height:114px;float:left; margin-right:40px; _margin-right:30px;}
.else_b .tool dl dt{font-size:15px; padding:10px 0;}
.else_b .tool dl dd{ float:left; height:27px; line-height:27px; margin-right:15px; overflow:hidden;}
.navigation{ width:1000px; height:60px; margin-top:10px;}
.navigation dl dt{font-size:15px; padding:8px 0;}
.navigation dl dd{ float:left; margin-right:20px;}

/* 链接文字样式 */
.red {color: red;}
.blue {color: blue;}
.bold {font-weight:bold;}
.nav .active a{color:#cc0000;}
.nav li a:hover{text-decoration: none;}
.nav li a{width: 100%; height: 100%; display: block;}
/* 站点详情页 */
.add{height: 38px;line-height: 38px;}
.con_box1{border: 1px solid #d5d5d5;border-top:2px solid #ad463e;overflow: hidden;background: #fff;margin-bottom: 10px;padding:25px 22px 22px;}
.box_top{height: 116px;border-bottom: 1px dotted #bbb; overflow: hidden;}
.top_left{width: 684px;float: left;height: 116px;overflow: hidden;}
.icon_logo{width: 56px;height: 56px;border:2px solid #f8f8f8;float: left;}
.top_tit{height: 60px;width: 614px;margin-left: 10px;overflow: hidden;float: left;font-size: 14px;}
.top_tit h2{font-size: 20px;height: 30px;line-height: 30px;}
.top_tit h2 span{font-size: 14px;font-weight: normal;}
.top_tit p{line-height:30px;}
.icon_xx{width: 684px;height: 40px;padding-top: 16px;clear: both;overflow: hidden;}
.icon_xx li{width: 19px;height: 19px;float: left;margin-right: 7px;background: url(/images/icon_xx.jpg) no-repeat right 0;}
.icon_xx li.active{background: url(/images/icon_xx.jpg) no-repeat;}
.top_right{width: 270px;float: right;text-align: right;height: 116px;}
.top_right a{transition: all 0.2s ease-in-out 0s;font-size: 14px;color: #ad463e;display: inline-block;border:1px solid #d6d6d6; border-radius:6px;width: 96px;height: 35px;line-height:35px;text-align: center;;margin-top: 25px;}
.top_right a:hover{text-decoration: underline; background: #e0695c;color: white;border: 1px solid #e0695c;}
.box_bot{height:24px;padding-top: 16px;line-height: 24px; }
.con_box2{overflow: hidden;border: 1px solid #d5d5d5;margin-bottom: 10px;background: #fff;padding:4px 26px 4px 22px;font-size: 14px;}
.con_box2 h2{height: 50px;line-height:50px;font-size: 16px;border-bottom: 1px dotted #bbb;}
.con_box2 .zhy{padding:13px;font-size: 14px;line-height: 24px;overflow: hidden;}
.con_box2 .zhy p{text-indent: 2em;padding-bottom: 22px;}
.con_box2 h2 span{color: #cc0000;}
.pl_con{padding:13px 17px 13px 16px; overflow:hidden;}
.pl_xx{height: 42px;line-height: 36px;font-size: 14px;}
.pl_xx span{display: inline-block;width: 80px;float: left;}
.pl_xx span>i{color:#CC0000;}
.pl_xx ul{display: inline-block;padding:8px 0 0 15px;width: 130px;float: left;}
.pl_xx li{width: 19px;height: 19px;float: left;margin-right: 7px;background: url(/images/icon_xx.jpg) no-repeat right 0;}
.pl_xx li.active{background: url(/images/icon_xx.jpg) no-repeat;}
.pl_fb{padding-top: 13px;height: 190px;overflow: hidden;position: relative;}
.pl_fb span{display: inline-block;width: 48px;float: left;padding: 0 0 0 26px;}
.pl_fb .txt{width: 808px;margin-left: 18px;border: 1px solid #d6d6d6;height: 121px;overflow: hidden;display:inline-block;float: left;}
.pl_fb .dlk{position: absolute;padding-top:43px;left: 54px;width: 862px;text-align: center;height: 83px;line-height: 35px;}
.pl_fb .dlk a{margin-left: 11px;}
.fb_pl{width: 860px;padding: 12px 0 20px 91px;height: 35px;line-height:35px;clear: both;overflow: hidden;}
.fb_pl a{background: url(/images/icon_pl.jpg) no-repeat;width: 96px;height: 35px;color: #fff;font-size: 14px;text-align: center;line-height: 35px;display: inline-block;}
.pl_list{overflow: hidden;padding-top: 13px;}
.pl_list h3{font-weight: normal;font-size: 14px;height: 44px;line-height: 44px;border-bottom: 2px solid #cfcfcf;}
.list_box{padding: 2px 6px 0 0; overflow: hidden;}
.list_box dl{min-height: 35px;overflow: hidden;padding: 18px 0 11px;border-bottom: 1px dotted #bbbbbb;}
.list_box dl:last-child{border-bottom:none;}
.list_box dt{width: 40px;float: left;}
.list_box dd{width: 857px;float: left;padding-left: 14px;}
.list_box dd h4{font-size: 14px;font-weight: normal;padding-bottom: 5px;}
.list_box dd h4 font{color: #c5453b;font-size: 14px;}
.list_box dd h4 span{float: right;color: #888;font-size: 12px;}
.list_box dd .txt{min-height: 48px;line-height: 24px;font-size: 14px;}
.page{float:right;margin: 25px 21px 17px 20px;}
.page a,.page span{ border:1px solid #d5d5d5; float:left; width:30px; height:30px; text-align:center; line-height:30px; margin-left:-1px; color:#cc0000; font-size:12px; z-index:40;}
.page a:hover,.page .active{ border:1px solid #be4700; background:#c7443c; color:#fff; z-index:50;}
.page .pre,.page .next{ width:60px;}

.jyw{padding: 22px 17px;overflow: hidden;}
.con_box2 h2 a{float: right;font-size: 12px;font-weight: normal;}
.dt_list{overflow: hidden;padding: 19px 14px;}
.dt_list li{line-height: 24px;font-size: 14px;}
.dt_list li span{float: right;font-size: 12px;}

/* 资讯列表 */
.left_side dl{ margin-top:-1px; }
.left_side dt{ padding-left:3px; height:42px; line-height:42px; overflow:hidden;}
.left_side dt{ padding-left:22px;}
.left_side dt{ padding-left:22px;}
.left_side dt a:hover{color: #cc0000;}
.left_side .here{ border-left:3px solid #cc0000;border-right:none; background:#fff url(/images/now.png) no-repeat 222px 16px; border-bottom:1px solid #d5d5d5; border-top:1px solid #d5d5d5; height:40px; padding-left:0px; line-height:40px; padding-left:19px;}
.left_side .here a{ color:#cc0000;}
.right_side {width: 751px;border-left: 1px solid #d5d5d5;float: right;min-height: 600px;}
.right_side h1{font-size: 20px;height: auto;line-height: 32px;color: #333;padding-top: 20px;width: 700px;}
.new_list {margin-left: 5px;width: 700px;border-top: 1px #d5d5d5 dotted;margin-top: 10px;padding-bottom: 20px;margin-left: 28px;}
.new_list a{font-size: 16px;color: #333;border: none;}
.new_list a:hover{color: #cc0000;}
.new_list p a{font-size: 12px;}
.new_list li {border-bottom: 1px #d5d5d5 dotted;padding-bottom: 15px;margin-top: 15px;}
.list_neirong {font-size: 12px;color: #666;line-height: 18px;margin-top: 8px;overflow: hidden;}
.list_time {color: #333333;margin-left: 20px;font-size: 12px;}
.coin_menu_box dd em {float: left;margin-left: 26px;height: 4px;width: 4px;border-radius: 2px;background: #888;display: inline;margin-right: 8px;overflow: hidden;margin-top: 17px;}
.coin_menu dd a {float: left;font-size: 12px;}
.dl_menu .want em,.dl_menu .want1 em{ background: #cc0000;}
.dl_menu .want a,.dl_menu .want1 a{ color: #cc0000;}
.coin_menu_box dd {height: 40px;line-height: 40px;}
.coin_menu_box dd.selected {height: 40px;line-height: 40px;border-left:3px solid #cc0000;border-right:none;background:#fff url(/images/now.png) no-repeat 222px 16px;border-bottom:1px solid #d5d5d5; border-top:1px solid #d5d5d5; height:40px; padding-left:0px; line-height:40px;}
.coin_menu_box dd.selected em{margin-top: 17px;}
.coin_menu_box dd.selected a{color: #cc0000;}
/*-------------详情------------------*/
.artInfo{ width:692px; margin:0 auto;}
.pub_all{font-size:12px; margin-bottom:15px;margin-top: 15px;}
.pub_date,.media_name,.author{ color:#888888; margin-right:10px;}
.guess{width:692px; height:180px;font-size:12px; line-height:22px; }
.guess h2{ font-size: 14px;height: 35px;line-height: 40px;color: #333333;padding-left: 0px; border-top:1px #d5d5d5  dotted;}
.guess_info{ width:330px; float:left;}
.guess_info ul li{overflow:hidden;width:330px;height: 22px;}
.guess_info_1{ width:330px; float:left; margin-left:20px;}
.guess_info_1 ul li {overflow: hidden;width: 330px;height: 22px;}
.guess a{ color:#666666;}
.guess a:hover{ color:#cc0000;}
.position a{color: #cc0000}
.assets_content h1{font-size: 20px;height: auto; line-height:32px;color: #333;padding-left: 28px;padding-top: 20px;width: 700px;}
.about_text{ width:692px; margin:0 auto; border-top:1px dotted #919191; padding-top:12px;}
.about_text p{ line-height:24px; font-size:12px; color:#666; margin-bottom:24px;}
.right_side h1 {font-size: 20px;height: auto;line-height: 32px;color: #333;padding-left: 28px;padding-top: 20px;width: 700px;}
/*-------------sitemap -------------------*/
.title_text{ font-weight: normal; display: block; float: left;font-size: 14px;color: #CC0000;}
.sitemap_main {width: 1000px;margin: 20px 0 0 20px;border: 1px solid #d5d5d5;background: #FFF;font-size: 14px;}
.sitemap_title {width: auto;height: 37px;line-height: 37px;background-color: #f8f8f8; padding:0 0 0 20px;font-size: 14px;}
.sitemap_list dd {height: 50px; border-bottom: 1px dotted #ddd; line-height: 50px;padding:0 0 0 20px;font-size: 14px;}
.right_text li{ float: left; margin: 0 0 0 50px;}
/*----------------挖矿指数--------------*/
.wakuangzhishu{border-bottom:1px dotted #e2e2e2;}
.inumber_tb{width:100%;}
.inumber_tb tbody tr th{width:30%;line-height: 30px; border-bottom:1px dotted #dcdcdc;border-right:1px dotted #dcdcdc;}
.inumber_tb tbody tr td{width:70%;border-bottom: 1px dotted #dcdcdc; text-indent: 0.7em;}
/*---------------侧边导航 ------------------*/
.shorcut_box{display: block;position: fixed;left: 50%;margin-left: 510px;width: 82px;top: 144px;cursor: pointer;_position: absolute;z-index: 20;}
.shorcut_box ul{border:1px solid #d5d5d5; width: 78px;  text-align: center;background-color: white;position:relative;z-index: 9999;}
.scroll-content{ overflow: hidden;}
.b902,.b502{border-bottom:2px solid #dcdcdc;}
.shorcut_box ul li{height: 35px; line-height: 35px; border-bottom: 1px dotted #d5d5d5;   }
.shorcut_box ul li:hover{ background-color: #f7f6f1; cursor: pointer;}
.mobile-out{position: absolute;bottom: -20px;left:9px; visibility: hidden;}
.wiv_pi{position: absolute;bottom:17px; visibility: hidden;}
.mobile-out.open{visibility:visible;bottom:30px;-webkit-animation-name:flipInX;-moz-animation-name:flipInX;-ms-animation-name:flipInX;animation-name:flipInX;-webkit-animation-duration:.8s;-webkit-animation-delay:.2s;-webkit-animation-timing-function:ease;-webkit-animation-fill-mode:both;-moz-animation-duration:.8s;-moz-animation-delay:.2s;-moz-animation-timing-function:ease;-moz-animation-fill-mode:both;-ms-animation-duration:.8s;-ms-animation-delay:.2s;-ms-animation-timing-function:ease;-ms-animation-fill-mode:both;animation-duration:.8s;animation-delay:.2s;animation-timing-function:ease;animation-fill-mode:both;}
.wiv_pi.open{visibility:visible;bottom:17px;-webkit-animation-name:flipInX;-moz-animation-name:flipInX;-ms-animation-name:flipInX;animation-name:flipInX;-webkit-animation-duration:.8s;-webkit-animation-delay:.8s;-webkit-animation-timing-function:ease;-webkit-animation-fill-mode:both;-moz-animation-duration:.8s;-moz-animation-delay:.8s;-moz-animation-timing-function:ease;-moz-animation-fill-mode:both;-ms-animation-duration:.8s;-ms-animation-delay:.8s;-ms-animation-timing-function:ease;-ms-animation-fill-mode:both;animation-duration:.8s;animation-delay:.8s;animation-timing-function:ease;animation-fill-mode:both;}
.mobile-out.close{visibility:visible;bottom:30px;-webkit-animation-name:flipOutX;-moz-animation-name:flipOutX;-ms-animation-name:flipOutX;animation-name:flipOutX;-webkit-animation-duration:.8s;-webkit-animation-delay:.4s;-webkit-animation-timing-function:ease;-webkit-animation-fill-mode:both;-moz-animation-duration:.8s;-moz-animation-delay:.4s;-moz-animation-timing-function:ease;-moz-animation-fill-mode:both;-ms-animation-duration:.8s;-ms-animation-delay:.4s;-ms-animation-timing-function:ease;-ms-animation-fill-mode:both;animation-duration:.8s;animation-delay:.4s;animation-timing-function:ease;animation-fill-mode:both;}
.wiv_pi.close{visibility:visible;bottom:17px;-webkit-animation-name:flipOutX;-moz-animation-name:flipOutX;-ms-animation-name:flipOutX;animation-name:flipOutX;-webkit-animation-duration:.8s;-webkit-animation-delay:.1s;-webkit-animation-timing-function:ease;-webkit-animation-fill-mode:both;-moz-animation-duration:.8s;-moz-animation-delay:.1s;-moz-animation-timing-function:ease;-moz-animation-fill-mode:both;-ms-animation-duration:.8s;-ms-animation-delay:.1s;-ms-animation-timing-function:ease;-ms-animation-fill-mode:both;animation-duration:.8s;animation-delay:.1s;animation-timing-function:ease;animation-fill-mode:both;}
.goTop_li{background: url(/images/down.png) no-repeat center;}
.goTop_li:hover{background: url(/images/down-1.png) no-repeat center;}
/*---------------- 虚拟币 -----------------------*/
.coin_table{ padding: 10px;}
.coin_table tr td{width: 14.77777%; margin-left: 5px; float: left;padding: 10px 5px;}
.coin_table tr td:hover{ background-color: #f8f8f8;}
.coin_table tr td img{ width: 50px; height: 50px; float: left;}
.coinTitle{ float: left; margin-left: 10px;}
.coinTitle li {font-size: 14px;line-height: 24px;}
/*---------------- 虚拟币详情 -----------------------*/
.col-md-6{ width: 725px;border: 1px solid #ccc; float: left; min-height: 100px;}
.col-md-7{ width: 725px;border: 1px solid #ccc; float: left; min-height: 400px;}
.layout_box{width: 1000px;min-height: 405px;overflow: hidden;margin-top: 10px;background: #FFF;}
.col-md-3{width: 265px; border: 1px solid #ccc; float: right;min-height: 100px;}
.detail_title_cell{ border-bottom: 1px dotted #d5d5d5; padding: 0 0 10px 0;}
.detail_list li img{width: 55px; height: 55px; float: left; vertical-align:middle ;}
.detail_cell{ padding: 20px; }
.detail_cell_2{padding:6px 14px;}
.datail_title{ line-height: 24px; text-indent: 1em;  font-size: 14px; padding-top:5px; font-weight: 700; }
.date_title{ color: #888; font-size: 12px; font-weight: normal;}
.detail_list li p{text-indent: 2em; line-height: 22px; margin-top: 10px;}
.dot_li li{ float: left;width: 33.222222%; margin:0 0 10px 0; color: #666;}
.dot_li li span{ color: #333; }
.dot_li li i{margin-right: 3px; width: 4px;height: 4px; border-radius: 10px; display: block; background-color: #ccc; float: left; position: relative; top: 7px;}
.right_btc_news h3{width: 250px;height: 35px;line-height: 35px;background: #f8f8f8;padding-left: 15px;}
.right_btc_news_ul li{padding: 7px 0; white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; line-height: 16px;}
.right_btc_news h3 span{font-size: 12px; font-weight: normal; float: right; margin-right: 10px;}


/*---------------- add by hau -----------------------*/

.add a{color: #cc0000;}
.search-img{position: absolute;float: left; left: 215px; top:8px;}
.search-114{border: 1px solid #d5d5d5;border-radius:3px;font-size: 13px; height:33px;width:224px;display: block;position: relative; float: left; left: 15px; padding-left: 8px;}
.search-114:hover{border:1px solid #7f7f7f;}
.search-114:focus{border:1px solid #7f7f7f;}
.search-114:active{border:1px solid #7f7f7f;}
/*tags*/
.left_side_tags{width: 700px;border:1px solid #d5d5d5;float: left;min-height: 600px; }
.left_side_tags .new_list{width: 650px;}
.left_side_tags h1{font-size: 20px;height: auto;line-height: 32px;color: #333;padding-left: 28px;padding-top: 20px;width: 650px;}
.right_side_tags{float: right; padding: 5px;}
.tags_box{min-height: 200px;width: 287px; overflow: hidden;}
.tag_info2{ margin: 0 0 0 -5px;}
.tag_info2>a{margin: 5px; padding: 2px 10px; float: left; border:1px solid #d5d5d5; color: #777;}
.tag_info2>a:hover{background: #e0695c; color: white; border: 1px solid #e0695c; text-decoration: none;}
.tag-news-list>h3,.tag_info2>h3{font-size: 14px;height: 30px;line-height: 20px;color: #333333;padding-left: 0px;text-indent: 0.5em;}
.tag-news-list>h3{line-height: 35px;text-indent: 0.8em; background: #f8f8f8;height: 35px; position: relative;}
.tag-news-list>h3>a{position: absolute; left: 230px; font-size: 12px; font-weight: normal;}
.tag-news-list{border: 1px solid #d5d5d5;min-height: 250px; margin: 10px 0 0 0;}
.tag-news-list>ul{width: 260px; padding: 10px ;}
.tag-news-list>ul>li{width: 260px; overflow: hidden;white-space:nowrap; text-overflow:ellipsis; line-height: 28px;}
.tag_info{ margin: 0 0 0 -5px;overflow:hidden;}
.tag_info>a{margin: 5px; padding: 2px 10px; float: left; border:1px solid #d5d5d5; color: #777;}
.tag_info>a:hover{background: #e0695c; color: white; border: 1px solid #e0695c; text-decoration: none;}
.tags_full_area{width: 1000px;min-height: 80px; border-bottom: 1px dotted #d5d5d5; padding-bottom: 20px;}
.tags_full_area>h2{font-size: 14px;line-height: 40px;}
.catelogy_foot li,.catelogy_foot1 li{line-height: 24px;}
.catelogy_foot,.catelogy_foot1{float: left;width: 50%;}
.catelogy_foot1{float: right;width: 48%;}
.catelogy_foot li a,.catelogy_foot1 li a{color: #888;}
.btc_k_line_an{width: 1002px; min-height:200px; margin-top: 10px; }
.btc_k_line{width: 1002px; min-height: 200px; float: left; border: 0;}
.btc_k_line li{width: 325px; border: 1px solid #d5d5d5; min-height:264px;float: left; margin-left:10px; margin-bottom: 10px; }
.inner_wrapper{padding: 10px; height: 100%;}
.k_line_map dt{font-size:14px; margin: 15px 0 5px 0;}
.k_line_map dd{color: #888; font-size: 12px;}
.btc_list_ax{border:1px solid #dcdcdc; border-bottom: none;border-top: none;
    width: 1000px; margin: 0px 0;}
.szb-more,.szb-more2{width: 1000px; height: 32px; border: 1px solid #dcdcdc; border-top: none; line-height: 32px; text-align: center; cursor: pointer;}
.szb-more:hover,.szb-more2:hover{color:#e0695c; }
.szb-more2{display: none;}
#OTHER-ticker{border:1px solid #dcdcdc; border-bottom:none;border-top: none; *float:left;*height: 217px;*width: 1000px;}
#OTHER-ticker li:last-child{border-bottom: 1px solid #dcdcdc;}
.BTC-zhishu{border: 1px solid #dcdcdc; border-top:none; border-bottom:none;width: 1000px; height: 32px; line-height: 32px;}
.BTC-zhishu li{float: left; width: 20%; text-align: center; line-height: 32px;font-size: 12px;}
.t_num i{width:18px;height:23px; display:inline-block; background: url(../images/number.png) no-repeat; background-position:0 0; text-indent:-999em}
.usd-color{color:#777;}
ul li a{color: #333;}
.title1{border-top:none;border-bottom:1px solid #dcdcdc;}
.tab-list-coin{border:1px solid #dcdcdc;border-top: none;}
.dq-table{width: 1002px;  table-layout:fixed;border: 1px solid #d5d5d5;float: left;overflow-y:auto;display:none;}
.dq-table thead th{background:#f8f8f8!important;font-weight:normal;border-right:1px solid #e5e5e5;height:30px; text-align: left;padding-left: 20px;border-bottom: 1px solid #e5e5e5;}
.dq-table thead th:last-child{border-right: none;}
.dq-table tbody tr>td{width:230px;border-right:1px solid #e5e5e5; text-align: left;height:30px; padding-left: 20px;border-bottom: 1px solid #f1f1f1;}
.dq-table tbody tr>td:last-child{border-right:none;}
.dq-table tbody tr:last-child>td{border-bottom:none;}
.hedging,.hedging-LTC{width: 1002px;}
.text_list a:hover span{color:#cc0000;}
.text_list .down:hover span{color:#669900;}
.dq-table > tbody > tr:hover > td {background-color: #f5f5f5;}
.dq-table > tbody > tr:hover > td >a{text-decoration: none;}
.dqhq:hover{ background: #f8f8f8;}
.dqhq a:hover{ text-decoration: none;}
.brief{width:1000px; margin:10px auto 0 auto; border:1px solid #dcdccd;min-height:24px;}
.brief>p{text-indent: 2em;line-height:24px;padding:10px 20px;}
/*弹窗*/
.ui-mask{width:100%;height:100%;background:#000;display:none;position:absolute;top:0px;height:0px;z-index:8000;opacity:0.2;filter:Alpha(opacity=20);}
.ui-dialog{width:390px;height:auto;display:none;position:absolute;z-index:9000;top:50%;left:50%;border:1px solid #D5D5D5;background:#fff;}
.ui-dialog a{text-decoration:none;}
.ui-dialog-title{height:48px;line-height:48px;padding:0px 20px;color:#535353;font-size:16px;border-bottom:1px dotted #d5d5d5;user-select:none;}
.ui-dialog-closebutton{width:16px;height:16px;display:block;position:absolute;top:12px;right:20px;}
.ui-dialog-closebutton:hover{}
.ui-dialog-content{padding:10px 20px;color:#333;}
.ui-dialog-content h2{color:#669900;text-align:center;font-size:24px;}
.dialog-table-mx{padding:0 60px;margin:25px 0;}
.dialog-table-mx tr td{height:30px;}
.ui-dialog-closebutton{width:16px;height:16px;display:block;position:absolute;top:12px;right:20px;}
.ui-mask{width:100%;height:100%;background:#000;display:none;position:absolute;top:0px;height:0px;z-index:8000;opacity:0.2;filter:Alpha(opacity=20);}
.ui-dialog-content ul li{padding:0 0 15px 0;}
.weixin-logo{float:right;position:relative;}
.cx-code{position:absolute;top:30px;right:0px;width:150px;background:#17191c;padding:0 20px;display:none;z-index:999;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#BF000000,endColorstr=#BF000000);}
.web-app-header:hover .cx-code{display:block;}
.weixin-logo:hover .cx-code{display:block;}
.dialog-table-rz tr td{padding:0 0 10px 0;}
.dialog-table-rz tr td li{height:24px;line-height:24px;}

.fadeInDown2{-webkit-animation-name:fadeInDown2;animation-name:fadeInDown2;}
.animated{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both;}
.hide{display:none;}
.cop-list-detail{font-size:14px;border-top:1px dotted #dcdcdc;padding:10px 32px;}
.cop-list-dl dd{border-bottom:1px dotted #dcdcdc;}
.cop-list-dl h2{font-weight:normal;margin:20px 0;font-size:14px;}
.cop-list-dl h2 a{font-size:12px;}
.cop-list-dl p{text-indent:2em;font-size:12px;margin:10px 0;color:#777;}
.site-info-list{color:#fff;width:350px;font-family:"hiragino sans gb",'Microsoft YaHei';overflow:hidden;position:absolute;top:30px;right:0px;z-index:999;padding:20px;padding-top:10px;display:none;background:#17191c;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#BF000000,endColorstr=#BF000000);transition:all 0.5s ease-in-out 0s;}
.site-info-dl dt{color:#999;display:block;clear:both;font-size:14px;cursor:Default;text-align:left;padding:5px 0;}
.sshq-header:hover .site-info-list{display:block;}
.site-info-dl dd{width:95px;float:left;padding:0 10px;}
.site-info-dl dd a{padding-left:20px;height:30px;width:100%;line-height:30px;color:#ccc;display:block;text-align:left;}
.site-info-dl dd:hover{background-color:#404349;border-radius:3px;}
.site-info-dl dd a:hover{color:white;text-decoration:none;}
.sshq-header{color:#fff;text-align:center;width:48px;display:block;cursor:pointer;text-decoration:none;}
.hqsq{display: none;float:right;margin-right:15px;}
.hqzk{display: none;float: right;margin-right:15px;}
.nnzx dl dt{min-height: 15px;}
.nnzx{height:125px!important;}
.list_box.list-box-box dl{min-height: 60px; padding: 10px 0 0 0 ; }
.txt.xxz{min-height:20px;}
.app-lite{ cursor:auto;margin-bottom:7px;position:relative;z-index: 10;}
.app-lite .app-rect{display:none;width:120px;height:120px;border:1px solid #d5d5d5;position:absolute;right:90px; z-index:10;top:0;background:white;}
.app-lite:hover .app-rect{display:block;}
.app-rect{padding:10px;box-sizing:border-box;}
.app-rect:before{content:"";display:inline-block;width:0;height:0;border-width:7px;border-style:dashed;border-color:transparent;border-right-width:0;border-left-color:#d3d3d3;border-left-style:solid;position:absolute;top:44px;right:-8px;}
.app-rect:after{content:"";display:inline-block;width:0;height:0;border-width:7px;border-style:dashed;border-color:transparent;border-right-width:0;border-left-color:#fff;border-left-style:solid;position:absolute;top:44px;right:-7px;}
.adv{margin:0 0 10px 0;height:120px;}

.right_side .dx{padding:20px;}
.left-licai-list{float:left;max-width: 220px;}
.left-licai-list li{height:36px;color:#b95344;font-size:14px;}
.left-licai-list li span{color: #454545;display:inline-block;}
.button-licai{background-color:#f56e58;font-size:18px;padding:10px 40px;border-radius:3px;display: inline-block;color:white; text-decoration: none;}
.button-licai:hover{text-decoration: none;color:#fff; background-color: #f55a40;}
.k-line-area{float:left;border:1px solid #dcdcdc;  max-width: 488px;min-height:250px; margin-left:20px;}
.licai-red{color: #b95344;}
.intro-licai{border:1px solid #f2f2f2;background-color:#f8f8f8;padding:2px 10px 10px 10px;margin:15px 0 ;}
.intro-licai p{margin-top:15px;}
.title-prodc{margin:30px 0 0 0;border-bottom:1px dotted #ccc;padding-bottom:15px;font-size:18px;}
.intro-p p{margin-top:20px;}
.callv{overflow: hidden;padding-bottom: 20px;}
.callv ul li{float:left;line-height:25px;}
.callv ul li span{float:none;}
.callv ul li input{width:95px;padding:5px;vertical-align:middle;height: 15px;vertical-align: middle;border:1px solid #dcdcdc;}
.callv ul li select{  height: 18px;padding: 3px 20px 4px 5px;    border:1px solid #dcdcdc; vertical-align: middle;-webkit-appearance:none!important;-webkit-border-radius:0;background:#fff url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+) no-repeat 100% center;    box-sizing: content-box;}
.input-group{display: inline-block;}
.input-group-inf{border:1px solid #dcdcdc;display:inline-block;padding:0 4px;margin-left:-1px;vertical-align:middle;}
.justify{display:block;width:100%;text-align: justify;text-align-last: justify;}
#rate_number{width:35px;}
.justify:after{content:'';display:inline-block;width:100%;height:0;overflow:hidden;}