/* Custom CSS */

/* https://habrahabr.ru/post/282079/ */
body {
	position: relative;
	background-color: #cdf;
    background-image: none;
}

body::before {
    background: url("/1HidBY8MhvfnGJNPcuh47TCfbK25VvdzzY/img/music-background.jpg") no-repeat center center;
    background-size: cover;
/*	opacity: .7; */
    content: ' ';
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    will-change: transform;
    z-index: -1;
}

.topmenu {
	margin-right: -10px;
	background-color: #452666;
	color: #88A6EB;
}

.topmenu a {
	color: white;
}

/* Color tools:
  - http://www.cssdrive.com/imagepalette/index.php
*/

.head .logo {
	background-color: #542a7e;
}

h1.topics-title {
    color: #ffffff;
    text-shadow: 2px 2px 8px rgba(133,187,222, 0.9), 0 0 2em rgba(133,187,222, 0.7) !important;
}

.feed-follow {
	background-color: #5061bb;
}

.feed-follow:hover, .feed-follow-show:hover {
	background-color: #364190;
	border-color: #364190;
}

.feed-follow .text-follow, .feed-follow .text-following {
	color: white;
}

.feed-follow-show {
	padding: 2px 4px;
}

a {
	color: #27346b;
}

.button {
	background-color: #4d9df4;
	color: white;
}

.button:hover {
	background-color: #00569f;
	color: white;
}

.button-submit {
	border-bottom-color: #053d6c;
}

.button.save {
	background-color: #79a2ea;
}

.button.delete {
	background-color: #DB3207;
}

.topic-full {
	border-left: 2px solid #542a7e;
}

.editbg {
	background-color: #98c6f0;
}

.topic, .comment {
	background-color: #cdf;
}

.topic-new-link {
	background-color: #053d6c;
	color: white;
}

.topic-new-link:hover {
    color: #c554da;
}

.topic-sticky .sticky-title {
	background-color: #0b76bc;
	color: white;
}

.topics-more {
	border: none;
	color: white;
}

.topics-more:hover {
	background-color: #00569f;
	color: white;
	border-color: #053d6c;
}

.center {
    max-width: 940px;
}
