body {
background-color: #13133a;
color: #e65c00;
text-align: center;
font-family: arial;
padding: 0px;
margin: 0px;
user-select: none;
}
div {
opacity: 0;
}
h1 {
font-size: 65vh;
padding: 0px;
margin: 0px;
}
p {
font-size: 2.5vh;
padding: 0px;
margin: 0px;
}
p.top {
position: fixed;
top: 5px;
right: 0;
left: 0;
}
p.headpat {
opacity: 0;
position: relative;
top: -10vh;
}
a {
text-decoration: none;
color: #e65c00;
}