body{font-family:'Open Sans',Arial,Verdana,Tahoma,sans-serif;color:#333;overflow-y:scroll !important;}

body {
background-image: url("../images/background.png");
background-color: #cccccc;
}

table {
width:100%;
}

.cont {
padding: 10px 16px 0px 16px;
border: 1px solid;
border-radius: 4px;
border-color: #EEEEEE;
padding-bottom: 20px;
margin-bottom: 20px;
background-color: white;
font-family:'Open Sans',Arial,Verdana,Tahoma,sans-serif;
font-size:small;
width:100%;
}

.td1{
width:33%
}

.td2{
width:67%
}

.div1{
display: table;
max-width:300px;
}

.div2{
float:left;
display: table-cell;
vertical-align: middle;
margin-right:20px;
}

.div3{
margin-right:10px;

display:table-cell;
}

.dl {min-width:200px;}

.center{
text-align:center;
}

.screenshots{
max-width:30%;
max-height:150px;
float:left;
margin-left:5px;
}

.mb190{
margin-bottom:190px;
}

.flr{
float:right;
}

.mt0{
margin-top:0px;
}
