body {
	background: #fff;
	width: auto;
}
#hat_div {
	background: #000;
	width: auto;
}
#hat_div .active {
	background: #3E4345;
}
.subscriber #hat_div .active {
	background: #EEECE7;
}
#hat_div table {
	margin: 0 auto;
}
#hat_tab_wsj_top {
	background-position: -104px -247px;
	width: 46px;
}
#header-wrapper {
	background: #3E4345 url(http://cn.wsj.com/gb/new_header/header_nonsub_bkgd_border.png) left bottom repeat-x;
	/*border-bottom: 3px solid #6D6D6D;*/
	height: 124px !important;
	height: 115px\9;
}
.subscriber #header-wrapper {
	background: #EEECE7 url(http://cn.wsj.com/gb/new_header/header_sub_bkgd.png) left bottom repeat-x;
	border-bottom: 3px solid #CDCDCD;
}
#header {
	margin: 0 auto;
	padding: 15px 8px 0;
	width: 975px;
}
#header .left-column {
	float: left;
	margin-bottom: 10px;
	/*margin-bottom: -390px;*/
	/*margin-bottom: -400px\9;*/ /* IE9 and below */
	/*padding-bottom: 400px;*/
}

/* Hack for Chrome Only */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	/*#header .left-column  { overflow: hidden; }*/
}
/* Hack for Chrome Only */

#header .right-column {
	float: right;
}
#header .left-column a.cwsj-logo {
	cursor:hand;
}
#header h1 {
	background: url(http://cn.wsj.com/gb/new_header/logo_nonsub.png) left top no-repeat;
	height: 38px;
	margin: 0 0 8px;
	text-indent: -9999px;
	width: 441px;
}

#header h1 a {
	display: block;
    height: 38px;
    width: 441px;
}

#header a.cwsj-logo div {
	background: url(http://cn.wsj.com/gb/new_header/logo_nonsub.png) left top no-repeat;
	height: 38px;
	margin: 0 0 8px;
	text-indent: -999999em;
	width: 441px;
}
#header h2 {
	background: url(http://cn.wsj.com/gb/new_header/chinese-logo-gb.png) 0 1px no-repeat;
	/*_background: url(chinese-logo-gb.png) 0 1px no-repeat;*/
	float: left;
	height: 20px;
	margin: 1px 10px 0;
	text-indent: -999999em;
	width: 100px;
}
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
    #header h2 {background: url(chinese-logo-gb.png) 0 1px no-repeat;}
}
*/
.subscriber #header h1 {
	background: url(http://cn.wsj.com/gb/new_header/logo_sub.png) left top no-repeat;
}
#edition-picker, #language-toggle {
	float: left;
	margin: 0 1px 0 0;
	position: relative;
	z-index: 120;
}
#edition-picker-button, #language-toggle-button {
	background: url(http://cn.wsj.com/gb/new_header/edition-picker-nonsub-background.png) left top repeat-x;
	border: 1px solid #262624;
	border-radius: 3px;
	cursor: hand;
	cursor: pointer;
	float: left;
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
	padding: 0 5px;
	position: relative;
	text-align: center;
}
.subscriber #edition-picker-button {
	background: url(http://cn.wsj.com/gb/new_header/edition-picker-sub-background.png) left top repeat-x;
	border: 1px solid #B8AF94;
}
#edition-picker.expanded #edition-picker-button {
	background: #fff none;
	border: 1px solid #262624;
	border-bottom: 2px solid #fff;
	border-radius: 0;
	z-index: 12;
}
#current-edition, #current-language {
	background: url(navigation-dropdown.gif) right 5px no-repeat;
	color: #fff;
	padding-right: 14px;
}
#edition-picker.expanded #current-edition {
	background-position: right -175px;
	color: #E36627;
}
#edition-picker .editions-wrapper {
	background: #fff;
	border: 1px solid #999;
	clear: both;
	display: none;
	font-size: 12px;
	padding: 1em;
	position: absolute;
	text-align: left;
	top: 20px;
	width: 190px;
	z-index: 11;
	zoom: 1;
}
#edition-picker.expanded .editions-wrapper {
	display: block;
}
#edition-picker ul {
	border: 1px solid #c0c0c0;
	border-width: 1px 0 3px;
	line-height: 28px;
	list-style: none;
	margin: 0;
	padding: 0;
	white-space: nowrap;
}
#edition-picker #language-editions {
	border: 0;
}
#edition-picker li {
	border-bottom: 1px dotted #c0c0c0;
}
#edition-picker li.last {
	border-bottom: 0 none;
}
#edition-picker a {
	color: #093E72;
	font-weight: bold;
}
#edition-picker .current a {
	color: #E36627;
}
#edition-picker .description {
	color: #555;
	display: inline;
	padding-left: 1em;
}
#language-toggle {
	margin-left: 5px;
	position: relative;
}
#language-toggle-button {
	padding: 0 3px;
	width: 41px;
	width: 51px\9; /* <= IE8 */
}
#language-toggle.expanded #language-toggle-button {
	background: #2e2f2f none;
}
#language-toggle #language-wrapper {
	background: #2e2f2f;
	border: 1px solid #262424;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
	display: none;
	font-size: 12px;
	font-weight: bold;
	left: 0;
	line-height: 22px;
	height: 44px;
	padding: 0;
	position: absolute;
	text-align: left;
	top: 0;
	width: 47px;
	width: 57px\9; /* <= IE8 */
}
#language-toggle.expanded #language-wrapper {
	display: block;
}
#language-wrapper ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 41px;
	width: 51px\9; /* <= IE8 */
}
#language-wrapper li {
	padding: 0 3px;
	padding-right: 0\9; /* <= IE 8 */
	width: 41px;
	width: 51px\9; /* <= IE8 */
}
#language-wrapper .selected {
	background: url(http://cn.wsj.com/gb/new_header/language-toggle-background.png) no-repeat right bottom;
}
#publication-date, #thedate {
	color: #fff;
	display: block;
	float: left;
	font-size: 12px;
	line-height: 20px;
	margin: 0;
}
.subscriber #publication-date, .subscriber #thedate {
	color: #000;
}

#logoright {
	float: none;
	margin: auto;
}
#user-account {
	position: relative;
	width: 377px;
	z-index: 2;
}
#user-account ul {
	font-size: 12px;
	list-style: none;
	margin: 0.5em 0 0;
	padding: 0;
	position: absolute;
	right: 0;
	z-index: 1002;
}
#loginlinks {
	display: none;
}
#user-account li {
	border-right: 1px dotted #fff;
	display: block;
	float: left;
	padding: 0 1em;
	z-index: 1001;
}
#user-account li.last {
	border-right: 0 none;
	position: relative;
}
#user-account a {
	color: #E36627;
	display: block;
	float: left;
	font-weight: bold;
}
#loginlink {
	background-image: url(../../Pictures/Format/login_arrow_nav.gif);
	background-position: 6px 6px;
	background-repeat: no-repeat;
	cursor: pointer;
	display: none;
	float: right;
	height: 12px;
	line-height: 12px;
	margin-left: 0.5em;
	padding: 0 5px;
	position: relative;
	width: 10px;
	width: 20px\9; /* <= IE8 */	
	z-index: 1000;
}
#loginlink.drop-down-expanded {
	background-color: #fff;
	height: 24px;
}
#loginpanel {
	background: #fff;
	border: 1px solid #777;
	border-radius: 0 0 5px 5px;
	font-size: 0.75em;
	padding: 0.5em 1em;
	position: absolute;
	right: 11px;
	top: 25px;
	width: 310px;
	width: 330px\9; /* <= IE8 */
	z-index: 900;
	zoom: 1;
}
#loginpanel .form {
	border-bottom: 1px dotted #777;
	height: 25px;
	padding: 0.25em 0.5em 0.5em;
}
#loginpanel .form input {
	float: left;
	font-size: 12px;
	line-height: 25px;
	margin: 0 0.5em;
}
#loginpanel .form .login {
	background: url("../../pictures/format/comment_submit.gif") no-repeat scroll center bottom transparent;
	border: 1px solid #ccc;
	color: #093D72;
	display: block;
	float: left;
	font-size: 12px;
	font-weight: normal;
	height: 25px;
	line-height: 25px;
	padding: 0 8px;
	padding: 0 8px\9; /* <= IE8 */
	text-align: center;
	width: auto;
	width: 43px\9; /* <= IE8 */
}
#loginpanel .utilities {
	clear: both;
	line-height: 16px;
	padding: 0.25em 0.5em;
	text-align: left;
}
#loginpanel .utilities * {
	display: block;
	float: left;	
}
#loginpanel .utilities a {
	color: #093D72;
	font-weight: normal;
}
#loginpanel .utilities .titlelink {
	float: right;
	margin-left: 1em;
}
#welcomeuser {
	color: #fff;
	display: none;
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
	text-align: right;
}
#welcomeuser a {
	color: #E36627;
	display: inline;
	float: none;
	margin: 0 0.5em;
}
#nav {
	background: transparent;
	clear: both;
	height: auto;
	margin: 0 auto;
	padding-top: 1px;
	position: relative;
	width: 975px;
}
#navigation {
	background: transparent none;
	height: 28px;
	list-style: none;
	margin: 0;
	padding: 0;
}
#navigation li {
	background: transparent url(http://cn.wsj.com/gb/new_header/navigation-separator-nonsub.png) right bottom no-repeat;
	display: block;
	float: left;
	height: 31px;
	line-height: 28px;
	margin-bottom: -2px\9; /* <= IE8 */
	overflow: visible;
	padding: 0;
	position: relative;
	width: auto;
}
.subscriber #navigation li {
	background: transparent url(http://cn.wsj.com/gb/new_header/navigation-separator-sub.png) right bottom no-repeat;
}
#navigation li.last {
	background: transparent none;
}
#navigation li:hover, #navigation li.hoverfix {
	background: url(http://s3.wsj.net/img/globalheadoverlay-sprite.png?v=3) 0 -203px repeat-x;
	_background: none; /* IE6 */
}
#navigation li.active,
#navigation li.expanded {
	background: #fff;
	border-width: 1px 1px 0;
	border-color: #7E7C77 #A0A0A0;
	border-style: solid;
	border-bottom: 2px solid #fff;
	margin-left: -2px;
	padding-bottom: 0;
	z-index: 1000;
}
#navigation li a {
	background: transparent none;
	color: #fff;
	display: block;
	float: left;
	font-size: 12px;
	font-weight: bold;
	height: 28px;
	line-height: 28px;
	padding: 0 18px;
	position: relative;
	text-decoration: none;
}
.subscriber #navigation li a {
	color: #000;
}
/*#navigation li a:hover,*/
#navigation li.active a,
#navigation li.expanded a {
	color: #E36627;
}
#navigation li .dropdown {
	background: url(navigation-dropdown.gif) left top no-repeat;
	cursor: hand;
	cursor: pointer;
	display: block;
	font-size: 0.75em;
	float: left;
	height: 9px;
	line-height: 9px;
	margin: 13px 7px 0 0;
	_margin-right: 3px; /* IE 6 */
	padding: 0;
	text-indent: -999999em;
	width: 8px;
}
#navigation li .dropdown:hover {
	background-position: left -34px;
	margin-top: 12px;
}
#navigation li.expanded .dropdown:hover {
	background-position: left -214px;
}
#navigation li ul {
	background: #fff;
	border: 1px solid #a0a0a0;
	border-top: 0 none;
	clear: both;
	display: none;
	left: -1px;
	left: -41px\9; /* <= IE8 */
	list-style: none;
	padding: 0.5em;
	position: absolute;
	text-align: left;
	top: 28px;
	top: 28px\9; /* <= IE8 */
	width: 200px;
	z-index: 1000;
}
#navigation li.expanded ul {
	display: block;
}
#navigation li.right-aligned ul {
	left: auto;
	right: -1px;
}
#navigation li ul li {
	background: none;
	border-top: 1px dotted #999;
	display: block;
	float: none;
	margin-bottom: auto;
}
#navigation li ul li.last {
	border-bottom: 1px dotted #999;
}
#navigation li ul li:hover, #navigation li ul li.hoverfix {
	background: none;
}
#navigation li ul li a,
#navigation li.expanded li a {
	color: #093D72;
	display: inline;
	float: none;
}
#navigation li.expanded ul li a:hover {
	color: #E36627;
}
#navigation li.expanded ul {
	display: block;
}
#navigation #navhomepage ul {
	display: none;
}
#navigation li .dropdown 
{
	display: none;
}

#quick-links {
	border: 0;
	display: block;
	font-size: 12px;
	left: 590px;
	line-height: 150%;
	list-style: none;
	margin: 10px 0 0;
	padding: 0 0 0 5px;
	position: absolute;
	text-align: left;
	width: 400px;
	z-index: 1;
}
#quick-links li {
	border-top: 0 none;
	float: left;
	margin-right: 1.2em;
}
#quick-links li a {
	color: #093D72;
	font-weight: bold;
}

#content {
	background: none;
}

#thetitle {
	display: none !important;
}

#quick-links-footer { 
margin:3px;font-size:12px;font-weight:bold;color:#000000;margin:3px 3px 5px 6px;/*font-family:arial;*/
}

.quick-links-footer-sub { 
background: url(../../Pictures/Format/orange_bullet.gif) no-repeat left; padding-left:10px;/*font-family:arial;*/
margin:3px 3px 5px 6px;font-size:12px;
}

#A .anythingContainer #headline ,
#A .anythingContainer #summary {
	z-index: 1;
}

body.homepage #navigation #navhomepage,
body.bch #navigation #navbch,
body.global #navigation #navglobal,
body.economy #navigation #naveconomy,
body.markets #navigation #navmarkets,
body.money #navigation #navmoney,
body.column #navigation #navcolumn,
body.fashion #navigation #navfashion,
body.luxury #navigation #navluxury,
body.management #navigation #navmgt,
body.industry #navigation #navindustry,
body.realestate #navigation #navrealestate,
body.tech #navigation #navtech,
body.opinion #navigation #navopinion {
	background: #fff;
	border-width: 1px 1px 0;
	border-color: #7E7C77 #A0A0A0;
	border-style: solid;
	padding-bottom: 2px;
	padding-bottom: 4px\9; /* <= IE8 */
	position: static;
}
body.homepage #navigation #navhomepage ul,
body.bch #navigation #navbch ul,
body.global #navigation #navglobal ul,
body.economy #navigation #naveconomy ul,
body.markets #navigation #navmarkets ul,
body.money #navigation #navmoney ul,
body.column #navigation #navcolumn ul,
body.fashion #navigation #navfashion ul,
body.luxury #navigation #navluxury ul,
body.management #navigation #navmgt ul,
body.industry #navigation #navindustry ul,
body.realestate #navigation #navrealestate ul,
body.tech #navigation #navtech ul,
body.opinion #navigation #navopinion ul{
	background: url("http://s3.wsj.net/img/spritemain_X.png") repeat-x 0 -648px #fff;
	border: 0 none;
	display: block;
	margin: 4px 0 0 -8px;
	margin: 8px 5px 0 27px\9; /* <= IE8, (-41px) / 2 + (-7)px */
	padding: 4px 8px 6px 10px;
	padding-right: 27px\9;
	width: 975px;
	width: 998px\9; /* <= IE8, 991 + 7px */
	z-index: 1;
}
/* Gutters Ads begin -- Added by TianFei on 2012/12/21 */
body.homepage #navigation #navhomepage ul {
	margin-left:-5px;
	_margin-left:34px;
	width:971px;
	_width:991px;
}
/* Gutters Ads end -- Added by TianFei on 2012/12/21 */

body.homepage #navigation #navhomepage li,
body.bch #navigation #navbch li,
body.global #navigation #navglobal li,
body.economy #navigation #naveconomy li,
body.markets #navigation #navmarkets li,
body.money #navigation #navmoney li,
body.column #navigation #navcolumn li,
body.fashion #navigation #navfashion li,
body.luxury #navigation #navluxury li,
body.management #navigation #navmgt li,
body.industry #navigation #navindustry li,
body.realestate #navigation #navrealestate li,
body.tech #navigation #navtech li,
body.opinion #navigation #navopinion li {
	background: url("http://cn.wsj.com/gb/new_header/spritemain_L.png") no-repeat -36px -1836px transparent;
	border-top: 0;
	float: left;
	font-size: 12px;
	height: 21px;
	line-height: 21px;
	margin: 0 0.6em 0 0;
	padding-left: 0.6em;
}
body.homepage #tnquicklinks,
body.bch #tncrr,
body.global #tnbus,
body.economy #tncneco,
body.markets #tncnstock,
body.money #tnroi,
body.column #tncws,
body.fashion #tnmsh,
body.luxury #tnluxfas,
body.management #tnhr,
body.industry #tnfinance,
body.realestate #navrealestate li,
body.tech #tnatc,
body.opinion #tnljz {
	background: none !important;
}
body.homepage #navigation #navhomepage .dropdown,
body.bch #navigation #navbch .dropdown,
body.global #navigation #navglobal .dropdown,
body.economy #navigation #naveconomy .dropdown,
body.markets #navigation #navmarkets .dropdown,
body.money #navigation #navmoney .dropdown,
body.column #navigation #navcolumn .dropdown,
body.fashion #navigation #navfashion .dropdown,
body.luxury #navigation #navluxury .dropdown,
body.management #navigation #navmgt .dropdown,
body.industry #navigation #navindustry .dropdown,
body.realestate #navigation #navrealestate .dropdown,
body.tech #navigation #navtech .dropdown,
body.opinion #navigation #navopinion  .dropdown {
	display: none;
}
body.homepage #navigation #navhomepage a,
body.bch #navigation #navbch a,
body.global #navigation #navglobal a,
body.economy #navigation #naveconomy a,
body.markets #navigation #navmarkets a,
body.money #navigation #navmoney a,
body.column #navigation #navcolumn a,
body.fashion #navigation #navfashion a,
body.luxury #navigation #navluxury a,
body.management #navigation #navmgt a,
body.industry #navigation #navindustry a,
body.realestate #navigation #navrealestate a,
body.tech #navigation #navtech a,
body.opinion #navigation #navopinion a {
	color: #E36627;
}
body.homepage #navigation #navhomepage li a,
body.bch #navigation #navbch li a,
body.global #navigation #navglobal li a,
body.economy #navigation #naveconomy li a,
body.markets #navigation #navmarkets li a,
body.money #navigation #navmoney li a,
body.column #navigation #navcolumn li a,
body.fashion #navigation #navfashion li a,
body.luxury #navigation #navluxury li a,
body.management #navigation #navmgt li a,
body.industry #navigation #navindustry li a,
body.realestate #navigation #navrealestate li a,
body.tech #navigation #navtech li a,
body.opinion #navigation #navopinion li a {
	color: #093d72;
	height: 21px;
	line-height: 21px;
	padding: 0;
}
body.homepage #navigation #navhomepage li a:hover,
body.bch #navigation #navbch li a:hover,
body.global #navigation #navglobal li a:hover,
body.economy #navigation #naveconomy li a:hover,
body.markets #navigation #navmarkets li a:hover,
body.money #navigation #navmoney li a:hover,
body.column #navigation #navcolumn li a:hover,
body.fashion #navigation #navfashion li a:hover,
body.luxury #navigation #navluxury li a:hover,
body.management #navigation #navmgt li a:hover,
body.industry #navigation #navindustry li a:hover,
body.realestate #navigation #navrealestate li a:hover,
body.tech #navigation #navtech li a:hover,
body.opinion #navigation #navopinion li a:hover {
	background-color:#c74b15;
	color:#FFF;
	padding-top:2px;
}
#content {
	margin-top: 22px; _margin-top:28px;
}
#header-wrapper, #header, #nav, #nav ul, #nav ul li {
  z-index: 100;
}
#header-wrapper, #header, #user-account, #welcomeuser, #loginpanel, #edition-picker, #edition-picker.editions-wrapper {
	z-index: 1000;
}

/* Video Module ~ WSJ Live China */
#vid{
	display:none;
}
/* Video Module ~ WSJ Live China */