body{
  background: -webkit-linear-gradient(left, #aa0000, #25b7c4);
  background: linear-gradient(to right, #aa0000, #25b7c4);
  font-family: 'Roboto', sans-serif;
  margin: 50px;
}
  h1{
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
}
  h2{
  font-size: 26px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: left;
  margin-bottom: 15px;
}
  h3{
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: left;
  margin-bottom: 15px;
}
  p{
  font-size: 15px;
  color: #fff;
  font-weight: 300;
  text-align: left;
  margin-bottom: -5px;
}
  li{
  font-size: 14px;
  color: #fff;
  font-weight: 300;
  margin-bottom: 0px;
}

  a {
  color: #fff;
  text-decoration: underline;
}
  a:hover {
  text-decoration: none;
}

/* special... wow */
.special {
  color: #F50057;
}


/* table */
.customtable  {border-collapse:collapse;border-spacing:0;border-color:#aaa;margin:50px auto;}
.customtable a{color:#333}
.customtable th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aaa;color:#fff;background-color:#aa0000;}
.customtable tr{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aaa;color:#333;background-color:#fff;}
.customtable .customtable-r1{background-color:#FCFBE3;vertical-align:top}
.customtable .customtable-head{font-weight:bold;font-size:36px;vertical-align:top}
.customtable .customtable-r2{vertical-align:top}
th.tg-sort-header::-moz-selection { background:transparent; }th.tg-sort-header::selection      { background:transparent; }th.tg-sort-header { cursor:pointer; }table th.tg-sort-header:after {  content:'';  float:right;  margin-top:7px;  border-width:0 4px 4px;  border-style:solid;  border-color:#404040 transparent;  visibility:hidden;  }table th.tg-sort-header:hover:after {  visibility:visible;  }table th.tg-sort-desc:after,table th.tg-sort-asc:after,table th.tg-sort-asc:hover:after {  visibility:visible;  opacity:0.4;  }table th.tg-sort-desc:after {  border-bottom:none;  border-width:4px 4px 0;  }@media screen and (max-width: 767px) {.customtable {width: auto !important;}.customtable col {width: auto !important;}.customtable-wrap {overflow-x: auto;-webkit-overflow-scrolling: touch;margin: auto 0px;}}</style>


/* nocopyright section lulz */
.nocopyright {
  margin-top: 40px;
  padding: 10px;
  clear: left;
  text-align: center;
  font-size: 10px;
  font-family: arial;
  color: #fff;
}
.nocopyright i {
  font-style: normal;
  color: #F50057;
  font-size: 14px;
  position: relative;
  top: 2px;
}
.nocopyright a {
  color: #fff;
  text-decoration: underline;
}
.nocopyright a:hover {
  text-decoration: none;
}