body {
  background-image: url('../img/zvs_bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  height: 800px;
}
pre.logo {
  margin: 40px auto;
  text-align: center;
  width: 600px;
background: rgba(0,0,0,0.5);  
}
div.site-info-container {
  width: 600px;
  margin: 10px auto;
background: rgba(0,0,0,0.5);  
}
div.site-info-container #out {
  float: left;
  width: 100%;
}
div.site-info-container h3 {
  text-align: center;
  margin-bottom: 80px;
}
div.site-info-container ul {
  width: 100%;
  list-style-type: none;
  padding: 0;
  background: rgba(0,0,0,0.5);  
  float: left;
  margin: 0 0 20px 0;
}
div.site-info-container ul li {
  width: 100%;
  float: left;
}
div.site-info-container ul li span {
  display: block;
}
div.site-info-container ul li span.key {
  float: left;
}
div.site-info-container ul li span.val {
  float: right;
}

div.footer {
  position: fixed;
  bottom: 5px;
  background-color: rgba(0,0,0,0.5);
  width: 600px;
  text-align: center;
}
