* { 
	font-family: monospace; 
	line-height: 1.5em; 
	font-size: 13px; 
	vertical-align: middle; 
}

body, html { height: 100%; min-height: 100%; }
body { background-color: #F1F4F8; font-family: 'Roboto', sans-serif; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -o-backface-visibility: hidden; -ms-backface-visibility: hidden; backface-visibility: hidden ; margin: 0px; padding: 0px }

.build {
	font-size: 16px; 
	padding: 50px; 
}
#message { 
	padding: 0px; 
	width: 500px; 
	height: 34px; }

#send { 
	height: 34px; 
	margin-left: -2px; 
}

ul { 
	padding: 0px; 
}

li { 
	list-style-type: none; 
	border-top: 1px solid #eee; 
	padding: 5px 0px; 
}

li:nth-child(odd) { 
	background-color: #F9FAFD; 
}

li b { 
	color: #3F51B5; 
}

.leftbar { 
	width: 200px; 
	float: left; 
	height: 100%; 
	position: fixed;
	color: white; 
	background-color: #2A2D59; 
}

.logo {
	background-color: #FF5E3B;
	padding: 20px; 
	color: white; 
	text-transform: uppercase; 
	font-size: 20px; 
	font-family: monospace; 
	display: block; 
}

.person {
	
	padding: 20px; 
	color: white; 
	font-family: monospace;
	text-decoration: bold; 
	display: block; 
}

a#select_user {
	text-decoration: bold; 
	color: white;
}

.contacts { 
	background-color: #3366FF;
	padding: 10px; 
	color: white; 
	font-family: monospace; 
	display: block; 


}


#main {
	width: 700px;
	padding: 10px; 
	/*padding-bottom: 10px;*/ 
	/*border-right: 1px solid #F1F4F8;*/
	overflow-y: auto; 
	overflow-x: hidden;
	left: 200px; 
	height: 100%;
	position: fixed; 
	background-color: white;
}

#dialog {
	bottom: 50px;
	
}

#replica {	
	width: 100%;
	height: 50px; 
	position: fixed;
	bottom: 0px; 
	background-color: white;
}