/* Custom CSS */

/* https://habrahabr.ru/post/282079/ */
body {
	position: relative;
	background-color: #0b76bc;
    background-image: none;
}

body::before {
    background: url("/1F4WVHDpQYxuJL6xEY3EZTYkZds9TTjVHC/img/tecnology.jpg") no-repeat center center;
    background-size: cover;
	opacity: .7;
    content: ' ';
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    will-change: transform;
    z-index: -1;
}

.topmenu {
	margin-right: -10px;
}

/* Colors from http://www.color-hex.com/color-palette/28230 */

.head .logo {
	background-color: #334466;
}

h1.topics-title {
    color: #ffffff;
    text-shadow: 2px 2px 8px rgba(133,187,222, 0.9), 0 0 2em rgba(133,187,222, 0.7) !important;
}

.feed-follow {
	background-color: #bbdcfe;
	color: black;
}

a {
	color: #557788;
}

.button {
	background-color: #4d9df4;
	color: white;
}

.button:hover {
	background-color: #00569f;
	color: white;
}

.button-submit {
	border-bottom-color: #053d6c;
}

.button.save {
	background-color: #79a2ea;
}

.button.delete {
	background-color: #DB3207;
}

.topic-full {
	border-left: 2px solid #334466;
}

.editbg {
	background-color: #98c6f0;
}

.topic, .comment {
	nackground-color: #ddeeff;
}

.topic-new-link {
	background-color: #053d6c;
	color: white;
}

.topic-sticky .sticky-title {
	background-color: #0b76bc;
	color: white;
}

.topics-more {
	border: none;
	color: white;
}

.topics-more:hover {
	background-color: #00569f;
	color: white;
	border-color: #053d6c;
}

.center {
    max-width: 940px;
}
