* {
	font-family: "Courier New", Courier, monospace;
}

html, body {
	margin: 0;
	padding: 0;
	background-color: #373D2F;
}

.buttonlink {
	display: inline-block;
	border-radius: 5px;
	background-color: #4C8C4C;
	text-decoration: none;
	padding: 8px 10px 8px 10px;
	color: #ffffff;
}

.buttonlink:hover {
	background-color: #00A300;
}

nav {
	background-color: #02262B;
	font-weight: bold;
	margin: 0;
	padding: 0;
}

nav ul {
	text-decoration: none;
	margin: 0;
}

nav li {
	display: inline;
}

nav a {
	color: #ffffff;
	text-decoration: none;
	padding: 15px 8px 15px 8px;
	margin: 0;
	display: inline-block;
}

nav a:hover {
	background-color: #5F765D;
}

a {
	color: #ffffff;
}

a:hover {
	text-decoration: none;
}

.jumbotron {
	background-color: #C5B4E5;
	padding: 0;
	width: 100%;
	margin: 0 auto;
}

.jumbotron .container {
	max-width: 1000px;
	margin: 0 auto;
}

.container {
	padding: 50px;
}

.verticalLinkList a{
	display: inline-block;
	padding: 5px;
}

.linkList {
	margin: 20px;
}

.linkList a {
	padding: 10px;
	display: block;
	overflow-wrap: break-word;
}

.boxcontainer {
	margin: 0;
	padding: 20px 0 20px 0;
	max-width: 1000px;
	margin: 0 auto;
}

.thirdbox {
	width: 33.333%;
	margin: 0;
	padding: 0;
	display: inline-block;
	vertical-align: text-top;
	color: #ffffff;
}

.thirdbox * {
	margin: 5px;
}

.linkContainer {
	padding: 10px;
}

.linkContainer a {
	margin: 10px;
	display: inline-block;
}

.blog {
	max-width: 1000px;
	margin: 0 auto;
	padding: 5px 20px 5px 20px;
}

.blogpost {
	margin-top: 10px;
	padding: 10px;
	background-color: #CCCCCC;
	border-radius: 5px;
}

.blogpost a {
	color: #00A300;
}

.blogpost a:hover {
	color: #4C8C4C;
}

@media only screen and (max-width: 600px) {
    .thirdbox {
        display: block;
        width: 100%;
        max-width: 100%;
    }
}
