body {
    background-color:lightblue;
    /*background-image: url("Pintgi_a_tüntetésen.png"); */
}

h1 {
    color: darkkhaki;
}

div {
    margin: 1%;
    /*background-color: gray;*/
    align-content: center;
}

#növel {
    background-color: brown
}

#csökkent {
    background-color: darkcyan;
}

#számláló {
    border-style: groove;
    background-color: rosybrown;
}

#megnyit {
    background-color: lightblue;
}