.dropdown {
	display: inline-block;

	font-size: 12px;
	line-height: 12px;
	color: black;

	cursor: pointer;
}

.dropdown-icon {
	display: inline-block;
	width: 16px;
	height: 8px;

	background-image: url(../img/arrow_down.svg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.dropdown-options {
	display: none;
	min-width: 128px;
	overflow: hidden;

	position: fixed;
	z-index: 100000;

	background-color: #FFF;
	box-shadow: 0 0 5px #979797;
	border-radius: 4px;
}
.dropdown-option {
	display: block;
	padding: 8px;
}
.dropdown-option:hover {
	background-color: #DDD;
}
.dropdown-option:active {
	background-color: #4990E2;
	color: #FFF;
}

.dropdown-link {
	color: #4990E2;
}