.loading-cover {
	background-color: #DDD;
}

.loading-text {
	display: inline-block;

	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	font-size: 16px;
}

.loading-spinner {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 8px;
	vertical-align: middle;

	position: relative;
}

.loading-spinner-part-container {
	display: inline-block;
	width: 16px;
	height: 16px;

	position: absolute;
	left: 0;
	top: 0;

	animation: loading-spinner 2s infinite ease;
}

.loading-spinner-part-container-first {
	color: #9563F9;
}
.loading-spinner-part-container-second {
	color: #4990E2;
}

.loading-spinner-part {
	display: inline-block;
	width: 8px;
	height: 8px;
	overflow: hidden;

	position: relative;
}

.loading-spinner-part-container-first .loading-spinner-part {
	transform: rotate(0deg);
	margin: 8px 0 0 8px;
}
.loading-spinner-part-container-second .loading-spinner-part {
	transform: rotate(180deg);
	margin: 0 8px 8px 0;
}

.loading-spinner-part:before, .loading-spinner-part:after {
	content: "";

	display: inline-block;
	border-radius: 50%;

	position: absolute;
	transform: translate(-50%, -50%);
}
.loading-spinner-part:before {
	width: 16px;
	height: 16px;

	background-color: currentColor;
}
.loading-spinner-part:after {
	width: 10px;
	height: 10px;

	background-color: #DDD;
}

@keyframes loading-spinner {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(180deg);
	}
	50% {
		transform: rotate(180deg);
	}
	75% {
		transform: rotate(360deg);
	}
	100% {
		transform: rotate(360deg);
	}
}