[Unit]
Description=zeronet
After=network.target
Wants=network.target

[Service]
Type=simple
PIDFile=/run/zn.pid
ExecStart=/usr/bin/bash /redacted/for/privacy/zeronet/ZeroNet.sh
Restart=always
RestartSec=75s

[Install]
WantedBy=multi-user.target
