#top-menu {
  width: 100%;
  float: left;
  margin-bottom: 20px;
}
#top-menu ul {
  list-style-type: none;
}
#top-menu ul li {
  float: left;
  cursor: pointer;
}
#top-menu ul li a {
  display: block;
  padding: 10px;
}
#top-menu ul li + li {
  margin-left: 10px;
}
#sites-container {
  float: left;
  width: 100%;
}
