



/* about */
.main{ width:1000px; margin:0 auto; }
.pagebanner{ height:430px; text-align:center;margin-top: 80px;}
.ncontact{ background:#66c5b4;margin-top: 80px;  }
.contactbg{ overflow:hidden;*zoom:1;height:600px;}
.contactbg table{ margin:320px auto 0; width:830px; color:#fff;}
.contactbg table td{ padding:0 0 0 40px; color:#fff; font-size:16px}
.contactbg a,.contactbg a:hover{ color:#fff;}
.contactbg a:hover{ text-decoration:underline}
.newscom{ height:437px; background:#f0f0f0; overflow:hidden;*zoom:1;margin-top: 80px;}
.nxs{ width:515px; margin:81px 0 0; float:left}
.ncom{ height:276px; width:540px; float:left;margin:81px 0 0 21px; }
.ncom h2{ line-height:35px;}
.ncom h2 a{ font-size:18px; color:#333; font-weight:normal;}
.ncom .ndate{ color:#777777; font-family:Verdana;}
.ncom .desc{ height:125px; line-height:26px; color:#929292; margin:25px 0; padding-right:15px;}
 .share{ float:right; line-height:25px; height:25px; font-size:11px; font-family:Verdana;}
 .share a{ margin:0 5px; width:16px; display:inline-block; height:25px;}
 .share a.tqq{ background-position:-27px 0;}
 .share i{ display:inline-block; font-style:normal; height:25px; float:left;}
.ncom .cmore{ background:#66c5b4; float:left; height:25px; width:102px; display:block; float:left; line-height:25px; color:#fff; font-family:Verdana; text-align:center;}


.iwidth{ width:1080px; margin:0 auto}
.fl{ float:left !important; color:#777;}.fr{ float:right}.mt10{ margin-top:10px;}.mt15{ margin-top:15px;}
.lh24{line-height: 24px}.lh26{line-height: 26px}.lh28{line-height: 28px}

.header-article-list{width:1100px;margin:0 auto;position:relative;padding:4rem 0 .5rem;border-bottom:2px solid #eee}.header-article-list .article-position{position:absolute;margin-left:10px}.header-article-list .article-more-btn{position:absolute;right:0;margin-top:-26px;margin-right:10px}.header-article-list a{color:#858586}.header-article-list ul{margin:0;padding:0;text-align:center}.header-article-list li{list-style:none;display:inline-block}.header-article-list li a{margin:0 23.5px}.header-article-list li a:hover{color:#f2545d}.article-content{width:1100px;margin:0 auto;overflow:hidden}.article-content>div{margin:0;padding:0;overflow:hidden;position:relative;width:100%}.article-content .article-date{width:11.18%;height:.086%;background:#eee;display:inline-block;text-align:center;padding:23px 0;margin:31px 86px 31px 0}.article-content .article-date strong{color:#4c4d4d}.article-content .article-date p{color:#5a5b5b;margin:0;padding:0}.article-content .article-info{width:73.27%;display:inline-block}.article-content .article-info p{font-size:1.4rem;color:#878888;margin:-12px 0 0;padding:0;position:absolute}.article-content .article-info h3{margin:-46px 0 0;padding:0;position:absolute}.article-content ul{margin:0 0 100px;padding:0}.article-content ul li{list-style:none}.article-content ul li h3{color:#000}.article_list_more_header{width:1100px;margin:0 auto;padding:60px 0 10px;border-bottom:2px solid #eee}.article_list_more_header div{padding-left:13px}.article_list_more_header a{color:#7c7c7c}.article_list_more_pages{width:1100px;margin:0 auto;text-align:center}.article_list_more_pages ul{margin:0;padding:0;display:block}.article_list_more_pages li{list-style:none;display:inline-block;padding:0 .5rem}.article_list_more_pages li a{color:#878787}.article-on a,.contact-left{color:#f2545d}.article-content h4{text-align:center;padding:65px 0}.article-content main{padding:0 35px 100px;display:block;text-indent:2rem}.contact-right{position:absolute;right:0;margin-top:-26px;margin-right:10px}.contact{width:1100px;margin:0 auto;padding:50px 0}.contact img{width:60px;height:60px}.contact ul{width:38%;float:right}.contact li{list-style:none;position:relative;overflow:hidden;border-top:1px dashed #ccc;padding:30px 0}.contact h2,.contact p{display:inline-block;padding:0;float:left}.contact span{float:left}
.contact h2{margin:0 0 0 10px}.contact p{max-width:300px;overflow:hidden;margin:33px 0 0 -79px}



 .list_3 {
  background-color: #fff;
  padding: 0;
  text-align: center;
  margin-bottom: 30px;
  height: 322px;
 }

.list_3 em {
 display: block;
 padding-top: 25px;
}

.list_3 strong {
 display: block;
 padding: 25px 0px;
 font-size: 24px;
 font-weight: normal;
 color:#666;
}

.list_3 span {
 display: block;
 padding-bottom: 15px;
 line-height: 22px;
 color: #7f7f7f;
 width: 240px;
 margin: 0px auto;
 font-size: 14px;
 height: 105px;
}
.list_3  img{
 width:170px;height:170px;
}
