/*整站样式*/



    /* news */
.news_time{background: #2eafbb;width: 120px;height: 100%; padding: 88px 20px 55px 0;}
.news_time .day{display: block;font-size: 70px;color: #fff;font-family: "Impact";text-align: right;}
.news_time .year{display: block;
    color: #eee;
    text-align: center;
    line-height: 22px;
    margin-top: 25px;
    padding-left: 20px;}
.news_time .author{display: block;color: #eee;text-align: right;line-height: 22px;}
.news_time .type{display: block;text-align: center;padding-top: 6px;margin-top: 4px;padding-left: 20px;}
.news_time .type a{color: #fff;font-family: '宋体', Arial;}
    .news_tab{width:960px;overflow:hidden;}
    .news_list{width:960px;}
    .news_cont{width:780px;margin-right:20px;}
    .news_list_yuangong{width:100%;background:url("../images/news_yuangong_bg.jpg")/*tpa=http://www.szfangwei.cn/Public/Web/images/news_yuangong_bg.jpg*/ no-repeat center top  #95c9bc;height:1200px;margin-top:40px;}
    .news_list_yuangong ul{width:800px;margin:0px auto;}
.fl{float:left;}
.fr{float:right;}
.news_cont{width: 980px;margin-right: 40px;}
.news_cont h2{font-size: 20px;font-weight: normal;padding-top: 26px;}
.news_cont h2 a{color: #333;}
.news_cont a:hover{color: #2eafbb;}
.news_cont .demo{line-height: 24px;margin-top: 14px;}
.news_cont .vis{color: #999;line-height: 38px;margin-top: 12px;}
.news_cont .more{float: right;color: #2eafbb;display: inline-block;border: 1px solid #2eafbb;line-height: 38px;padding: 0 24px;}
.news_more{width: 1200px;margin: 40px auto 80px;text-align: center;}
.news_more a{display: block;font-size: 14px;color: #2eafbb;border: 1px solid #2eafbb;line-height: 38px;}
.news_list{width: 1200px;margin: 0 auto;overflow:hidden;}
.news_list li{background: #f7f7f7;zoom:1;margin-top: 40px;position: relative;}
.news_list .line{display: block;position: absolute;background: #2eafbb;}
.news_list li:after{content: "";clear: both;display: table;}

/* contact_pay */
    .pay_list{width:960px;}
    .pay_list table{width:auto;}
    .pay_list table td{font-size:13px;line-height:28px;width:240px;overflow:hidden;vertical-align: top;}
    .pay_list dt{height:80px;width:228px;overflow:hidden;}
    .pay_spec{font-size:13px;width:960px;}
    .pay_list dt.dt2{padding-left:6px;}
    .pay_list dd{padding-left:4px;}

    .mobile_column li{width:300px;margin-left:20px;}
    .wechat dl{margin-left:30px;margin-top:300px;float:left;}
    .wechat_intro{margin-top:60px;}
    .wi_left{margin-left:10px;width:350px;}
    .wi_right{width:400px;}

    /* solution */
    .solution_list{width:960px;}
    .solution_list li{margin-left:60px;}
    .solution_list ul{margin-right:0px;}
    .news_info{width:960px;}
    .news_menu{display:none;}
    .news_box{width:940px;padding-left:20px;}

    /* news */
    .news_tab{width:960px;overflow:hidden;}
    .news_list{width:960px;}
    .news_cont{width:780px;margin-right:20px;}
    .news_list_yuangong{width:100%;background:url("../images/news_yuangong_bg.jpg")/*tpa=http://www.szfangwei.cn/Public/Web/images/news_yuangong_bg.jpg*/ no-repeat center top  #95c9bc;height:1200px;margin-top:40px;}
    .news_list_yuangong ul{width:800px;margin:0px auto;}
    /* contact_pay */
    .pay_list{width:960px;}
    .pay_list table{width:auto;}
    .pay_list table td{font-size:13px;line-height:28px;width:240px;overflow:hidden;vertical-align: top;}
    .pay_list dt{height:80px;width:228px;overflow:hidden;}
    .pay_spec{font-size:13px;width:960px;}
    .pay_list dt.dt2{padding-left:6px;}
    .pay_list dd{padding-left:4px;}
