::-webkit-scrollbar {
  width: 10px;
  cursor: pointer !important;
}
::-webkit-scrollbar-track, ::-webkit-scrollbar-track:hover {
  background: rgba(0,0,0,0);
  border-radius: 0;
}
::-webkit-scrollbar-thumb {
  min-height: 100px;
  border-radius: 1px;
  background: #500;
}
::-webkit-scrollbar-thumb:hover {
  background: #800;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #400;
}