/* 404s etc */

html {
	background: #1b1b1b;
}

#error {
	margin: 0;
	position: fixed;
	top: 35%;
	display: block;
	width: 100%;
	min-width: 400px;
	font: bold 12pt Open Sans, Droid Sans, Noto Sans, Ubuntu, Segoe UI, Lucida Grande, sans-serif;
	border-top: 1px solid #510;
	border-bottom: 1px solid #510;
	box-shadow: 0 0 2px 2px #111;
	background: #555 url(resources/rat.png) right 10px bottom no-repeat;
	background-size: auto 80px;
}

.error {
	padding: 40px 25px 40px 86px;
	color: #ddd;
	text-shadow: 0 1px 1px #111;
	background: url(resources/error.png) 25px center no-repeat;
}

a, a:visited {
	outline: none;
	color: #610;
	text-decoration: none;
	text-shadow: none;
}

a:hover, a:focus {
	color: #d10;
}

a:active {
	color: #f10;
}
