body {
  font-size: 1.5em;
  font-family: tahoma, sans-serif;
  overflow-x: hidden;
}
#container {
  margin: 0;
  width:100%;
}
.content {
  height:450px;
  border: 1px solid #000;
  display: block;
}
img {
  float:right;
  height: 450px;
  position:relative;
  
}
.itemList {
  position:absolute;
  width: 100%;
  float: left;
  height:100%;
}

.itemList li {
  list-style-type:none;
  margin-left: 5px;
}

h1 {
  text-align:center;
}