/* https://www.flagcolorcodes.com/lesbian-pride */

body {
	background-color: #000000;
	font-size: large !important;
	margin: auto;
	margin-top:40px;
	font-family: monospace !important;
	color: #FFFFFF;
	max-width:900px;
	padding:0 10px;
}

h1, h3 {
	color: #D162A4;
	text-align: center;
}

h2, h4 {
	color: #FF9A56;
	text-align: center;
}

p, table {
	font-size: 120%;
}

a, a:visited {
	color: #B55690;
	text-decoration: none;
}

a.setup {
	color: inherit;
}

pre, code, b, strong {
	color: #FFBF69;
}

i, em, blockquote {
	color: #B3ECFF;
}

hr {
	border: 0;
	border-top: 5px dashed;
	color: #A30262;
}

hr.smaller {
	border: 0;
	border-top: 2px dashed;
	color: #D52D00;
}

.card {
	word-wrap: break-word;
	border: 1px solid white;
	padding: 10px;
}

img.index {
	float: left;
	padding: 15px;
}

img {
	width: 100px;
	max-height: 100px;
}

table {
	width: 100%;
	padding: 3px;
}

td {
	text-align: center;
}

span {
	text-align: center;
}
