/* Custom CSS */

/* https://habrahabr.ru/post/282079/ */
body{
	position: relative;
	background-color: white;
    background-image: none;
}

body::before {
    background: url("/1Jb5ZdmvTzVnHpa2hayjQk3H2kZgNVbmBb/img/sky.jpg") no-repeat center center;
    background-size: cover;
	opacity: .7;
    content: ' ';
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    will-change: transform;
    z-index: -1;
}

/* Colors from http://www.color-hex.com/color-palette/28230 */

.topmenu {
	margin-right: -10px;
	background-color: #5576ea;
}
.topmenu, .topmenu a {
	color: white;
}

.topmenu a b {
	color: yellow;
	text-decoration: underline;
}

.head .logo {
	background-color: #5576ea;
}

a {
	color: #3c31b4;
}

.button {
	background-color: #5576ea;
	color: white;
	border-bottom-color: #3c31b4;
}

.button.save {
	background-color: #79a2ea;
}

.button.delete {
	background-color: #DB3207;
}

.topic-full {
	border-left: 2px solid #5576ea;
}

.editbg {
	background-color: #98c6f0;
}

.avatar {
	float: right;
	width: 50px;
	height: 50px;
}
