.videoBlocCoq {
  /* The base font size controls the size of everything, not just text.
     All dimensions use em-based sizes so that the scale along with the font size.
     Try increasing it to 15px and see what happens. */
  font-size: 10px;
  /* The main font color changes the ICON COLORS as well as the text */
  color: #fff;
}

/* The default color of control backgrounds */
.videoBlocCoq .vjs-control-bar,
.videoBlocCoq .vjs-menu-button .vjs-menu-content {
  /* IE8 - has no alpha support */
  background-color: #303030;
  /* Opacity: 1.0 = 100%, 0.0 = 0% */
  background-color: transparent;
}

/* Slider - used for Volume bar and Progress bar */
.videoBlocCoq .vjs-slider {
  background-color: #73859f;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0px;
  height: 4px;
}

/* The main progress bar also has a bar that shows how much has been loaded. */
.videoBlocCoq .vjs-load-progress {
  /* For IE8 we'll lighten the color */
  background: ligthen(#fff, 10%);
  /* Otherwise we'll rely on stacked opacities */
  background: rgba(255, 255, 255, 0.1);
}

.videoBlocCoq .vjs-progress-holder {
  margin: 0;
}

.videoBlocCoq .vjs-progress-control .vjs-load-progress,
.videoBlocCoq .vjs-progress-control .vjs-play-progress {
  border-radius: 0px;
  height: 4px;
}

.videoBlocCoq .vjs-progress-control {
  margin-right: 17px;
}

/*get rid of gradient*/
.video-js .vjs-modal-dialog{
  background: none;
}

/*error text*/
.vjs-error .vjs-error-display .vjs-modal-dialog-content {
  font-size: 12px;
  padding: 1.25em;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.5);
  height: auto;
  position: relative;
  top: 50%;
  line-height: 1em;
  text-align: justify;
  transform: translateY(-50%);
}

.vjs-error .vjs-error-display .vjs-modal-dialog-content a {
  color: inherit;
}

.videoBlocCoq .vjs-big-play-button,
.videoBlocCoq .vjs-fullscreen-control,
.videoBlocCoq .vjs-volume-menu-button,
.videoBlocCoq .vjs-time-control,
.videoBlocCoq .vjs-progress-control:hover .vjs-play-progress:after,
.videoBlocCoq .vjs-progress-control:hover .vjs-mouse-display:after,
.videoBlocCoq .vjs-play-progress:before,
.vjs-error .vjs-error-display:before {
	display: none;
}

 /*loading spinner until play or error*/
.pasPrete {
  display: block;
}
.pasPrete:before,
.pasPrete:after {
  content: "";
  position: absolute;
  margin: -6px;
  box-sizing: inherit;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  opacity: 1;
  border: inherit;
  border-color: transparent;
  border-top-color: white; }

.pasPrete:before,
.pasPrete:after,
.pasPrete:before,
.pasPrete:after {
  -webkit-animation: vjs-spinner-spin 1.1s cubic-bezier(0.6, 0.2, 0, 0.8) infinite, vjs-spinner-fade 1.1s linear infinite;
  animation: vjs-spinner-spin 1.1s cubic-bezier(0.6, 0.2, 0, 0.8) infinite, vjs-spinner-fade 1.1s linear infinite; }

.pasPrete:before,
.pasPrete:before {
  border-top-color: white; }

.pasPrete:after,
.pasPrete:after {
  border-top-color: white;
  -webkit-animation-delay: 0.44s;
  animation-delay: 0.44s; }