.pgsndx{background:#be6aff;border-radius:5px;letter-spacing:1.7em;padding:0.6em 1em;margin-left:2em}
.pgsndx img{vertical-align:middle}
.pgsndx a:hover{filter:invert(8%)}
.surfbox{background:linear-gradient(180deg, rgba(190,106,255,0.296137339055794) 0%, rgba(190,106,255,0.09871244635193133) 50%, rgba(190,106,255,0.3047210300429185) 100%);padding:10px;border-radius:5px}
.surflink{max-width:720px;margin:0 auto;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.surflink a{background:#ffffff;padding:3px 5px;border-radius:5px;border:1px solid #dcdcdc}
		
.top-menu{margin:2em;background:#f8f8f8;background:linear-gradient(90deg, rgba(254,254,254,1) 0%, rgba(220,220,220,0.4) 50%, rgba(254,254,254,1) 100%)}
.menu-main{list-style:none;margin:0;padding:0}
.menu-main:after{content:"";display:table;clear:both}
.left-item{float:left}
.stat{background:#be6aff;color:#ffffff !important;border-radius:5px}
.menu-main a{text-decoration:none;display:block;line-height:50px;padding:0 15px;font-size: 1em;letter-spacing:0.1em;font-weight:bold;color:#000000;transition:.3s linear}
.menu-main a:hover{background:#be6aff;color:#ffffff;border-radius:5px;text-decoration:none}
@media (max-width:830px)
{.menu-main {text-align:center}.menu-main li{float:none;display:inline-block}.menu-main a{line-height:normal;padding:20px 15px;font-size:1em}}
@media (max-width:630px){.menu-main li {display:block}}