body {
 color: White;
}

.main {
 width: 85%;
 margin-top: 25px;
 margin-left: 10%;
}

.results {
  width: 100%;
}

.row.new {
 background: Orange;
}

.date_added {
 display:none;
}

.row {
 width: 100%;
 margin-top: 10px;
 padding: 7px;
 background: Navy;
}
.row:hover {
 background: Purple; 
}

.row:hover .date_added {
 display: inline;
}

.row a {
 color: White;
 text-decoration: none;
}

.username {
 width: 100%;
 background-color: Navy;
 padding: 10px;
 overflow: hidden;
 text-align: center;
}

.username:hover {
  background-color: Purple;
}

.username span {
 font-size: 18pt;
}

.editor {
 border: none;
 background: none;
 color: White;
 width: 100%;
 resize: none;
 font-size: 14pt;
}

.button {
  background: none;
  border: solid 1px white;
  padding: 4px;
}

.button:hover {
  background: Orange;
}

.hidden {
  display: none;
}

