body {
	background: #000000;
	background-image: url("./dot.gif");
}

::selection {
  background: #000; /* WebKit/Blink Browsers */
  color: #fff;
}

::-moz-selection {
  background: #000; /* Gecko Browsers */
  color: #fff;
}

a, a:visited {
	text-decoration: none;
	color: #cb2525;
}

a:hover {
	color: #cb2525;
}

a img {
    box-shadow: 0 0 5px #000;
    opacity: 0.9;
}

a img:hover {
    opacity: 1;
}

#main {
	max-width: 666px;
	margin: 0 auto;
	margin-top: 15px;
	background-color: #000000;
	border: thin solid #cb2525;
}

#content {
	max-width: 400px;
	margin: 0 auto;
	text-align: center;
	color: #cb2525;
	font-size: 10px;
	font-family: verdana;
}

 #contentg {
	margin: 0 20px;
	color: #cb2525;
	font-size: 10px;
	font-family: verdana;
 }

#logo {
	width: 240px;
	height: 64px;
	display: block;
	margin: 15px auto;
	background: url("//zer0day.to/images/logo.png") no-repeat;
}

#links {
	display: block;
}

#info {
	display: inline-block;
}

#info ul {
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style-position: inside;
}

#info li {
	padding-left: 2em;
	text-indent: -2em;
}

#footer {
	display: block;
	margin: 15px 0 15px 0;
}

#tracker {
	font-size: 16px;
	font-weight: bold;
	color: #00cc00;
}

#othertrackers {
	/*display: inline-block;*/
	margin: 0 auto;
	font-size: 10px;
	font-weight: bold;
	color: #cb2525;
	text-align: left;
}

.g2 {
	color: #00cc00;
}

.b {
	font-weight: bold;
}

input:not([type="checkbox"]), textarea {
  border: none;
  box-sizing: border-box;
  width: 60%;
  border-radius: 5px;
  outline: none;
  text-align: center;
  font-weight: bold;
  color: #000!important;
  padding-bottom: 1px;}
  
  .trackerbar{
	width:60%;
	height:17px;
	margin-left:20%;
	background-color:#cb2525;
	border-radius:5px;
	outline:none;
	text-align:center;
	font-weight:bold;
	font-size:0.9em;
	color:#000;
	padding-top:1px;}
	
	.gey {
		color: fff;
	}


