BODY{
SCROLLBAR-FACE-COLOR: #646400;
SCROLLBAR-HIGHLIGHT-COLOR: #646464;
SCROLLBAR-SHADOW-COLOR: #000000;
SCROLLBAR-3DLIGHT-COLOR: #646464;
SCROLLBAR-ARROW-COLOR: #646464;
SCROLLBAR-TRACK-COLOR: #323232;
SCROLLBAR-DARKSHADOW-COLOR: #000000;
}
a{
color : #4A0000;
text-decoration : none;

}
a:hover{
color : #D70000;
}
