.column-header {
	display: inline-block;
	width: calc(100% - 10px);
	height: 12px;

	margin-bottom: 8px;
	padding: 5px 0 5px 8px;

	border: 1px solid gray;

	font-size: 12px;
	line-height: 12px;
}
.column-header-section {
	float: left;
}
.column-header-dropdown {
	float: right;
	padding-right: 4px;
}