body {
    text-align: justify
    }
blockquote {
    margin: 0 0 0 2em
    }
p {
    margin: 0;
    text-indent: 1.5em
    }
.bold {
    font-weight: bold
    }
.italic {
    font-style: italic
    }
.underline {
    text-decoration: underline
    }
.mbp_pagebreak {
    page-break-after: always;
    margin: 0;
    display: block
    }
.calibre_43358 {
    margin-top: 0;
    text-indent: 24px
    }
.calibre_61 {
    margin-top: 48px;
    text-align: center
    }
.calibre_173 {
    margin-top: 0;
    text-indent: 28px;
    text-align: justify
    }
.calibre_43356 {
    text-indent: 33%
    }
.calibre_206 {
    text-indent: 28px
    }
.calibre_133 {
    text-indent: 63px
    }
.calibre_132 {
    color: red
    }
.calibre_134 {
    margin-top: 0;
    text-indent: 63px;
    text-align: justify
    }
.calibre_1452 {
    color: #930
    }
.calibre_1453 {
    margin-top: 0;
    text-indent: 28px
    }
.calibre_37918 {
    text-indent: 24px
    }
.calibre_29741 {
    text-align: left
    }
.calibre_63 {
    height: 48px
    }
.calibre_1410 {
    text-indent: 361px
    }
.calibre_1411 {
    margin-top: 0;
    text-indent: 361px;
    text-align: justify
    }
.calibre_64 {
    text-indent: 2em
    }
.calibre_4799 {
    color: #936
    }
.calibre_1509 {
    color: #396
    }
.calibre_3568 {
    margin-top: 0;
    text-indent: 38px
    }
.calibre_165 {
    margin-top: 0;
    text-align: justify
    }
.calibre_2986 {
    margin-top: 0;
    text-indent: 24px;
    text-align: left
    }
.calibre_181 {
    margin-top: 0;
    text-indent: 220px;
    text-align: justify
    }
.calibre_1397 {
    margin-top: 0;
    text-indent: 365px;
    text-align: justify
    }
.calibre_129 {
    color: #7e3f00
    }
.calibre_2056 {
    color: #f60
    }
.calibre_126 {
    margin-top: 0;
    text-align: center
    }
.calibre_3375 {
    margin-top: 0;
    text-align: left
    }
.calibre_1575 {
    color: #036
    }
.calibre_58 {
    text-align: center
    }
.calibre_55 {
    margin-top: 64px;
    text-align: center
    }
.calibre_54 {
    height: 24px
    }
.calibre_1448 {
    margin-top: 0;
    text-indent: 0
    }
.calibre_51 {
    text-indent: 2em;
    text-align: center
    }
.calibre_3567 {
    text-indent: 38px
    }
.calibre_2842 {
    margin-top: 0;
    text-indent: 24px;
    text-align: justify
    }
.calibre_20684 {
    margin-top: 0;
    text-indent: 78px;
    text-align: left
    }
.calibre_1466 {
    color: blue
    }
.calibre_10466 {
    margin-top: 0;
    text-indent: 32px;
    text-align: center
    }
.calibre_8347 {
    margin-top: 0;
    text-indent: 28px;
    text-align: left
    }
.calibre_3749 {
    color: purple
    }
