.block_ {
    display: block;
    font-family: "楷体_GB2312", monospace;
    font-size: 1.29167em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block_1 {
    display: block;
    font-family: serif;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block_2 {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.block_3 {
    display: block;
    font-family: serif;
    margin-bottom: 0;
    margin-left: 1.58e +3pt;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: left
    }
.block_4 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block_5 {
    display: block;
    font-family: serif;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.block_6 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 2em
    }
.block_7 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: always;
    text-align: justify;
    text-indent: 2em
    }
.block_8 {
    display: block;
    font-family: "SimHei", monospace;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 13pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 13pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: justify;
    text-indent: 2em
    }
.block_9 {
    display: block;
    font-family: serif;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 2em
    }
.calibre {
    color: black;
    display: block;
    font-family: "宋体", serif;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    display: block;
    page-break-after: always
    }
.calibre2 {
    line-height: 1.2;
    white-space: pre-wrap
    }
.calibre3 {
	line-height: 150%;
    text-decoration: none
    }
.calibre4 {
    white-space: pre-wrap
    }
.text_ {
    font-size: 1em
    }
.text_1 {
    font-size: 1.29167em;
    line-height: 1.2
    }
.text_2 {
    font-family: "Times New Roman", serif
    }
.text_3 {
    color: #00F;
    font-family: "宋体", monospace;
    text-decoration: underline
    }
.text_4 {
    font-family: "宋体", serif;
    font-size: 1em
    }
.text_5 {
    font-family: "SimHei", monospace;
    font-size: 1.83333em;
    line-height: 1.2
    }
