body {
	margin: 25px; background: #000;
	font-family: Verdana, sans-serif; color: #ccc;
}
a {
	font-family: Verdana, sans-serif; color: #4CAF50;
	text-decoration: underline;
}
IMG.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    height: auto;
    width: 180px;
}
.example {
    color: #4CAF50; font-size: 1.2em;
}
.letterline {
    padding:6px;
    margin-left: 10px;
}
.text {
    margin-left: 14px;
}
div.gallery {
    border: 1px solid #222;
	display: inline-block;
    width: 435px;
    height: 230px;
    margin: 10px;
    border: 1px solid #222;  
}
div.gallery:hover {
    border: 1px solid #777;
    box-shadow: 0 0 13px 5px rgba(230,115,228,1);
	
}
}
div.desc {
    padding: 10px;
    text-align: center;
    font-size: 0.85em;
}
* {
    box-sizing: border-box;
}
.responsive {
    padding: 6px;
    float: left;
    width: 14.222222%;
}
ul {
    list-style-type: none;
    margin: 4px;
    padding: 0;
    overflow: hidden;
    background-color: #4CAF50;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #222;
}
.active {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
h1 a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}
h3 {
    margin: 5px 0 25px 0;
}
video {
	width: 408px;
    height: 230px;
}
.floating-box {
    display: inline-block;
    width: 408px;
    height: 230px;
    margin: 10px;
    border: 1px solid #222;
}

div.shows {
    border: none;
}

.boxy {
    padding: 6px;
    float: right;
    width: 40%;
}
div.detail {
    float: left;
    margin-left: 10px;
    width: 50%;
}
div.detail a:link, a:visited, a:active {
    text-decoration: none;
}
div.detail a:hover {
    text-decoration: underline;
}
@media only screen and (max-width: auto){
    .responsive {
        width: 50%;
        margin: 6px 0;
	    font-size: 12px;
    }
}
@media only screen and (max-width: auto){
    .responsive {
        width: 100%;
    }
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
