body { background-color: #ECF1F5; font-family: Roboto; margin: 0px; padding: 0px; backface-visibility: hidden }

#Head { margin: 0px 20px; text-align: center; }
#Head h1 {
	font-size: 300%; color: #EE1865; margin-top: 20px; display: inline-block; font-weight: 100; vertical-align: 12px;
	background: -webkit-linear-gradient(left, #EB0080, #EF193E 70%); -webkit-background-clip: text; -webkit-text-fill-color: transparent;
}
#Head h2 {
	font-size: 14px; padding-left: 138px; font-weight: lighter; color: #AAA; width: 280px; margin: 0px auto; text-align: left; margin-top: -41px; letter-spacing: 0.5px;
}


#SiteLists { max-width: 1600px; margin: 30px auto; padding: 20px; position: relative; text-align: right }

.addsite {
	border-bottom: 2px solid rgba(0,0,0,0); position: absolute; right: 0px; top: -6px; transition: all 0.3s;
	margin-right: 37px; text-transform: uppercase; text-decoration: none; color: #888787; font-size: 13px;
}
.addsite:hover { border-bottom: 2px solid #C4C7CA }

.sitelist {
	width: 33.33%; background-color: white; padding: 10px; border-radius: 3px; border: 1px solid #E8EDF1; box-sizing: border-box; text-align: left;
	box-shadow: 0px 5px 11px -3px rgba(0,0,0,0.1); display: inline-block; vertical-align: top; margin-bottom: 10px; margin-left: -1px;
}
.sitelist h2 { font-weight: 100; font-size: 24px; margin: 12px; color: #E91E63; }

.site { padding: 15px; border-top: 1px solid #EEE; display: block; text-decoration: none; color: #333; transition: all 0.3s }
.site:hover { background-color: #F8FAFB; transition: none }
.site:hover .go { color: #666 }
.site .title { font-weight: bold; font-size: 120%; margin-bottom: 5px; display: inline-block; overflow: hidden; white-space: nowrap; max-width: 90%; text-overflow: ellipsis;}
.site .description { opacity: 0.8; font-size: 90%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.site .go { float: right; font-size: 163%; line-height: 43px; vertical-align: middle; color: #D3D9DE }
.site .tag { display: inline-block; text-transform: uppercase; font-size: 11px; margin-left: 10px; padding: 3px 10px; border-radius: 12px; vertical-align: 12px }
.site .tag-new { color: #2ecc71; border: 1px solid #2ECC71; }
.site .tag-popular { color: #E91E63; border: 1px solid #F48FB1; }
