.epigraph {
	text-align: right;
	border-left: none;
	border-right: 3px solid #333;
	margin-right: 0px;
	padding-right: 1em;
}

.theme-dark blockquote {
	border-right-color: #83efff;
}

.wip .title a {
	color: #ff97f1 !important;
}

.post .body pre code {
	max-width: 700px;
}