*{
  padding: 0;
  margin: 0;
}

html,body{
  height: 100%;
  min-height: 100%;
}

body{
  display: flex;
  flex-direction: column;
}

#header{
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
}

#city{
  font-weight: bold;
  background-color: lightgray;
  padding-left: 5px;
  padding-right: 5px;
}

#pop{
  font-weight: bold;
  background-color: lightgray;
  padding-left: 5px;
  padding-right: 5px;
}

#resources{
  display: flex;
}

#resources > div{
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
}

/* resource image */
#resources > div > img{
  width: 24px;
  height: 24px;
  background-color: black;
}

/* resource amount */
#resources > div > span{
}

#playground{
  flex: 1;
  border: 1px solid green;
  display: flex;
}

#pgcity{
  flex: 1;
  border: 1px solid blue;
  overflow: auto;
  padding: 3px;
}

#pgwar{
  flex: 1;
  border: 1px solid red;
}

#buildings > div{
  border: 1px solid gray;
  display: flex;
  border-radius: 8px;
  background-color: #EEEEEE;
  margin-bottom: 5px;
}

#buildings > div > img{
  border-radius: 8px;
  margin-right: 3px;
}

#buildings > div > ul{
  list-style-type: none;
}

span.button{
  border-radius: 5px;
  padding-left: 3px;
  padding-right: 3px;
  background-color: white;
  color: orange;
  border: 1px solid orange;
  margin: 1px;
}

span.button:hover{
  cursor: pointer;
  background-color: orange;
  color: white;
  border: 1px solid white;
}

#units > div{
  display: flex;
  background-color: #EEEEEE;
  align-items: center;
}

#units > div > input[type=text]{
  width: 40px;
}

#travels > div{
  display: flex;
  background-color: #EEEEEE;
  align-items: center;
}

#travels > div > span.friendly{
  color: white;
  background-color: green;
  font-weight: bold;
  padding: 2px;
}

#travels > div > span.hostile{
  color: white;
  background-color: red;
  font-weight: bold;
  padding: 2px;
}


