vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|20 Feb 2011 16:46:50 -0000
vti_extenderversion:SR|6.0.2.5516
vti_author:SR|COMSTAR1\\Rick
vti_modifiedby:SR|COMSTAR1\\Rick
vti_timecreated:TR|20 Feb 2011 16:46:50 -0000
vti_cacheddtm:TX|20 Feb 2011 16:46:50 -0000
vti_filesize:IR|426
vti_cachedlinkinfo:VX|S|images/menu_left.gif S|images/cats_left.gif
vti_cachedsvcrellinks:VX|FSUS|United\\ Christian\\ Television/images/menu_left.gif FSUS|United\\ Christian\\ Television/images/cats_left.gif
vti_backlinkinfo:VX|United\\ Christian\\ Television/about.html United\\ Christian\\ Television/rickkennedy.html United\\ Christian\\ Television/stephenturner.html United\\ Christian\\ Television/steveyoungblood.html United\\ Christian\\ Television/index.html United\\ Christian\\ Television/contactus.html
