 html, body {
     color: #bbb;
     font-family: t, "Noto Sans", sans-serif;
     height: 100%;
}
 html {
     margin: 0 3%;
     min-height: 100%;
     border-left: 5px solid #444;
     border-right: 5px solid #444;
     border-image: repeating-linear-gradient(to bottom, #111 2px, #111 3px, #333 4px) 1 5 repeat;
     background: repeating-linear-gradient(to bottom, #111 1px, #000 2px, #222 3px);
}
 body {
     padding: 10% 5%;
     min-width: 600px;
     min-height: calc(100% - 40px);
     font-family: t, "Noto Sans", sans-serif;
     font-size: 14pt;
     text-align: center;
     color: #efefef;
     text-shadow: 0 1px 1px #000;
     border: 1px solid #222;
     box-shadow: 0 0 0 1px #000, 0 0 0 8px #080808, inset 0 0 0 1px #311;
     background: #000;
     background: linear-gradient(to bottom, #080000, #000);
     animation: ease fade-in 3s forwards 2s, linear zoom-in 0.3s forwards 2.2s;
     filter: opacity(0);
     filter: opacity(0);
     transform: scale(0);
     overflow-y: hidden !important;
}
 #photos {
     vertical-align: middle;
     height: 100%;
     margin: 4px;
}
 #photos img {
     max-width: 240px !important;
     height: auto !important;
     max-height: 72px !important;
     border: 1px solid #222;
     padding: 4px;
     background: #ddd;
     vertical-align: middle;
     margin: 4px 2px;
     opacity: 0.8;
}
 #photos a:hover img {
     border: 1px solid #611 !important;
     opacity: 1;
     box-shadow: 0 0 0 1px #711;
}
 @keyframes glow {
     from: {
         text-shadow: 0 0 1px #000, 0 0 3px #411;
    }
     to {
         text-shadow: 0 0 2px #000, 0 0 10px #f30;
    }
}
 @keyframes fade-in {
     from: {
         filter: opacity(0);
    }
     to {
         filter: opacity(1);
    }
}
 @keyframes zoom-in {
     from: {
         transform: scale(0)
    }
     to {
         transform: scale(1);
    }
}
 @font-face {
     font-family: "s";
     src: url(../../s.woff2) format("woff2");
}
 @font-face {
     font-family: "t";
     src: url(../../t.woff2) format("woff2");
}
 a {
     text-decoration: none;
     color: #611;
}
 .super {
    font-size: 80%;
     vertical-align: super;
     display: inline-block;
     margin-left: 2px;
}
 p {
     border-top: 1px solid #311;
     padding-top: 15px;
     margin-top: 35px;
}
 #toplinks {
    text-align: center;
     font-size: 11pt;
     color: #530;
     letter-spacing: 0;
     margin: 1px auto;
     padding: 1px 6px 3px;
     background: linear-gradient(to bottom, #100 50%, #000 50%);
     position: absolute;
     top: 0;
     left: 2px;
     width: calc(100% - 16px);
     display: inline-block;
     border-bottom: 1px solid #311;
}
 #toplinks a {
    background: linear-gradient(to bottom, #180000 50%, #000 50%);
     margin: 0 -2px;
     border: 1px solid #311;
     padding: 3px 4%;
     text-decoration: none;
     box-shadow: inset 0 0 0 1px #000;
     color: #722;
     font-weight: bold;
}
 #toplinks a:hover, #toplinks a:focus {
    background: linear-gradient(to bottom, #200 50%, #000 50%);
     color: #930;
}
 #toplinks a:active {
    box-shadow: inset 0 0 0 1px #000, inset 3px 3px 2px #000;
     color: #511;
}
