html {
	height: 100%;
}

body {
	color: #c7c7c7;
	background-color: #161616;
	font-family: 'Anaheim';
	font-size: 2.2em;
	height: 100%;
}

a,
a:hover,
a:focus,
.entry-content a,
.entry-content a:hover,
.entry-content a:focus
 {
	color: #f44;
	text-decoration: none;
	border-bottom: none;
}

.entry-content a:hover {
	border-bottom: 2px solid;
}

#giugno-2016-val-di-susa-torino {
	text-align: center;
	color: white;
}

h2 {
	text-align: center;
}

h1, h2, h3, h4, strong, tt {
	color: white;
}

.navbar {
	background-color: #e12b2b;
}

.navbar .navbar-brand,
.navbar .navbar-nav > li > a  {
	color: black;
}

.navbar .navbar-nav > .active > a, 
.navbar .navbar-nav > .active > a:hover, 
.navbar .navbar-nav > .active > a:focus {
	color: white;
	background-color: #161616;
}

.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus,
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
	color: black;
}

.navbar-brand {
	font-size: 21px;
}

blockquote {
	border: 1px solid #383838;
	background-color: #272626;
	text-align: justify;
	font-size: 21px;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}
