#header {
    position: static !important;
}

.wp-block-button__link.has-background:hover {
    opacity: .9;
}

.menu-btn span {
        background-color: #CCC;
}

@media (max-width: 1199px) {
.site-branding {
        margin-left: 65px;
}
}

.pro-tip {
    background-color: #eee;
    padding: 20px 30px;
}

.pro-tip + .pro-tip {
    margin-top: -40px;
}

.yellow-box {
                background-color: #FDFDE1;
    padding: 0px 20px 0px 20px;
    border-top: solid 2px;
          border-left: solid 2px;
          border-right: solid 2px;
}
.yellow-box + .yellow-box {
                background-color: #FDFDE1;
    padding: 20px 20px 10px 20px;
  border-top: none;
        margin-top: -40px;
  margin-bottom: -20px;
}
.yellow-box + h2 {
        padding-top: 20px;
        border-top: solid 2px;
}

.box-left + .box-left {
    margin-top: -40px;
}


.box-right {
                background-color: #FDFDE1;
    padding: 20px 20px;
    margin-left: 15px;
          max-width: 300px;
          float: right;
}
.box-right + .box-right {
    margin-top: -40px;
}


.tutorial {
                background-color: #ebf7e4;
    padding: 20px 30px;
}

.tutorial + .tutorial {
    margin-top: -40px;
}
.collapser {
        color: #ebf7e4;
        font-weight: bold;
}
.collapsible {
  display: block;
  margin-bottom: 1rem;
}
.collapsible input {
  position: absolute;
  left: -9999px;
}
.collapsible input:focus ~ .collapser {
  border-color: grey;
}
.collapsible .collapser {
  cursor: pointer;
  border: 1px transparent dotted;
}
.collapsible .arrow {
  margin-left: 0.5em;
  float: left;
        display: inline;
  transform: rotate(90deg);
  transition: transform .25s ease-out;
}
.collapsible input:checked ~ .arrow,
.collapsible input:checked ~ .collapser .arrow {
  transform: rotate(270deg);
}
.collapsible .collapsed {
  font-size: 0;
  margin: 0;
  opacity: 0;
  padding: 0;
  transition: opacity .25s, margin .5s 0.25s, font-size .5s 0.25s, padding .5s .25s;
}
.collapsible input:checked ~ .collapsed {
  font-size: 16px;
        background-color: #ebf7e4;
  opacity: 1;
  height: auto;
  padding: 5px 0;
  transition: margin .25s, padding .25s, font-size .25s, opacity .5s .25s;
}

.wp-svg-info.info {
        width: 40px;
        line-height:16px;
        background-color: #0085ba;
        display: inline-block;
        text-align: center;
        border: solid 2px;
}

.wp-svg-info.info::before {
  font-size: 18px;
  font-weight: bold;
        color: #fff;
        content: "info";
}

.wp-svg-warning.warning {
    padding: 0 10px 0 0;
    font-weight: bold;
}

.wp-svg-warning::before {
    content: "A0";
}

#personal   {
float: right;    
 margin: 0 0 0 15px;
}

.info-box  {
        max-width: 300px;
        float: left;
        margin-right: 30px;
        background-color: #FDFDE1;
        padding: 30px 30px 30px 30px;
}

.boxed-text {
        font-weight: bold;
        font-size: 20px;
  max-width: 400px;
        text-align: center;
        padding: 10px 10px 10px 10px;
        border: solid 2px;
}
@import "https://fonts.googleapis.com/css?family=Raleway";
* { box-sizing: border-box; }
}
h1{ margin: 0; }
#contact { 
  margin: 4em auto;
  width: 100px; 
  height: 30px; 
  line-height: 30px;
  background: teal;
  color: white;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  border: 1px solid white;
}


#contact:hover { background: #666; }
#contact:active { background: #444; }

#contactForm { 
  display: none;

  border: 6px solid salmon; 
  padding: 2em;
  width: 400px;
  text-align: center;
  background: #fff;
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%)
  
}

input, textarea { 
  margin: .8em auto;
  font-family: inherit; 
  text-transform: inherit; 
  font-size: inherit;
  
  display: block; 
  width: 280px; 
  padding: .4em;
}
textarea { height: 80px; resize: none; }

.formBtn { 
  width: 140px;
  display: inline-block;
  
  background: teal;
  color: #fff;
  font-weight: 100;
  font-size: 1.2em;
  border: none;
  height: 30px;
}
.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid blue;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

.menu-container {
    display: block !important;
}

.menu-btn-toggle {
    display: none !important;
}

.site-branding {
    margin-left: 0 !important;
}

@media (max-width: 991px) {
.menu-main-container {text-align: center}
}


