.texts.centers,.elements{
 margin:auto;width:98%;
}
body{
 background-color:#f0f0f0;
 color: #333;
 }
#header{
 background-color:#339966;
 height: 82px;
 }
#select_user,#message,.rightt{
 float:right;
 }
.elements{
 background-color:#66CC66;
}
.columns{
 float:left;
 margin: 0px
}
.title{
 float:left;
 width:300px;
 height: 15px
}
p{
	margin:3px;
}
h1,h2,h3{
 margin-left:1px;
}
#message{
 width: 600px;
 height: 70px;
 margin: 3px;
}
.rightt{
 width:42px;
 margin-top:3px;
}