.button {
  font-size: 1em;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: #333333;
}

.overlay1 {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay1:target {
  visibility: visible;
  opacity: 1;
}

.popup1 {
  margin: 20px auto;
  padding: 30px;
  background: #242629;
  border-radius: 5px;
  width: 70%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup1 h2 {
  color: #ffffff;
  font-family: "Source Sans Pro", Helvetica, sans-serif;;
}
.popup1 .close {
  position: absolute;
  top: 10px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup1 .close:hover {
  color: #333333;
}
.popup1 .content {
  max-height: 30%;
  overflow: auto;
}

.overlay2 {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay2:target {
  visibility: visible;
  opacity: 1;
}

.popup2 {
  margin: 20px auto;
  padding: 30px;
  background: #242629;
  border-radius: 5px;
  width: 70%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup2 h2 {
  color: #ffffff;
  font-family: "Source Sans Pro", Helvetica, sans-serif;;
}
.popup2 .close {
  position: absolute;
  top: 10px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup2 .close:hover {
  color: #333333;
}
.popup2 .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .popup1{
    width: 70%;
  }
}

@media screen and (max-width: 700px){
  .popup2{
    width: 70%;
  }
}
