@font-face {font-family: Vazir;src: url('fonts/Vazir.woff');font-weight: normal;font-style: normal;}
@font-face {font-family: Vazir;src: url('fonts/Vazir-Bold.woff');font-weight: bold;font-style: bold;}
*{vertical-align:middle;font:13px/1.5em Vazir}
body{background-color:#121818;backface-visibility:hidden}
ul{padding:0}
li{list-style-type:none;padding:5px 0 5px 130px}
li b{color:#3F51B5}
small{color:#999;width:130px;display:inline-block;text-align:right;margin-left:-136px}
.msg_container{margin-left:12%;margin-right:12%;margin-top:40px;}
.rtl{direction:rtl;text-align:right}
.ltr{direction:ltr;text-align:left}
.message{overflow-wrap:break-word;color:#fff}
.m_right{background-color:#2a4968}
.m_left{background-color:#233444}
.link,a{color:#aad1f7}
.reply_btn:hover{color:#fff;cursor:pointer}
.avatar-circle{width:40px;height:40px;border-radius:25px;font-size:21px;line-height:52px;display:flex;align-items:center;justify-content:center;color:#fff}
.username{font-size:16px;font-weight:700;padding-top:2px;padding-bottom:2px}
.username:hover{cursor:pointer}
.time{padding-top:10px;padding-bottom:2px;color:gray}
.message{margin-bottom:10px;border-radius:2px}
.right{text-align:right;margin-left:50%}
.right .avatar-circle{float:right}
.right .message{margin-right:43px}
.right .time{text-align:left;margin-left:5px}
.right .username{margin-right:5px}
.left{text-align:left;margin-right:50%}
.left .avatar-circle{float:left}
.left .message{margin-left:43px}
.left .time{text-align:right;margin-right:5px}
.left .username{margin-left:5px}
.input_message{width:100%;min-width:100%; max-width:100%;background-color:#202020;color:#fff;height:50px;min-height:50px;border:none;padding:10px;display:inline;margin-left:auto;position:relative;margin-right:auto}
.send_btn{border:none;background-color:#3671a4;color:#fff;padding:25px 20px;text-align:center;text-decoration:none;display:inline;position:absolute;max-height:50px;}
.msg_body{padding-left:15px;padding-right:15px;font:13px Vazir}
.send_btn:hover{cursor:pointer}
.input_container{position:sticky;bottom:-1px;}
.user_select{display:inline-block}
.topbar{top:0;left:0;right:0;position:absolute;height:20px;display:block;background-color:#202020;color:white;padding-left:20px;padding-right:20px;}
@media screen and (max-width: 900px) {
	.msg_container{margin-left:0;margin-right:0}
}
