<link rel="stylesheet" type="text/css" href="inc/template/header/index.css">

<header class="header" id="header">
	<div class="header-logo"></div>
	<div class="header-links">
		<a href="?/releases" class="header-link {{page == 'releases' ? 'header-link-active' : ''}}">RELEASES</a>
		<a href="?/tools" class="header-link {{page == 'tools' ? 'header-link-active' : ''}}">TOOLS</a>
		<a class="header-link header-link-disabled {{page == 'articles' ? 'header-link-active' : ''}}">ARTICLES</a>
		<a class="header-link header-link-disabled {{page == 'community' ? 'header-link-active' : ''}}">COMMUNITY</a>
	</div>
	<!--
		<div class="header-right">
			<div class="header-platforms-value" id="header_platforms_value">All platforms</div>
			<div class="header-platforms" id="header_platforms">
				<div value="">All platforms</div>
				<for each="Pages.platforms" as="platform">
					<div value="{{platform}}">{{platform}}</div>
				</for>
			</div>
		</div>
	-->
</header>

<header class="header-space"></header>

<script type="text/javascript" src="inc/template/header/index.js"></script>