.header {
	display: block;
	width: calc(100% - 16px);
	height: 24px;
	padding: 32px 8px;
	z-index: 1000;
	background-color: #FFF;

	position: absolute;
	top: 0;
}

.header-logo {
	display: inline-block;
	width: 144px;
	height: 24px;

	background-image: url(../../../img/logo.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.header-links {
	display: inline-block;
	height: 24px;
	margin-left: 8px;
	vertical-align: top;
}

.header-link {
	display: inline-block;
	width: 120px;
	height: 14px;
	margin-left: 8px;
	padding: 5px 0;

	background-color: #9B9B9B;
	font-size: 12px;
	line-height: 14px;
	color: #FFF;
	text-align: center;
}
.header-link:not(.header-link-active):not(.header-link-disabled):hover {
	background-color: #737373;
}
.header-link-active {
	background-color: #4A4A4A;
}
.header-link-disabled {
	cursor: default;
}

.header-right {
	display: inline-block;
	margin: 5px 80px 5px 0;
	vertical-align: top;
	float: right;
}

.header-platforms-value {
	display: inline-block;

	font-size: 12px;
	line-height: 12px;
	color: #4990E2;

	cursor: pointer;
}
.header-search {
	margin-left: 16px;

	font-size: 12px;
	line-height: 14px;
}

.header-space {
	display: block;
	width: calc(100% - 16px);
	height: 24px;
	padding: 32px 8px;
}