.div-topic {
    margin-top: 0.5em;
    margin-bottom: 1.5em;
    padding: 0.5em 1em;
}

.div-comment {
    margin-top: 0.5em;
}

.topic-directory, .comment-directory,
.topic-id, .comment-id,
.topic-timestamp, .comment-timestamp {
    display: none;
}

.topic-user, .comment-user {
    padding: 0 0.25em;
}

.topic-title {
    font-weight: 600;
}

.text-justify {
    text-align: justify;
}

.sidebar-nav h3 {
    margin-top: 0.35em;
}

.sidebar-footer {
    text-weight: 600;
}

header {
    margin-bottom: 1.5em;
}

header h1 {
    text-align: center;
}

.span-h1 {
    font-weight: 600;
    font-size: 130%;
}

.metric {
    padding: 3px 6px;
    border: 1px solid black;
    border-radius: 5px;
}

.align-center {
    text-align: center;
}

.text-small {
    font-size: 95%;
    color: grey;
}

.topic-content {
    margin: 1em 2em;
}
