	html {
		margin: 0;
		}
	
	body {
		background-color: #111;
		background: url("img/01-gray.png");
		background-repeat: no-repeat;
		background-attachment: fixed;
		font-family: "freesans";
		color: #ccc;
		margin: 0;
		
	}
	
	#content > a > img {
		filter: grayscale(100%);
		width: 25%;
	}
	
	a:link {
		color: #ccc;
		text-decoration: none;
	}

	a:visited {
		color: #aaa;
	}
	
	#sidebar > div > div > a:hover {
		color: magenta;
	}
	
	#container {
		width: 60%;
		display: block;
		margin: auto;
	
		
	}

	#header {
		margin-top: 3em;
		text-align: center;
		margin-bottom: 3em;
		
	}
	
	#header > h1 {
		font-weight: bold;
		font-size: 2.5em;
		text-shadow: -2px -2px 0 darkmagenta, 2px -2px 0 darkmagenta, -2px 2px 0 darkmagenta, 2px 2px 0 darkmagenta;
		margin-bottom: 0;
		
	}
	
	#header > p {
		font-weight: bold;
	}
	
	#header > h1 > a:link {
		color: #ccc;
	}
	
	#header > h1 > a:visited {
		color: #ccc;
	}
	
	

	#main {
		outline: 2px solid darkmagenta;
		background-color: #111;
		clear: both;
		margin-bottom: 2em;
		overflow: auto;
	}
	
	#content {
		width: 84%;
		padding: 1em 2em 1em 1em;
	}
	
	#sidebar {
		float: right;
		width: 16%;
		text-align: right;
		color: #999;
		outline: 2px solid darkmagenta;
		font-size: 0.8em;
		background-color: black;
	}
	
	
	#avatar > img {
		width: 80%;
		filter: grayscale(100%);
		border-radius: 50%;
		border: 2px solid darkmagenta;
		display: block;
		margin: auto;

		
	}
	
	.sidebar-head {
		border-bottom: 2px solid darkmagenta;
		border-top: 2px solid darkmagenta;
		color: #ccc;
		text-align: center;
		font-weight: bold;
	}
	
	#posts, #banners, #cweb {
		margin-top: 1em;
		margin-bottom: 1em;
	}
	
	#posts > div {
		padding-right: 0.5em;
		margin-bottom: 0.25em;
	}
	
	#posts > div::after {
		content: " --";
	}
	
	#sidebar > div {
		padding: 0.25em 0 0.25em 0;
	}
	
	#banners, #cweb {
		margin-right: 0.5em;
	}
	
	#banners > div > a::after, #cweb > div > a::after  {
		content: " --"; 
	}
 
	.blogpost {
		
		width: 50%;
		margin-top: 1em;
	}
	
	.blogpost-head {
		font-weight: bold;
		border-bottom: 3px double #888;
		color: #ccc;
	}
	
	.blogpost-cont {
		background-color: black;
		color: #aaa;
		font-family: "freemono";
		word-wrap: break-word;
		font-size: 0.9em;
	}
	
	.blogpost-head {
		padding: 0.25em 0 0.25em 0.25em;
	}
	
	.blogpost-cont > p {
		padding-left: 0.25em; 
	}
