body {
    background-color: #fff;
    color: #666666;
    overflow: hidden;
}

#main {
    height: 100vh;
}

#header {
    height: 54px;
    padding-top: 20px;
    border-bottom: 1px solid #e4e4e4;
    -webkit-box-shadow: 0 5px 6px -6px #b2b2b2;
    -moz-box-shadow: 0 5px 6px -6px #b2b2b2;
    box-shadow: 0 5px 6px -6px #b2b2b2;
    z-index: 999;
}
#right-border {
    height: 100%;
    width: 20px;
    background-color: #fafafa;
    border-left: 1px solid #f0f0f0;
    position: absolute;
    top: 0px;
    right:0px;
    z-index: -1;
}
#structure {
    width: 1024px;
    margin: 0 auto;
}
#main .col-md-4 {
    height: calc(100% - 54px);
    padding-right: 0px;
}
#main .col-md-8 {
    height: calc(100% - 54px);
    padding-left: 15px;
}
#left-head {
    float:left;
    padding: 20px 10px;
    font-size: 12px;
    width: 316px;
}

a {
    color: #fb4961;
    font-weight: bold;
}
a:hover {
    font-weight: bold;
    text-decoration: underline;
}
input {
    border-radius: 5px;
    border: 2px solid #f0f0f0;
    padding: 5px 10px;
}

#search{
    float: right;
    width: 120px;
}
#categories {
    display: block;
    padding: 0px !important;
    margin: 0px !important;
}
#categories li {
    display: inline;
    padding: 0px 5px !important;
    margin: 0px !important;
    text-transform: uppercase;
    font-weight: bold;
}

#comment-details {
    display: block;
    padding: 0px !important;
    margin: 0px !important;
}
#comment-details li {
    display: inline;
    padding: 0px 5px !important;
    margin: 0px !important;
    color: #9b9b9b;
}

#categories li a{
    color: #b4b4b4 !important;
    cursor: pointer;
    text-decoration: none;
}

#categories li a:hover{
    color: #6e6e6e !important;
    cursor: pointer;
    text-decoration: none;
}


#categories li.active a{
    color: #6e6e6e !important;
}
.result-item {
    float:left;
    height: 100px;
    padding: 5px 0px;
}
.result-item:hover {
    background-color: #fafafa;
    cursor: pointer;
}
.result-item img {
    margin-top:10px;
    width: 100%;
    height: 50px;
    border-radius: 5px;
}

.result-item .active {
    background-color: #fafafa;
}

.result-item .user {
    font-size: 10px;
}

#results .cat{
    font-size: 12px;
}

#results {
    float:left;
    overflow-y: hidden;
    height: calc(100% - 90px);
}

#main .row {
    margin: 15px 15px 15px 0px !important;
}

#post-details {
    padding-top: 10px;
    border-bottom: 1px solid #f0f0f0;
    height: 150px;
}

.cat {
    color: #56ebc8;
}
.user {
    color: #75aff8;
}
.sub-details {
    color: #c9c9c9;
    font-size: 14px;
}

#right-side {
    padding-left: 50px !important;
}

#post-comments {
    height: calc(100% - 155px);
}

.result-item p {
    margin: 0px !important;
}

#preloader {
    display: none;
}

#main-content {
    display: none;
}

.fadein {
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}



@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}