
body {
    
    background-color: #F0F8FF!important;
    
}

a {
  font: bold 16px Arial!important; 
  padding: 2px 6px 2px 6px!important;
  border-top: 2px solid #CCCCCC!important;
  border-right: 2px solid #333333!important;
  border-bottom: 2px solid #333333!important;
  border-left: 2px solid #CCCCCC!important;  
  text-align: center!important;
}

a:link, a:visited {
    
  background-color: #7FFFD4!important;
  color: #696969!important;
  /* Comment padding: 14px 25px; */ 
  text-decoration: none!important;
  display: inline-block!important;
  
}

a:hover, a:active {
    
  background-color: hotpink!important;
  color: blue!important;
  text-decoration: underline!important;
  
}
 
 H1, H2 {
     font-family: 'Text Me One'!important; 
     padding: 3px 3px 3px 3px!important;
     
}
H1 {
    font-size:22px!important;
    /* font-weight:700; */ 
}
H2 {
    font-size:20px!important;
    /* font-weight:700; */ 
    
}

.sig {
    
    font-family: cursive!important;
    
}

.lnk {
    margin-left: 2em!important;
    padding: 3px 3px 3px 3px!important;
    
}
.header, header {
    background: #00A185!important;
}
.footer,footer{
    background:#00A185!important;
    
}
