.body, body {
    background: #262626!important;
}

.header, header {
    background: #efef64!important;
box-shadow: 0 0 15px 1px #fff!important;
}
.header,header:hover{box-shadow:0px 0px 25px 5px #fff!important}
.header,header:active{box-shadow:0px 0px 25px 9px #fff!important}

.logo,logo {
    background: url(../icon.png) no-repeat no-repeat 3px 10px;
    background-size: 41px;
    text-indent: 49px;
    color: #262626
}

::selection {
    background: #efef64!important;
    color: #fff!important;
}

span {
    color: #fff!important;
}

p {
    color: #fff!important;
}

.h1, h1 {
    color: #efef64!important;
}

.h3, h3 {
    color: #fff!important;
}

.h6, h6 {
    color: #fff!important;
}

.navmenu {
    color: #efef64!important;
}
.navmenu ul > li:hover {
    background: #efef64!important;
}

ul.tabs{border-bottom:1px solid #efef64}
ul.tabs li a:active{color:#efef6480;border-bottom:4px solid #efef6480}
ul.tabs li.current a{color:#efef64;border-bottom:4px solid #efef64}

button.color{background:#efef64;color:#fff;font-weight:bold;padding:10px;font-size:16px}
button.color:hover{background:#fff;color:#efef64}

.footer,footer{background:#efef64}