#output video {
  width: 100%;
}
#progressBar {
    height: 5px;
    width: 0%;
    background-color: #cc0052;
    transition: width .4s ease-in-out;
}
body.is-seed .show-seed {
    display: inline;
}
body.is-seed .show-leech {
    display: none;
}
.show-seed {
    display: none;
}
#hero {
    background-color: #fff;
}
#status {
    color: #000;
    font-size: 12px;
}
