body {
	margin: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: row;
	position: relative;
}
h1 {
	font-size: 3em;
}
.welcome {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-80%);
	text-align: center;
}
.menu {
	width: 100%;
	display: flex;
	background-color: gold;
	position: absolute;
	top: 0;
}
.menu>div {
	width: 160px;
	height: 2em;
	padding: 4px 8px;
}
.menu>div>ul {
	display: none;
	position: absolute;
	background-color: gold;
	list-style: none;
	padding: 0;
	margin: 0;
}
.menu>div>ul>li {
	padding: 4px 8px;
}
.menu>div>ul>li:hover {
	background-color: white;
}
.menu>div:hover>ul {
	display: block;
}
.books {
	display: flex;
	flex-flow: wrap;
}
.topbar {
	font-size: 130%;
	background-color: black;
	color: white;
	padding: 4px 10px;
	margin-bottom: 1em;
	font-family: sans-serif;
}
.date {
	float: right;
	right: 0;
	/* position: fixed; */
}
.title {
	color: yellow;
}
.collection {
	padding: 2.5em 0 3.5em 0;
	min-height: 100%;
	flex-grow: 1;
}
.book {
	width: 16%;
	font-size: 0.8em;
	font-family: sans-serif;
}
.book>img {
	display: block;
	width: 95%;
	margin: auto;
	margin-bottom: 5px;
}
.epub {
	color: green;
	font-weight: bold;
}
.pdf {
	color: red;
	font-weight: bold;
}
.inclib {
	color: green;
	font-weight: bolder;
}
.bottombar {
	background-color: gold;
	height: 3em;
	width: 100%;
	/* margin-top: 20px; */
	position: absolute;
	bottom: 0;
}
