/* 'Flat' I2P+ Console theme override for light */
/* Author: dr|z3d */

html {
    overflow-x: hidden;
    filter: saturate(.15) invert(1) contrast(.9) hue-rotate(-30deg);
    scrollbar-color: #444 #000;
}

body {
    background: #000 !important;
}

pre[id], textarea {
    scrollbar-color: #bbb transparent;
}

pre[id]:hover, textarea:hover {
    scrollbar-color: #bbb #fff;
}

#pageloader {
    filter: saturate(3) hue-rotate(180deg) opacity(1);
    animation: fadeout ease-out 15s forwards;
}

@keyframes fadeout {
0,90% {
    filter: saturate(3) hue-rotate(180deg) opacity(1);
}
100% {
    filter: saturate(3) hue-rotate(180deg) opacity(0);
}
}

img:not([src*="i2plogo"]) {
    filter: invert(1) saturate(3) !important;
}

img[src$="i2plogo.png"] {
    filter: saturate(0) !important;
}

img[src$="i2plogo.png"]:hover {
    filter: saturate(3) !important;
}

.routersummary, h1[class], .main[id], #news {
    box-shadow: inset 0 0 0 1px #fff;
}

.statimage, .graphspanel a img {
    filter: saturate(3) hue-rotate(-10deg) !important;
}

.graphcontainer {
    border: 1px solid #ddd;
    box-shadow: none !important;
}

#sb_localtunnels td[class]:last-child img {
    filter: invert(1) saturate(3) contrast(2) !important;
}

h2, h3, .routersummary h3 {
    background: #f9f9ff !important;
}

h4.app, h4.app2, .news h3 {
    background-blend-mode: difference, normal, normal;
}

#bugreports td.infohelp {
background: url(/themes/console/images/info/bugreport.png) no-repeat left center, linear-gradient(to right, #fff, #eef) !important;
}

#consolepass tr:first-child td, #floodfillconfig tr:first-child .infohelp, .infohelp, .infowarn, #bugreports td.infohelp,
input[type="submit"], input[type="cancel"], input.cancel, button, #helptranslate {
    background-blend-mode: difference, normal;
}

.main#proof, .main#oldconsole, #warning2, .news#news {
    background-blend-mode: multiply, multiply, difference !important;
}

input.search[type="text"], input[type="text"], input[type="password"] {
    border-color: #ddd;
    box-shadow: inset 1px 1px 1px #fff;
    background-blend-mode: difference !important;
    filter: none;
}

.main, .routersummary, h1, .confignav, .news#news, table.search, .newsentry {
    box-shadow: none;
    filter: none;
}

.sb_netstatus[class] {
    box-shadow: inset 0 0 0 1px #fff;
    filter: none;
}

.sb_netstatus[class]::before {
    filter: invert(1) saturate(3) !important;
}

.percentBarOuter, #sb_memorybar .percentBarInner  {
    box-shadow: inset 0 0 0 1px #fff;
}

#sb_bandwidthgraph {
    padding: 1px;
    border: none;
    box-shadow: none;
}

input[type="submit"], input[type="reset"], .routersummary input[class], button, select {
    border-color: #ccc !important;
    filter: none;
}

input[type="submit"]:hover, input[type="reset"]:hover, input[class]:hover, button:hover, select:hover {
    border-color: #aaa !important;
}

.optbox, .optbox:checked {
    filter: none !important;
    border-color: #999 !important;
    box-shadow: none;
}

.optbox:hover, .optbox:checked:hover {
    border-color: #777 !important;
}

.routersummary, h1, h2, h3, h4, .news#news, .newscontent, .newsentry h3, .main, table.search, .formaction, .main#graphs form, #pluginconfig table,
#bwlimiter a, #i2pclientconfig a, #config_logging h3 a, #graphdisplay a, #version a, #logs h3 a, #tunnels h3 a, #advancedconfig a, #iptransport a,
#reseedsetup a, #graphinfo a, #config_service h3 a, .h3navlinks a, div, .infohelp, .infowarn, div[id] .infohelp, div[id] .infowarn, table[id], .embedlink, #themesettings .themelabel,
table[class] tr, table[class] th, table[class] td, .optionsave, td.optionsave, .configtable tr:last-child td, th, td, tr, .statusnotes, .configtable,
.statusnotes + .statusnotes, .tunneldisplay, .routersummary span[class], h4.app img, h4.app2 img, #sitemap h3 img, .routersummary hr:not(.b), .tablefooter tr, .tablefooter td,
#sitemap span, #sitemap span::before, #sitemap span::after, .app img::after, .app img::before, ul, ol, #routerinformation table, pre, #debug table,
div.app:hover .appimg .extlink::after, div.app::before, .sitemaplink.extlink:hover::after, p, .tab, .tab2, .optionsingle, .suboption, .optionlist, table[id] .optionlist {
    border-color: #ddd !important;
}

#help #terms {
    column-rule: 1px solid #ddd;
}

h4.app img, h4.app2 img, #sitemap h3 img, #sitemap h3 img,  {
    mix-blend-mode: difference;
    border-color: #111 !important;
}

#sb_services a[href] {
    background-blend-mode: difference;
}

.tunnelBuildStatus[class], .routersummary h4, .infowarn, .infohelp {
    box-shadow: inset 0 0 0 1px #fff !important;
}

.main#jobs {
    position: relative !important;
}

@media screen and (min-width: 1400px) {
.statsName {
    border-color: #ddd !important;
}

@media screen and (min-width: 1500px) {
.routersummary div[style="height: 36px;"] {
    margin-top: 3px !important;
    height: 40px !important;
}
}
