html{
	height: 100%;
}
body{
	height: 100%;
}
.page-main{
	background-color: rgba(255,255,255,0.9);
	background-blend-mode: color;
	background-size: 100vw;
	background-attachment: fixed;
	height: 100%;
	overflow-y: scroll;
}
.page, .page-footer{
	width: 650px;
	background-color: white;
	padding: 15px;
	text-align: justify;
}
.page-i{
	font-size: 14px;
}
.page-footer{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}