@charset "UTF-8";

body, .main, .footer, .head{
	display: flex;
}
body, .main, .head{
	flex-direction: column;
}
body{
	justify-content: center;
	align-items: center;
	margin: 0;
	background-color: white !important;
}
a,a:visited,a:active,a:hover{
	text-decoration:underline;
	color:black;
}
img{
	width: 250px;
	height: 250px;
}
.main{
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	background-image: url('../img/back.png');
	background-repeat: no-repeat;
	background-size: 100vh;
	background-position: top;
}