html {
  height: 100%
}

body {
  position: relative;
  margin: 0;
  height: 100%;
  background: #00002c;
  overflow: hidden;
  font-family: "游ゴシック", "Yu Gothic", "メイリオ", "Meiryo", sans-serif;
  font-weight: 300;
  color: #c0c0c0;
}

a, a:visited{
  text-decoration: none;
  color: #c0c0c0;
}

.logo-warpper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -o-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
	width: 300px;
	height: 300px;
}

.logo-square {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
	-moz-transform: translateY(-50%) translateX(-50%);
	-o-transform: translateY(-50%) translateX(-50%);
	-ms-transform: translateY(-50%) translateX(-50%);
  width: 55.6%;
	height: 55.6%;
  background: #1034f2;
  overflow: hidden;
}

.logo-slash1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%) rotate(45deg);
  -webkit-transform: translateY(-50%) translateX(-50%) rotate(45deg);
	-moz-transform: translateY(-50%) translateX(-50%) rotate(45deg);
	-o-transform: translateY(-50%) translateX(-50%) rotate(45deg);
	-ms-transform: translateY(-50%) translateX(-50%) rotate(45deg);
  width: 2.4%;
	height: 1000%;
  background: #1034f2;
}

.logo-slash2 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%) rotate(45deg);
  -webkit-transform: translateY(-50%) translateX(-50%) rotate(45deg);
	-moz-transform: translateY(-50%) translateX(-50%) rotate(45deg);
	-o-transform: translateY(-50%) translateX(-50%) rotate(45deg);
	-ms-transform: translateY(-50%) translateX(-50%) rotate(45deg);
  width: 4.2%;
	height: 150%;
  background: #00002c;
}

.name .on {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -o-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  z-index: 1;
  opacity: 0;
  color: #00002c;
  font-size: 25px;
  font-weight: bold;
  white-space: nowrap;
  transition-duration: 0.2s;
  transition-timing-function :ease;
}

.name:hover .on{
  opacity: 1;
}

.name .noton {
  vertical-align: top;
  line-height: 1em;
}

.name:hover .noton {
  opacity: 0;
}

.name {
  position: absolute;
  height: 1em;
  left: calc(50% - 500px);
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  font-size: 166px;
  transition-duration: 0.2s;
  transition-timing-function :ease;
  overflow: hidden;
}

.name:hover {
  background-color: #00002c;
  background-image: -webkit-gradient(linear, 0 0, 100% 100%,color-stop(.25, #c0c0c0), color-stop(.25, transparent),color-stop(.5, transparent), color-stop(.5, #c0c0c0),color-stop(.75, #c0c0c0), color-stop(.75, transparent),to(transparent));
  -webkit-background-size: 14px 14px;
}

.link-wrapper {
  position: absolute;
  left: calc(50% + 150px);
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  font-size: 72px;
}

.links {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

.links li {
  line-height: 1.3em;
}

.zerome .on {
  position: absolute;
  left: 0;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  transition-duration: 0.2s;
  transition-timing-function :ease;
}

.zerome .noton:hover + .on {
  color: #e7257d;
  background: linear-gradient(to bottom right, #f8a520, #e7257d);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  opacity: 1;
  visibility: visible;
}

.zerome .noton {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function :ease;
}

.zerome .noton:hover {
  opacity: 0;
  z-index: 1;
}

.zeroblog {
  transition-duration: 0.2s;
  transition-timing-function :ease;
}

.zeroblog:hover {
  color: #7a26e2;
}