<div id="create-post-form">

	<form>
		<fieldset>
			<label for="new-post-title">Title</label>
			<input id="new-post-title" name="post-title" type="text">

			<label for="new-post-excerpt">Excerpt</label>
			<textarea rows="2" id="new-post-excerpt" name="post-excerpt"></textarea>

			<label for="new-post-content">Content</label>
			<textarea rows="8" id="new-post-content" name="post-content"></textarea>
		</fieldset>

		<fieldset>
			<input type="text" name="nickname">
			<a class="submit" href="#">Add new post</a>
		</fieldset>
	</form>

	<article id="post-preview">
		Start typing some content and see a preview here.
	</article>

</div>
