/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/* MIXINS */
/* /MIXINS */
/* COLORS */
/* /COLORS */
/** COMMON **/
h1,
h2,
h3,
h4 {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: normal;
  margin: 0px;
  padding: 0px;
}
h1 {
  font-family: 'Text Me One', sans-serif;
  padding-bottom: 10px;
  font-size: 25px;
}
h3 {
  font-family: 'Text Me One', sans-serif;
  font-size: 15px;
  text-decoration: none;
}
h4 {
  text-transform: uppercase;
  display: block;
  font-size: 11px;
}
ul,
li {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
ul {
  list-style-type: none;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
li {
  margin: 0;
  padding: 0;
}
.loading {
  width: 100%;
  float: left;
  text-align: center;
}
.loading span {
  margin: 0 auto;
  display: table;
  background-image: url('../img/ajax-loader.gif');
  width: 43px;
  height: 11px;
}
.loading.main span {
  margin: 100px auto;
}
/* icons */
.icon2 {
  display: inline-block;
  height: 16px;
  width: 16px;
  background-image: url('../img/16icons.png');
  background-position: 0 0;
}
.icon2.thumbs-up {
  /*background-position: -153px -34px;
    			&:hover, &:active {*/
  background-position: -153px -51px;
  /*}*/
}
.icon2.thumbs-down {
  /*background-position: -171px -34px;
    			&:hover, &:active {*/
  background-position: -171px -51px;
  /*}*/
}
.icon2.non-favorite {
  background-position: -238px -33px;
}
.icon2.non-favorite:hover,
.icon2.non-favorite:active {
  background-position: -68px -51px;
}
.icon2.favorite {
  background-position: -68px -51px;
}
.icon2.favorite:hover,
.icon2.favorite:active {
  background-position: -238px -33px;
}
.icon2.pencil {
  background-position: -17px -101px;
}
.icon.ebooks {
  background-position: 0 -16px;
}
.icon.forums {
  background-position: -255px -118px;
}
.icon.images {
  background-position: -255px 0;
}
.icon.news {
  background-position: -221px -69px;
}
.icon.files {
  background-position: -136px -1px;
}
.icon.social {
  background-position: -17px -51px;
}
.icon.users {
  background-position: -35px -68px;
}
.icon.comments {
  background-position: 0 -51px;
}
.icon.my-posts {
  background-position: -68px -84px;
}
/* /icons */
/** /COMMON **/
/** FORMS **/
.form {
  background: #E0E0E0;
  border-top: 5px solid #2d7bcc;
  padding: 10px;
  width: 100%;
  float: left;
}
.form .form-row-container {
  width: 100%;
  float: left;
  margin-bottom: 5px;
}
.form .form-row-container label {
  line-height: 33px;
  margin: 0;
  width: 20%;
  float: left;
}
.form .form-row-container input,
.form .form-row-container select,
.form .form-row-container textarea,
.form .form-row-container .input-file {
  width: 80%;
  float: right;
}
.form .form-row-container img {
  margin: 0 0 0 20%;
  max-width: 80%;
}
.form .form-row-container button[dropzone] {
  text-align: left;
  margin-bottom: 10px;
}
.form .form-row-container button.btn {
  float: right;
  outline: none;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.form .form-row-container button.btn:active {
  outline: none;
}
/** /FORMS **/
/** TEMPLATE **/
body {
  margin: 0;
  background-color: #004160;
}
/* header */
.header {
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  height: 50px;
  z-index: 100;
  margin-bottom: 5px;
  background-image: linear-gradient(120deg, #155799, #159957);
  border-bottom: 1px solid #302A26;
}
.header ul {
  margin: 9px 0;
  float: left;
}
.header ul li {
  position: relative;
  float: left;
}
.header ul li a {
  border: 1px solid #605050;
  display: block;
  padding: 5px 10px;
  color: #105CB6;
  height: 30px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.header ul li:first-of-type a {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.header ul li:last-of-type a {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.header ul li + li a {
  border-left: 0;
}
.header #logo-container {
  padding-left: 30px;
  padding-top: 11px;
}
.header #logo-container h1 a {
  color: white;
}
.header #main-menu ul li a {
  background-color: #F0F0E8;
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.1) 0%, transparent 38%);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.1) 0%, transparent 38%);
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.1) 0%, transparent 38%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(0, 0, 0, 0.1)), color-stop(0.38, transparent));
}
.header #user-menu {
  float: right;
}
.header #user-menu ul li a {
  color: white;
  background: url(../img/bgnavbar.gif);
}
.header #user-menu ul li a .icon {
  margin-top: 1px;
}
.header #user-menu ul li:hover a {
  background: url(../img/bgnavbarhover.gif);
}
.header #user-menu ul li:hover ul#user-submenu {
  display: block;
}
.header #user-menu ul li:active a,
.header #user-menu ul li.active a {
  background: url(../img/bgnavbaractive.gif);
}
.header #user-menu ul li:active ul#user-submenu,
.header #user-menu ul li.active ul#user-submenu {
  display: block;
}
.header #user-menu ul li ul#user-submenu {
  position: absolute;
  margin: 0;
  top: 30px;
  display: none;
  width: 95%;
}
.header #user-menu ul li ul#user-submenu li {
  width: 100%;
  float: left;
}
.header #user-menu ul li ul#user-submenu li a {
  border: 0;
  background: #606050;
  text-align: left;
  width: 100%;
  float: left;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.header #user-menu ul li ul#user-submenu li a:hover {
  background: #525244;
}
.header #search {
  width: 235px;
  margin: 7px 0;
  position: relative;
  float: left;
}
.header #search input {
  float: left;
  margin: 0;
  padding: 10px;
  width: 183px;
  height: 34px;
  border: none;
  font-weight: normal;
  font-family: Helvetica,Arial;
  font-size: 14px;
  color: #303030;
  background: transparent url(../img/searchinput.png) no-repeat top left;
}
.header #search .subm {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 32px;
  height: 35px;
  background: transparent url(../img/searchbtn.png) no-repeat top left;
}
.header #search .subm:hover {
  background-position: -32px;
}
.header #search .subm:active {
  background-position: -64px;
}
/* /header */
/* site modal */
#modal-container .wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
#modal-container .wrapper #modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1001;
}
#modal-container .wrapper #modal-dialog {
  position: fixed;
  width: 600px;
  height: auto;
  top: 50%;
  left: 50%;
  margin-left: -300px;
  margin-top: -100px;
  z-index: 1002;
  opacity: 0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
#modal-container .wrapper #modal-dialog .dialog-container {
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
  padding: 0;
}
#modal-container .wrapper #modal-dialog .dialog-container .modal-header,
#modal-container .wrapper #modal-dialog .dialog-container .modal-body {
  float: left;
  width: 100%;
}
#modal-container .wrapper #modal-dialog .dialog-container .modal-header {
  background-color: #004160;
  color: white;
}
#modal-container .wrapper.active #modal-dialog {
  margin-top: -200px;
  opacity: 1;
}
/* /site modal */
/* content */
main {
  /*position: absolute;
		  top: 67px;
		  left: 0px;
		  width: 1024px;
		  border-left: 240px solid #004160;
		  background: #F0F0E0 url(../img/bg3cols.gif) repeat-y;
		  height: 10000px;*/
  padding-top: 50px;
  color: #303020;
  background-color: #004160;
}
main #content {
  padding-right: 30px;
}
main #content .server-info {
  background-color: #E0E0D6;
  color: #303026;
  padding: 3px;
  float: right;
  margin: 10px 0;
}
main #content .server-info > span {
  margin-right: 5px;
}
main #content .server-info .port {
  font-weight: bold;
}
main #content .server-info .port.opened {
  color: green;
}
main #content .server-info .port.closed {
  color: red;
}
main aside ul.category-menu {
  padding: 20px;
}
main aside ul.category-menu li {
  width: 100%;
  float: left;
  color: white;
}
main aside ul.category-menu li a {
  color: white;
  text-transform: uppercase;
  font-weight: normal;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
main aside ul.category-menu li.active {
  list-style-type: disc;
}
main aside ul.category-menu li.active a {
  font-weight: bold;
}
main aside ul.category-menu li:hover a {
  color: #e6e6e6;
}
section.section {
  background-color: #F0F0E0 ;
  float: left;
  width: 100%;
  padding: 10px;
  position: relative;
}
/* /content */
/** /TEMPLATE **/
/** POSTS **/
/* list */
.post-list {
  padding: 10px;
}
.post-list ul.posts-top-menu {
  top: -32px;
  left: 0;
  position: absolute;
}
.post-list ul.posts-top-menu li {
  float: left;
  display: block;
  padding: 6px 12px 6px 12px;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  background: #003750;
  border: 1px solid;
  border-bottom: 0;
  border-color: #002537;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.post-list ul.posts-top-menu li a {
  text-transform: uppercase;
  font-weight: bold;
  color: #F0F0F0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.post-list ul.posts-top-menu li.active {
  background: #F0F0F0;
  border-color: #e3e3e3;
}
.post-list ul.posts-top-menu li.active a {
  color: #101010;
}
.post-list .sort-options {
  margin-bottom: 5px;
  float: left;
  width: 100%;
}
.post-list .sort-options > span {
  display: block;
  float: left;
  font-weight: bold;
}
.post-list .sort-options ul {
  float: left;
}
.post-list .sort-options ul li {
  float: left;
  margin-left: 5px;
}
.post-list .list-items-container {
  background: #D8D8D8;
  float: left;
  width: 100%;
  padding: 5px;
}
.post-list .list-items-container.cached .post-item {
  display: none;
}
.post-list .list-items-container.cached .post-item.cached {
  display: block;
}
.post-list .list-items-container.non-cached .post-item {
  display: block;
}
.post-list .list-items-container.non-cached .post-item.cached {
  display: none;
}
.post-list .list-items-container.proxy .post-item {
  display: none;
}
.post-list .list-items-container.proxy .post-item.proxy {
  display: block;
}
.post-list .list-items-container.favorited .post-item {
  display: none;
}
.post-list .list-items-container.favorited .post-item.favorited {
  display: block;
}
.post-list .post-item {
  padding: 5px;
}
@media (min-width: 1200px) {
  .post-list .post-item.col-md-2 {
    width: 12.5%;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .post-list .post-item.col-md-2 {
    width: 14.27%;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .post-list .post-item.col-md-2 {
    width: 16.66666667%;
  }
}
@media (max-width: 768px) {
  .post-list .post-item.col-md-2 {
    width: 20%;
  }
}
.post-list .post-item .post-item-wrapper {
  border: 2px solid #908070;
  background-color: #F0F0F0;
  float: left;
  width: 100%;
  padding: 5px;
}
.post-list .post-item .post-item-header {
  position: relative;
  padding-right: 21px;
  margin-bottom: 5px;
}
.post-list .post-item .post-item-header .icon {
  position: absolute;
  top: 0;
  right: 0;
}
.post-list .post-item .post-item-header h3 {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 17px;
}
.post-list .post-item .post-item-header .edit-pencil {
  position: absolute;
  top: 0;
  right: 16px;
  z-index: 10;
}
.post-list .post-item .post-item-subheader {
  float: left;
  width: 100%;
}
.post-list .post-item .post-item-subheader ul {
  margin-top: 4px;
  float: left;
  width: 100%;
}
.post-list .post-item .post-item-subheader ul li {
  float: left;
  text-align: center;
  width: 20%;
}
.post-list .post-item .post-item-subheader ul li i,
.post-list .post-item .post-item-subheader ul li span {
  margin: 0 auto;
  display: table;
  float: none;
}
.post-list .post-item figure {
  width: 100%;
  float: left;
  height: 100px;
}
.post-list .post-item figure a {
  width: 100%;
  display: block;
  float: left;
  cursor: pointer;
  height: 100%;
  overflow: hidden;
}
.post-list .post-item figure img {
  width: 100%;
  height: 100%;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.post-list .post-item:hover .post-item-wrapper figure img {
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -ms-filter: grayscale(0);
  -o-filter: grayscale(0);
  filter: grayscale(0);
}
.post-list .post-item.cached .post-item-wrapper {
  border-color: #2fb52f;
}
.post-list .post-item.cached .post-item-wrapper img {
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -ms-filter: grayscale(0);
  -o-filter: grayscale(0);
  filter: grayscale(0);
}
/* /list */
/* view */
.post-modal-view .modal-body {
  padding: 0;
}
.post-modal-view .close {
  top: 5px;
  right: 10px;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.post-modal-view .post-sub-header {
  border-bottom: 1px solid #ccc;
  float: left;
  width: 100%;
  padding: 5px 15px;
}
.post-modal-view .post-sub-header li {
  float: left;
  margin-right: 10px;
}
.post-modal-view .post-sub-header li.post-category i.icon {
  float: none;
}
.post-modal-view .post-sub-header li.post-votes a {
  margin-right: 5px;
  display: inline-block;
  float: left;
}
.post-modal-view .post-sub-header li.post-votes a i,
.post-modal-view .post-sub-header li.post-votes a span {
  display: inline-block;
  float: left;
}
.post-modal-view .post-sub-header li.post-favorites a span i,
.post-modal-view .post-sub-header li.post-favorites a span span {
  display: inline-block;
  float: left;
  margin-right: 2px;
}
.post-modal-view .post-body {
  float: left;
  width: 100%;
  border-bottom: 1px solid #ccc;
}
.post-modal-view .post-body span.post-url {
  width: 100%;
  padding: 5px 15px;
  display: block;
  float: left;
  border-bottom: 1px solid #ccc;
}
.post-modal-view .post-body article {
  padding: 5px 15px;
  float: left;
  width: 100%;
}
.post-modal-view .post-body article img {
  float: left;
  margin: 5px 5px 5px 0;
}
.post-modal-view .post-body article p {
  margin-top: 5px;
}
.post-modal-view .post-comments {
  float: left;
  width: 100%;
  padding: 10px 15px;
}
.post-modal-view .post-comments .comment-form {
  padding-bottom: 10px;
  float: left;
  width: 100%;
}
.post-modal-view .post-comments .comment-form form {
  position: relative;
  padding: 5px;
  background: white;
  border: 1px solid #ccc;
  margin: 0;
  float: left;
  width: 100%;
}
.post-modal-view .post-comments .comment-form form textarea {
  background: white;
  border: 0;
  font-size: 12px;
  padding: 0;
  float: left;
  width: 100%;
}
.post-modal-view .post-comments .comment-form form button {
  position: absolute;
  bottom: 5px;
  right: 5px;
}
.post-modal-view .post-comments ul.comment-list {
  float: left;
  width: 100%;
  padding-top: 10px;
  border-top: 1px solid #ccc;
}
.post-modal-view .post-comments ul.comment-list li.comment-list-item {
  margin-bottom: 5px;
  float: left;
  width: 100%;
  padding-bottom: 5px;
}
.post-modal-view .post-comments ul.comment-list li.comment-list-item figure.identicon-container img {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
.post-modal-view .post-comments ul.comment-list li.comment-list-item ul.comment-header {
  width: 100%;
  float: left;
}
.post-modal-view .post-comments ul.comment-list li.comment-list-item ul.comment-header li {
  display: block;
  float: left;
  margin-right: 10px;
}
.post-modal-view .post-comments ul.comment-list li.comment-list-item ul.comment-header li a {
  margin-right: 5px;
}
.post-modal-view .post-comments ul.comment-list li.comment-list-item .comment-body {
  width: 100%;
  float: left;
}
/* /view */
/** /POSTS **/
