html {
	background-color: #FFF;
	font-family: Arial, sans-serif;
	font-size: 16px;
	color: #000;
}

* {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
}


main {
	max-width: 700px;
	margin: 64px auto;
	line-height: 150%;
}

h1 {
	font-size: 300%;
}
h2 {
	font-size: 150%;
}
a {
	color: #00F;
}

.hr {
	width: 100%;
	height: 1px;
	background-color: #AAA;
}


.has-vuln {
	font-size: 150%;
}
.has-vuln-true {
	color: #F00;
}
.has-vuln-false {
	color: #0A0;
}
.has-vuln-scanning {
	color: #80F;
}
.center {
	display: block;
	text-align: center;
}


button {
	display: block;
	margin: 32px auto;

	width: 192px;
	height: 192px;
	border-radius: 50%;

	background-color: #D30;
	border: none;

	font-size: 32px;
	color: #FFF;
	cursor: pointer;
}
button.small {
	background-color: #000;
	width: 96px;
	height: 96px;
	font-size: 14px;
}
button.patching {
	font-size: 0;
	animation: patching 3s infinite;
}

@keyframes patching {
	0% {
		background-color: #BB0;
	}
	25% {
		background-color: #B70;
	}
	50% {
		background-color: #F80;
	}
	75% {
		background-color: #B70;
	}
	100% {
		background-color: #BB0;
	}
}