body{
	position: relative;
	background-color: white;
    background-image: none;
}

body::before {
    background: url("/1LnBdExztQKGSb3wnnchtczk9dyzJQtUp4/img/Japanese-Shrine-Wallpaper-23.jpg") no-repeat center center;
    background-size: cover;
	opacity: .7;
    content: ' ';
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    will-change: transform;
    z-index: -1;
}
