{
 "address": "",
 "background-color": "#F5F5F5",
 "background-color-dark": "#2e2b32",
 "cloneable": true,
 "description": "Decentralized forum engine",
 "files": {
 },
 "ignore": "((js|css)/(?!all.(js|css))|data/users/.*db|data/users/.*/.*|data/archived|.*.py)",
 "includes": {
  "data/users/content.json": {
   "signers": [],
   "signers_required": 1
  }
 },
 "inner_path": "content.json",
 "modified": 1501722498,
 "postmessage_nonce_security": true,
 "settings": {
  "admin": "geekless",
  "admin_href": "http://127.0.0.1:43110/Mail.ZeroNetwork.bit/?to=geekless",
  "administrators": [],
  "topic_sticky_uris": []
 },
 "signers_sign": "G2/6ljsXbej7laqD3JUGsa8IEgSGE+NZs2jg9reQ3vrlXLgsYX67t9yRcqOuRnKxuC+4+XPo/XdVztlERvr9viI=",
 "signs": {
 },
 "signs_required": 1,
 "title": "ZeroTalk++",
 "translate": ["index.html", "js/all.js"],
 "viewport": "width=device-width, initial-scale=0.8",
 "zeronet_version": "0.5.7"
}