
<div class="song" style="display: table;" playing="{{ filePath == playing.path ? 'true' : 'false' }}">
  <div class="cover">
    <div class="img" style="background-image: url('{{ imagePath }}');" lavatube-onclick="onPlayPlaylist('{{ playlistObj.id }}', this.parentNode.parentNode, '{{ encodeArg(filePath) }}')">
      <div class="overlay"><i class="fa fa-play" aria-hidden="true"></i><i class="fa fa-pause" aria-hidden="true"></i></div>
    </div>
  </div>
  <div class="info">
    <div class="title">{{ song }}</div>
    <div class="description">{{ artist }} - {{ album }}</div>
  </div>
  <div class="more"> <i class="fa fa-ellipsis-h more" aria-hidden="true" lavatube-onclick="onPlaylistSongMore('{{ encodeArg(filePath) }}', this)"></i> </div>
</div>
<div class="hr"></div>
