
<div class="playlist {{ present }}">

  <table>
    <tr>
      <td style="vertical-align: top">
        <div class="logo"><i class="fa fa-music" aria-hidden="true"></i></div>
      </td>
      <td style="width: 100%; vertical-align: top; padding-left: 50px">

        <span lavatube-area="playlist-title">
          <div class="title" id="playlistTitle" lavatube-onclick="onChangePlaylistTitle(this)">{{ playlistObj.name }}</div>
        </span>

        <span lavatube-if="playlistObj.songs.length == 0">
          <div class="songs-and-minutes" >{{ lang.noItems }}</div>
          <div class="btn-v1 large disabled" style="margin-bottom: 40px"><i class="fa fa-play" aria-hidden="true"></i> Play</div>
        </span>
        <span lavatube-if="playlistObj.songs.length > 0">
          <div class="songs-and-minutes">{{ playlistObj.songs.length }} {{ lang.songs }}</div>
          <div class="btn-v1 large colored" lavatube-onclick="onPlayPlaylist('{{ playlistObj.id }}')" style="margin-bottom: 40px"><i class="fa fa-play" aria-hidden="true"></i> Play</div>
        </span>

        <div class="hr"></div>
        <span lavatube-area="playlist-description">
          <div class="description" lavatube-onclick="onChangePlaylistDescription(this)">{{ playlistObj.description }}</div>
        </span>
        <div class="hr"></div>

        <span lavatube-area="playlist-songs">

        </span>
      </td>
    </tr>
  </table>
</div>