var document_example = {
    next_topic_id: 5,
    next_comment_id: 1,
    topic: [
	{
	    id: 1,
	    title: "Topic Example",
	    comment: [
		{
		    id: 1,
		    body: "Comment",
		    file: []
		},
		{
		    id: 2,
		    body: "Simply",
		    file: [
			{
			    id: 1,
			    path: "upload/file1.sh",
			    description: "File #1"
			},
			{
			    id: 2,
			    path: "upload/file2.sh",
			    description: "File #2"
			}
		    ]
		}
	    ]
	},
	{
	    id: 2,
	    title: "No reply",
	    comment: []
	}
    ]
}

console.log("document_example: " + JSON.stringify(document_example, null, 2))

var after_it = db_separate(document_example)
console.log(JSON.stringify(after_it, null, 2))

var datastructure = {
    "keyvalue": [
	{ "key": "next_topic_id", "value": 5 },
	{ "key": "next_comment_id", "value": 1 }
    ],
    "comment": [
    {
      "id": 1,
      "body": "Comment",
      "topic_id": 1
    },
    {
      "id": 2,
      "body": "Simply",
      "topic_id": 1
    }
  ],
  "file": [
    {
      "id": 1,
      "path": "upload/file1.sh",
      "description": "File #1",
      "comment_id": 2
    },
    {
      "id": 2,
      "path": "upload/file2.sh",
      "description": "File #2",
      "comment_id": 2
    }
  ],
  "topic": [
    {
      "id": 1,
      "title": "Topic Example"
    },
    {
      "id": 2,
      "title": "No reply"
    }
  ]
}

var oo = db_join(datastructure)
console.log(JSON.stringify(oo, null, 2))
