.bold {
    font-weight: bold
    }
.calibre {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: justify
    }
.calibre_ {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center;
    text-indent: 0
    }
.calibre_1 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-indent: 0
    }
.calibre_2 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-indent: 2em
    }
.calibre_3 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0
    }
.calibre_4 {
    height: 380px;
    vertical-align: baseline;
    width: 500px
    }
.calibre_5 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 1em;
    text-indent: 0
    }
.calibre_6 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 12pt;
    text-indent: 0
    }
.calibre_7 {
    height: 338px;
    vertical-align: baseline;
    width: 269px
    }
.calibre_8 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;
    text-indent: 0
    }
.calibre_9 {
    height: 221px;
    vertical-align: baseline;
    width: 373px
    }
.calibre_10 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;
    text-indent: 2em
    }
.calibre_11 {
    height: 600px;
    vertical-align: baseline;
    width: 433px
    }
.calibre_12 {
    height: 287px;
    vertical-align: baseline;
    width: 500px
    }
.calibre_13 {
    height: 326px;
    vertical-align: baseline;
    width: 500px
    }
.calibre_14 {
    height: 454px;
    vertical-align: baseline;
    width: 500px
    }
.calibre_15 {
    height: 276px;
    vertical-align: baseline;
    width: 202px
    }
.calibre_16 {
    height: 300px;
    vertical-align: baseline;
    width: 228px
    }
.calibre_17 {
    height: 600px;
    vertical-align: baseline;
    width: 388px
    }
.calibre_18 {
    height: 600px;
    vertical-align: baseline;
    width: 395px
    }
.calibre_19 {
    height: 403px;
    vertical-align: baseline;
    width: 292px
    }
.calibre_20 {
    height: 336px;
    vertical-align: baseline;
    width: 228px
    }
.calibre_21 {
    height: 401px;
    vertical-align: baseline;
    width: 313px
    }
.calibre_22 {
    height: 457px;
    vertical-align: baseline;
    width: 500px
    }
.calibre_23 {
    height: 600px;
    vertical-align: baseline;
    width: 410px
    }
.calibre_24 {
    height: 600px;
    vertical-align: baseline;
    width: 428px
    }
.calibre_25 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;
    text-align: center;
    text-indent: 0
    }
.calibre_26 {
    height: 252px;
    vertical-align: baseline;
    width: 172px
    }
.calibre_27 {
    height: 287px;
    vertical-align: baseline;
    width: 223px
    }
.calibre_28 {
    height: 600px;
    vertical-align: baseline;
    width: 391px
    }
.calibre_29 {
    height: 115px;
    vertical-align: baseline;
    width: 500px
    }
.calibre_30 {
    height: 337px;
    vertical-align: baseline;
    width: 500px
    }
.calibre_31 {
    height: 300px;
    vertical-align: baseline;
    width: 220px
    }
.calibre_32 {
    height: 567px;
    vertical-align: baseline;
    width: 500px
    }
.calibre_33 {
    height: 600px;
    vertical-align: baseline;
    width: 454px
    }
.calibre_34 {
    height: 600px;
    vertical-align: baseline;
    width: 431px
    }
.calibre_35 {
    height: 517px;
    vertical-align: baseline;
    width: 499px
    }
.calibre_36 {
    height: 600px;
    vertical-align: baseline;
    width: 479px
    }
.calibre_37 {
    height: 173px;
    vertical-align: baseline;
    width: 276px
    }
.calibre_38 {
    height: 338px;
    vertical-align: baseline;
    width: 500px
    }
.calibre_39 {
    height: 600px;
    vertical-align: baseline;
    width: 471px
    }
.calibre_40 {
    height: 172px;
    vertical-align: baseline;
    width: 120px
    }
.calibre_41 {
    height: 313px;
    vertical-align: baseline;
    width: 500px
    }
.calibre_42 {
    height: 147px;
    vertical-align: baseline;
    width: 205px
    }
.calibre_43 {
    height: 600px;
    vertical-align: baseline;
    width: 499px
    }
.calibre_44 {
    height: 600px;
    vertical-align: baseline;
    width: 484px
    }
.calibre_45 {
    height: 278px;
    vertical-align: baseline;
    width: 201px
    }
.calibre_46 {
    height: 103px;
    vertical-align: baseline;
    width: 189px
    }
.calibre_47 {
    height: 187px;
    vertical-align: baseline;
    width: 127px
    }
.calibre_48 {
    height: 219px;
    vertical-align: baseline;
    width: 500px
    }
.calibre_49 {
    height: 283px;
    vertical-align: baseline;
    width: 245px
    }
.calibre_50 {
    height: 600px;
    vertical-align: baseline;
    width: 379px
    }
.calibre_51 {
    height: 423px;
    vertical-align: baseline;
    width: 500px
    }
.calibre_52 {
    height: 600px;
    vertical-align: baseline;
    width: 474px
    }
.calibre_53 {
    height: 391px;
    vertical-align: baseline;
    width: 500px
    }
.calibre_54 {
    height: 147px;
    vertical-align: baseline;
    width: 228px
    }
.calibre_55 {
    height: 281px;
    vertical-align: baseline;
    width: 500px
    }
.calibre_56 {
    height: 282px;
    vertical-align: baseline;
    width: 500px
    }
.calibre_57 {
    height: 231px;
    vertical-align: baseline;
    width: 161px
    }
.calibre_58 {
    height: 334px;
    vertical-align: baseline;
    width: 500px
    }
.calibre_59 {
    height: 184px;
    vertical-align: baseline;
    width: 251px
    }
.calibre_60 {
    height: 183px;
    vertical-align: baseline;
    width: 500px
    }
.calibre_61 {
    height: 598px;
    vertical-align: baseline;
    width: 500px
    }
.calibre_62 {
    height: 333px;
    vertical-align: baseline;
    width: 498px
    }
.calibre_63 {
    height: 303px;
    vertical-align: baseline;
    width: 500px
    }
.calibre_64 {
    height: 229px;
    vertical-align: baseline;
    width: 500px
    }
.calibre_65 {
    height: 246px;
    vertical-align: baseline;
    width: 396px
    }
.calibre_66 {
    height: 332px;
    vertical-align: baseline;
    width: 500px
    }
.calibre_67 {
    height: 304px;
    vertical-align: baseline;
    width: 500px
    }
.calibre_68 {
    height: 600px;
    vertical-align: baseline;
    width: 401px
    }
.calibre_69 {
    height: 142px;
    vertical-align: baseline;
    width: 500px
    }
.calibre_70 {
    height: 600px;
    vertical-align: baseline;
    width: 366px
    }
.calibre_71 {
    height: 600px;
    vertical-align: baseline;
    width: 411px
    }
.calibre_72 {
    height: 115px;
    vertical-align: baseline;
    width: 251px
    }
.calibre_73 {
    height: 371px;
    vertical-align: baseline;
    width: 500px
    }
.calibre_74 {
    height: 163px;
    vertical-align: baseline;
    width: 261px
    }
.calibre_75 {
    height: 462px;
    vertical-align: baseline;
    width: 439px
    }
.calibre_76 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: right;
    text-indent: 0
    }
.calibre_77 {
    height: 600px;
    vertical-align: baseline;
    width: 441px
    }
.calibre_78 {
    height: 600px;
    vertical-align: baseline;
    width: 394px
    }
.calibre_79 {
    height: 298px;
    vertical-align: baseline;
    width: 500px
    }
.calibre1 {
    display: block
    }
.calibre2 {
    font-size: 1.83333em;
    line-height: 1.2
    }
.calibre3 {
    font-size: 1.66667em;
    line-height: 1.2
    }
.calibre4 {
    font-size: 1.29167em;
    line-height: 1.2
    }
.calibre5 {
    font-size: 0.625em
    }
.calibre6 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.calibre7 {
    font-size: 0.83333em
    }
.calibre8 {
    font-size: 1em
    }
.calibre9 {
    font-size: 1.2em;
    line-height: normal;
    vertical-align: super
    }
.italic {
    font-style: italic
    }
.mbp_pagebreak {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    page-break-after: always
    }
