@charset "utf-8";
*{
    margin: 0;
    padding:0;
    font-family: 微软雅黑;
}
.topbar{
    width:100%;
    background: #f6f6f6;
    height:33px;
    line-height:33px;
    border-bottom: 1px solid #dcdcdc;
    color:#777;
    font-size:14px;
}
.container{
    max-width: 1200px;
    margin:0 auto;
    padding-left: 10px;
}
.container a{
    text-decoration: none;
    line-height:58px;
    font-size: 18px;
    padding: 5px 15px;
    color:#666;
}
.navigation{
    float: right;
}
.container a:hover{
    border-radius: 3px;
    background: #38A8D6;
    color:#fff;
}
.header{
    width:100%;background: #E4E6E9;
}
.logo{
    height: 70px;
    padding-top: 10px;
}
.logo .logo-img{
    float: left;
    width: 70px;
    height: 70px;
}
.logo h1 {
    line-height: 60px;
    font-size: 22px;
    float: left;
    color:#555;font-weight: normal;
}
.logo img{
    width:60px;
}

.content{
    max-width:1200px;
    margin:10px auto;
}
.content .title{
    color:#1C6ABD;padding-left: 10px;font-size: 24px;  border-bottom:1px solid #ddd;
}
h1{
    font-weight: normal;
  line-height: 80px;
    text-align: left;
}
.geren{
    width:200px;height:200px;float: left;
}
.adv{
    line-height: 30px;padding-left: 30px;color:#777;font-size: 16px;
}
.adv-left{
    padding-left:265px;
}
.adv-left2{
    margin-top: 13px;
}
.clear{
    clear: both;
}
.details{
    margin: 20px auto;border-bottom:1px solid #ddd;padding-bottom: 20px;
}
.price{
    color:red;
    font-size: 18px;
}
.explain{
    margin-top:10px;padding-left: 10px;font-size: 22px;color:#555;
}
.qib{
    margin-top:30px;
}

.table{width:100%;border:0;border-spacing:0;border-collapse:collapse;  color:#777;}
.table>thead>tr>td, .table>thead>tr>th, .table>tbody>tr>td,
.table>tbody>tr>th{border:1px solid #e7e7e7;line-height:1.42857;padding:6px;vertical-align:middle;white-space:nowrap;text-align: center;}
/*斑马线*/.table>tbody>tr:nth-of-type(odd){background-color:#fbfbfb;}

.footer{
  width:100%;height:50px;font-size: 14px;
 }
.footer-main{
    max-width:1200px;margin:0 auto;color:#b4b4b4;padding:15px;
}
.footer-first{
    background: #2D2D2D;
}
.footer-next{
    background: #222;
}
.contact{
    float: left;margin-right: 30px;
}
.nav-left{
    float:left;
    font-size: 16px;
}
.nav-right{
    float:right;font-size: 14px;
}
.nav-left a{
    margin-right:30px;color:#b4b4b4;text-decoration: none;
}



