/* =====================================*/
/* Works Internet Archives (Red) */

/* Version 4.9.4 */
/* 11/8/99 */

/* by Brian Basgen and David Walters (Mar 99) */
/* =====================================*/

body { background : white }

a:link { color: #aa0000; background : transparent }
a:visited { color: #993333; background : transparent }


/* =====================================*/
/* misc class tags */
/* =====================================*/

img.right { float: right }
img.left { float: left }
img.center { align: center }

hr.section { width: 44%; align: center; height: 4px; }
hr.base { width: 94%; align: center; height: 1px; }
hr.end { width: 92%; align: center; height: 2px; }

TD { 
 font-family: "Times New Roman", serif; 
 font-size: 12pt;
 }

TD.eq { 
font-family: monospace; 
font-size: 10pt;
text-align: center;
 }

/* =====================================*/
/* Header class tags */
/* =====================================*/

/* Document Title */
H1 { 
 color: #330000;
 font-weight: bold; 
 font-size: 36pt; 
 font-family: "Times New Roman", serif;
 text-align: center; 
 margin-left: 6%;
 margin-right: 6%;
 }

/* Authors' name */
H2 { 
 color: black;
 font-weight: bold; 
 font-size: 16pt; 
 line-height: 100%;
 font-family: sans-serif;
 text-align: center; 
 }

/* Chapter Title */
H3 {
 color: #330000; 
 font-weight: bold;
 text-align: center;
 font-family : "Century Schoolbook", "Hoefler Text", "Times New Roman", serif;
 font-size: 28pt;  
 margin-left: 6%;
 margin-right: 6%;
 }
 
/* Section Title */
H4 {
 color: #330000; 
 font-weight: bold;
 text-align: center;
 font-family : sans-serif;
 font-size: 14pt;  
 line-height: 125%;
 margin-left: 6%;
 margin-right: 6%;
 }
 
/* Sub Section Title */
H5 {
 color: #330000; 
 font-weight: bold;
 text-align: center;
 font-family : sans-serif;
 font-size: 12pt;  
 line-height: 175%;
 margin-left: 6%;
 margin-right: 6%;
 }
 
/* Sub-Sub Section Title */
H6 {
 color: black; 
 font-weight: bold;
 text-align: center;
 font-family : sans-serif;
 font-size: 12pt;  
 line-height: 175%;
 margin-left: 6%;
 margin-right: 6%;
 }

/* =====================================*/
/* SPAN class tags */
/* =====================================*/


/* Footnotes */
span.note {
 color: #330000; 
 font-family : "Times New Roman", serif;
 font-size: 12pt;
 font-weight: bold;
 }
 
/* In-line footnote */
span.inote {
 color: #330000; 
 font-family : "Times New Roman", serif;
 font-size: 12pt;
 }
 
/* Index item description */
span.author {
 color: black; 
 text-indent: 0em;
 font-family : sans-serif;
 font-size: 12pt;
 font-weight: normal;
 margin-left: 2%;
}

/* Index item description */
span.info {
 color: #330000; 
 text-indent: 0em;
 font-family : sans-serif;
 font-size: 12pt;
 font-weight: bold;
}

span.context {
 color: #999999 
}

/* Index (Chapter) size */
span.size {
 color: #330000; 
 text-indent: 0em;
 font-family : "Geneva", sans-serif;
 font-size: 10pt;
 font-weight: normal;
 text-align: left;
 line-height: 100%;
 margin-left: 30%;
 margin-right: 1%;
}


/* =====================================*/
/* Paragraph class tags */
/* =====================================*/

/*----------------------------------*/
/*====== Standard elements =======*/
/*----------------------------------*/

/* Basic p */
p {
 color: black;
 text-indent: 1em;
 font-family : "Times New Roman", serif;
 font-size: 13pt;
 text-align: justify;
 line-height: 150%;
 margin-left: 6%;
 margin-right: 6%;
 }
 
/* Basic p -- without indent */
p.fst {
 color: black;
 text-indent: 0em;
 font-family : "Times New Roman", serif;
 font-size: 13pt;
 text-align: justify;
 line-height: 150%;
 margin-left: 6%;
 margin-right: 6%;
 }


/*----------------------------------*/
/*======== Quote elements ========*/
/*----------------------------------*/

/* Standard */
p.quote {
 color: black; 
 text-indent: 1em;
 font-family : "Times New Roman", serif;
 font-size: 13pt;
 line-height: 150%;
 text-align: justify;
 margin-left: 12%;
 margin-right: 12%;
}


/* Without indent */
p.quoteb {
 color: black; 
 text-indent: 0em;
 font-family : "Times New Roman", serif;
 font-size: 13pt;
 text-align: justify;
 line-height: 150%;
 margin-left: 12%;
 margin-right: 12%;
}


/* Increased margin */
p.quotec {
 color: black; 
 text-indent: 0em;
 font-family : "Times New Roman", serif;
 font-size: 13pt;
 text-align: justify;
 margin-left: 14%;
 line-height: 150%;
 margin-right: 14%;
}

/* Without indent */
p.quote-list {
 color: black; 
 text-indent: -1em;
 font-family : "Times New Roman", serif;
 font-size: 13pt;
 text-align: justify;
 line-height: 150%;
 margin-left: 14%;
 margin-right: 14%;
}

/* Quote citied */
p.inline {
 color: black; 
 text-indent: 0em;
 font-family : monospace;
 font-size: 12pt;
 text-align: right;
 margin-left: 20%;
 margin-right: 9%;
 }


/*----------------------------------*/
/*======== Index elements ========*/
/*----------------------------------*/

/* Table of Contents */
p.toc {
 color: black; 
 text-indent: 0em;
 font-weight: bold;
 font-family : sans-serif;
 font-size: 14pt;
 text-align: left;
 margin-left: 7%;
 margin-right: 7%;
}

/* Table of Contents A (for indexa) */
p.toca {
 color: black; 
 text-indent: 0em;
 font-weight: bold;
 font-family : sans-serif;
 font-size: 12pt;
 text-align: left;
 line-height: 50%;
 margin-left: 10%;
 margin-right: 10%;
}


/* Basic Index */
 p.index {
 color: black; 
 text-indent: 0em;
 font-family : sans-serif;
 font-size: 12pt;
 font-weight: bold;
 text-align: left;
 line-height: 200%;
 margin-left: 9%;
 margin-right: 9%;
}

/* Sub Index A*/
 p.indexa {
 color: black; 
 text-indent: 0em;
 font-family : Geneva, sans-serif;
 font-size: 10pt;
 font-weight: normal;
 text-align: left;
 line-height: 150%;
 margin-left: 12%;
 margin-right: 11%;
}

/* Sub Index B*/
 p.indexb {
 color: black; 
 text-indent: 0em;
 font-family : "Arial", sans-serif;
 font-size: 12pt;
 font-weight: normal;
 text-align: left;
 line-height: 100%;
 margin-left: 20%;
 margin-right: 6%;
}

/* Sub Index C */
 p.indexc {
 color: black; 
 text-indent: 0em;
 font-family : "Geneva", "Courier", sans-serif;
 font-size: 10pt;
 font-weight: normal;
 text-align: left;
 line-height: 120%;
 margin-left: 23%;
 margin-right: 6%;
}

/* Sub Index D */
 p.indexd {
 color: black; 
 text-indent: 0em;
 font-family : "Geneva", "Courier", sans-serif;
 font-size: 10pt;
 font-weight: normal;
 text-align: left;
 line-height: 120%;
 margin-left: 28%;
 margin-right: 6%;
}

/* Book Index (with sub-indexes, so reduced line height */
 p.index-list {
 color: black; 
 text-indent: 0em;
 font-family : sans-serif;
 font-size: 12pt;
 font-weight: bold;
 text-align: left;
 line-height: 100%;
 margin-left: 9%;
 margin-right: 9%;
}

/* "Editors' Introduction" */
p.index-intro {
 color: #330000; 
 text-index: 0em;
 font-family : "Times New Roman", serif;
 font-size: 12pt;
 font-weight: normal;
 text-align: left;
 line-height: 100%;
 margin-left: 9%;
 margin-right: 9%;
 }

/* Index (Chapter) size */
p.size {
 color: #330000; 
 text-indent: 0em;
 font-family : "Geneva", sans-serif;
 font-size: 10pt;
 font-weight: normal;
 text-align: right;
 line-height: 120%;
 margin-left: 40%;
 margin-right: 25%;
}


 
 
/*----------------------------------*/
/*======= General Document =======*/
/*----------------------------------*/

/* Book title for Chapter files */
P.title {
 color: black; 
 font-weight: bold;
 text-align: center;
 line-height: 120%;
 font-family : sans-serif;
 font-size: 12pt;  
 }

/* Document Bibliographical Informaiton */
p.information { 
 color: #330000; 
 text-indent: 0em; 
 font-size: 12pt; 
 font-family : "Times New Roman", serif;
 line-height: 140%;
 margin-right: 8%; 
 margin-left: 8% 
 }

/* Signature */
p.sig { 
 color: black; 
 text-indent: 0em; 
 font-family : "Times New Roman", serif;
 font-size: 13pt; 
 line-height: 180%;
 font-weight: bold;
 font-style: italic;
 text-align: left; 
 margin-right: 8%; 
 margin-left: 10% 
 }
 
 
/*-----------------------------------*/
/*========= Misc elements ========*/
/*----------------------------------*/
 
/* Equations */
p.equation {
 color: black;
 text-indent: 0em;
 font-family : monospace;
 font-size: 12pt;
 text-align: center;
 line-height: 125%;
 margin-left: 6%;
 margin-right: 6%;
 }
 
/* Seventh Document Header */
p.h7 {
 color: #330000; 
 font-family : "Geneva", "Courier", serif;
 font-size: 10pt;
 font-weight: bold;
 text-align: center;
 margin-left: 5%;
 margin-right: 6%;
 }
 
/* Misc page note */
p.pagenote {
 color: #330000; 
 font-family : "Geneva", "Courier", serif;
 font-size: 9pt;
 text-align: center;
 margin-left: 6%;
 margin-right: 6%;
 }
 
/* Misc page note -- justified (for longer notes) */
p.pagenoteb {
 color: #330000; 
 font-family : "Geneva", "Courier", serif;
 font-size: 9pt;
 text-align: justify;
 margin-left: 10%;
 margin-right: 10%;
 }
 
/* For blank spaces */
p.skip { line-height: 75% }
 
/*----------------------------------*/
/*====== Page-ending elements =====*/
/*----------------------------------*/

/* Next Section-Chapter of work */
p.next {
 color: black; 
 text-indent: 0em;
 font-family : sans-serif;
 font-size: 14pt;
 font-weight: bold;
 text-align: center;
 line-height: 125%;
 }
 
/* Page bottom links */
P.footer { 
 color: black; 
 text-indent: 0em; 
 font-weight: bold;
 font-family : sans-serif;
 font-size: 12pt; 
 text-align: center; 
 margin-left: 6%;
 margin-right: 6%;
 line-height: 160%;
 }

/*----------------------------------*/
/* ====== Obsolete elements =======*/
/*----------------------------------*/
 
/* OBSOLETE */
 p.longindex {
 color: black; 
 text-indent: 0em;
 font-family : serif;
 font-size: 12pt;
 text-align: left;
 line-height: 180%;
 margin-left: 9%;
 margin-right: 9%;
}

/* OBSOLETE */
 p.subindex {
 color: black; 
 text-indent: 0em;
 font-family : sans-serif;
 font-size: 10pt;
 font-weight: bold;
 text-align: left;
 line-height: 140%;
 margin-left: 12%;
 margin-right: 12%;
}

/* OBSOLETE */
span.title {
 color: black; 
 font-weight: bold;
 text-align: center;
 font-family : sans-serif;
 font-size: 12pt;  
 }
 
/* OBSOLETE */
span.pagenote {
 color: #330000; 
 font-family : "Geneva", "Courier", serif;
 font-size: 9pt;
 text-align: center;
 margin-left: 6%;
 margin-right: 6%;
 }
 
/* OBSOLETE */
span.subhead {
 color: #330000; 
 font-family : "Geneva", "Courier", serif;
 font-size: 10pt;
 font-weight: bold;
 text-align: center;
 margin-left: 5%;
 margin-right: 6%;
 }
 
/* OBSOLETE */
span.cap { 
 color: black; 
 font-family : "Times New Roman", serif;
 font-size: 16pt;
 font-weight: bold;
 }
 
 
/* =====================================*/