body {
    background-color: rgba(48, 56, 65, 1);
}

a {
    text-decoration:none;
} 
.u0 {
    margin: 0 10%; 
    font-weight: 500;
    font-family: 'ZHSYKT';
    font-size: 4vw;
    color: #F6C90E;
    text-align: left;
}

.u1 {
    margin: 0 10%; 
}

.u1 img{
    margin: 5px; 
}

.u2 {
    margin: 5% 10%; 
    font-size: 2vw;
    font-family: 'ZHSYKT';
    color: #EEEEEE;
}

@media (max-width:768px){
    .u0{font-size:48px;}
    .u1 img{margin:2px;}
    .u2{font-size:20px;}
}