@font-face {
    font-family: "ZHSYKT";
    src: url("fonts/ZHSYKT.eot"); /* IE9 */
    src: url("fonts/ZHSYKT.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    
    url("fonts/ZHSYKT.woff") format("woff"), /* chrome、firefox */
    url("fonts/ZHSYKT.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    
    url("fonts/ZHSYKT.svg#ZHSYKT") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}