/* margin: top, right, bottom, left */
body{
 font-family: Arial, Helvetica, sans-serif;
 font-size: 16px;
 margin: 0px;
}
.headline{
 background-color: #889db2; 
 margin-top: 2px;
 margin-left: 4px;
 line-height: 22px;
}
.headelement, .clickable, .headlang{
 padding-left: 1px;
 padding-right: 1px;
 margin-left: 1px;
 margin-top: 1px;
 font-weight: bold;
 display: inline-flex;
 height: 22px;
 align-items: center;
 background-color: rgba(255, 255, 255, 0.7);
 -webkit-border-radius: 2px; -moz-border-radius: 2px; -o-border-radius: 2px; -ms-border-radius: 2px; border-radius: 2px ; transition: all 0.3s;
}
.headlang{
 width: 44px;
}
.headlink{
 text-decoration: none;
}
.info{
 vertical-align: middle;
}
.cardlink{
 color: inherit;
 text-decoration: none;
}
.generic_rules{
 width: 315px; 
 margin: 5px 4px 0px 4px;
}
.rule_body {
 margin: 0px 3px 3px 3px;
}
.rule_div_dyn, .rule_div, .rule_div_print, .card_div, .back_div, .ekliptik_div, .raumzeit_div, .card_div_print{
 width: 315px; -webkit-border-radius: 16px; -moz-border-radius: 16px; -o-border-radius: 16px; -ms-border-radius: 16px; border-radius: 16px;
 transition: all 0.3s;
 border-style: solid; 
 border-width: 2px;
}
.rule_div_dyn{
 background-color: #e7d6ae;
 border-color: #dddddd;
 margin: 2px 0px 3px 0px;
}
.rule_div{
 background-color: #bbbbbb;
 height: 440px;
 border-color: #dddddd;
 margin: 2px 0px 3px 0px;
}
.card_div{
 height: 440px;
 position: relative;
 border-color: #dddddd;
 text-shadow: 1px 1px #999999;
 margin: 2px 0px 3px 0px;
}
.card_div_print{
 height: 440px;
 position: relative;
 border-color: #dddddd;
 text-shadow: 1px 1px #ffffff;
 margin: 0px 0px 0px 0px;
}
.rule_div_print{
 background-color: #ffffff;
 height: 440px;
 border-color: #dddddd;
 margin: 0px 0px 0px 0px;
}
.back_div{
 height: 440px;
 border-color: #333333;
 text-shadow: 1px 1px #999999;
 background-image: url(../data/img_cards/rueckseite_back.jpg);
 margin: 0px 0px 0px 0px;
}
.ekliptik_div{
 height: 440px;
 border-color: #333333;
 text-shadow: 1px 1px #999999;
 background-image: url(../data/img/ekliptik.jpg);
 margin: 0px 0px 0px 0px;
}
.raumzeit_div{
 height: 440px;
 border-color: #333333;
 text-shadow: 1px 1px #999999;
 background-image: url(../data/img/raumzeit_back.jpg);
 margin: 0px 0px 0px 0px;
}
.tab_div{
 width: 70px;
 padding-left: 4px;
 display: inline-block; 
 position: relative;
 -webkit-border-radius: 5px; -moz-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; border-radius: 5px ; background-color: #cccccc; margin: 0px 0px 0px 0px; transition: all 0.3s;
}
.clickable{
 background-color: #bbbbbb;
 cursor: pointer;
}
.card_tab{
 cursor: pointer;
 line-height: 24px;
 width: 300px;
 text-align: left;
 padding-right: 8px;
 padding-left: 8px;
 display: inline-block; 
 position: relative;
 -webkit-border-radius: 2px; -moz-border-radius: 2px; -o-border-radius: 2px; -ms-border-radius: 2px; border-radius: 2px ; transition: all 0.3s;
 background-color: #aaadd2; 
}
.tab_div_b{
 cursor: pointer;
 width: 20px;
 text-align: center;
 padding-right: 8px;
 padding-left: 8px;
 display: inline-block; 
 position: relative;
 -webkit-border-radius: 5px; -moz-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; border-radius: 5px ; background-color: #cccccc; margin: 0px 0px 0px 0px; transition: all 0.3s;
}
.print_td{
	border: none;
	border-collapse: collapse;
	padding: 0;
	margin: 0;
}
.card_strength{
 font-size: 20px;
 font-weight: bold;
 position: absolute;
 left: 275px;
 bottom: 0px;
 padding: 2px 6px 2px 2px;
}
.card_header {
 margin: 2px 0px 2px 0px;
 height: 20px;
 line-height: 20px;
}
.card_title {
 font-size: 16px;
 font-weight: bold;
 display: inline-block;
 margin: 1px 0px 0px 6px;
}
.mana_img{
 margin-top: 1px;
 margin-left: 1px;
}
.mana_img_cost{
 vertical-align: top;
 margin-left: 2px;
}
.card_cost{
 font-size: 20px;
 font-weight: bold;
 margin: 0px 6px 0px 0px;
 float: right;
}
.card_pic {
 margin: 1px 12px 0px 12px;
 width: 290px; height: 232px; 
 border-style: solid; 
 border-width: 1px;
 border-color: #000000;
}
.card_type {
 font-size: 16px;
 padding-left: 2px;
 padding-right: 2px;
-webkit-border-radius: 5px; -moz-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; border-radius: 5px ;
 background-color: rgba(255, 255, 255, 0.4);
 font-style: italic;
 margin: 2px 10px 0px 10px;
}
.card_body {
 font-size: 16px;
 heigth: 142px;
 padding-left: 2px;
 padding-right: 2px;
-webkit-border-radius: 5px; -moz-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; border-radius: 5px ;
 background-color: rgba(255, 255, 255, 0.4);
 margin: 5px 10px 2px 10px;
 line-height: 19px;
}
.card_extra {
 font-size: 12px;
 font-style: italic;
 margin: 5px 12px 5px 12px;
 border-color: #dddddd;
}
.status_ready, .status_beta, .status_prealpha{
 display: inline-block;
 padding-left: 2px;
 padding-right: 2px;
-webkit-border-radius: 5px; -moz-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; border-radius: 5px ;  
 background-color: #75e058;
 margin: 5px 0px 5px 0px;
}
.status_beta{
 background-color: #dbe058;
}
.status_prealpha{
 background-color: #e05e58;
}
