vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|14 Nov 2009 03:50:38 -0000
vti_extenderversion:SR|5.0.2.6790
vti_author:SR|Light-PC\\Light
vti_modifiedby:SR|Light-PC\\Light
vti_timecreated:TR|14 Nov 2009 03:50:38 -0000
vti_cacheddtm:TX|14 Nov 2009 03:50:38 -0000
vti_filesize:IR|3166
vti_cachedlinkinfo:VX|S|loader.gif
vti_cachedsvcrellinks:VX|NSUS|css/loader.gif
vti_lineageid:SR|{903915DC-1891-41C3-A16F-B17C403E4AF5}
vti_backlinkinfo:VX|
