vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|14 Nov 2009 03:50:38 -0000
vti_extenderversion:SR|5.0.2.6790
vti_author:SR|Light-PC\\Light
vti_modifiedby:SR|Light-PC\\Light
vti_timecreated:TR|14 Nov 2009 03:50:38 -0000
vti_cacheddtm:TX|14 Nov 2009 03:50:38 -0000
vti_filesize:IR|3363
vti_cachedlinkinfo:VX|S|loader.gif S|caption.png
vti_cachedsvcrellinks:VX|NSUS|css/loader.gif NSUS|css/caption.png
vti_lineageid:SR|{D68D42A2-6AA0-4468-BF4A-1359CC6820DC}
vti_backlinkinfo:VX|
