.title {
    text-align: center;
    font-size: 1.5em;
    margin: 20px;
}

.desc {
    text-align: center;
    margin-bottom: 20px;
}

.test-block {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #DDDDDD;
}

.test-title {
    font-size: 1.25em;
    margin-bottom: 5px;
}

.test-result {
    word-break: break-all;
}

.red {
    color: #DD0000;
}

.pass {
    color: green;
}
