a:link,
a:visited,
a:active,a.unvisited:link, a.unvisited:visited, a.boldThirteen:link, a.boldThirteen:visited 
{
color: #093d72;
text-decoration: none;
outline:0;
}

a:hover {
color:#c74b15;
text-decoration:none;
outline:0;
}

a.titlelink:link,
a.titlelink:visited,
a.titlelink:active {
font-size:14px;
font-weight:bold;
color: #303030;
text-decoration: none;
}

.pumpkin, .boldPumpkinFourteen, .boldPumpkinSixteen, .timesBoldPumpkinSixteen, A:hover, A:active, a.blackBoldTwelve:hover, a.unvisited:hover, a.titlelink:hover, a.unvisited:active,a.whitelink:hover, a.whitelink:active, a.pumpkinIndex:link, a.pumpkinIndex:active, a.pumpkinIndex:visited {
color: #c74b15;text-decoration: underline;
}

a.whitelink:link,a.whitelink:visited {
color:#FFF}

a.navigation_bottom:link, a.navigation_bottom:visited, a.navigation_bottom:active {
color: whitesmoke;
text-decoration: none;
font-size: 12px
}

a.navigation_bottom:hover {
color: #c74b15;
text-decoration: none;
}

a.loginlink:link, a.loginlink:visited, a.loginlink:active {
color:#e36627; 
background: url(../Pictures/Format/login_arrow_nav.gif) no-repeat right center; 
padding:7px 18px 7px 8px;
text-decoration: none;
line-height:30px;
font-weight:bold; 
cursor:pointer; 
outline:0;
display:none;
}

a.loginlink:hover {
background: url(../Pictures/Format/login_arrow_nav_white.gif) no-repeat right center;
background-color:#e36627;
color:#FFF;
outline:0;
}


span#welcomeuser {
color:#FFF;
text-decoration: none;
margin-top:5px;
line-height:30px;
display:none;
}

div.loginpanel {
position:absolute;
width: 333px;
z-index: 2000;
background-color:#FFF;
}

ul.navigation_bottom_sub a:link {
color: #C1E4FA; 
text-decoration: none; 
font-size: 12px; 
font-weight:normal;
padding:1px;
}

ul.navigation_bottom_sub a:visited {
color: #C1E4FA; 
text-decoration: none; 
font-size: 12px; 
font-weight:normal;
padding:1px;
}

ul.navigation_bottom_sub a:active {
color: #C1E4FA;
text-decoration: none; 
font-size: 12px;
font-weight:normal;
padding:1px;
}

ul.navigation_bottom_sub a:hover {
color: blue; 
text-decoration: none; 
font-size: 12px; 
font-weight:normal; 
background-color:#C1E4FA;
padding:1px;
}

body {
text-align:center; 
margin:0px;
padding:0px;
background-color:#1a1c1d;
font-family: Arial;
overflow-x:hidden;
/*
user-select: none;
-o-user-select:none;
-moz-user-select: none;
-khtml-user-select: none;
-webkit-user-select: none;
hutia:expression(this.onselectstart=function(){return(false)});
*/
} 

div {
margin:auto;
}

#hatarea {
background-color:#474747;
padding-top:6px; 
width:991px; 
text-align:left;
}

#logoarea {
padding-left:15px; 
padding-top:5px;
}

#logoleft {
float:left;
}

#datetimebar {
font-size:12px;
color:#BBB;
padding-left:2px;
margin-bottom:3px;
}

#logoimg {
float:left; 
border-right: 1px solid #CCC; 
padding-right:5px;
height:59px;
}

#logoright {
float:right; 
margin-right:5px; 
margin-top:5px;
}

#content {
background: url(../Pictures/Format/subnav_bg.gif) repeat-x top;
background-color:#FFF;
width:991px;
clear:left;
text-align:left;
}

#contentspace {
display:none;
}

#sponsor {
background-color:#f5f7f9;
color:#303030; 
font-size:12px;  
margin: 15px 15px 15px 10px; 
padding:10px 0px 10px 10px;
border: 1px solid #e3e3e3;
}

hr.clearFloat {
clear:both;
display:block;
margin:0px;
visibility:hidden;
}

.clearFloat {
clear:both;
height:0pt;
line-height:0pt;
margin:0px;
padding:0px;
}

#service { 
margin:3px;font-size:12px;font-weight:bold;color:#000000;margin:3px 3px 5px 6px;/*font-family:arial;*/
}

.service_sub { 
background: url(../Pictures/Format/orange_bullet.gif) no-repeat left; padding-left:10px;/*font-family:arial;*/
margin:3px 3px 5px 6px;font-size:12px;
}

#nav {
background-Color:#FFF;
height:60px;
}

#navigation { 
list-style-type: none;
margin:0px;
padding:0px 0px 0px 15px;
display:block;
position:relative;
background-Color:#EEE;
font-size:14px;
font-weight:bold;
height:30px;
background:url(../pictures/format/nav_bg_inactive.gif) repeat scroll 0 0;
}

ul.navigation_bottom {
list-style-type: none;
margin:0px 10px 0px 0px;
padding:0px;
display:block;
position:relative;
font-weight:bold;
height:120px;
}

ul.navigation_bottom_sub {
list-style-type: none;
margin:0px 20px 0px 0px;
padding:0px 0px 0px 5px;
display:block;
position:relative;
height:220px;
}

ul.navigation_bottom_sub li {
background: url(../Pictures/Format/white_bullet.gif) no-repeat left; 
padding-left:8px;
}

li.navigation_bottom {
float:left;
display:block
margin:0px;
padding:8px 0px 5px 0px;
}


#navigation li {
display:block;
float:left;
margin:0px;
padding:8px 0px 5px 0px;
background:url(../pictures/format/nav_bg_inactive.gif) repeat scroll 0 0;
}

#navigation a {
display: block; 
text-align:center;
background: url(../pictures/format/dot3.gif) repeat-y right;
padding:0px 8px 0px 8px;
font-size:14px;
position:relative;
font-family:simsun;
}

#navigation a:link,#navigation a:visited {
  text-decoration:none;font-weight:bold;
}

#navigation li.sfhover a{
top:-5px;position:absolute;background:none;background-Color:#FFF;border-top:1px solid #AEAAA8;border-left:1px solid #AEAAA8;border-right:1px solid #AEAAA8;padding-top:10px;padding-bottom:8px;color:#c74b15;
}

#navigation li ul {
list-style-type:none;text-align:left;
left: -999em; position: absolute; float:left;top:30px;width:950px; 
}

#navigation li ul li{
float:left;
background: #FFF;
}

#navigation li ul a {
display: block; text-align:center; font-size:12px;
}

#navigation li ul a:hover,#navigation li.sfhover ul a {
top:0px;position:relative;background-Color:#FFF;border:0px;padding-top:0px;padding-bottom:0px;background: url(../pictures/format/dot3.gif) repeat-y right;color: #093d72;
}

#navigation li.sfhover ul a:hover {
background-color:#c74b15;
color:#FFF;
padding-top:2px
}

#navigation li ul a:link,#navigation li ul a:visited {
text-decoration:none;
}

#navigation li.sfhover ul {
left: -20;
}

#thetitle {
margin-top:30px;
margin-left:5px;
font-weight:bold;
color: #474747;
font-size:20px;
float:left;
}


#column1 {
width:585px;
float:left;
}

#column1space {
width:585px;
clear:left;
}

#column2 {
width:406px;
float:left;
}

#bottom1 {
background-color:#FFF;
width:991px;
text-align:left;
padding-top:10px;
}

#bottom2 {
width:991px;
}

#top1 {
width:585px;
overflow:hidden;
padding-bottom:10px;
}

#t1news1, #top1space {
float:left;
background-color:#F4F1E9;
border-top:4px solid #CCC1A8; 
margin:15px 0px 5px 15px; 
padding:10px 0px 25px 0px;
display:inline;
width:570px;
}

#t1news2 {
float:left;
background-color:#EFF4F8;
border-top:4px solid #b0cada; 
margin:15px 0px 5px 15px; 
padding:10px 0px 25px 0px;
display:inline;
width:570px;
}

#top1space {
display:none;
}

#top2left {
width:295px;
float:left;
overflow:hidden;
}

#top2right {
overflow:hidden;
float:left;
width:290px;
}

.lefttitle {
color:#303030; 
font-size:14px; 
font-weight:bold;
margin-bottom:4px;
}

.righttitle {
color:#303030; 
font-size:14px; 
font-weight:bold;
margin-bottom:4px;
}

#t2lnews {
border-top:4px solid #b0cada;
margin-left: 15px;
padding:0px 5px 15px 10px;
}

.t2lnews {
color:#303030; 
font-size:14px; 
border-top:4px solid #b0cada; 
margin:0px 0px 15px 15px;
padding:5px 5px 0px 10px;
}

#t2lnews1, #t2lnews2, #t2lnews3, #t2lnews4, #t2lnews5, #t2lnews6, #t2lnews7, #t2lnews8, #t2lnews9 {
color:#303030; 
font-size:14px; 
border-top:4px solid #b0cada; 
margin:0px 0px 15px 15px;
padding:5px 5px 0px 10px;
}

#t2lnews1r, #t2lnews2r, #t2lnews3r, #t2lnews4r, #t2lnews5r, #t2lnews6r, #t2lnews7r, #t2lnews8r, #t2lnews9r {
color:#303030; 
font-size:14px; 
border-top:4px solid #CCCCCC; 
margin:0px 0px 15px 15px;
padding:5px 5px 0px 10px;
}

.top2right {
border-top:4px solid #b0cada; 
margin:0px 0px 15px 10px;
padding:5px 5px 0px 10px;
color:#303030; 
font-size:14px; 
font-weight:bold;
}

#top2right1, #top2right2, #top2right3, #top2right4, #top2right5, #top2right5, #top2right6, #top2right7, #top2right8, #top2right9 {
border-top:4px solid #b0cada; 
margin:0px 0px 15px 10px;
padding:5px 5px 0px 10px;
color:#303030; 
font-size:14px; 
font-weight:bold;
}

#top2right1r, #top2right2r, #top2right3r, #top2right4r, #top2right5r, #top2right5r, #top2right6r, #top2right7r, #top2right8r, #top2right9r {
border-top:4px solid #C8C0AB; 
margin:0px 0px 15px 10px;
padding:5px 5px 0px 10px;
color:#303030; 
font-size:14px; 
font-weight:bold;
}

#highlights {
/*border-top:4px solid #b0cada;cherylmodify*/
margin:0px 0px 15px 10px;
padding: 0px 10px 0px 5px;
}

#HighlightsLayout {
font-size:14px; 
font-weight:bold; 
padding-bottom: 3px; 
background: url(../pictures/format/dot3.gif) repeat-x bottom;
}

#HighlightsLayoutModified {
font-size:14px; 
font-weight:bold; 
padding-bottom: 3px; 
}

#slides {
overflow:hidden;
padding-left:5px; 
padding-bottom:4px;
display:none;
}

#vid {
border-top:4px solid #b0cada;
margin:15px 10px 10px 10px;
}

#VidLayout {
font-size:14px;
font-weight:bold;
background: url(../pictures/format/dot3.gif) repeat-x bottom;
}

#vslides {
overflow:hidden;
display:none;
}

#thisvslide, #allvslides {
font-weight:bold;
}

.highlights
{
	border-top: 4px solid #B0CADA;
	margin: 0 0 15px 10px;
	padding: 0 10px 0 5px;
}
.highlights .HighlightsLayout
{
	background: url("../pictures/format/dot3.gif") repeat-x scroll center bottom rgba(0, 0, 0, 0);
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 3px;
}

a.top10select:link,  a.top10select:visited, a.top10select:hover, a.top10select:active {
border-width: 1px 1px 0px 1px; 
border-style:solid; 
border-color:#CCC; 
background-color:#FFF; 
padding: 6px 8px 5px 8px;
text-decoration: none;
cursor:default;
color:#093D72;
}

a.top10select:focus {
outline:0
}

a.top10 {
border-width: 1px 1px 0px 1px; 
border-style:solid; 
border-color:#EFF4F8; 
padding: 6px 8px 4px 8px;
text-decoration: none;
}

a.top10:hover {
cursor:pointer;
border-width: 1px 1px 0px 1px; 
border-style:solid; 
border-color:#EFF4F8; 
text-decoration: none;
}

a.top10:focus {
outline:0
}

div#navlist a {
color:#B5D8F4;
text-decoration:none;
}

div#navlist div {
width:150px;
margin: 3px 0px 3px 0px;
padding: 3px 6px 3px 6px;
text-align:left;
}

#ad377x140 {
width:377px;
}

#column2 #ad300x250_336x280_300x600
{
	width: 374px; overflow: hidden; text-align:center; border:1px solid #E3E3E3; background-color:#F5F7F9;margin:15px 15px 30px 10px;padding:15px 0px 15px 0px;
}