a.c:link { color: #0066CC; font-weight: bolder; font-size: 12px }
a.c:visited { color: #006666; font-size: 12px; font-weight: bolder}
a.c:active { color: #F99727; text-decoration: underline; font-size: 12px }
a.c:hover { color: #F99727; text-decoration: underline; font-size: 12px }

.text {  font-size: 12px; letter-spacing: normal; vertical-align: top; word-spacing: normal; white-space: normal; margin-top: 0px; margin-right: 5px; margin-bottom: 0px; margin-left: 10px}
.gray-table {  border-color: #CCCCCC black; border-style: solid; border-top-width: 1pt; border-right-width: 0px; border-bottom-width: 1pt; border-left-width: 0px}
.black-table {  border: 1px #000000 solid}
.graytext-B {  font-size: 12px; font-weight: bolder; color: #999999; letter-spacing: normal; vertical-align: super; word-spacing: normal}
.blacktext-B {  font-size: 12px; color: #000000; font-weight: bolder; letter-spacing: normal; vertical-align: top; word-spacing: normal}
.blacktitle {  font-size: 16px; font-weight: bolder; color: #000000; vertical-align: super}
.graytable2 { border: #CCCCCC; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px }
.advertisement {  font-size: 12px; color: #CCCCCC}
a:link {  color: #0066CC; text-decoration: none}
a:hover {  color: #FF9900; text-decoration: none}
b:link {  font-weight: bolder; color: #000000; text-decoration: none}
b:hover {  font-weight: bolder; color: #FF9900; text-decoration: none}
b:active {  font-weight: bolder; color: #000000; text-decoration: none}
b:visited {  font-weight: bolder; color: #000000; text-decoration: none}
a:visited {  text-decoration: none}

.border3 { border: solid; border-width: 1px 1pt 1px 1px; border-color: #CCCCCC #666666}.text1Copy { font-size: 12px; color: #000000 }
.top-engilsh-s {  font-family: "Arial", "Helvetica", "sans-serif"; font-size: 8pt}