

.luxury_column2_title a
{
    text-decoration:none;
    font-family:Arial;
    font-weight:bold;
    font-size:20px;
    padding-left:5px;
    font-weight:bold;
}

.luxury_column2_title a.titlelink
{
    color:#484647;
    font-size:20px;
    font-weight:normal;
}

.luxury_column2_title a.titlelink:visited
{
    font-size:20px;
}

.luxury_column2_title a.titlelink:hover
{
    color:#1D81A5;
    text-decoration:none;
}

#column1_container
{
    margin:10px 0 0 20px;
    width:553px;
}

.column1_nowreport_title a
{
    
    text-decoration:none;
}

.column1_nowreport_title a:link
{
    color:#000;
    text-decoration:none;
}

.column1_nowreport_title a:hover
{
    color:#1D81A5;
    text-decoration:none;
}

.column1_top
{
    margin:2px 0 30px 0;
	padding-top:5px;
}

.column1_top .column1_top_header
{
    padding-left:18px;
}

.column1_top .column1_top_header a img
{
    border:none;
}

.column1_top .column1_top_container
{
	padding-left:20px;
}




.column1_top_navcontainer
{
    margin:5px 0;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .column1_top_navcontainer {margin:10px 0;}
}

.column1_top_navcontainer ul
{
    list-style-type:none;
    margin:0;
    padding:0 !important;
    padding:5px 0 0 0;
    width:553px;
    
}
/* shalongstyle*/
.column1_left_bgcontainer
{
    background-color: #F0F0F0;
    height:100px;
    padding-left:5px;
    color:White;

}
.column1_left_bg1
{
    background-image:url(http://cn.wsj.com/Pictures/shalongimg/shalongleftbg.jpg);
    width:544px;
    height:24px;
    padding-left:20px;
    padding-top:5px
 }
 .column1_left_report_title
 {
     font-size: 20px; 
     font-family:Arial;
     font-weight:bold;
     color: Black; 
     padding-top: 10px; 
     padding-bottom: 5px;
     padding-left: 5px;
     
     }
  

       
       
 .column1_left_report_text
 {
     font-size: 14px; 
     color: #9B9B9B; 
     line-height: 20px;
     padding-top: 5px; 
     padding-bottom: 5px;
     padding-left: 10px; 

     
     }
  .column1_right_report_title
 {
     font-size: 16px; 
     font-family:Arial;
     font-weight:bold;
     color: Black; 
     padding-top: 10px; 
     padding-bottom: 5px;
     padding-left: 5px;_padding-left: 12px;
     font-weight:bold;
     
     }
 .column1_right_report_text
 {
     font-size: 13px; 
     color: #Black; 
     padding-top: 5px; 
     padding-bottom: 5px;
     padding-left: 5px;_padding-left: 12px;
     line-height: 20px
     
     }
     
 .column1_left_report_bigfont
 {
     float: left;
     padding-top:10px;
     padding-bottom:10px;
     font-family:Arial;
     font-weight:bold;
     font-size:25px
     
     }
     
   .column1_leftreport_imgtitle
   {
       color: #FFFFFF; 
       font-family: Arial;
              
       
       }
   .column1_leftreport_imgtitle a
   {
       color: #FFFFFF; 
       text-decoration:none;
       }
  .column1_leftreport_imgtitle a.link
   {
       color:#FFFFFF;
       text-decoration:none;
       }
  .column1_leftreport_imgtitle a.visited
   {
       color:#FFFFFF;
       text-decoration:none;
       }     
 .column1_leftreport_imgtitle a:hover
   {
       color:#1D81A5;
       text-decoration:none;
       }   
       

 
   .column1_right_vedo_title
 {
     font-weight:bold;

     color:#000;
     padding-left: 10px;
     float:left;


     font-family:Arial;
     font-weight:bold;
     font-size:25px
     
     }
     
 .column1_left_sciencebj
{
    background-image:url(http://cn.wsj.com/Pictures/shalongimg/shalongscience.jpg);
    width:551px;
    height:360px;_height:364px;
    float: left; 
    padding-top: 5px;

 }   
  
 .column1_left_buildding
{
    background-image:url(http://cn.wsj.com/Pictures/shalongimg/shalongjianzhu1.jpg);
    width:284px;
    height:364px;
    
 }   
 
  .column1_left_media
{
    background-image:url(http://cn.wsj.com/Pictures/shalongimg/shalongjianzhu2.jpg);
    width:269px;
    height:211px;

 }   
 
   .column1_left_hospital
{
    background-image:url(http://cn.wsj.com/Pictures/shalongimg/shalongtest4temple.jpg);
    width:551px;
    height:363px;_height:364px;
    float: left; 
    padding-top: 5px;
 
 }   
 
 

.column1_top_navcontainer ul li
{
	display:inline;
	margin:0;
	padding:0;
	border-right: double #CCCCCC;
}

.column1_top_navcontainer ul li a
{
	font-family:SimHei, sans-serif;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .column1_top_navcontainer ul li {margin:0 0 0 4px;}
    .column1_top_navcontainer ul li.firstli {margin:0;}
}

.column1_top_navcontainer ul li span
{
    margin-left:7px !important;
	margin-left:0px;
}

.column1_top_navcontainer ul li a
{
    color:#484647;
    text-decoration:none;
    padding:3px 18px 1px !important;
    padding:10px 17px;
    font-size:20px;
    font-weight:normal;
    letter-spacing:-1px;
    margin:0 !important;
    margin:0 0 0 9px;
}

.column1_top_navcontainer ul li.firstli a {
    margin:0;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .column1_top_navcontainer ul li a {padding:3px 18px;}
}

#column1_container .column1_top_navcontainer ul li a:link
{
	color:#484647;
}

#column1_container .column1_top_navcontainer ul li a:visited
{
	color:#484647;
}

#column1_container .column1_top_navcontainer ul li a:hover
{
	color:#1D81A5;
	background: url('http://cn.wsj.com/pictures/format/luxetinybkgd.png') repeat;
}

#column1_container .column1_top_navcontainer ul li a.active
{
    background: url('http://cn.wsj.com/pictures/format/luxetinybkgd.png') repeat;
}



.column1_top_one
{
    margin:10px 0 0 0 !important;
    margin:10px 0 0 0;
    width:553px;
    height:1px;
    background-color:#26708D;

}

.column1_top_one img
{
    border-style: none none solid none; 
    border-width: 2px; 
    border-color: #000000;
    margin-bottom:5px;
	width:550px;
}

.column1_top_one img:hover
{
	border-color: #1D81A5;
}

.column1_top_one p
{
    margin:2px 0 6px 0;
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    font-weight:normal;
    color:#484647;
    line-height:20px;
}




.column1_thumbnails
{
    margin:10px 0 0 0;
    overflow:hidden;
}

.column1_thumbnails_thumbnail
{
    float:left;
    width:262px;
    /*height:234px;*/
    margin:0 0 30px 0;
    font-weight:bold;
    font-size:18px;
}

.column1_thumbnails_thumbnail_right
{
    float:right;
}

.column1_thumbnails_thumbnail ul
{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    overflow:hidden;
    /*opacity: 0.5;
    filter:alpha(opacity=50);*/
}

.column1_thumbnails_thumbnail ul li
{
    margin-bottom:0px; 
    overflow:hidden;
}

.column1_thumbnails_thumbnail a
{
    text-decoration:none;
    color:#000;
}

.column1_thumbnails_thumbnail a:visited
{
    text-decoration:none;
    color:#000;
}

.column1_thumbnails_thumbnail a:hover
{
    color:#1D81A5;
}

.column1_thumbnails_thumbnail img
{
    border-style: none none solid none; 
    border-width: 2px; 
    border-color: #000000; 
    float:left;
    margin-bottom:5px;
}

.column1_thumbnails_thumbnail img:hover
{
    border-color: #1D81A5;
}

.clearboth { clear: both; }

.column2_bigpicture
{
    width:375px;

    margin:5px 15px 5px 10px;
    
    padding: 0;
}

.column2_bigpicture .column2_bigpicture_header
{
    font-weight:bold;

    overflow:hidden;
}

.column2_header_counter
{
    float:right;
    height:20px;
}

.column2_header_counter ul
{
    list-style-type:none;
    margin:0;
    padding:0;
}

.column2_header_counter ul li
{
    display:inline-block;
    _display:inline;
    margin:0;
    padding:0;
    font-size:12px;
    font-weight:bold;
    font-family:Arial;
    height:20px;
    line-height:20px;
}

.column2_header_counter ul li.counter
{
    vertical-align:top;
    margin:0 3px;
    color:#666;
}

@-moz-document url-prefix() { 
  .column2_header_counter ul li.counter {
     margin:0 -3px;
  }
}

.column2_bigpicture_content
{
    padding:0 8px 10px 8px;
    font-size:16px;
    line-height:20px;
}

.column2_bigpicture a:link
{
    color:#000;
    text-decoration:none;
}

.column2_bigpicture a:visited
{
    color:#000;
    text-decoration:none;
}

.column2_bigpicture a:hover
{
    color:#1D81A5;
    text-decoration:none;
}

.column2_bigpicture_content img
{
    margin-bottom:5px;
    /*border: 1px solid #CCCCCC;*/
    width:359px;
}

.column2_bigpicture .bigpicture_title
{
    font-weight:bold;
    font-size:18px;
    color:#000;
    text-decoration:none;
}

.column2_bigpicture a.titlelink
{
    color:#484647;
    font-size:20px;
}

.column2_bigpicture a.titlelink:hover
{
    color:#1D81A5;
    font-size:20px;
    text-decoration:none;
}



#column2 .column2_wealth
{
    width:375px;
    border-top:3px solid #000;
    margin:30px 15px 0px 10px;
}

#column2 .column2_wealth .column2_wealth_header
{
    font-weight:bold;
    margin-bottom:3px;
    padding:7px 8px 3px;
    overflow:hidden;
}

.column2_bigpicture_title
{
	height:20px;
}

.slides_title 
{
    text-decoration:none;
    font-weight:bold;
    font-size:16px;
    color:#000;
    
}

.slides_content
{
    text-decoration:none;
    color:#555;
    font-size:14px;
    color:#484647;
    margin:8px 0 0 0;
}

#slides
{
    height:120px;
    overflow:hidden;
    padding:0 8px;
}

#slides div
{
    padding: 5px 0 0;
    font-size: 14px;
    line-height: 20px;
}

#slides p
{
	font-family:Sans-Serif;
}

#slides img
{
    float:right;
    margin-left:5px;
    border:1px solid #DEDEDE;
}

#slides a
{
    color:#000;
}

#slides a:hover
{
    text-decoration:none;
    color:#1D81A5;
}

 #column2_vid
{
    width:375px;
    border-top:3px solid #000;
    margin:15px 15px 10px 10px;
}

 #column2_vid #vslides
{
    padding:0 4px 0 6px;
}

#column2_vidlayout
{
    /*background:url("../pictures/format/dot3.gif") repeat-x scroll center bottom transparent;*/
    font-size:14px;
    font-weight:bold;
    padding:7px 8px 3px;
    overflow:hidden;
}

#column2_vidlayout a.titlelink
{
    color:#484647;
    font-size:16px;
    font-weight:normal;
}

#column2_vidlayout a.titlelink:hover
{
    color:#1D81A5;
    text-decoration:none;
}

#luxtoplink img
{
    width:553px;
    border-style: none none solid none; 
    border-width: 2px; 
    border-color: #000000;
}

#luxmostpop
{
    width:375px;
    color: #7F7F7F;
    font-size: 14px;
    font-weight: normal;
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
    margin: 30px 15px 15px 10px;
    padding: 5px 0 15px 0;
}
                
#luxmostpop div
{
    font-size: 16px;
}

#luxmostpop .luxmostpop_title
{
	font-family:SimHei,Sans-Serif;
	font-weight:normal;
	color:#484647;
	padding:2px 0 0 8px;
}

#luxmostpop ul
{
    padding: 0 8px 0 32px !important;
    padding: 0 0 0 7px;
    margin: 10 0 10 0px !important;
    margin: 10 0 10 25px;
    font-size: 14px;
}
                
#luxmostpop li
{
    line-height:25px;
    font-family: Arial, Helvetica, Sans-Serif;
}
 
#luxmostpop li a
{
	font-family:SimSun, Sans-Serif;
  font-weight:bold;
  color:#000;
  font-size: 14px;
}

#luxmostpop ul li a:hover
{
    text-decoration:none;
    color:#1D81A5;   
}

a.salonlink:link{ color:#000; font-weight:bold; text-decoration:none; }
a.salonlink:hover { color:#22688E; }
a.salonlink:visited { color:#000; }