body {
	background-color: #eee;
	margin: 0;
	padding: 0;
	font-family: "Segoe UI", sans-serif;
}
h1, h2, h3 {
	font-weight: 200;
	margin-bottom: 0.25rem;
}
ul {
	margin-top: 0;
	padding-top: 0;
}
p {
	margin: 0.25rem auto;
}
.logo {
	margin: 1rem auto;
	text-align: center;
}
.full-content-card {
	background-color: #fff;
	margin: 0 8rem;
	padding: 1rem;
	box-shadow: 0px 0px 20px 1px #ccc;
}
@media only screen and (max-width: 768px) {
	.full-content-card {
		background-color: #fff;
		margin: 0;
		padding: 0.5rem;
	}
}