.template {
  display: none;
}

.main {
  width: 85%;
  margin-left: 5%;
}

a {
 font-weight: bold;
}

li {
 margin: 20px;
}

.yes {
 color: Green;
}

.no {
 color: Red;
}

#message {
 background-color: LightBlue;
 padding: 10px;
}

#incrementor {
 display: none;
 text-align: center;
 background-color: Red;
 font-size: 14pt;
}
