@-moz-document regexp("^https?://.*:43110/.*") {
/* zerotalk */
@media screen and (max-width: 600px) {      
  .page-main .topic .started, .page-main .topic .dot, .page-main .topic .image,
  .page-topic .topic .started, .page-topic .topic .dot, .page-topic .topic .image,
  .page-topics .topic .started, .page-topics .topic .dot, .page-topics .topic .image {
  display: none;
  }
  .page-main .topic .body, .page-main .topic .title, .page-main .topic .link, .page-main .topic .subtopic, .page-main .topic .info,
  .page-topic .topic .body, .page-topic .topic .title, .page-topic .topic .link, .page-topic .topic .subtopic, .page-topic .topic .info,
  .page-topics .topic .body, .page-topics .topic .title, .page-topics .topic .link, .page-topics .topic .subtopic, .page-topics .topic .info {
    margin-left: -100px;
    margin-right: -10px;
    }
  .page-main .topic-group::before {
    float: right;
    position: absolute;
    right: 10px;
}
    html, body, p, th, td, li {
    font-size: medium !important;
    }
    .page-topic .bottombar {
left: 0px;
right: 0px;
overflow: auto;
}
}

  /* preserve the mute function */
@media screen and (max-width: 800px) {
.page-main .topic .started {
    display: block;
  position: absolute;
  right: 10px;
  bottom: 5px;
}
  .page-main .menu.visible, .page-topic .menu.visible, .page-main .menu, .page-topic .menu {
    position: absolute;
    left: unset !important;
    right: 20px;
  }
  
  /* Fix ZeroBlog leftbar menu */
  .page-main.loaded .menu.visible, .page-main.loaded .menu {
    left: 72px !important;
    right: initial;
  } 

}


/* ZeroMail */
@-moz-document regexp("^https?://.*/Mail.ZeroNetwork.bit/.*") {
@media screen and (max-width: 950px) {
    .Leftbar {
    position: fixed;
}
    .center {
    position: fixed;
}
    .right {
    position: absolute;
    margin-left: 450px;
    z-index: 1;
}
    .MessageCreate {
       position: absolute;
        margin-left: 0px;
    }
    html, body, p, th, td, li {
    font-size: medium !important;
    }
}
@media screen and (max-width: 502px) {
        .right, .MessageCreate {
        width: 100% !important;
    }
}
}
