html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: #111;
}

.canvas, .image {
	position: absolute;
	left: 50%;
	top: 50%;

	margin-left: -320px;
	margin-top: -180px;
}

.image {
	display: none;
}

.logo {
	position: absolute;
	left: 50%;
	top: 25%;

	margin-left: -134px;
	margin-top: -98px;
}

.footer {
	display: block;
	width: 100%;

	position: absolute;
	top: 75%;
	left: 0;

	margin-top: 82px;

	text-align: center;
	color: #50A0A0;
	font-family: Verdana, Arial, sans-serif;
	font-size: 16px;
	line-height: 16px;
}
.footer a {
	color: inherit;
}