body {
	background-color: #000000;
	font-size: large;
	margin: auto;
	margin-top:40px;
	font-family: monospace;
	color: #f5d6e4;
}

div.help, body.mayvaneday {
	max-width:900px;
	padding:0 10px;
}

h1, h2 {
	font-family: monospace;
	color: #4f6599;
}
p {
	font-family: monospace;
	font-size: 120%;
}
li, blockquote {
	font-family: monospace;
	color: #ff99cc;
}
a, a:visited {
	font-family: monospace;
	color: #ff1a8c;
	text-decoration: none;
}
b, strong {
	font-family: monospace;
	color: #b52f73;
}
pre, code {
	color: #e085b3;
}
i, em {
	font-family: monospace;
	color: #ffb3da;
}
hr {
	border: 0;
	border-top: 3px dashed;
	color: #b90656;
}