
body {
  background: #222;
  color: #eee;
  font-family: sans-serif;
  font-size: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
em {
  font-style: normal;
  font-weight: bold;
}
a {
  text-decoration: none;
  color: #cce;
}
a:hover {
  color: #ddf;
}
input,
button,
textarea {
  background-color: #222;
  color: #eee;
}

.container[data-v-3f7c5f02] {
  background: #444;
  padding: 16px;
  margin-top: 16px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 64px;
  min-width: 750px;
  max-width: 1200px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header[data-v-1aeeb514] {
  font-weight: bold;
  text-align: center;
  margin-bottom: 12px;
}
.header .lang[data-v-1aeeb514] {
  cursor: pointer;
  color: #cce;
}
.header .lang[data-v-1aeeb514]:hover {
  color: #ddf;
}

.list-container[data-v-a3b6ee2a] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: 8px;
}
.tabs[data-v-a3b6ee2a] {
  margin-bottom: 16px;
}
.tabs > .tab[data-v-a3b6ee2a] {
  padding: 6px;
  border: 1px solid #666;
  background-color: #222;
  margin-right: 8px;
  cursor: pointer;
  color: #cce;
}
.tabs > .tab.active[data-v-a3b6ee2a] {
  background-color: #333;
}
.tabs > .tab[data-v-a3b6ee2a]:hover {
  background-color: #333;
  color: #ddf;
}
.tab-body[data-v-a3b6ee2a] {
  padding: 16px;
  background-color: #333;
  margin-bottom: 32px;
}
.query-form[data-v-a3b6ee2a] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
}
.query-form > .query[data-v-a3b6ee2a] {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 16px;
  background-color: #222;
  color: #eee;
}
.query-form > .filter[data-v-a3b6ee2a] {
  width: 100px;
  background-color: #222;
  color: #eee;
}

.gallery-list-item[data-v-2c9e4c8e] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}
.gallery-list-item > .cover[data-v-2c9e4c8e] {
  width: 208px;
  height: 208px;
  min-width: 208px;
  max-width: 208px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.gallery-list-item > .cover > img[data-v-2c9e4c8e] {
  max-width: 192px;
  max-height: 192px;
}
.gallery-list-item > .info[data-v-2c9e4c8e] {
  margin-top: 8px;
}
.gallery-list-item > .info > .title[data-v-2c9e4c8e] {
  margin-bottom: 16px;
  padding-bottom: 8px;
  border-bottom: 1px solid #eee;
  font-weight: bold;
}

.settings > .row[data-v-460b7c84] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-bottom: 16px;
}
.settings > .row > .label[data-v-460b7c84] {
  width: 500px;
  min-width: 500px;
  max-width: 500px;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
.settings > .row > .label > em[data-v-460b7c84] {
  display: block;
  margin-bottom: 8px;
}
.settings > .row > .entry[data-v-460b7c84] {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 24px;
}

.thumbs[data-v-bad6f444] {
  margin-top: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.page[data-v-bad6f444] {
  margin-top: 16px;
  text-align: center;
}
.page .image[data-v-bad6f444] {
  margin-top: 16px;
  margin-bottom: 16px;
  max-width: 100%;
}

.gallery-infobox[data-v-0da9fda5] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #333;
  padding: 16px;
}
.gallery-infobox > .cover[data-v-0da9fda5] {
  width: 208px;
  height: 208px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.gallery-infobox > .cover > img[data-v-0da9fda5] {
  max-width: 192px;
  max-height: 192px;
}
.gallery-infobox > .info[data-v-0da9fda5] {
  margin-top: 8px;
  margin-right: 8px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.gallery-infobox > .info > .title[data-v-0da9fda5] {
  margin-bottom: 16px;
  padding-bottom: 8px;
  border-bottom: 1px solid #eee;
  font-weight: bold;
}
.gallery-infobox > .info > .tags[data-v-0da9fda5] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.gallery-infobox > .info > .tags > .tag[data-v-0da9fda5] {
  padding: 6px;
  border: 1px solid #666;
  background-color: #222;
  margin-right: 8px;
}
.gallery-infobox > .info > .tags > .tag[data-v-0da9fda5]:hover {
  background-color: #333;
}

.page-thumbnail > .thumb[data-v-ffbc5dda] {
  width: 208px;
  height: 208px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.page-thumbnail > .thumb > img[data-v-ffbc5dda] {
  max-width: 192px;
  max-height: 192px;
}
.page-thumbnail > .info[data-v-ffbc5dda] {
  margin-top: 4px;
  margin-bottom: 8px;
  text-align: center;
}

.comments[data-v-93725600] {
  background-color: #333;
  padding: 16px;
}
.comments .user-row > .username[data-v-93725600] {
  margin-right: 4px;
  font-weight: bold;
}
.comments .user-row > .username.dev[data-v-93725600] {
  color: #fc6;
}
.comments .user-row > .username.dev[data-v-93725600]::after {
  content: " # dev";
}
.comments .user-row > .address[data-v-93725600] {
  color: #aaa;
  margin-right: 16px;
}
.comments .user-row > .size[data-v-93725600],
.comments .user-row .time[data-v-93725600] {
  float: right;
  color: #aaa;
}
.comments .comment[data-v-93725600] {
  margin-top: 8px;
}
.comments .comment .comment-body[data-v-93725600] {
  margin-top: 8px;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: monospace;
}
.comments .comment-input[data-v-93725600] {
  margin-top: 8px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.comments .comment-input > textarea[data-v-93725600] {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100px;
  font-size: inherit;
  font-family: monospace;
}
.comments .comment-submit[data-v-93725600] {
  margin-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #eee;
}
