.accordion 
{
    background-color: #eee;
    color: black;
    
    cursor: pointer;
    padding: 16px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    transition: 0.1s;
}

.active, .accordion:hover 
{
    background-color: #ccc;
}

.accordion:after 
{
    content: '\23F5';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.accordion.active:after 
{
    content: "\23F7";
}

.panel 
{
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.narrow 
{
	float: left;
	width: 30%;
}

.wide 
{
	float: right;
	width: 70%;
	background-color: #ddd;
	font-size: 16px;
}
