.container 
{
	max-width: 1024px;
	width: 70%;
  	margin: 0 auto;
}

.timeline-item 
{
  	padding: 1em 2em 2em 2em;
  	position: relative;
  	color: rgba(0, 0, 0, 0.7);
  	border-left: 2px solid rgba(0, 0, 0, 0.3);
}

.timeline-item h1 
{
  	font-size: 1.5rem;
  	font-family: sans-serif;
}

.timeline-item p 
{
  	font-size: 1rem;
}

.timeline-item::before 
{
  	content: attr(date-is);
  	position: absolute;
  	left: 2em;
  	font-weight: bold;
  	top: 1em;
  	display: block;
  	font-family: sans-serif;
  	font-weight: 700;
  	font-size: .785rem;
}

.timeline-item::after 
{
  	width: 10px;
  	height: 10px;
  	position: absolute;
 	top: 0.75em;
  	left: -8px;
  	display: block;
  	border-radius: 10px;
  	border: 2px solid rgba(0, 0, 0, 0.3);
  	background: white;
  	content: '';
}

.timeline-item:last-child 
{
  -o-border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 60%, transparent) 1 100%;
     border-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.3) 60%, transparent) 1 100%;
     border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 60%, transparent) 1 100%;
}
