.tooltip
{
  	display: inline;
}

.tooltip .tooltiptext 
{
    background-color: black;
    color: #fff;
    
    text-align: center;
    
    visibility: hidden;
    width: 120px;
    border-radius: 6px;
    padding: 5px;
	
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext 
{
    visibility: visible;
    margin-top: 50px;
    margin-left: -80px;
}