html, body {
	margin: 0;
	padding: 0;
	background: url(bg-1.png) top center repeat-x;
	color: black;
	cursor: default;
}

body {
	font: 96% "Lucida Grande", sans-serif;
	margin: 0 auto;
	padding: 10px 30px;
	width: 770px;
	cursor: default;
}

h1 {
	margin: 0;
	height: 0;
	width: 401px;
	overflow: hidden;
	padding: 240px 0 0;
	background: url(land-1.png) top left no-repeat;
	/* float: left; */
/*
	margin: 0;
	padding: 240px 0 0;
	height: 0;
	overflow: hidden;
	background: url(land-1.png) top center no-repeat;
*/
}


h2.singlecont {
	border-top: 1px solid #aaa;
	font-size: 100%;
	margin-bottom: 0;
}


a img {
	border: none;
}

abbr, acronym {
	border-bottom: 1px dashed;
	cursor: help;
}

div.logot {
	text-align: right;
	/* background: url(land-1.png) top left no-repeat; */
}

div.channel {
	position: relative;
	border-top: 1px dashed #aaa;
	border-bottom: 1px dashed #aaa;
	margin-bottom: -1px;
}

div.channel p {
	display: table-cell;
	vertical-align: middle;
	height: 130px;
	background: center left no-repeat;
	padding-left: 220px;
}

div.channel a {
	text-decoration: none;
}

div.channel h2 {
	/* display: none; */
}

div.channel dl {
	float: left;
	font-size: 81%;
	padding-right: 2.2em;
	padding-left: 2.2em;
	padding-bottom: 1px;
	margin-top: 0;
}

div.channel dt {
	font-weight: bold;
}
div.channel dd {
	margin-left: 0;
	padding-left: 0;
}

div.submenus {
	display: table;
	margin: 0 auto;
}

#pedia a:hover, #gazette a:hover, #community a:hover {
	border-bottom: 1px dashed;
}

#pedia p {
	background-image: url(pedia-1.png);
}

#pedia h2 {
	display: none;
}

#pedia a {
	color: #61a8ff;
}


#gazette h2 {
	background: url(gazette-1.png) center left no-repeat;
	overflow: hidden;
	padding-top: 110px;
	margin: 0;
	height: 0px;
	width: 200px;
	float: left;
}

#gazette a {
	color: #60d000;
}

dl.recnews strong {
	font-weight: normal;
	text-align: center;
	font-family: "Lucida Console", monospace;
	color: black;
	border-top: 1px solid white;
	border-left: 1px solid white;
	border-right: 1px solid #60d000;
	border-bottom: 1px solid #60d000;
	background: #d8ff80;
	margin-right: 0.5em;
	padding: 0 0.5em;
}

dl.recnews dd {
	clear: both;
}

#community p {
	background-image: url(community-1.png);
}

#community h2 {
	display: none;
}

#community a {
	color: #5b00ff;
}

p.afil {
	text-align: right;
	margin-top: 0;
}

#rodape {
	border-top: 1px solid #aaa;
	padding-top: 1em;
	font-size: 74%;
	color: #bbb;
}

#rodape a {
	color: #99f;
}

#rodape p {
	margin: 0.6em 0;
}
