body { background: #660000 }
a:link { color: #990000; background: transparent }
a.title:link { color: #FFCC00; background: transparent; text-decoration: none }
a.mecw:link {color: #aaaaaa; background: transparent; text-decoration: none }


div.border {
	border-style: double;
	background: #ffffff; 
	width: 93%; 
	padding: 1em; 
	border: 0.5em solid #ffcc33;
	}

	

p {
 text-indent: 1em;
 font-family: "Georgia", serif;
 color: #000000;
 background: transparent;
 font-size: 12pt;
 text-align: justify;
 line-height: 150%;
 margin-left: 6%;
 margin-right: 6%;
 }

 

p.title { 
 color: #ffcc00;
 text-indent: 0em;
 font-weight: bold;
 text-align: left;
 margin: 1%;
 font-family: "Arial", sans-serif;
 font-size: 9pt;  
 }

img.right { float: right; margin: 2em; }
img.left { float: left; margin: 2em; }

hr.section { width: 44%; height: 4px; color: #330000; }
hr.base { width: 92%; height: 1px; color: #000000; }
hr.end { width: 92%; height: 2px; color: #330000; }
hr { width: 94%; height: 2px; color: #330000; }

em { word-spacing: 0.2em }
blockquote { margin-left: 5% }



H1 {
 background: transparent;
 color: #330000;
 font-weight: bold; 
 font-size: xx-large; 
 font-family:  "Times New Roman", serif;
 text-align: center; 
 }



H2 { 
 background: transparent;
 color: #330000;
 font-weight: bold; 
 font-size: large; 
 line-height: 150%;
 font-family: "Helvetica", "Arial", sans-serif;
 text-align: center; 
 }


H3 {
 background: transparent;
 color: #330000; 
 font-weight: bold;
 text-align: center;
 font-family:  "Georgia", serif;
 font-size: 22pt; 
 margin-left: 36px;
 margin-right: 36px;
 }


H4 {
 background: transparent;
 color: #330000; 
 font-weight: bold;
 text-align: center;
 font-family: "Arial", sans-serif;
 font-size: 14pt;  
 line-height: 150%;
 margin-left: 36px;
 margin-right: 36px;
 }

 

H5 {
 background: transparent;
 color: #330000; 
 font-weight: bold;
 text-align: center;
 font-family: "Arial", sans-serif;
 font-size: 12pt;  
 line-height: 175%;
 margin-left: 36px;
 margin-right: 36px;
 }


H6 {
 background: transparent;
 color: #330000; 
 font-weight: bold;
 text-align: left;
 font-family: "Arial", sans-serif;
 font-size: 12pt;  
 line-height: 175%;
 margin-left: 24px;
 margin-right: 36px;
 }

p.sub { 
 color: black;
 font-size: 14pt;
 text-align: center;
 font-family: "Georgia", serif;
 font-weight: bold;
 line-height: 135%;
 text-indent: 0em;
 margin-right: 6%;
 margin-left: 6% 
 }




sup.anote {
 background: transparent;
 color: #330000; 
 font-family: "Georgia", serif;
 font-size: x-small;
 font-weight: bold;
 text-decoration: none;
 }
 
sup {
 font-family: "verdana"; 
 font-size: 11pt;
 font-weight: normal;
 }
 



sup.ednote {
 background: transparent;
 color: #330000; 
 font-family: "Courier New", monospace;
 font-size: x-small;
 font-weight: normal;
 text-decoration: none;
 }

sup.enote {
 background: transparent;
 color: #003300; 
 font-family: "arial", monospace;
 font-size: 10pt;
 font-weight: normal;
 text-decoration: none;
 }


span.inote {
 background: transparent;
 color: #666666; 
 font-size: 12pt;
 font-weight: normal;
 }


 
p.endnote { 
 text-indent: 0em;
 font-size: 11pt;
 line-height: 115%;
 text-align: justify;
 margin-left: 10%;
 margin-right: 10%;
}

span.info {
 background: transparent;
 color: #330000; 
 font-family: "Arial", sans-serif;
 font-size: 12pt;
 font-weight: bold;
}

span.note {
 color: #000033; 
 font-size: 10pt;
 font-weight: normal;
 vertical-align: top;
 }


span.date {
 background: transparent;
 color: #333333;
 font-family: "Arial", sans-serif;
 font-size: small;
 font-weight: normal;
 }

span.term {
 background: transparent;
 color: #330000; 
 font-family: "Arial", sans-serif;
 font-size: 12pt;
 font-weight: bold;
}



span.context {  background: transparent; color: #999999 }



span.greek { font-family: symbol }




p.fst {
 text-indent: 0em;
 }


p.quote { 
 font-size: 10pt;
 line-height: 125%;
 margin-left: 12%;
 margin-right: 12%;
}



p.quoteb { 
 text-indent: 0em;
 font-size: 10pt;
 margin-left: 12%;
 margin-right: 12%;
}



p.quotec { 
 text-indent: 0em;
 font-size: 10pt;
 margin-left: 16%;
 margin-right: 12%;
}



p.quote-list { 
 text-indent: -1em;
 font-size: 10pt;
 margin-left: 14%;
 margin-right: 12%;
}



p.inline {
 color: #666666; 
 text-indent: 0em;
 font-family: "Arial", sans-serif;
 font-size: x-small;
 text-align: right;
 margin-left: 20%;
 margin-right: 8%;
 }


p.toc {
 color: #330000; 
 text-indent: 0em;
 font-weight: bold;
 font-family: "Helvetica", "Arial", sans-serif;
 text-align: left;
}


p.index { 
 text-indent: 0em;
 font-family: "Helvetica", "Arial", sans-serif;
 font-weight: bold;
 text-align: left;
 line-height: 200%;
}







table.data {
 background: #eeeeee;
 font-family: "Georgia", monospace;
 font-size: 10pt;
 }



 

td.head {
 background: #999999;
 font-weight: bold;
 text-align: center;
 font-family: "Georgia", serif;
 font-size: 12pt;
 }





tr.alt { background: #cccccc; }
tr.total { background: #ffcccc; }
tr.totalb { background: #ff9999; }


td.index {
 background: #efefef;
 color: #999999; 
 text-indent: 0em;
 font-family: "Helvetica", "Arial", sans-serif;
 font-size: 12pt;
 font-weight: bold;
 text-align: left;
 }

 



td.index-alt {
 background: #ffffff;
 color: #999999; 
 text-indent: 0em;
 font-family: "Helvetica", "Arial", sans-serif;
 font-size: 12pt;
 font-weight: bold;
 text-align: left;
 }


td.indexb {
 background: #ffffff;
 color: #999999; 
 text-indent: 0em;
 font-family: "Helvetica", "Arial", sans-serif;
 font-size: 10pt;
 font-weight: normal;
 text-align: left;
 }
td.note {
 background: #ffffff;
 color: #444444; 
 font-family: "Arial", sans-serif;
 font-size: small;
 vertical-align: top;
 text-align: justify;
 line-height: 115%;
 margin-left: 10%;
 margin-right: 10%;
 }


p.indent { 
 margin-left: 12%;
 margin-right: 12%;
}


p.indentb { 
 text-indent: 0em;
 margin-left: 12%;
 margin-right: 12%;
}


p.indentc { 
 text-indent: 0em;
 margin-left: 16%;
 margin-right: 12%;
}


p.indent-list { 
 text-indent: -1em;
 text-align: left;
 margin-left: 12%;
 margin-right: 12%;
}

ul.disc { 
 font-family: "Georgia", serif;
 font-size: 12pt;
 list-style-type: disc; 
 text-align: left;
 line-height: 130%;
 margin-left: 6%;
 margin-right: 6%;
}

ol.numbered { 
 font-family: "Georgia", serif;
 font-size: 12pt;
 list-style-type: decimal; 
 text-align: left;
 line-height: 130%;
 margin-left: 6%;
 margin-right: 6%;
}

  

sup {
 font-family: "Arial", monospace;
 font-size: x-small;
 font-weight: normal;
 }

 

sub {
 font-family: "Arial", monospace;
 font-size: x-small;
 font-weight: normal;
 }




p.information { 
 color: #330000; 
 text-indent: 0em; 
 line-height: 125%;
 text-align: left;
 }


p.sig {  
 text-indent: 0em; 
 font-family: "Times New Roman", script, serif;
 font-style: italic;
 text-align: left; 
 }


 



p.pagenote {
 color: #330000; 
 font-family: "Arial", sans-serif;
 font-size: x-small;
 text-align: center;
 }



p.pagenoteb {
 color: #666666; 
 font-family: "Arial", sans-serif;
 font-size: x-small;
 }

 



p.skip { line-height: 75% }

 
p.next { 
 text-indent: 0em;
 font-family: "Arial", sans-serif;
 font-weight: bold;
 text-align: center;
 }

 



p.footer {  
 font-size: 12pt;
 text-indent: 0em; 
 font-weight: bold;
 font-family: "Arial", sans-serif;
 text-align: center; 
 }

p.updat { 
 color: #ffcc00;
 text-indent: 0em;
 font-weight: bold;
 text-align: right;
 margin: 1%;
 font-family: "Arial", sans-serif;
 font-size: 9pt;  
 }
  
