body{
	margin:0px;
}

.img1{
	height:500px;
	width:500px;
	 margin-left: calc(50% - 250px);
	
}
.h1{
	font-family:Arial;
	font-size:28px;
	margin:0px;
}
.content{
	background:#666666;
	width:100%;
	height:300px;
}
.p1{
	font-size:20px;
	margin-left:200px;
	color:#fff;
	margin-right:200px;
	font-family:Raleway,sans-serif;
	padding:70px;
}
.content2{
	width:100%;
	height:500px;
	background:#fff;
	
}
.h2{
	padding:50px;
	font-family:Arial;
	font-size:30px;
	margin:0px;
	text-align:center;
}	
.icon-block{
	margin-left:5%;
	margin-right:5%;
	padding:50px 10px;
	width:20%;
}
.text{
	
	text-align:center;
	font-size:20px;
	font-family:Raleway,sans-serif;
}
.ion-icon{
	text-align:center;
	font-size: 40px;
}

.content-block{
	 display: flex;
  flex-direction: row;
  justify-content: center;
}
.donate{
	width:100%;
	height:150px;
	background:#666666;
}
.h3{
	text-align:center;
	font-family:Raleway,sans-serif;
	color:#fff;
	margin:0px;
	font-size:2em;
}
.p2{
	font-family:Raleway,sans-serif;
	color:#fff;
}
.p3{
	color:#fff;
	font-family:Raleway,sans-serif;
	font-size:20px;
}
.p4{
	text-align:center;
	font-family:Raleway,sans-serif;
}
.h4{
	text-align:center;
	font-family:Raleway,sans-serif;
    margin:0px;
	font-size: 2em;
}
.Contacts{
	width:100%;
	height:120px;
	background:#c0c0c0;
}
.team{
	background:#000;
	width: 100%;
	height:30px;
	text-align: center;  
	font-family: Raleway,sans-serif;
}

.a{
	position: relative;
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color:#cccccc;
    font-size: 20px;
}

