.img1{
	width: 100%;
	height:745px;
}
.hr1 {
  margin-top: 0px;
  margin-bottom: 0px;
  border: 0;
  border-top: 2px solid #333;
}
.ion-icon{
	text-align:center;
	font-size: 40px;
}

.hr2 {
  margin-top: 0px;
  margin-bottom: 0px;
  border: 0;
  border-top: 2px solid #fff;
  width:20%;

}
.p1{
	font-size:50px;
	font-family:Raleway,sans-serif;
	color: #fff;
}
.p2{
	 margin-left:300px ;
	 margin-right: 300px ;
	 color:  #fff ;
	 font-size:36px;
}
.block-menu{
	background: url(../images/wallparer.jpg);
	width: 100%;
	height: 769px;
}

