html, body {
  background: #181818;
  color: #d8d8d8;
  font-family: arial,helvetica,sans-serif;
  min-width: 800px;
  margin: 0px;
  padding: 0px;
}


html {
  height: 100%;
  width: 100%;
}

#logo-template {
  display: none;
}

.transparent {
  opacity: 0.5;
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
  transition: opacity 1s;
}


#container {
  z-index: 10;
}


#modal {
  z-index: 12;
}

#overlay {
  z-index: 11;
}


#overlay, #modal, #modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
}

#overlay {
  cursor: wait;
}

#modal-bg {
  background: #444;
}

#modal-bg.shown {
  opacity: 0.7;
  display: block;
}

#overlay.shown, #modal.shown {
  display: block;
}

#modal-inner {
  background: #282828;
  border: 1px solid #444;
  min-width: 300px;
  position: absolute;
  text-align: center;
  padding: 20px;
  top: 15%;
  left: 50%;
  transform: translate(-50%);
}

.preloader-inner {
  display: table;
  margin: 0 auto;
  padding: 15px;
  width: 160px;
  font-family: Trebuchet, "Trebuchet MS", sans-serif;
}
.preloader-inner img {
  margin: 10px 0px;
}

.preloader-inner span {
  display: block;
}

.preloader-inner span.bigger {
  font-size: 17px;
  color: #ddd;
}

.preloader-inner span.lesser {
  font-size: 12px;
  color: #999;
}

.monospace {
  font-family: monospace !important;
}

#footer {
  cursor: default;
  color: #aaa;
  font-size: 13px;
  text-align: center;
}

#main-page {
  padding: 15px;
  margin: 0 auto;
  max-width: 1000px;
}

hr {
  border: none;
  border-bottom: 1px solid #444;
  margin-bottom: 15px;
}

#main-page hr {
  margin: 0px !important;
}

.no-select, .unselectable {
  -webkit-user-select: none;  
  -moz-user-select: none;     
  -ms-user-select: none;      
  user-select: none;          
}

#logo {
  color: #fff;
  cursor: default;
  float: left;
}

.logo-container {
  display: table;
  width: 100%;
}

#anon-disclaimer button {
  border-radius: 0px;
  border: 1px solid #555;
  background: #444;
  color: #ddd;
  padding: 7px 13px;
  margin-top: 15px;
  font-size: 14px;
  font-family: Trebuchet, "Trebuchet MS", sans-serif;
}

.button-outer {
  width: 100%;
  text-align: center;
}

.anonymity-disclaimer {
  float: right;
  margin-top: 70px;
  max-width: 400px; 
  font-size: 13px;
  text-align: right;
  color: #ab4642;
}

#anon-disclaimer {
  text-align: left;
  width: 400px;
}

#anon-disclaimer p {
  font-size: 13px; 
}

#anon-disclaimer ul li {
  margin: 5px;
  list-style-type: square;
}

#anon-disclaimer h3 {
  margin-top: 0px;
  text-align: center;
  color: #ab4642;
}

#main-page .inner table {
  width: 100%;
}
#main-page .inner table tr {
  border-bottom: 1px solid #444;
}

a {
  color: #7cafc2;
}

a:hover {
  color: #86c1b9;
}


#main-page .board-list-container {
  min-width: 100px;
  border-right: 1px solid #444;
  vertical-align: top;
}

#main-page td {
  padding: 0px;
  margin: 0px;
}


#board-list th {
  color: #999;
  padding: 6px 15px 6px 6px;
  text-align: left;
  white-space: nowrap;
  font-size: 10pt;
}

#board-list td {
  min-width: 50px;
  margin: 0;
  padding: 6px 15px 6px 6px;
  text-align: left;
}

#board-list tr {
  font-size: 10pt;
}

#board-list tr:nth-child(even) {
  background: #282828;
}

.main-page-description {
  font-size: 13px;
  text-align: right;
  color: #ccc;
}

.main-page-description .row {
  border-bottom: 1px solid #444;
  padding: 10px 0px;
}

.main-page-description .row:last-child {
  border-bottom: none;
}

.row em {
  color: #999;
  display: block;
  margin-bottom: 5px;
}

.motd em {
  color: orange;
}

.motd .text {
  display: inline-block;
}

.motd .date {
  display: block;
  margin: 4px 0px;
  color: #aaa;
}

.friend-chans {
  margin: 10px 0px;
}

.friend-chans ul {
  list-style: none;
  padding: 0px !important;
  margin: 0px !important;
}

.friend-chans li {
  font-size: 14px;
  margin: 5px 0px
}


.fadein {
  -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 0.5s; /* Firefox < 16 */
      -ms-animation: fadein 0.5s; /* Internet Explorer */
       -o-animation: fadein 0.5s; /* Opera < 12.1 */
          animation: fadein 0.5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#not-found {
  padding: 20px;
}

.wide-notice {
  background: #222;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  position: absolute;
  top: 25%;
  width: 400px;
  text-align: center;
}

#not-found h1 {
  font-weight: normal;
  margin: 0px;
  font-size: 80pt;
}

#not-found p {
  color: #aaa;
  margin: 0px;
  padding: 0px;
  font-size: 18px;
  margin-bottom: 10px;
}

#not-found a {
  font-size: 14px;
}


#board-header {
  margin: 0 auto;
  color: #ab4642;
  padding: 10px 0px;
  font-family: Tahoma;
  text-align: center;
}

#board-header.hidden {
  display: none;
}

#board-header h1 {
  font-size: 18pt;
  margin: 0px;
}

#board-header a.board {
  text-decoration: none;
}

#board-header a h1 {
  color: #ab4642;
}

#board-header h2 {
  font-size: 14px;
  margin: 0px;
  font-weight: normal;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #ab4642;
}

#board-header a {
  font-size: 12px;
}

.post {
  display: table;
  min-width: 320px;
  /*overflow: hidden;*/
  margin: 6px 4px;
  max-width: 96%!important;
  padding: 0.5em 0.3em 0.5em 0.6em;
  position: /*relative*/;
  background-color: #282828;
  border-width: 1px;
  border-style: solid;
  border-left-color: #383838;
  border-top-color: #383838;
  border-right-color: #282828;
  border-bottom-color: #282828;
}

.post.highlighted {
  border-color: #666 !important;
  background-color: #303030 !important;
  /*transition: background-color .4s;*/
  /*transition: border-color .4s;*/
}

.post.has-file {
  min-width: 370px;
}

.post.has-file.body-not-empty {
  min-width: 460px;
}

.post.op {
  border-color: #181818;
  background: none;
  width: 100%;
}

.post p {
  margin: 0px;
  padding: 0px;
}

.post .intro {
  margin: 0px;
  margin-bottom: 10px;
  // padding: 2px 0px 0px 0px;
  padding: 0px;
  color: #999;
  line-height: 1.20;
  font-size: 13px;
  cursor: default;
  display: block;
}

.post .intro a {
  margin-left: 5px;
}

.post.has-file .intro {
  margin-bottom: 0px;
}

.post-no {
  margin-left: 0px !important;
  color: #ccc;
  text-decoration: none;
}

.post .files {
  margin-bottom: 7px;
}

.post .file {
  cursor: default;
  position: relative;
  margin-right: 10px;
  float: none;
}

.post .file a {
  position: relative;
}

.post .name.not-anon {
  font-weight: bold;
  color: #ccc;
}

.post .name.admin {
  color: red;
}

.post .fileinfo {
  font-size: 12px;
  color: #999;
  margin-bottom: 6px;
  margin-top: 2px;
}

.post .unimportant {
  font-size: 10px;
  color: #777;
}

.post .fileinfo .unimportant a {
  color: #777 !important;
}

.post .fileinfo a {
  color: #999;
}
 
.post .fileinfo a:hover {
  color: #86c1b9;
}

.post .file img {
  position: relative;
  border: none;
  z-index: 2;
  float: left;
  margin-right: 14px;
  margin-bottom: 7px;

}

.post .body {
  font-size: 13px;
  color: #d8d8d8;
  margin: 0px 5px 5px 10px;
  word-wrap: break-word;
  clear: none;
  white-space: pre-wrap;
}

.post .body hr {
  margin: 0px;
  padding: 0px;
  border: none;
  height: 3px;
}


em.quote {
  font-style: normal;
  color: #789922;
}

.thread {
  padding-bottom: 40px;
  margin-top: 10px;
  border-bottom: 1px dashed #666;
}

.thread:last-child {
  border-bottom: none;
}



.skip-gap {
  border: 1px dashed #666;
  padding: 6px 8px;
  display: table;
  color: #999;
  font-size: 12px;
  margin: 0.3em 4px;
  cursor: pointer;
}

.skip-gap:hover {
  border-color: #86c1b9;
}

.thread-link:hover {
  color: #86c1b9;
}

.skip-gap:hover .expand-button {
  color: #86c1b9;
}

.expand-button {
  color: #7cafc2;
  text-decoration: underline;
}

.pagination ul {
  color: #999;
  display: block;
  padding: 7px 10px;
  margin: 0px;
}

.pagination .back-link {
  display: block;
  padding: 7px 10px;
  margin: 0px;
}

.back-link a {
  text-decoration: none !important;
  color: #bbb;
  font-size: 13px;
}

.pagination {
  border-top: 1px solid #444;
  border-bottom: 1px solid #444;
  padding: 0px 10px;
}

.pagination.top {
  /*border-top: 1px solid #444;*/
  margin-bottom: 10px;
}

.pagination.bottom {
  /*border-bottom: 1px solid #444;*/
  margin-top: 10px;
}

.pagination ul li {
  display: inline-block;
}

.pagination ul li.disc {
  /*padding: 8px 16px;*/
  padding-right: 10px;
  font-size: 13px;
}


.pagination ul li.gap {
  margin: 0px 10px;
}


.pagination ul li a {
  color: #999;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .4s;
}

.pagination ul li a.current {
  background-color: #444;
  color: white;
  transition: background-color .4s;
}

.pagination ul li a:hover:not(.current) {
  background-color: #333;
  color: #86c1b9;
}

.mention {
  position: relative;
  display: inline-block;
}


.mention.broken {
  color: #999;
  text-decoration: underline;
  cursor: default;
}

.preview {
  position: absolute !important;
  z-index: 3;
  max-width: 60%;
}
.preview .post {
  -webkit-animation: fadein 0.3s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 0.3s; /* Firefox < 16 */
    -ms-animation: fadein 0.3s; /* Internet Explorer */
     -o-animation: fadein 0.3s; /* Opera < 12.1 */
        animation: fadein 0.3s;
}

.post .preview .post {
  background-color: #303030;
  border: 1px solid #666;

}

.image-preloader {
  cursor: wait;
  position: absolute;
  background: #333;
  transition: opacity .5s;
  border: none;
  z-index: 3;
  left: 0px;
  top: 0px;
  display: block;
  opacity: 1;
  text-align: center;
}

.image-preloader span {
  font-size: 13px;
  position: absolute;
  top: 20%;
  left: 0px;
  width: 100%;
  color: #ccc;
}

.image-preloader.error span {
  color: orange;
}

.image-preloader.error {
  cursor: not-allowed;
}

.image-preloader.hidden {
  opacity: 0;
}

#board-contents {
  padding: 0px 10px;
}

a.no-underscore {
  text-decoration: none !important;
}

.post-form {
  position: relative;
  /*font-family: "Trebuchet MS", Trebuchet, sans-serif;*/
}



.post-form table {
  position: relative;
  z-index: 5;
  border-spacing: 0px 3px;
}

.post-form tr td:first-child {
  font-size: 12px;
  padding: 3px 5px;
  width: 100px;
  background: #282828;
  border: 1px solid #111;
  color: #d8d8d8;
}

.post-form tr td:last-child {

}

.post-form .text, .post-form .title {
  font-size: 13px;
  width: 315px;
  min-width: 315px;
  max-width: 315px;
  padding: 3px !important;
}

.post-form .text {
  height: 125px;
  min-height: 125px;
  max-height: 125px;
}

.post-form td {
  padding-left: 7px;
}

.post-form input[type=text], textarea {
  background: #282828;
  border: 1px solid #383838;
  color: #d8d8d8;
}

.post-form .submit {
  float: right;
  font-size: 12px;
}

.form-preloader {
  display: none;
}

.form-preloader.shown {
  display: block;
}

.form-preloader {
  position: absolute;
  z-index: 10;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  text-align: center;
}

.post-form.top {
  padding: 10px;
  margin: 0 auto;
  display: table;
  width: 400px;
  height: 100px;
}

.post-form .no-certificate {
  background: #333;
  width: 100%;
  height: 100%;
}

.post-form .author {
  float: left;
}

.post-form .author .name {
  /*font-family: Trebuchet, "Trebuchet MS", sans-serif;*/
  font-size: 13px;
  color: orange;
}

.post-form .author .name.anon {
  color: #aaa;
  font-style: italic;
}

.post-form .author .cert-select {
  font-size: 12px;
  margin-left: 7px;
  cursor: pointer;
  color: #7cafc2;
}

.post-form .author .cert-select:hover {
  color: #86c1b9;
}

.post-form table.blurred {
  -webkit-filter: blur(1px)
   -moz-filter: blur(1px);
   -o-filter: blur(1px);
   -ms-filter: blur(1px);
   -webkit-filter: blur(1px); -moz-filter: blur(1px); -o-filter: blur(1px); -ms-filter: blur(1px); filter: blur(1px) ;
  opacity: 0.5;
}

.form-preloader .cert-info, .form-preloader .sending {
  text-align: left;
  font-size: 13px;
  color: #ddd;
  padding: 10px 15px;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  display: inline;
  width: 270px;
  top: 50%;
  transform: translate(-50%, -80%);
  cursor: pointer;
}

.form-preloader .sending {
  text-align: center;
}

.form-preloader .cert-select {
  display: block;
  margin-top: 15px;
  color: orange;
  text-align: center;
}

#container.blurred {
  -webkit-filter: blur(1px)
   -moz-filter: blur(1px);
   -o-filter: blur(1px);
   -ms-filter: blur(1px);
   -webkit-filter: blur(1px); -moz-filter: blur(1px); -o-filter: blur(1px); -ms-filter: blur(1px); filter: blur(1px) ;
  opacity: 0.5;
}

.post-form .mode {
  text-align: center;
  
}


.post-form.floating {
  z-index: 15;
  display: none;
  position: fixed;
  right: 10%;
  bottom: 10%;
  background: #111;
  padding: 2px 6px;
  border: 1px solid #222;
}

.post-form.floating.shown {
  display: table;
}


.post-form .close {
  color: orange;
  cursor: pointer;
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  background: none;
  border: none;
  position: absolute;
  right: 7px;
  top: 7px;
}


.post-form.floating .mode {
  cursor: all-scroll;
}

.post .subject {
  color: #ba8baf;
  font-weight: bold;
}

.motd .text {
  max-width: 300px;
}


.unread {
  color: #666;
}

.unread.some {
  color: orange;
}


.last-post {
  margin-top: 15px;
  font-size: 13px;
  color: #aaa;
}
