.wrap2 .box:nth-child(1){
    background: url(../img/pna.jpg) center top no-repeat;
    background-size: cover;
}
.wrap2 .box:nth-child(2){
    background: url(../img/else.jpg) center top no-repeat;
    background-size: cover;
}
.wrap2 .box:nth-child(3){
    background: url(../img/vpoptrailer.jpg) center no-repeat;
    background-size: cover;
}
.wrap4 .box:nth-child(1){
    background: url(../img/sundby.jpg) bottom no-repeat;
    background-size: cover;
}
.wrap6 .box{
    background: url(../img/vpop1.jpg) top no-repeat;
    background-size: cover;
}
.wrap7 .box:nth-child(1){
    background: #DE4B39 url(../img/google.jpg) center no-repeat;
    background-size: 60%;
}
.wrap7 .box:nth-child(2){
    background: #4C62B5 url(../img/blog.png) center no-repeat;
    background-size: contain;
}
.wrap8 .box:nth-child(1){
    background: #24221F url(../img/tox.png) center no-repeat;
    background-size: 35%;
}
.wrap8 .box:nth-child(2){
    background: #C5C9CC url(../img/email.png) center no-repeat;
    background-size: 65%;
}
.wrap9 .box{
    background: url(../img/vpop2.jpg) top left no-repeat;
    background-size: cover;
}
.wrap11 .box:nth-child(1){
    background: url(../img/parthigo.jpg) top no-repeat;
    background-size: cover;
}
.wrap12 .box{
    background: url(../img/streamit.jpg) top no-repeat;
    background-size: cover;
}