body {
	background-color: #eee;
	font-family: "Segoe UI", sans-serif;
}
div.NinjaBeatsMusicStreamer {
	background-color: #fff;
	color: #000;
	
	width: 50%;
	
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	padding: 1rem;
	padding-bottom: 0rem;
	
	box-shadow: 0px 0px 20px 1px #ccc;
}
#progressBar {
    height: 0.25rem;
    width: 0%;
    background-color: #8f8;
    transition: width 0.4s ease-in;
	z-index: 1000;
	position: relative;
}
#albumArt {
	opacity: 0;
	transition: opacity 0.75s ease-out;
	z-index: -10;
}
.albumArtContainer {
	float: left;
	width: 100%;
	height: calc(100% - 3rem);
	z-index: -10;
	background-color: #000;
	background: url('noalbumartprovided.png');
}
#tracks {
	padding: 0;
	float: left;
	width: 100%;
	height: 3rem;
	color: white;
}
audio {
	vertical-align: middle;
	width: 100%;
}
#info {
	padding: 0;
	float: left;
	width: 100%;
	height: 3rem;
	font-size: 0.9rem;
	padding-top: 1rem;
}
#uploadSpeedGroup, #downloadSpeedGroup {
	float: right;
}
#filename {
	font-weight: 200;
	color: #000;
	padding-left: 0;
	margin-top: 0;
	font-size: 2.25rem;
}
#filename h2 {
	font-size: 2.2rem;
}
#timeRemainingGroup {
	margin-left: 1rem;
}
#loadingMsg {
	display: inherit;
	color: #000;
	padding: 0 2rem;
}
#pageBackgroundEffect {
	background-color: transparent;
	margin: 0;
	padding: 0;
	border: 0;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: transparent;
	background-repeat: no-repeat;
	background-size: cover;
	filter: blur(31.25rem) opacity(0.5) brightness(1.25); /* 31.25rem = percieved 500px (scaled to the monitor's DPI) */
	transition: opacity 3s ease-out 1s; /* when the opacity is changed, delay the transition for one second (to give time to render the image) and then perform a smooth ease-out curve of the opacity difference for the duration of 3 seconds */
	opacity: 0;
}