
h1:first-letter{
  color: #1fc0e8;
}

h2:first-letter{
  color: #1fc0e8;
}

a{
  color: black;
}

a:hover{
  color: #1fc0e8;
}

#content{
  display: flex;
  flex-direction: row;
  border-top: 1px solid #e0e0e0; 
  flex-wrap: wrap;
}

#tree{
/*  border: 2px solid red; */
  border-right: 1px solid gray;
  padding: 5px;
}

#preview{
/*  border: 2px solid blue; */
  flex: 1;
  padding: 5px;
  overflow: auto;
}

img.preview{
  display: block;
  border: 1px solid black;
  background-image: url("img/img_bg.png");
  background-repeat: repeat-x repeat-y;
}

#footer{
  font-size: 0.75em;
  text-align: center;
  padding: 20px;
  opacity: 0.75;
}
