.post {
	display: inline-block;
	width: 100%;
	margin-bottom: 8px;

	position: relative;

	background-color: #979797;
}

.post-pair-first {
	width: calc(50% - 4px);
	margin-right: 8px;
}
.post-pair-second {
	width: calc(50% - 4px);
}

.post-image {
	display: inline-block;
	width: 100%;
	height: 100%;

	position: absolute;
	left: 0;
	top: 0;

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.post-noimage > .post-image-secondary {
	display: inline-block;
	width: 100%;
	height: 100%;

	position: absolute;
	left: 0;
	top: 0;

	background-position: left top;
	background-repeat: repeat-x;
	background-size: auto 48px;

	background-image: url(../../../img/posts/title_gradient.png);
}

.post-cover {
	display: inline-block;
	width: 100%;
	height: 100%;

	position: absolute;
	left: 0;
	top: 0;

	background-color: #000;

	transition: opacity 0.2s;
	opacity: 0;
}
.post:hover > .post-cover {
	opacity: 0.7;
}

.post-header {
	display: inline-block;
	width: calc(100% - 16px);

	position: absolute;
	left: 8px;
	top: 5px;
}
.post-header-main, .post-header-info {
	display: inline;

	font-size: 12px;
	line-height: 14px;
	color: white;

	transition: opacity 0.2s;
	opacity: 0;
}
.post:hover .post-header-main, .post:hover .post-header-info, .post-noimage .post-header-main {
	opacity: 1;
}

.post-footer {
	display: inline-block;

	position: absolute;
	bottom: 5px;

	transition: opacity 0.2s;
	opacity: 0;

	font-size: 12px;
	line-height: 14px;
	color: #FFF;
}
.post:hover > .post-footer {
	opacity: 1;
}

.post-footer-left {
	left: 8px;
}
.post-footer-right {
	right: 8px;
}

.post-link:not(.post-link-liked) {
	color: #B4D7FF;
}
.post-link:not(.post-link-liked):hover {
	text-decoration: underline;
}