#search {
    width: 500px;
    height: 20px;
    padding: 10px 8px;
    font-size: 16px;
}

.latest-header {
    margin-top: 30px;
}

.categories-menu {
    margin: 8px 0;
}

.contact-footer {
  margin-top: 50px;
}
