body {
    text-align: left !important;
    padding: 8px;
}

table {
    width: 1000px;
}

.result-header {
    background-color: #c2d4e4;
}

.result-item {
    background-color: #eaeeff;
}

.result-item:hover {
    background-color: #f0f0ff;
    color: #333388;
}

#search {
    width: 500px;
    top: -4px;
    position: relative;
}
