/*Yotsuba B-like*/

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: -moz-linear-gradient(
    top,
    rgba(234, 241, 248, 1) 0%,
    rgba(249, 249, 249, 1) 100%
  );
  background-image: -webkit-linear-gradient(
    top,
    rgba(234, 241, 248, 1) 0%,
    rgba(249, 249, 249, 1) 100%
  );
  background-image: linear-gradient(
    to bottom,
    rgba(234, 241, 248, 1) 0%,
    rgba(249, 249, 249, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaf1f8', endColorstr='#f9f9f9',GradientType=0 );
}

/* TEXT FORMAT */

span.spoiler {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

/* HOME */
#popular-boards tr:nth-child(even) {
  background-color: #a0adc114;
}

div.home-container {
  margin: 20px;
}

span.home-info {
  color: #3f29ae;
}

button.pinned {
  background-color: #c8e6c9 !important;
}

/* POSTS */

div.reply {
  background-color: #e8eaf6 !important;
  border: 1px solid #b7c5d9;
}

div.post_preview {
  background-color: #e8eaf6 !important;
  border: 1px solid #b7c5d9;
}

div.reply.op {
  background-color: #fafafa !important;
}

div.reply.selected {
  border-style: dashed;
  border-radius: 5px;
  border-color: #9c2424;
  border-width: 2px;
}

div.post_preview.op {
  border: 1px solid #b7c5d9;
}

div.preview_hover {
  background-color: #c5cae9 !important;
}

div.preview_hover.op {
  background-color: #e3f2fd !important;
}

div.reply.blacklisted, div.catalog-thread.blacklisted {
  background-color: #ffebee !important;
}

div.reply.blacklisted.preview_hover {
  background-color: #f7bec7 !important;
}

span.post-subject {
  color: #273b75;
  font-weight: bold;
}

input.subject-edit {
  color: black;
}

a.post-link {
  color: #000;
}

button:hover span.post-id,
a.post-link:hover {
  color: #f44 !important;
  font-weight: bold;
}

a.toggle-replies {
  color: #13527a !important;
}

blockquote.preview {
  background-color: #e2e0e9;
}

span.subheading {
  color: #616161 !important;
}

blockquote.reply-preview {
  background-color: #eceff1 !important;
}

input#post_files {
  background-color: #1976d2;
}

a.action {
  color: #117743 !important;
}

textarea.textbody {
  background-color: #eeeeee !important;
  border-color: #eeeeee !important;
}

/* PAGE */

span.sticky {
  background: #bac1c3;
}

hr.thread-separator {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(126, 158, 186, 0.5),
    rgba(0, 0, 0, 0)
  );
}

.boardinfo {
  color: #304b7b;
}

a.reply-link:hover {
  color: #a0acc5;
}

#quick-reply {
  background-color: rgba(231, 233, 242, 0.98);
}

div#files-container {
  background-color: #ced8ea;
}

input.close {
  border-color: lightsteelblue;
  background-color: lightsteelblue;
}

input.close:hover {
  border-color: aliceblue;
  background-color: aliceblue;
}

button.pagination__item.pressed {
  background-color: #e0e0e0 !important;
}

button.pagination__item {
  background-color: #f5f5f5 !important;
}

/* CATALOG */

div.catalog-thread:hover {
  background-color: #d0dfe6;
}

div.thread-stats {
  color: #2f3853;
}
