body{
    font-family: Georgia, serif;
	font-size:16pt;
	color:#000 background:none repeat scroll 0 0 #FFF;
    float: none !important;
}

nav, aside,bars,care2PetitionEmbed {
  display: none !important;
  
}
 
section {
    background: none;
}


article {
  page-break-before: never;
}

ul {
  page-break-inside: avoid;
}

h1, h2, h3, h4, h5, h6 {
  color:#00ff00;
  page-break-after:avoid;
  page-break-inside:avoid;
}
 
img {
  display: block;
  page-break-inside:avoid;
  page-break-after:avoid;
  max-height: 100%;
}
 
blockquote, table, pre {
  page-break-inside:avoid;
} 
 
ul, ol, dl {
  page-break-before:avoid;
}


body, article {
  width: 100%;
  margin: 0;
  padding: 0;
}

@page {
  margin: 2cm;
  }

@page :left {
  margin: 1cm 3cm 1cm 2cm;
}
 
@page :right {
  margin: 1cm 2cm 2cm 3cm;
}

@page :first {
  margin: 1cm 2cm;
}

/**
 * Making intergated videos disappear, and removing the iframes' whitespace to zero. 
 */
.entry iframe, ins {
    display: none;
    width: 0 !important;
    height: 0 !important;
    overflow: hidden !important;
    line-height: 0pt !important;
    white-space: nowrap;
}
.embed-youtube, .embed-responsive, footer {
  position: absolute;
  height: 0;
  overflow: hidden;
  display: none;
}

/* Hiding unnecessary elements for the print */

#header-widgets, nav, aside.mashsb-container, 
.sidebar, .mashshare-top, .mashshare-bottom, 
.content-ads, .make-comment, .author-bio, 
.heading, .related-posts, 
#breadcrumbs, .post-byline, .meta-single, 
.post-tags, .readability 
{
display: none;
}

a
{
	color:#2219EB;
    display: none;
}


pre,code{
 font-family: Courier, serif;
	font-size:12pt;
width:auto;
margin:1%;
border:none;
padding:0;
}


