<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} {{ page.title_base }}</title>
    <meta name="viewport" content="width=device-width">
    
    <link rel="icon" type="image/png" href="/favicon.png" />
    
    <!-- <link rel="stylesheet" href="/css/main.css" /> -->
    <link rel="stylesheet" href="/css/other.css" />

  </head>
  <body>
    <a href="javascript:void(0)" onclick="return page.followPosts()"><img class="header" src="01-header.png" alt="caryo's moving pictures ; coming soon ; [subscribe now]"/></a>
  </body>
</html>
