<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} {{ page.title_base }}</title>
    <meta name="viewport" content="width=device-width">
    
    <link rel="icon" type="image/png" href="/favicon.png" />
    
    <link rel="stylesheet" href="/css/main.css" />
    <!-- <link rel="stylesheet" href="/css/other.css" /> -->

  </head>
  <body>
    <!-- no idea why global override doesn't work here -->
    <a href="javascript:void(0)" onclick="return page.followLink('/');"><img class="header" src="header.png"/></a>
    <div id="sidebar" class="sidebar">
      <p><a href="/index.html">home</a></p>
      <p><a href="/about.html">about</a></p>
      <p><a href="javascript:void(0)" onclick="return page.flipFollow()"><span class="show-when-subscribed">(un)</span>subscribe</a></p>
      <p><a href="/favourites.html">favourites</a></p>
      <p><a href="/credits.html">credits</a></p>
    </div>
    <div id="main" class="main">
      {{ content }}
    </div>
  </body>
</html>
