
.blocks {

    .block {
        float: left;
        width: (100% / $blocks-count) - 1%;
        overflow: hidden;
        position: relative;
        min-height: 200px;
        margin: 3px;
        background-position: center;;
        background-size: cover;
        background-repeat: no-repeat;

        // This is THE BEST THING EVER
        // http://stackoverflow.com/questions/796087/make-a-div-into-a-link#3494108
        span {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 1;
        }

        .footer {
            background-color: rgba(0, 0, 0, 0.80);
            position: absolute;
            width: 100%;
            bottom: 0;
            left: 0;
            padding: 10px;
            display: none;

            p {
                padding: 0;
                margin: 0;
            }
        }

        &:hover .footer {
            display: block;
        }
    }
}
