body{
	background-color:#2b2d2e;
	font-family: 'Roboto';
	font-size: 25px;
	text-decoration: none;
	color: #d5d0ba;
}
ul{
	list-style: none;
	font-size: 30px;
	line-height: 43px;
	position: absolute;	
	left: -25px;
	top: 90px;
}
a{
  color: #d5d0ba;
  text-decoration: none;
}