body {
  color: #d5d0ba;
  background-color: #2b2d2e;
  font-family: "Roboto";
}

a {
  text-decoration: none;
  color: #d5d0ba;
}

table {
  color: #000000;
  text-align: center;
  margin: auto;
  padding-top: 25vh;
}
td {
  padding: 20px 35px;
  font-size: 30px;
}
th {
  padding: 1500px;
}
p {
  color: #999999;
  position: absolute;
  top: 150px;
  right: 920px;
  padding: 5px;
  margin: 0px;
  font-size: 25px;
}
