body { background-color: #EDF2F5; font-family: Roboto, 'Segoe UI', Arial, 'Helvetica Neue'; margin: 0px; padding: 0px; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -o-backface-visibility: hidden; -ms-backface-visibility: hidden; backface-visibility: hidden ; height: 100%; position: absolute; width: 100%; overflow-x: hidden; -webkit-font-smoothing: subpixel-antialiased; overscroll-behavior-y: none; }
body.loaded { height: 100%; overflow: auto }
h1, h2, h3, h4 { font-family: 'Roboto', Arial, sans-serif; font-weight: 200; font-size: 30px; margin: 0px; padding: 0px }
h1 { font-family: 'Text Me One', sans-serif }
h3 a { color: white; text-decoration: none; }
a { color: #9760F9 }
a:hover { text-decoration: none }

.link { background-color: transparent; outline: 5px solid transparent; -webkit-transition: all 0.3s ; -moz-transition: all 0.3s ; -o-transition: all 0.3s ; -ms-transition: all 0.3s ; transition: all 0.3s  }
.link:active { background-color: #EFEFEF; outline: 5px solid #EFEFEF; -webkit-transition: none ; -moz-transition: none ; -o-transition: none ; -ms-transition: none ; transition: none  }

#Trigger {
display: block;
}

@media screen and (max-width: 799px) {
#PageSites .main {
left: -350px;
}
#PageSites .main.trigger-on {
left: 0px;
}
#Trigger {
display: block;
position: fixed;
left: 0px;
bottom: 16px;
z-index: 100;
-webkit-border-radius: 0px 40px 40px 0px; -moz-border-radius: 0px 40px 40px 0px; -o-border-radius: 0px 40px 40px 0px; -ms-border-radius: 0px 40px 40px 0px; border-radius: 0px 40px 40px 0px ;
-webkit-transition: transform 0.2s; -moz-transition: transform 0.2s; -o-transition: transform 0.2s; -ms-transition: transform 0.2s; transition: transform 0.2s ;
-webkit-transform: rotateZ(0deg); -moz-transform: rotateZ(0deg); -o-transform: rotateZ(0deg); -ms-transform: rotateZ(0deg); transform: rotateZ(0deg) ;
-webkit-box-shadow: 0px 0px 15px #737d8c; -moz-box-shadow: 0px 0px 15px #737d8c; -o-box-shadow: 0px 0px 15px #737d8c; -ms-box-shadow: 0px 0px 15px #737d8c; box-shadow: 0px 0px 15px #737d8c ;
background-color: rgba(255, 255, 255, 0.75);
}
#PageFiles #Trigger {
display: none;
}
#Trigger .icon {
display: block;
-webkit-tap-highlight-color: transparent;
color: #1E2429;
padding: 13px 20px;
text-decoration: none;
-webkit-transition: transform 0.6s; -moz-transition: transform 0.6s; -o-transition: transform 0.6s; -ms-transition: transform 0.6s; transition: transform 0.6s ;
font-size: 13px;
outline: none !important;
}
#Trigger .icon:active {
background-color: transparent;
}
#Trigger .icon .arrow-right {
border: solid currentColor;
border-width: 0 3px 3px 0;
display: inline-block;
padding: 3px;
-webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -o-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg) ;
}
#Trigger.active {
-webkit-transform: translateX(348px); -moz-transform: translateX(348px); -o-transform: translateX(348px); -ms-transform: translateX(348px); transform: translateX(348px) ;
background-color: #2a333c;
-webkit-box-shadow: none; -moz-box-shadow: none; -o-box-shadow: none; -ms-box-shadow: none; box-shadow: none ;
}
#Trigger.active .icon {
-webkit-transform: rotateZ(180deg); -moz-transform: rotateZ(180deg); -o-transform: rotateZ(180deg); -ms-transform: rotateZ(180deg); transform: rotateZ(180deg) ;
background-color: transparent;
color: white;
}
}

@media screen and (max-width: 420px) {
#Dashboard {
width: 98%;right: 0px;
}
#Dashboard .dashboard-item {
}
.welcome .site {
width: 100%;
}
}

.highlight { background-color: #F5E6D4; outline: 2px solid #F5E6D4; }

.theme-dark { color: #c6ced7; background-color: #383f46 }
.theme-dark h2, .theme-dark h3 { color: #f5faff }
.theme-dark input, .theme-dark textarea, .theme-dark select { color: #c6ced7; background-color: #1E2429 }
.theme-dark input:focus, .theme-dark textarea:focus { border-color: #6c7884; outline: none }
.theme-dark .highlight { color: #444; }
