#messages * { 
	font-family: monospace; 
	line-height: 1.5em; 
	font-size: 13px; 
	vertical-align: middle; 
}

input#message { 
	padding: 5px; 
	width: 50%; 
	height: 34px; 
}

input#send { 
	height: 34px; 
	margin-left: -2px; 
}

ul#messages { 
	padding: 0px; 
}

#messages li { 
	list-style-type: none; 
	padding: 5px 0px; 
	padding-left: 130px; 
}

#messages li b { 
	color: #3F51B5; 
}

#messages li:nth-child(odd) {
    background-color: #ebf0f3;
    border-top: 1px solid #dbe4ef;
    border-bottom: 1px solid #dbe4ef;
}
#messages li small { 
	color: #999; 
	width: 130px; 
	display: inline-block; 
	text-align: right; 
	margin-left: -136px; 
}

#rhs { 
	width:200px; 
	border: 2px solid grey; 
	float:right; 
	display:none;
}

#inputField {
    margin-bottom: 10px;
}