@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');

body {
	-webkit-user-select: none;
	-moz-user-select: none;
	background-image: url(grid.png);
	background-color: #151515;
	color: #dddddd;
	font-family: 'IBM Plex Mono', monospace;
}

.linkimg {
	position: relative;
	top: 3px;
	height: 15px;
}

#links {
	line-height: 15px;
	font-size: 15px;
}

a {
	outline: none;
	text-decoration: none;
	background: -webkit-linear-gradient(25deg, #85d0e5, #85a2eb);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#hide {
	overflow: hidden;
	animation: hide .5s ease;
	width: 0px;
	top: 2%;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	background-color: #121212;
	border: 0px #2d2d2d solid;
	height: 96%;
}

a:hover {
	filter: brightness(1.5);
}

#title {
	margin: 2px;
}

#title:after {
	content: "_";
	margin: 2px;
	animation: blinking 1.7s linear infinite;
}

.post {
	overflow: hidden;
	width: 68%;
	border: 1px #2d2d2d solid;
	animation: postanim 2s ease;
}

.posttext {
	color: #aaaaaa;
	font-size: 13px;
	margin-left: 10%;
	margin-right: 10%;
	text-align: left;
	width: auto;
	padding: 10px;
	padding-left: 20px;
	background-color: #0a0a0a;
	border-radius: 10px;
}

.subtitle {
	text-align: left;
	margin-left: 11%;
}

#main {
	top: 2%;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	overflow: hidden;
	background-color: #121212;
	width: 96%;
	height: 96%;
	border: 4px #2d2d2d solid;
	animation: mainanim .5s ease;
}

hr {
	width: 90%;
	color: #2d2d2d;
	border-style: solid;
}

@keyframes hide {
	0% {overflow: hidden; width: 96%; border: 4px #2d2d2d solid; }
	100% {overflow: hidden; width: 0px; border: 0px #2d2d2d solid; }
}

@keyframes postanim {
	0% { overflow: hidden; width: 100%; }
	90% { overflow: hidden; width: 68%; }
	100% { overflow: hidden; width: 68%; }
}

@keyframes mainanim {
	0% { overflow: hidden; width: 0%; height: 0%; }
	50% { overflow: hidden; height: 0%; }
	70% { overflow: hidden; width: 96%; }
	100% { overflow: hidden; width: 96%; height: 96%; }
}

@keyframes blinking {
	0% { opacity: 0; }
	49% { opacity: 0; }
	50% { opacity: 1; }
	99% { opacity: 1; }
	100% { opacity: 0; }
}
