.icon-image {
	display: inline-block;
	width: 48px;
	height: 40px;
	vertical-align: middle;
	overflow: hidden;
	border: 1px solid;

	position: relative;

	color: #FFF;
}
.icon-image:before {
	content: "";

	width: 45%;
	height: 100%;

	position: absolute;
	left: -9%;
	top: 39%;

	transform: rotate(45deg);
	box-shadow: inset 0 0 0 1000px, 22px -13px 0 0;
}
.icon-image:after {
	content: "";

	width: 14%;
	height: 17%;

	position: absolute;
	top: 17%;
	right: 23%;

	border-radius: 50%;
	box-shadow: inset 0 0 0 1000px;
}