<link rel="stylesheet" type="text/css" href="inc/template/post/index.css">
<link rel="stylesheet" type="text/css" href="inc/template/add/index.css">
<link rel="stylesheet" type="text/css" href="inc/template/add/icon.css">
<link rel="stylesheet" type="text/css" href="inc/template/header/index.css">

<div class="add-container">
	<div class="add-content">
		<header class="header">
			<a class="header-logo" href="?/"></a>
			<div class="header-links">
				<div class="header-link header-link-active">{{Pages.pages[page].header}}</div>
				<div class="header-link header-link">{{Pages.pages[page].sections[section].header}}</div>
			</div>
		</header>

		<header class="header-space"></header>

		<div class="post add-post" id="add_post" href="#">
			<div class="post-image" id="add_post_image"></div>
			<div class="post-cover"></div>
			<div class="post-header" onclick="event.preventDefault()">
				<div class="post-header-main">
					<if condition="partition">
						<then>
							<div class="add-partition">
								<if condition="edit">
									<then>Edit</then>
									<else>Add</else>
								</if>
								{{Pages.pages[page].sections[section].partitions[partition].singular}}
							</div>
							<br>
						</then>
					</if>

					<input type="text" id="add_name" placeholder="Title" class="add-input add-name">
					by
					<input type="text" id="add_by" placeholder="Author" class="add-input add-by">
					/
					<input type="text" id="add_bygroup" placeholder="Group" class="add-input add-bygroup">
				</div><br>
				<div class="post-header-info">
					Release date:
					<input type="number" id="add_day" class="add-input add-date" placeholder="Day">
					<input type="number" id="add_month" class="add-input add-date" placeholder="Month">
					<input type="number" id="add_year" class="add-input add-date" placeholder="Year">
					<br>

					<include src="inc/{{page}}/addinfo.html" pass="{{*}}"></include>
				</div>
			</div>
			<div class="add-image icon-image"></div>
			<!--
				<div class="post-footer post-footer-left">
					<input type="text" id="add_show" placeholder="Show (path inside ZIP or link)" class="add-input add-show">
				</div>
			-->
			<div class="post-footer post-footer-right">
				<span class="post-footer-link" id="add_post_upload">Upload ZIP</span>
			</div>
		</div>

		<a class="add-publish" id="add_publish" href="#">Publish</a>
	</div>
</div>

<script type="text/javascript" src="inc/template/add/index.js"></script>