.add-container {
	display: block;
	width: 100%;
	min-height: 100%;

	background-color: #DDD;
}

.add-content {
	display: block;
	max-width: 512px;
	min-height: 100%;
	margin: 0 auto;

	position: relative;

	background-color: #FFF;
	font-size: 0;
}

.add-post {
	width: 496px;
	height: 280px;
	margin: 0 8px;
	cursor: pointer;
}

.add-post > .post-header {
	width: calc(100% - 16px);
}
.add-post > .post-cover {
	opacity: 0.7;
}
.add-post .post-header-main, .add-post .post-header-info, .add-post > .post-footer {
	opacity: 1;
}

.add-input {
	display: inline-block;
	width: 160px;
	height: 24px;
	padding: 0 6px;
	margin-bottom: 8px;
	box-sizing: content-box;

	background-color: transparent;
	color: #FFF;
	border: 1px solid #FFF;
}
select.add-input {
	width: 168px;
	padding: 0 2px;
}
select.add-input option {
	background-color: #FFF;
	color: #000;
}
input[type=number].add-input {
	width: 174px;
	padding-right: 0;
}

.add-partition {
	margin-top: 12px;

	font-size: 16px;
}

.add-date {
	width: 64px !important;
}

.add-by, .add-bygroup {
	width: 96px;
}

.add-show {
	width: 256px;
}

.add-image {
	display: inline-block;

	position: absolute;
	left: 50%;
	top: 80%;

	transform: translateX(-50%);
}

.add-publish {
	display: inline-block;
	width: calc(100% - 36px);
	height: 12px;

	padding: 6px 10px;
	margin: 8px 8px;

	background-color: #9563F9;

	color: #FFF;
	font-size: 12px;
	line-height: 12px;
	text-align: center;
}
.add-publish.error {
	background-color: #F94363;
}
.add-publish.publishing {
	background-color: #6363F9;
}