/* /App_Themes_7.8.0.0.14/VOA_en-US-LEARN/generic_ltr.csx */
#top_bar .sites_by_language a{background-position:right -3240px}#top_bar .sites_by_language a.opened{background-position:right -3340px}

/* /App_Themes_7.8.0.0.14/VOA_en-US-LEARN/headerfooter.csx */
#top_bar{border-color:#cccfcf}#top_bar strong.label,#top_bar a,#top_bar .top_stories a{color:#000}#top_bar a:hover,#top_bar a:focus,#top_bar a:active{color:#000}#top_bar_expanded{border-color:#cccfcf}#header #header_services .login_bar ul li a,#header #header_services .login_bar ul li.header_searchform_submit,#header #header_services .login_bar ul li a:hover{text-transform:uppercase}

/* /App_Themes_7.8.0.0.14/VOA_en-US-LEARN/mainmenu.csx */


/* /App_Themes_7.8.0.0.14/VOA_en-US-LEARN/Stylesheet1.csx */
p.schedule_time strong{font-size:18px}#header .content_centered{}#header .content_centered h2#header_logo{background:transparent url("../../App_Themes/VOA_en-US-LEARN/img/top_logo.gif%3Fv=__7.8.0.0.14") no-repeat left 9px;margin-left:12px}.body_FlashAudio #popupHeader h2.popup_top_header{background-image:url("../../App_Themes/VOA_en-US-LEARN/img/small_header.gif%3Fv=__7.8.0.0.14")}.iframeFancybox #fancybox-close{top:-23px;right:0}.iframeFancybox #fancybox-close span.title{color:#fff;font-weight:bold}