body {
  font-family: sans-serif;
  font-style: normal;
}
h1, h3{
  text-align: center;
  font-family: monospace;
  text-shadow: 2px 2px #d8d8d8;
}
a {
  text-decoration: none;
  color: #000000;
}
a:hover {
  background-color: #a5a5a5;
  font-weight: bold;
}

#intro {
  display: block;
  margin: auto;
}

.nav_p {
  text-align: center;
  background-color: #c2c4c6;
  list-style-type: none;
}

.nav_l {
  display: inline;
  background-color: #c2c4c6;
}
