<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>footer.html - weakish - weakish&apos;s shred of web
</title>
<link rel="icon" type="image/png" href="../../favicon.png" />
<link rel="alternate" type="application/atom+xml" title="weakish.git Atom Feed" href="../../atom.xml" />
<link rel="stylesheet" type="text/css" href="../../style.css" />
</head>
<body>
<table><tr><td><a href="../../../"><img src="../../logo.png" alt="" width="32" height="32" /></a></td><td><h1>weakish</h1><span class="desc">weakish&apos;s shred of web
</span></td></tr><tr class="url"><td></td><td>git clone <a href="http://127.0.0.1:43110/weakish.0my.bit/weakish.git">http://127.0.0.1:43110/weakish.0my.bit/weakish.git</a></td></tr><tr><td></td><td>
<a href="../../log.html">Log</a> | <a href="../../files.html">Files</a> | <a href="../../refs.html">Refs</a></td></tr></table>
<hr/>
<div id="content">
<p> footer.html (533B)</p><hr/><table id="blob"><tr><td class="num"><pre>
<a href="#l1" id="l1">1</a>
<a href="#l2" id="l2">2</a>
<a href="#l3" id="l3">3</a>
<a href="#l4" id="l4">4</a>
<a href="#l5" id="l5">5</a>
<a href="#l6" id="l6">6</a>
<a href="#l7" id="l7">7</a>
<a href="#l8" id="l8">8</a>
<a href="#l9" id="l9">9</a>
<a href="#l10" id="l10">10</a>
<a href="#l11" id="l11">11</a>
<a href="#l12" id="l12">12</a>
<a href="#l13" id="l13">13</a>
<a href="#l14" id="l14">14</a>
<a href="#l15" id="l15">15</a>
</pre></td><td><pre>
&lt;footer&gt;
  &lt;small&gt;
    &lt;a href=&quot;/16XMwj6YRNqRHWbmSD8oxYUZCKfM1uzwP9/git/&quot;&gt;Website source&lt;/a&gt; |
    {% comment %}
      Hard-coded since there are only one page. If we have more pages, we
      may set `url` in `_config.yaml` and use
          {{ site.url | url_encode }}
      We will not use `/check?uri=referer` since browsers may strip
      information in `referer` header.
    {% endcomment %}
    &lt;a href=&quot;https://validator.w3.org/check?uri=https%3A%2F%2Fweakish.github.io&quot;&gt;
      Valid HTML5&lt;/a&gt;
  &lt;/small&gt;
  &lt;/div&gt;
&lt;/footer&gt;
</pre></td></tr></table>
</div>
</body>
</html>
