@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);





#index-menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#index-menu-0 .navbar-caption {
  color: #ffffff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#index-menu-0 .navbar-toggler {
  color: #ffffff;
}
#index-menu-0 .close-icon::before,
#index-menu-0 .close-icon::after {
  background-color: #ffffff;
}
#index-menu-0 .link,
#index-menu-0 .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#index-menu-0 .link {
  font-size: 2.6rem;
}
#index-menu-0 .dropdown-item,
#index-menu-0 .nav-dropdown-sm .link {
  font-size: 2.816rem;
}
#index-menu-0 .link:hover,
#index-menu-0 .dropdown-item:hover,
#index-menu-0 .link:focus,
#index-menu-0 .dropdown-item:focus {
  color: #c0a375;
}
#index-menu-0 .link[aria-expanded="true"],
#index-menu-0 .dropdown-menu {
  background: #0e0e0e;
}
#index-menu-0 .nav-dropdown-sm .link:focus,
#index-menu-0 .nav-dropdown-sm .link:hover,
#index-menu-0 .nav-dropdown-sm .dropdown-item:focus,
#index-menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#index-menu-0 .navbar,
#index-menu-0 .nav-dropdown-sm,
#index-menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#index-menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#index-menu-0 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#index-menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#index-menu-0 .bg-color.transparent.opened .link:hover,
#index-menu-0 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#index-menu-0 .link[aria-expanded="true"],
#index-menu-0 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#index-features3-0 H5 {
  font-size: 8px;
}
