body {
	margin: 120px;
	background-color: #111;
	color: #ddd;
}

img {
	display: block;
	margin: 0 auto;
}

p {
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	text-align: justify;
}

h1, h2 {
	font-family: 'Press Start 2P';
}

h1 {
	text-align: center;
	font-size: 32px;
}

h2 {
	font-size: 28px;
}

a {
	color: #ddd;
}