body,
img.main_menu{
    background-color: #070707;
    color: #949494;
}
a {
    color: #fff
}
a:focus,a:hover {
    color: #fff
}
.main {
    background: #070707
}
.menu_left, .menu_top {
    background-color: #11151d
}
.menu_not_react {
    color: #949494;
    background:#11151d!important
}
.list-types-new li:hover {
    background: #070707
}
.list-type:hover,.list-type.active {
    color: #fff
}
.list-type {
    color: #949494
}
.style-scope .List .more {
    background-color: #11151d
}
.List .file .size.downloading,.List .file .size.partial {
    background-color: #11151d
}
.List .file .left-info {
    border-color: #11151d
}
.video_title {
    border-color: #11151d
}
.video_comment {
    border-color: #11151d
}
.List .more:hover {
    color: #FFF;
}
.List .more {
    color: #b3b3b3;
}
.List .file .add {
    color: #949494;
    border-color: #11151d
}
.List .file .add:hover {
    color: #fff
}
.List .file .add:active {
    background-color: #FAFAFA;
}
.editable .icon-edit:hover + .body {
    color: #fff
}
.List .file .title {
    color: #949494
}
.List .file .header:hover {
    color: #FFF
}
.List .file textarea {
    background-color: #11151d
}
.button-follow {
    border-color:#AAA;
    color: #999;
}
.button-follow:hover {
    background-color: rgba(255,255,255,0.3)!important;
    border-color: #2ecc71!important;
    color: #2ecc71
}
.button-follow-big {
    border-color:#2ecc71;
    color: #2ecc71;
}
.button-follow-big:hover {
    border-color: #2ecc71!important;
    color: #2ecc71;
    background-color: #fff;
}
.button-submit {
    background-color: #ff0000;
    color: #fff;
}
.button-submit:hover {
    color: #fff;
    background-color: #11151d
}
.button-outline {
    background-color: #11151d;
    color: #7b7b7b
}
.button-outline:hover {
    background-color: #11151d;
    color: #fff
}
.List .file .seeding {
    background-color: #11151d;
}
.ytd-header-author{
    color: #fff
}
.yt-img-avatar svg{
    fill: #fff
}

.video_empty,
#advertising,
.search_wrap,
.minero-donate-widget{
    opacity: 0.5;
}
header{
    background-color: #505050;
}

header figure > figcaption{
    color: #949494;
}