@font-face {
    font-family: 'tgoth';
    font-style: normal;
    font-weight: bold;
    src:
        url(../font/trade-gothic-lt-std.otf) format('woff');
}

header{
    z-index: 50;
    height: 60px;
    position: fixed;
    /*! background-color: red; */
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.11);
    line-height: 60px;
    background-color: #ffffff
}

header a.togglemenu{
    display: inline-block;
    height: 30px;
    width: 30px;
    font-size: 26px;
    font-family: sans;
    margin-left: 20px;
    margin-right: 15px;
    background-color: rgba(0, 0, 0, 0.1);
    vertical-align: baseline;
    line-height: 31px;
    text-align: center;
}

header figure{
    display: inline;
}

#midcontainer{
    display: inline-table;
    margin-top: 60px;
    z-index: 49;
    width: 100%;
    height: inherit;
    min-height: 465px;
}
#midcontainer > main{
    display: table-cell;
    position: relative;
    height: auto;
}

nav{
    /*! margin-top: 60px; */
    z-index: 40;
    width: 240px;
    height: 100%;
    position: relative;
    /*! background-color: green; */
    overflow: hidden;
    transition: width .2s;
}

body.showmenu nav{
    display: table-cell;
}

body:not(.showmenu) nav{
    display: table-cell;
    width: 0;
}

@media (min-width: 1280px) {
    /*    body:not(.showmenu) main{
            width: calc(100% - 240px);
            margin-left: 240px;
        }
        body.showmenu main{
            width: 100%;
            margin-left: 0px;
        }*/
}

*[onclick]{
    cursor: pointer;
}

header figure > img{
    vertical-align: text-bottom;
}

header figure > figcaption{
    display: inline-block;
    font-family: tgoth;
    font-size: 25px;
    font-weight: bold;
    color: black;
}

.menu_left {
    margin-top: 0;
    position: absolute;
    top: 0;
    height: 100%;
}

header .searchButton{
    line-height: initial;
}

header .switch{
}

#listavideos{
    display: table-cell;
    /*! position: absolute; */
    min-height: 20px;
    min-width: 20px;
    /*! width: 100%; */
    top: 0;
    left: 0;
    vertical-align: top;
}

#listavideos > div > div.header{
    display: none;
}

#listavideos > .videos{

}

#listavideos > .videos.grid{
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-gap: 0px;
    position: relative;
    padding: 20px;
    height: 100%;
}

#listavideos > .videos.list{
}

#listavideos > .videos > .file.video{
    display: inline-block;
    /*! max-width: 200px; */
    text-align: center;
    padding-bottom: 30px;
    position: relative;
}

#listavideos > .videos > .file.video > .videoimage{
    display: inline;
}

#listavideos > .videos > .file.video > .left-info{
    text-align: left;
    max-width: 250px;
}
#listavideos > .videos > .file.video > .left-info .linkJoiner.title{
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 10px
}

#listavideos > .videos > .file.video > .left-info  .ytd-compact-thumbnail > a:not(.editable){
    display: none;
}

.video_empty{

}

.stats{
    display: none;
    position: absolute;
    /*! background-color: red; */
    width: 100%;
}

/*
#list_container .file.video{
    display: table;
}
#list_container .file.video > div{
    display: table-cell;
}
*/

.stats > *{
    display: inline-block;

}

.stats > *:not(:first-child){
    margin-left: 30px;
}

main > .innertable{
    display: table;
    width: 100%;
}

span.detail.added{
    margin-left: 10px;
}

#videoplayer{
    display: table-cell;
}
#videoplayer:empty{
    width: 0px;
}
#videoplayer:not(:empty){
    width: 1000px;
}

#videoplayer .titleBox{

    display: inline-block;
    max-width: none;
    margin: 20px;
    width: calc(100% - 40px);
    position: relative;
    text-align: center;
}
#videoplayer .closebox{
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 25px;
    color: red;
    font-weight: bold;
    background-color: #80808075;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 29px;
    border-radius: 7px;
}
#videoplayer > * > *{
    text-align: left;
}
body{
    position: absolute;
}

body > .banner > figure{
    display: inline-table;
    position: relative;
    height: 60px;
    top: calc(50% - 30px);
}

body > .banner > figure > *{

    display: table-cell;
    font-size: 50px;
    vertical-align: middle;
}

body > .banner{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(100,100,100,1);

    /*    transition: all 0.2s;*/
    overflow: hidden;
}
body:not(.loading) > .banner{
    height: 0%;
    z-index: 0;
}
body:not(.loading) > .banner *{
    display: none;
}

body.loading > .banner{
    height: 100%;
    z-index: 10000000;
    text-align: center;
}

body *:not(input):not(textarea){
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

iframe.donation{
    width: 100%; 
    height: 280px;
    border: 0;
}

@media (min-width: 850px){
    #listavideos > .videos.grid{
        display: grid;
    }
}
@media (max-width: 849px){

}


@media (min-width: 1050px){
    header{

    }
}
@media (max-width: 1049px){
    header{

    }
}


body.uploading main > *:not(#upload_container){
    display: none;
}
body.uploading main > #upload_container{
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
}


body:not(.uploading) main > #upload_container{
    display: none;
}

.upload_thumbs{
    /*! display: none; */
}

#upload_canvas_video_thumbs{
    z-index: 0;
    display: none;
}

#upload_img_video_thumbs{
    width: 250px;
    display: inline-block;
}

#upload_video_preview{
    z-index: 0;
    display: none;
}

#listavideos .add{
    border: 1px solid;
    padding: 5px;
    margin: 5px;
    border-radius: 7px;
    box-shadow: 1px 1px 0px black;
    background-color: #00ba0070;
}

#upload_video_title,
#upload_video_description{
    margin: 10px;
    margin-top: 30px;
}

#upload_video_title{
    width: calc(100% - 30px);
    /*! margin: 10px; */
}

#upload_video_description{
    resize: none;
    width: calc(100% - 20px);
    height: 250px;
}

#upload_input_video{
    display: inline-block;
}

iframe.aads{
    width: 100%;
}

@media all and (max-width: 768px) {
    body nav{
        position: absolute;
        z-index: 50;
    }
    #midcontainer > main{
        z-index: 49;
    }
}

#hashing_name{
    width: calc(100% - 25px);
    height: 5px;
}

#hashing_name[value="100"]{
    display: none;
}

#video_vote_container{
    display: inline-table;
    width: 100%;
    /*! float: inline-end; */
}

#video_vote_container > *{
    display: table-row;
}
#video_vote_container > * > *{
    display: table-cell
}
#video_votebtn_up,
#video_votebtn_down{
    width: 30px;
    font-size: 30px;
}

#video_vote_container > div:not(.line){
    /*! background-color: blue; */
    text-align: center;
    height: 30px;
    line-height: 30px;
}
#video_votebtn_up:hover,
#video_votebtn_down:hover{
    cursor: pointer;
    text-shadow: 1px 1px 2px gray;
    border-radius: 10px;
}

#video_vote_container > div.line{
    /*! background-color: gray; */
    position: relative;
    height: 20px;
}

#video_vote_container  div.line > span{
    display: inline-block;
    height: 4px;
    position: absolute;
    top: 8px;
}
#video_vote_container  div.line > span.pos{
    background-color: green;
    left: 0;
}
#video_vote_container  div.line > span.neg{
    background-color: red;
    right: 0
}

.vote_counters_container{
    width: 200px;
    float: inline-end;
}
.vote_counters{
    width: 100%;
    display: inline-table;
}

.vote_counters > *{

    display: table-cell;
}
.vote_counters > * > *{

}

#video_votecount_down{
    text-align: right;
}

#cpu_time_donation_link{
    text-align: center;
}

#donate_cpu_dialog{
    position: fixed;
    height: 300px;
    width: 450px;
    background-color: white;
    z-index: 51;
    top: calc(50% - 150px);
    left: calc(50% - 225px);
    border-radius: 10px;
    border: 1px solid;
    box-shadow:  0px 0px 20px #000;
    overflow: hidden;
    text-align: center;
}

#donate_cpu_dialog:not(.showdialog){
    display: none;
}
#donate_cpu_dialog.showdialog{
    display: inline-block;
}
#monero_mining_machine{
    width: 100%;
    height: 140px;
    /*! display: contents; */
}
#monero_mining_machine > h3{
    display: table-caption
}
#monero_mining_machine > div{
    display: table-row;
}

#monero_mining_machine > div > *{
    display: table-cell;
    text-align: left;
}

#monero_mining_machine output{
    display: inline;
}

#donate_cpu_dialog.active #monero_mining_machine{
    display: inline-table
}

#donate_cpu_dialog.active a.load,
#donate_cpu_dialog:not(.active) a.unload,
#donate_cpu_dialog:not(.active) #monero_mining_machine{
    display: none;
}

#donate_cpu_dialog .explaining{
    margin: 10px; 
    text-align: justify
}

#donate_cpu_dialog.active .explaining{
    display: none;
}

::cue {
    color: yellow;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    background-color: transparent;
    text-shadow: 2px 2px #000000;
}
::cue .warning {
    color: red;
    font: bold;
}