body {
  background-color: black;
  color: white;
}

.container {
  text-align: center;
}

.header, .header a {
  text-decoration: none;
  font-size: 150%;
  color: white;
}

.wall input {
  border: 0px none;
  background: black;
  font-size: 150%;
}

