@import "elements.less";

/** COMMON **/

	h1, h2, h3, h4 {
	  font-family: 'Roboto', Arial, sans-serif;
	  font-weight: normal;
	  margin: 0px;
	  padding: 0px;
	}
	h1 {
	  font-family: 'Text Me One', sans-serif;
	  padding-bottom: 10px;
	  font-size: 25px;
	}
	h3 {
	  font-family: 'Text Me One', sans-serif;
	  font-size: 15px;
	  text-decoration: none;
	}
	h4 {
	  text-transform: uppercase;
	  display: block;
	  font-size: 11px;
	}
	ul, li { 
	  margin: 0px;
	  padding: 0px;
	  list-style-type: none;
	}
	ul {
	  list-style-type: none;
	}
	ul, ol {
	  margin: 0;
	  padding: 0;
	}

	li {
	  margin: 0;
	  padding: 0;
	}

	.loading {
		width: 100%;
		float: left;
		text-align: center;

		span {
			margin: 0 auto;
			display: table;
			background-image: url('../img/ajax-loader.gif');
			width: 43px;
			height: 11px;
		}

		&.main {
			span {
				margin:100px auto;
			}
		}
	}

	/* icons */

		.icon2 {
			display: inline-block;
			height: 16px;
			width: 16px;
			background-image: url('../img/16icons.png');
			background-position: 0 0;

			&.thumbs-up {
    			/*background-position: -153px -34px;
    			&:hover, &:active {*/
    				background-position: -153px -51px;
    			/*}*/
			}

			&.thumbs-down {
    			/*background-position: -171px -34px;
    			&:hover, &:active {*/
    				background-position: -171px -51px;    				
    			/*}*/
			}
		
			&.non-favorite {
				background-position: -238px -33px;
				&:hover, &:active {
					background-position: -68px -51px;
				}		
			}

			&.favorite {
				background-position: -68px -51px;
				&:hover, &:active {
					background-position: -238px -33px;
				}		
			}

			&.pencil {
    			background-position: -17px -101px;				
			}

		}

		.icon {

			&.ebooks {
			    background-position: 0 -16px;
			}

			&.forums {
			    background-position: -255px -118px;
			}

			&.images {
			    background-position: -255px 0;	
			}

			&.news {
				background-position: -221px -69px;	
			}

			&.files {
			    background-position: -136px -1px;
			}
			
			&.social {
			    background-position: -17px -51px;
			}

			&.users {
   				background-position: -35px -68px;				
			}

			&.comments {
    			background-position: 0 -51px;
			}

			&.my-posts {
				background-position: -68px -84px;				
			}
		}

	/* /icons */

/** /COMMON **/

/** FORMS **/

	.form {
	    background: #E0E0E0;
	    border-top: 5px solid #2d7bcc;
	    padding: 10px;
	    width: 100%;
	    float: left;

	    .form-row-container {
	    	width: 100%;
	    	float: left;
	    	margin-bottom: 5px;
	    	
	    	label {
	    		line-height: 33px;
	    		margin: 0;
	    		width: 20%;
	    		float: left;
	    	}

	    	input, select, textarea, .input-file {
	    		width: 80%;
	    		float: right;
	    	}

	    	img {
    			margin: 0 0 0 20%;
    			max-width: 80%;	    		
	    	}

	    	button[dropzone] {
	    		text-align: left;
	    		margin-bottom: 10px;
	    	}

	    	button.btn {
	    		float: right;
	    		outline: none;
	    		.transition();

	    		&:active {
	    			outline: none;
	    		}
	    	}
	    }
	}

/** /FORMS **/

/** TEMPLATE **/

	body {
		margin: 0;
		background-color: #004160;
	}
 
	/* header */

		.header {
			position: absolute;
			top: 0;
			left: 0px;
			width: 100%;
			height: 50px;
			z-index: 100;
			margin-bottom: 5px;
			background-image: linear-gradient(120deg, #155799, #159957);
			border-bottom: 1px solid #302A26;

			ul {
				margin: 9px 0;
				float: left;			
				li {
					position: relative;
					float: left;
					a {
						border: 1px solid #605050;
						display: block;
						padding: 5px 10px;
						color: #105CB6;
						height: 30px;
						.transition();					
					}

					&:first-of-type {
						a {
							border-bottom-left-radius: 5px;
							border-top-left-radius: 5px;
						}
					}
					&:last-of-type {
						a {
							border-top-right-radius: 5px;
							border-bottom-right-radius: 5px;						
						}
					}
				}
				li + li {
					a {
						border-left: 0;
					}
				}
			}

			#logo-container {
			    padding-left: 30px;
			    padding-top: 11px;

			    h1 {
			    	a {
			    		color: white;
			    	}
			    }
			}

			#main-menu {

				ul {		

					li {
						a {
							background-color: #F0F0E8;
							background-image:         linear-gradient(bottom, rgba(0, 0, 0, 0.1) 0%, transparent 38%);
							background-image:    -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.1) 0%, transparent 38%);
							background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.1) 0%, transparent 38%);
							background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgba(0, 0, 0, 0.1) ),color-stop(0.38, transparent));						
						}
					}
				}
			}

			#user-menu {
				float: right;
				
				ul {
					li {
						a {
							color: white;
							background: url(../img/bgnavbar.gif);
							
							.icon {
								margin-top: 1px;
							}
						}
						&:hover {
							a {
								background: url(../img/bgnavbarhover.gif);
							}

							ul#user-submenu {
								display: block;
							}
						}

						&:active,
						&.active {
							a {
								background: url(../img/bgnavbaractive.gif);
							}

							ul#user-submenu {
								display: block;
							}
						}

						ul#user-submenu {
							position: absolute;
							margin: 0;
							top: 30px;
							display: none;
							width: 95%;

							li {
								width: 100%;
								float: left;
								
								a {
									border:0;
									background:#606050;
									text-align: left;
									width: 100%;
									float: left;
									.border-radius(0,0,0,0);

									&:hover {
										background:darken(#606050,5%);
									}
								}
							}
						}				
					}
				}			
			}

			#search {
				width: 235px;
				margin: 7px 0;
				position: relative;
				float: left;

				input {
				  float: left;
				  margin: 0;
				  padding: 10px;
				  width: 183px;
				  height: 34px;
				  border: none;
				  font-weight: normal;
				  font-family: Helvetica,Arial;
				  font-size: 14px;
				  color: #303030;
				  background: transparent url(../img/searchinput.png) no-repeat top left;
				}

				.subm {
				  display: block;
				  float: left;
				  margin: 0;
				  padding: 0;
				  width: 32px;
				  height: 35px;
				  background: transparent url(../img/searchbtn.png) no-repeat top left;

				  	&:hover {
	    				background-position: -32px;			  	
				  	}

				  	&:active {
				  		background-position: -64px;
				  	}
				}

			}

		}

	/* /header */

	/* site modal */

		#modal-container {

			.wrapper {
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 1000;
				
				#modal-overlay {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: rgba(0,0,0,0.5);
					z-index: 1001;
				}

				#modal-dialog {
					position: fixed;
					width: 600px;
					height: auto;
					top: 50%;
					left: 50%;
					margin-left: -300px;
					margin-top: -100px;
					z-index: 1002;
					opacity: 0;
					.transition();

					.dialog-container {
					    border-radius: 5px 5px 5px 5px;
					    box-shadow: 0px 1px 2px rgba(0,0,0,0.75);
					    padding: 0;

					    .modal-header,
					    .modal-body {
					    	float: left;
					    	width: 100%;
					    }				

					    .modal-header {
					    	background-color: #004160;
					    	color: white;
					    }
					}
				}

				&.active {
					#modal-dialog {
						margin-top: -200px;
						opacity: 1;
					}
				}
			}
		}

	/* /site modal */

	/* content */

		main {
		  /*position: absolute;
		  top: 67px;
		  left: 0px;
		  width: 1024px;
		  border-left: 240px solid #004160;
		  background: #F0F0E0 url(../img/bg3cols.gif) repeat-y;
		  height: 10000px;*/
			padding-top: 50px;
		  	color: #303020;
		  	background-color: #004160;

			#content {
				padding-right: 30px;

				.server-info {
					background-color: #E0E0D6;
					color: #303026;
					padding: 3px;
					float: right;
		    		margin: 10px 0;

		    		> span {
		    			margin-right: 5px;
		    		}			
					
					.port {
						font-weight: bold;

						&.opened {
							color: green;
						}
						&.closed {
							color: red;
						}
					}

				}
			}

			aside {
				ul.category-menu {
					padding: 20px;

					li {
						width: 100%;
						float: left;
						color: white;

						a {
							color: white;
							text-transform: uppercase;
							font-weight: normal;
							.transition();
						}
					
						&.active {
							list-style-type: disc;

							a {
								font-weight: bold;
							}
						}

						&:hover {

							a {
								color: darken(white, 10%)
							}
						}
					}	
				}
			}
		}

		section.section {
			background-color: #F0F0E0 ;
			float: left;
			width: 100%;
			padding:10px;
			position: relative;
		}

	/* /content */

/** /TEMPLATE **/

/** POSTS **/

	/* list */

		.post-list {
			padding:10px;

			ul.posts-top-menu {
				top: -32px;
				left: 0;
				position: absolute;

				li {
					float: left;
					display: block;
					padding: 6px 12px 6px 12px;
					-webkit-border-radius: 3px 3px 0 0;
					-moz-border-radius: 3px 3px 0 0;
					border-radius: 3px 3px 0 0;
					background: #003750;
					border:1px solid;
					border-bottom: 0;
					border-color:darken(#003750, 5%);
					.transition();

					a {
						text-transform: uppercase;
						font-weight: bold;
						color: #F0F0F0;
						.transition();
					}

					&.active {
						background: #F0F0F0;
						border-color: darken(#f0f0f0,5%);
						a {
							color: #101010;
						}
					}
				}	
			}

			.sort-options {
			    margin-bottom: 5px;
			    float: left;
			    width: 100%;

				> span {
					display: block;
					float: left;
					font-weight: bold;
				}

				ul {
					float: left;
					li {
						float: left;
						margin-left: 5px;
					}
				}
			}

			.list-items-container {
			    background: #D8D8D8;
			    float: left;
			    width: 100%;
			    padding: 5px;

			    &.cached {
			    	.post-item {
			    		display: none;
			    		&.cached {
			    			display: block;
			    		}
			    	}
			    }

			    &.non-cached {
			    	.post-item {
			    		display: block;
			    		&.cached {
			    			display: none;
			    		}
			    	}
			    }

			    &.proxy {
			    	.post-item {
			    		display: none;
			    		&.proxy {
			    			display: block;
			    		}
			    	}
			    }
			    
			    &.favorited {
			    	.post-item {
			    		display: none;
			    		&.favorited {
			    			display: block;
			    		}
			    	}
			    }
			}

			.post-item {
			    padding: 5px;

				@media (min-width: 1200px) {
					&.col-md-2 {
				    	width: 12.5%;	
					}
				}

				@media (min-width: 992px) and (max-width: 1200px) {
					&.col-md-2 {
				    	width: 14.27%;	
					}
				}

				@media (min-width: 768px) and (max-width: 992px){
					&.col-md-2 {
				    	width:16.66666667%;	
					}
				}

				@media (max-width: 768px) {
					&.col-md-2 {
				    	width:20%;	
					}
				}
				
				.post-item-wrapper {
				    border: 2px solid #908070;
				    background-color: #F0F0F0;
				    float: left;
				    width: 100%;
				    padding: 5px;
				}

				.post-item-header {
					position: relative;
					padding-right: 21px;
					margin-bottom: 5px;

					.icon {
						position: absolute;
						top: 0;
						right: 0;
					}

					h3 {
					    width: 100%;
					    overflow: hidden;
					    text-overflow: ellipsis;
					    white-space: nowrap;
					    height: 17px;
					}

					.edit-pencil {
						position: absolute;
						top: 0;
						right: 16px;
						z-index: 10;
					}
				}

				.post-item-subheader {
					float: left;
					width: 100%;
					
					ul {
						margin-top: 4px;
						float: left;
						width: 100%;
						
						li {
							float: left;
							text-align: center;
							width: 20%;

							i, span {
								margin: 0 auto;
								display: table;
								float: none;
							}
						}
					}
				}

				figure {
					width: 100%;
					float: left;
					height: 100px;

					a {
						width: 100%;
						display: block;
						float: left;
						cursor: pointer;
						height: 100%;
						overflow: hidden;
					}
					img {
						width: 100%;
						height: 100%;
						-webkit-filter: grayscale(100%);
						-moz-filter: grayscale(100%);
						-ms-filter: grayscale(100%);
						-o-filter: grayscale(100%);
						filter: grayscale(100%);
						.transition();
					}
				}

				&:hover {
					.post-item-wrapper {
						figure {
							img {
								-webkit-filter: grayscale(0);
								-moz-filter: grayscale(0);
								-ms-filter: grayscale(0);
								-o-filter: grayscale(0);
								filter: grayscale(0);
							}
						}
					}
				}

				&.cached {
					.post-item-wrapper {
						border-color: #2fb52f;
						img {
							-webkit-filter: grayscale(0);
							-moz-filter: grayscale(0);
							-ms-filter: grayscale(0);
							-o-filter: grayscale(0);
							filter: grayscale(0);							
						}
					}
				}
			}
		}

	/* /list */

	/* view */

		.post-modal-view {

			.modal-body {
				padding: 0;
			}

			.close {
			    top: 5px;
			    right: 10px;
			    font-size: 30px;
			    font-weight: bold;
			    position: absolute;
			    .transition();
			}

			.post-sub-header {
				border-bottom: 1px solid #ccc;
				float: left;
				width: 100%;
				padding: 5px 15px;

				li {
					float: left;
					margin-right: 10px;

					&.post-category {
						i.icon {
							float: none;
						}
					}

					&.post-votes {
						a {
							margin-right: 5px;
							display: inline-block;
							float: left;

							i, span {
								display: inline-block;
								float: left;
							}
						}
					}

					&.post-favorites {
						a {
							span {
								i, span {
									display: inline-block;
									float: left;
									margin-right: 2px;
								}
							}
						}
					}
				}
			}

			.post-body {
				float: left;
				width: 100%;
				border-bottom: 1px solid #ccc;

				span.post-url {
					width: 100%;
					padding: 5px 15px;
					display: block;
					float: left;				
					border-bottom: 1px solid #ccc;
				}

				article {
					padding: 5px 15px;
					float: left;
					width: 100%;

					img {
					    float: left;
					    margin: 5px 5px 5px 0;			
					}
				
					p {
						margin-top: 5px;
					}
				}
			}

			.post-comments {
				float: left;
				width: 100%;
				padding: 10px 15px;

				.comment-form {
				    padding-bottom: 10px;
				    float: left;
				    width: 100%;

				    form {
				    	position: relative;
						padding: 5px;
						background: white;
						border: 1px solid #ccc;
						margin: 0;
						float: left;
						width: 100%;

						textarea {
						    background: white;
						    border: 0;
						    font-size: 12px;
						    padding: 0;			
						    float: left;
						    width: 100%;			
						}

						button {
							position: absolute;
							bottom: 5px;
							right: 5px;
						}
				    }
				}

				ul.comment-list {
					float: left;
					width: 100%;
				    padding-top: 10px;
				    border-top: 1px solid #ccc; 				
					
					li.comment-list-item {
					    margin-bottom: 5px;
					    float: left;
					    width: 100%;
					    padding-bottom: 5px;

					    figure.identicon-container {
					    	img {
    							box-shadow: 1px 1px 3px rgba(0,0,0,0.5);					    		
					    	}
					    }

						ul.comment-header {
							width: 100%;
							float: left;
							li {
								display: block;
								float: left;
								margin-right: 10px;

								a {
									margin-right: 5px;
								}
							}
						}

						.comment-body {
							width: 100%;
							float: left;
						}
					}
				}
			}
		}

	/* /view */

/** /POSTS **/