<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <title>Dream Station</title>


  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="css/about.css">

  <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">

</head>
<body>


<div class="present">

  <div style="text-align: center; padding-top: 50px">

    <div style="display: inline-block; position: relative; background-image: url('logo.jpg'); background-size: cover; width: 500px; height: 250px; border-radius: 12px;"></div>

    <h1 style="font-size: 24px; font-weight: normal"> Dream station - <span style="font-size: 16px; font-weight: lighter">free platform to listen lossless music in <code>ZeroNet</code></span> </h1>

  </div>

  <div class="language noselect" lavatube-onclick="onToggleLanguages(this)">

    <div class="dropup-content">
      <a lavatube-onclick="onChangeLanguage('en')">English</a>
      <a lavatube-onclick="onChangeLanguage('jp')">日本語</a>
    </div>

    <i class="fa fa-globe" aria-hidden="true"></i> {{ lang.name }} <i class="fa fa-angle-up" aria-hidden="true"></i>

  </div>

</div>

</body>
</html>