
<style>
  .search-empty.outer {
    display: table;
    position: relative;
    top: 0;
    left: 0;
    height: calc(100vh - 61px);
    width: 100%;
  }

  .search-empty .middle {
    display: table-cell;
    vertical-align: middle;
  }

  .search-empty .inner {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
  }

  .search-empty .inner {
    color: rgba(121, 121, 121, 1);
    font-size: 18px;
    font-weight: lighter;
  }
</style>

<div class="search-empty outer present-fast">
  <div class="middle">
    <div class="inner">

      <i class="fa fa-search" aria-hidden="true" style="font-size: 64px"></i>
      <br/>
      {{ lang.searching }}

    </div>
  </div>
</div>
