/* div.logoi {
	position:relative;
    top:0px;
    left:30px;
    bottom:4px;
	overflow: hidden;
    background-color: #ff2e8b;
    border: none;
    font-size: 30px;
    color: #FFFFFF;
    text-align: center;
	animation-iteration-count: infinite;
	border: 2px solid maroon;
    transition-duration: 0.4s;
    text-decoration: none;
    cursor: pointer;

    width: 40px;
    height: 40px;
    background-color: #ff2e8b;
    animation-name: example;
    animation-duration: 18s;
} */
/* div.blogoi {
	font-family: 'Roboto', sans-serif;
	text-align: center, center;
	letter-spacing: -10px;
	
	margin-left: 10px;
	margin-top: 13px;
	margin-right: 10px;
	margin-bottom: 10px;
    background-color: #ff2e8b;
    border: none;
    font-size: 30px;
    color: #ff2e8b;
	padding-top: 0px;
	padding-right: 7px;
	padding-left: 3px;
	
    text-align: left;
	text-indent: 2px;
	animation-iteration-count: infinite;
	border: 2px solid maroon;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;

    width: 13px;
    height: 15px;
	
    background-color: #ff2e8b;
    animation-name: bexample;
    animation-duration: 18s;
} */
/* @keyframes bexample {
    0%   {transform: rotate(0deg);background-color: black;color: gray;}
    25%  {transform: rotate(90deg);background-color: white;color: maroon;}
    50%  {transform: rotate(180deg);background-color: black;color: gray;}
    75% {transform: rotate(270deg);background-color: white;color: maroon;}
    100% {transform: rotate(360deg);background-color: black;color: gray;}
}
@keyframes example {
    0%   {transform: rotate(0deg);background-color: white;border-color: maroon;}
    25%  {transform: rotate(-90deg);background-color: black;border-color: gray;}
    50%  {transform: rotate(-180deg);background-color: white;border-color: maroon;}
    75% {transform: rotate(-270deg);background-color: black;border-color: gray;}
    100% {transform: rotate(-360deg);background-color: white;border-color: maroon;}
} */

html, body {
	height:100%;
	overflow: auto;
}
body {
	background-image: url("../gfx/backdrop.jpg");
    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;
	width: 100%;
	
	overflow-x: hidden;
	overflow-y: auto;
}
#header{
	position: fixed;
	z-index: 2000;
	top: 4em;
	color: white;
	background: clear;
}
#header h1{
	font-size: 2em;
	font-weight: 400;
	text-transform: uppercase;
	color: rgba(255,255,255,0.9);
	text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
	margin-top: -2em;
	padding-top: .5em;
    background-position: 5px 55px;
    background-attachment: fixed;
	width: 4.5em;
	height: 5.2em;
	background: black; 
	background: -webkit-linear-gradient( white, black, black, black);
	background: -o-linear-gradient(white, black, black, black);
	background: -moz-linear-gradient(white, black, black, black);
	background: linear-gradient(white, black, black, black);
}
#header i{
	color: gray;
	background: clear;
	font-size: 14px;
	margin-left: 10px;
}
#header iframe{
	margin-left: 15px;
	width: 160;
	height: 520;
}

#navigation {
	margin-top: 1em;
	width: 4.9em;
	
	display:block;
	list-style:none;
	z-index:3;
}
#navigation a{
	color: #000;
	display: block;
	background: #000;
	background: rgba(255,255,255,0.9);
	line-height: 2em;
	padding: 0px 1em;
	text-transform: uppercase;
	margin-bottom: 0.5em;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	font-size: 10px;
}
#navigation a:hover {
	background: #fff;
}

a:link, a:visited {
    background-color: clear;
    color: maroon;
}
ul a:hover, ul a:active {
    background-color: yellow;
	color: black;
}

.content{
	right: 1em;
	left: 2em;
	position: absolute;
	overflow:hidden;
	padding-bottom: 1em;
}
.content h1{
	font-size: 1.7em;
	padding: 5px 5px 5px 0px;
	margin-top: 3em;
	margin-left: 5em;
	margin-bottom: 2em;
	color: #fff;
	color: rgba(50,50,50,0.9);
	overflow:hidden;
	text-shadow: 0.2em 0.2em 0.2em rgba(0,0,0,0.3);
}
.content h2{
	font-size: 1.4em;
	font-weight: bold;
	padding: 10px 0px 5px 0px;
	margin-top: 1em;
	margin-bottom: 1em;
	color: #fff;
	overflow:hidden;
	color: rgba(0,0,0,0.9);
}
.content h3{
	font-size: 1.2em;
	font-weight: italic;
	margin-left: 1em;
	margin-right: 1.5em;
	color: #fff;
	overflow:hidden;
	color: rgba(0,0,0,0.9);
}
.content li{
	font-size: 1em;
	font-weight: italic;
	padding: 0px 0px 0px 0px;
	margin-left: 1em;
	margin-right: 0.3em;
	color: #fff;
	color: rgba(0,0,0,0.9);
	overflow:hidden;
}
.content strong{
	font-size: 1.1em;
	font-weight: normal;
	padding: 0px 0px 0px 0px;
	margin-left: 40px;
	margin-right: 60px;
	color: black;
	text-shadow: 10px 10px 10px rgba(0,0,0,0.3);
	overflow:hidden;
}
.content p{
	font-size: 1.2em;
	text-indent: 2em;
	font-weight: normal;
	padding: 2em 1.5em 2em 2em;
	margin-left: 0.7em;
	margin-right: 1em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	background-color: rgba(242,242,242,0.9);
	
	color: #fff;
	color: rgba(0,0,0,0.9);
	overflow:hidden;
}
.content img {
    float: right;
    border: 1px dotted black;
    margin: 0px 0px 15px 20px;
	width: 10em;
	height: 8em;
}

.button {
    padding: 3px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 10px, 0px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.button1 {
	background-color: maroon; 
    color: white; 
    border: 2px solid gray;
	cursor: pointer;
}

.button1:hover {
    background-color: white;
    color: black;
	cursor: pointer;
}
.button2 {
	background-color: rgba(230,230,230,0.9);
    color: black; 
    border: 2px solid maroon;
	cursor: default;
}

.button2:hover {
	background-color: rgba(230,230,230,0.9);
    color: black; 
    border: 2px solid black;
	cursor: default;
}

table#t02{
	font-size: 2em;
	padding: 5em 0px 5px 0px;
	color: #fff;
	color: rgba(50,50,50,0.9);
	overflow:hidden;
	text-shadow: 10px 10px 10px rgba(0,0,0,0.3);
	width: 80%;
	background: clear;
	margin-top: 4em;
	margin-left: 4em;
	height: 1em;
	text-align: bottom;
	vertical-align: bottom;
}
table#t01{
	width: 95%;
	position: relative;
}
table#t01 th {
    color: black;
	height: 6em;
	vertical-align: bottom;
    background-color: clear;
	font-size: 1.2em;
}
table#t01 tr {
    background-color: clear;
	color: black;
	vertical-align: top;
	border-style: none none solid none;
	border-color: clear clear maroon clear;	
	font-size: 1.2em;
}
table#t01 img {
	margin-top: 1em;
	width: 5em;
	height: 4em;
    background-color: green;
}
table#t01 a:hover, a:active {
    background-color: clear;
	color: black;
	text-decoration: none;
}
table#t01 a:link, a:visited {
    background-color: clear;
	font-weight: normal;
    color: maroon;
}
table#t01 i {
	font-size: 0.6em;
}

.panel{
	width: 98%;
	min-height: 100%;
	position: absolute;
	margin-left: 0%;
	overflow: auto;
	background-image: url("../gfx/backdrop.jpg");
    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;
	box-shadow: 4px -4px 4px rgba(0,0,0,0.2);
	margin-left: -102%;
	z-index:2;
	-webkit-transition: all .6s ease-in-out;
	-moz-transition: all .6s ease-in-out;
	-o-transition: all .6s ease-in-out;
	-ms-transition: all .6s ease-in-out;
	transition: all .6s ease-in-out;
}

.panel:target{
	margin-left: 0%;
	background-image: url("../gfx/backdrop.jpg");
    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;
	width: 100%;
}
#home:target ~ #header #navigation #link-home,
#quotes:target ~ #header #navigation #link-quotes,
#wall:target ~ #header #navigation #link-wall,
#docs:target ~ #header #navigation #link-docs,
#blog:target ~ #header #navigation #link-blog,
#blog2:target ~ #header #navigation #link-blog,
#collect:target ~ #header #navigation #link-collect{
	background: #000;
	color: #fff;
}
#works {
	
}
#works li{
	display: inline;
}
#works li a{
	padding: 500px 50px 100px 50px;
}
.footnote a{
	color: #ddd;
}