
/*Nullchan-like*/

body {
	background: #181818;
	color: #d8d8d8;
	font-family: arial,helvetica,sans-serif;
	min-width: 800px;
}

#logo {
	filter: invert(100%);
}

img.static {
	filter: invert(80%);
}

a {
	color: #7cafc2;
}

a:hover {
	color: #86c1b9;
}

/* TEXT FORMAT */

span.spoiler {
	text-shadow: 0 0 10px rgba(255,255,255,0.8);
}

/* HOME */

#popular-boards th {
	color: #999;
}

#popular-boards td {
	padding: 13px;
}

#popular-boards tr:nth-child(even) {
	background-color: #282828;
}

div.home-container {
	margin: 20px;
}

span.home-info {
	color: #999;
}

div.recent-post div.reply.op {
	background-color: black;
}

/* POSTS */

span.sticky {
	background: #7e3f3f;
}

div.reply {
	background-color: #282828;
	border: 1px solid #383838;
}

div.reply.blacklisted {
	background-color: #381616;
}

div.post_preview {
	background-color: black !important;
	border: 1px solid #383838;
}

div.preview_hover {
	background-color: black !important;
}

span.post-date {
	color: #999;
}

span.post-subject {
	color: #ba8baf;
	font-weight: bold;
}

span.post-name {
	color: #c5c8c6;
}

a.post-link {
	color: #ccc;
}

a.toggle-replies {
	color: #999;
	border: 1px dashed #666;
	padding: 6px 8px;
	margin: 0.3em 4px;
	display: table;
	text-decoration: none;
}

a.toggle-replies:hover {
	border-color: #86c1b9;
}

blockquote.preview {
	background-color: #403F44;
}

/* PAGE */

hr.thread-separator {
	border: none;
	border-bottom: 1px dashed #666;
	margin-bottom: 15px;
}

h1.boardinfo {
	color: #ab4642;
	font-family: monospace,sans-serif;
	font-size: 18pt;
}

a.reply-link {
	color: #c5c8c6;
}

a.reply-link:hover {
	color: #FFF;
}

.create {
	background: #2d2d2e;
	background-image: -webkit-linear-gradient(top, #2d2d2e, #858585);
	background-image: -moz-linear-gradient(top, #2d2d2e, #858585);
	background-image: -ms-linear-gradient(top, #2d2d2e, #858585);
	background-image: -o-linear-gradient(top, #2d2d2e, #858585);
	background-image: linear-gradient(to bottom, #2d2d2e, #858585);
	-webkit-border-radius: 3;
	-moz-border-radius: 3;
	border-radius: 3px;
	font-family: Georgia;
	color: #ffffff;
	font-size: 15px;
	padding: 5px 10px 5px 10px;
	text-decoration: none;
}

.create:hover {
	background: #3c4247;
	background-image: -webkit-linear-gradient(top, #3c4247, #12232e);
	background-image: -moz-linear-gradient(top, #3c4247, #12232e);
	background-image: -ms-linear-gradient(top, #3c4247, #12232e);
	background-image: -o-linear-gradient(top, #3c4247, #12232e);
	background-image: linear-gradient(to bottom, #3c4247, #12232e);
	text-decoration: none;
}

#quick-reply {
	background-color: rgba(40,40,40,0.95);
}

div#files-container {
	background-color: #393939;
}

input.close {
	border-color: black;
	background-color: black;
}

input.close:hover {
	border-color: rgb(150,150,150);
	background-color: rgb(150,150,150);
}

/* CATALOG */

div.catalog-thread:hover {
	background-color: #303030;
}

div.thread-stats {
	color: #999;
}

/* BLACKLIST */

#blacklist_posts tr:nth-child(even), #blacklist_users tr:nth-child(even) {
	background-color: #282828;
}
