#windows{
    position:absolute;
}

.window{
    position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;     
    user-select: none;
}