body {
	margin-top: 64px;
	text-align: center;
}

h1, h2, h3 {
	font-family: 'Lato', sans-serif;
}

h1 {
	font-size: 3em;
}
h2 {
	font-size: 2.5em;
	margin-bottom: 64px;
}
h3 {
	font-size: 2em;
}

div#drophere {
	display: block;
	margin: 0 auto;

	border: 1px dashed #aaa;
	border-radius: 8px;
	box-shadow: 3px 3px 6px grey;

	width: 90%;
	height: 320px;
	background-color: #eee;
}

input {
	text-align: center;
	border: 1px solid black;
	border-radius: 7px;
	padding: 4px;
}

a {
	color: darkgrey;
	text-decoration: none;
}