/* Misc */
.centered{
  text-align: center;
}

.linksAbove{
  font-size: 70%;
}

/* Title */
.title{
  display: block;
  font-family: monospace;
}

.titleText{
  font-size: 230%;
}

.titleDate{
  font-size: 160%;
  color: #7d7d7d;
}

/* Post */
.post{
  display: block;
  padding-top: 20px;
  padding-left: 40px;
  text-align: justify;
}
