
body {
  background: #222;
  color: #eee;
  font-family: sans-serif;
  font-size: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
em {
  font-style: normal;
  font-weight: bold;
}
a {
  text-decoration: none;
  color: #cce;
}
a:hover {
  color: #ddf;
}
input,
button,
textarea {
  background-color: #222;
  color: #eee;
}

.container[data-v-566b883e] {
  background: #444;
  padding: 16px;
  margin-top: 16px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 64px;
  max-width: 1200px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.notice[data-v-566b883e] {
  padding: 16px;
  margin-bottom: 32px;
  background-color: #333;
}
.tabs[data-v-566b883e] {
  margin-bottom: 16px;
}
.tabs > .tab[data-v-566b883e] {
  padding: 6px;
  border: 1px solid #666;
  background-color: #222;
  margin-right: 8px;
  cursor: pointer;
  color: #cce;
}
.tabs > .tab.active[data-v-566b883e] {
  background-color: #333;
}
.tabs > .tab[data-v-566b883e]:hover {
  background-color: #333;
  color: #ddf;
}
.tab-body[data-v-566b883e] {
  padding: 16px;
  background-color: #333;
}

.page-header[data-v-4202a895] {
  text-align: center;
  margin-bottom: 12px;
}
.page-header > .title[data-v-4202a895] {
  font-weight: bold;
}
.page-header > .address[data-v-4202a895] {
  font-style: italic;
}
.page-header .lang[data-v-4202a895] {
  cursor: pointer;
  color: #cce;
  font-weight: bold;
}
.page-header .lang[data-v-4202a895]:hover {
  color: #ddf;
}

.gallery-infobox[data-v-3c1f5944] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #333;
  margin-top: 16px;
}
.gallery-infobox > .cover[data-v-3c1f5944] {
  width: 208px;
  height: 208px;
  min-width: 208px;
  min-height: 208px;
  max-width: 208px;
  max-height: 208px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.gallery-infobox > .cover > img[data-v-3c1f5944] {
  max-width: 192px;
  max-height: 192px;
}
.gallery-infobox > .info[data-v-3c1f5944] {
  margin-top: 8px;
  margin-right: 8px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.gallery-infobox > .info > .title[data-v-3c1f5944] {
  margin-bottom: 16px;
  padding-bottom: 8px;
  border-bottom: 1px solid #eee;
  font-weight: bold;
}
.gallery-infobox > .info pre[data-v-3c1f5944] {
  white-space: pre-wrap;
}
.gallery-infobox > .info .tabs[data-v-3c1f5944] {
  margin-bottom: 16px;
}
.gallery-infobox > .info .tabs > .tab[data-v-3c1f5944] {
  padding: 6px;
  border: 1px solid #666;
  background-color: #222;
  margin-right: 8px;
  cursor: pointer;
  color: #cce;
}
.gallery-infobox > .info .tabs > .tab.active[data-v-3c1f5944] {
  background-color: #333;
}
.gallery-infobox > .info .tabs > .tab[data-v-3c1f5944]:hover {
  background-color: #333;
  color: #ddf;
}
.gallery-infobox > .info .tags[data-v-3c1f5944] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.gallery-infobox > .info .tags > .tag[data-v-3c1f5944] {
  padding: 6px;
  border: 1px solid #666;
  background-color: #222;
  margin-right: 8px;
}

.error-checker .info[data-v-1b232334] {
  color: #aaa;
}
.error-checker .clear[data-v-1b232334] {
  color: #afa;
  font-weight: bold;
}
.error-checker .warn[data-v-1b232334] {
  color: #ffa;
}
.error-checker .error[data-v-1b232334] {
  color: #faa;
  font-weight: bold;
}
.error-checker .fatal[data-v-1b232334] {
  color: #f33;
  font-weight: bold;
}

.wizard-page-container[data-v-51b4078f] {
  min-height: 400px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.progress[data-v-17d5f0b2] {
  height: 32px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.progress > .progress-bar[data-v-17d5f0b2] {
  position: relative;
  width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 24px;
  margin: 4px;
  background-color: #222;
}
.progress > .progress-bar > .progress-filled[data-v-17d5f0b2] {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #666;
}

.wizard-welcome[data-v-d84427fa] {
  width: 50%;
  min-width: 300px;
}
.wizard-welcome p[data-v-d84427fa] {
  text-align: center;
}
.wizard-welcome .info[data-v-d84427fa] {
  color: #aaa;
}
.wizard-welcome .clear[data-v-d84427fa] {
  color: #afa;
  font-weight: bold;
}
.wizard-welcome .error[data-v-d84427fa] {
  color: #faa;
  font-weight: bold;
}
.wizard-welcome .fatal[data-v-d84427fa] {
  color: #f33;
  font-weight: bold;
}

.wizard-upload[data-v-34959820] {
  width: 50%;
  min-width: 300px;
}
.wizard-upload p[data-v-34959820] {
  text-align: center;
}
.wizard-upload .info[data-v-34959820] {
  color: #aaa;
}
.wizard-upload .clear[data-v-34959820] {
  color: #afa;
  font-weight: bold;
}
.wizard-upload .error[data-v-34959820] {
  color: #faa;
  font-weight: bold;
}

.wizard-process[data-v-bfadbee0] {
  width: 75%;
  min-width: 300px;
}
.wizard-process .metadata-form > .row[data-v-bfadbee0] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-bottom: 8px;
}
.wizard-process .metadata-form > .row > textarea[data-v-bfadbee0] {
  height: 80px;
}
.wizard-process .metadata-form > .row > .label[data-v-bfadbee0] {
  width: 100px;
  min-width: 100px;
  max-width: 100px;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
.wizard-process .metadata-form > .row > .select-row[data-v-bfadbee0] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.wizard-process .metadata-form > .row > .select-row select[data-v-bfadbee0] {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.wizard-process .metadata-form > .row > .select-row input[type=text][data-v-bfadbee0] {
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}
.wizard-process .metadata-form > .row > .select-row .r18[data-v-bfadbee0] {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  width: 80px;
}
.wizard-process .metadata-form > .row > .entry[data-v-bfadbee0] {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.wizard-process .metadata-form > .row > .tags > .input-row[data-v-bfadbee0] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8px;
}
.wizard-process .metadata-form > .row > .tags > .input-row input[data-v-bfadbee0] {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.wizard-process .metadata-form > .row > .tags > .tags-row[data-v-bfadbee0] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.wizard-process .metadata-form > .row > .tags > .tags-row > .tag[data-v-bfadbee0] {
  padding: 6px;
  border: 1px solid #666;
  background-color: #222;
  margin-right: 8px;
  margin-bottom: 8px;
}
.wizard-process .info[data-v-bfadbee0] {
  color: #aaa;
}
.wizard-process .clear[data-v-bfadbee0] {
  color: #afa;
  font-weight: bold;
}
.wizard-process .error[data-v-bfadbee0] {
  color: #faa;
  font-weight: bold;
}

.wizard-finish[data-v-38d51982] {
  width: 50%;
  min-width: 300px;
}
.wizard-finish p[data-v-38d51982] {
  text-align: center;
}
.wizard-finish .info[data-v-38d51982] {
  color: #aaa;
}
.wizard-finish .clear[data-v-38d51982] {
  color: #afa;
  font-weight: bold;
}
.wizard-finish .error[data-v-38d51982] {
  color: #faa;
  font-weight: bold;
}
.wizard-finish .fatal[data-v-38d51982] {
  color: #f33;
  font-weight: bold;
}
