html {
}

body {
    margin: 0;
    background-color: #CED8F6;
}

h1 {
    font-size: 3em;
    text-align: center;
    padding: 10px;
    margin: auto;
}

h2 {
    font-size: 2.5em;
    padding-top: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

h3 {
    font-size: 2.0em;
    padding: 0px;
    margin: 0px;
}

h4 {
    font-size: 1.6em;
    padding: 0px;
    margin: 0px;
}

p {
    margin-top: 10px;
}

ol {
}

ul {
    margin: 0px;
    font-size: 1.1em;
}

li {
    margin-top: 10px;
}

blockquote {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.2em;
	font-family: serif;
}

a {
    font-size: 1.0em;
    font-weight: bold;
}

a:hover {
    text-decoration: none;
    color: red;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1.2em;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
    padding: 0px;
	overflow: hidden;
	display: block;
}

.alttext {
    color: brown;
}

.bump {
    max-width: 720px;
}

#pomf {
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: right;
    font-weight: bold;
    font-size: 1.2em;
}

#wrapper {
    margin: auto;
    font-family: sans-serif;
    max-width: 720px;
    font-size: 16px;
    padding: 15px;
}