@font-face {
font-family: "f_cour";
src: url("f_cour.ttf");
font-weight: normal;
font-style: normal;
charset: "windows-1251";
}

body {
font-family: "f_cour";
font-size: 1em;
background-color: #000080;
color: #e0e0e0;
}

a {
color: #e0e000;
}

p {
font-size: 1.25em;
}

pre {
background-color: #000080;
font-family: "f_cour";
charset: "windows-1251";
font-size: 1.25em;
}

h1 {
font-size: 2.5em;
}

h2 {
font-size: 2em;
}

li {
font-size: 1.25em;
}
