/* Note: rem has been commented out and replaced with px until responsive scaling is properly sorted out */
.middle-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	/*background: #fff;
	box-shadow: 0px 0px 20px 1px #ccc;*/
	
	/*padding: 1rem;*/
	padding: 16px;
}
body {
	background-color: #eee;
	margin: 0;
	padding: 0;
	font-family: "Segoe UI", sans-serif;
}
h1 {
	margin-top: 0;
}
h1, h2, h3 {
	font-weight: 200;
	/*margin-bottom: 0.25rem;*/
	margin-bottom: 4px;
}

#intro-screen {
	width: 100%;
	height: 100vh;
	
	background-color: #eee;
	background: linear-gradient(to bottom, rgba(190, 190, 190, 0.25) 70%,rgba(255, 255, 255, 1) 100%), url('newbg.jpg') no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.bottom-pointer {
	position: absolute;
	top: 90%;
	left: 50%;
	transform: translate(-50%, 0%);
}

#half-pane {
	/*height: calc(45vh - 12rem); - old code*/

	/*width: calc(100% - 12rem);
	height: calc(26rem - 12rem);
	padding: 6rem;*/
	height: auto;
	padding: 4rem;
}
#half-pane p, #half-pane h1 {
	width: 75%;
}

.pane-1 {
	background-color: #fff;
	background: linear-gradient(to left, rgba(255, 255, 255, 0.5) 0%,rgba(255, 255, 255, 1) 35%), url('albumartgrid1.jpg') no-repeat;
	background-size: contain;
	background-position: right;
}
.pane-2 {
	background-color: #ddd;
	background: linear-gradient(to right, rgba(20,20,20, 0.33) 0%,rgba(20,20,20, 1) 40%), url('wouldnt-steal-a-car.png') no-repeat;
	background-size: cover;
	text-align: right;
	color: white;
}
.pane-4 {
	background-color: #141414;
	background: linear-gradient(to right, rgba(222,203,164, 0.33) 0%,rgba(222,203,164, 1) 40%), url('crowds2.jpg') no-repeat;
	background-size: contain;
	background-position: left;
	text-align: right;
}
.pane-4 p, .pane-4 h1 {
	padding-left: 25%;
}
.pane-1, .pane-4 {
	background-attachment: fixed;
}
.pane-3 {
	background-color: #141414;
	color: #fff;
}

.huge-header {
	font-size: 3em;
}
.large-header {
	font-size: 2.5em;
}

#middle {
	text-align: center;
}
#middle p, #middle h1 {
	width: auto !important;
}
.inline-header {
	display: inline;
	white-space: nowrap;
}
.streamButton {
	background-color: #555555;
	color: #fff;
	border: solid 1px;
	border-image: linear-gradient(-45deg, #555, #fff);
	padding: 8px;
	
	font-size: 1.5em;
	font-family: "Segoe UI", sans-serif;
	font-weight: 200;
	cursor: pointer;
}
.getStartedButton {
	transition: box-shadow 0.25s, font-size 0.2s, padding 0.2s;
	
	background-color: rgba(229,229,229,0.5);
	border: none;
	box-shadow: 2px 3px 1px 1px #ddd;
	
	font-size: 2em;
	font-family: "Segoe UI", sans-serif;
	font-weight: 200;
	cursor: pointer;
	
	padding: 4px 16px;
}
.getStartedButton:hover {
	box-shadow: 1px 2px 4px 2px #ddd;
}
.getStartedButton:focus {
	font-size: 1.75em;
	padding: 6px 20px;
}
.blackButton {
	background-color: rgba(25,25,25,1.0);
	color: #fff;
	border: none;
	box-shadow: 2px 3px 1px 1px #bbb;
}
.blackButton:hover {
	box-shadow: 1px 2px 4px 2px #bbb;
}


#full-content-card {
	background-color: #fff;
	/*margin: 0 8rem;
	margin-top: 4rem;*/
	margin: 3% 5%;
	box-shadow: 0px 0px 20px 1px #ccc;
}
@media only screen and (max-width: 800px) {
	#full-content-card {
		margin: 0;
	}
	#half-pane {
		padding: 2rem;
	}
}