body {bg-color: white}

h2 { text-decoration: none }

.outline-2 { margin-left: 10px }

h3 { text-decoration: none }

.outline-3 { margin-left: 30px }

h4 { text-decoration: none }

.outline-4 { margin-left: 50px }

#postamble { float: right; color: gray }

#table-of-contents { float: right; width: 30%; margin-left: 30px; padding: 30px; background-color: #ddd }

/* vecchio css su A/I */

.xmlbutton {
	/* From Dylan Greene's suggestion:
           http://www.dylangreene.com/blog.asp?blogID=91 */
	border: 1px solid;
	border-color: #FC9 #630 #330 #F96;
	padding: 0 3px;
	font: bold 10px sans-serif;
	color: #FFF;
	background: #F60;
	text-decoration: none;
	margin: 0;
}
html {
	margin: 0;
	padding: 0;
}
body {
       color: black;
       background-color: white;
       margin: 0;
       padding: 30px;
       font-size: medium;
}
#header {
          background-color: white;
          padding: 10px;
          margin-bottom: 10px;
	  text-align: center;
}

#headertorrent {
          background-color: white;
          padding: 85px;
          margin-bottom: 20px;
          background-image: url("P2P-grigio.jpg");
          background-repeat: no-repeat;
          background-position: center;
}

#headercritical {
          background-color: white;
          padding: 90px;
          margin-bottom: 20px;
          background-image: url("criticalmasslogo-i.png");
          background-repeat: no-repeat;
          background-position: center;
}

#banner { 
	border: 1px solid gray;
/* 	border-color: #FC9 #630 #330 #F96; */
	padding: 0 3px;
       font-size: large;
/* 	color: #FFF; */
	background: #eee;
	text-decoration: none;
	margin: 0;
          width:100%;
          text-align: center;
          margin-bottom: 20px;
 }

.banner { 
/* /\*	border: 1px solid gray; *\/ */
/* /\* 	border-color: #FC9 #630 #330 #F96; *\/ */
/* 	padding: 0 3px; */
/*        font-size: x-large; */
/* /\* 	color: #FFF; *\/ */
/* 	background: white; */
/* 	text-decoration: none; */
/* 	margin: 0; */
/*           width:100%; */
/*           text-align: center; */
/*           margin-bottom: 20px; */
 }

#menu { 
        width: 100%;
        float: left;
        text-align: left;
        }

h1 {
	font-weight: bold;
	font-size: xx-large;
	text-align: center;
	margin: 0;
	padding: 0;
        color: #dadada;
}

#contenuto { 
             padding: 30px;
 }

#items {
}

.day {
	clear: both;
}
h2 {
	font-weight: bold;
	font-size: x-large;
	text-align: left;
	margin: 10px 0;
	padding: 0;
}
.time {
	clear: both;
}
h3 {
	font-weight: bold;
	font-size: large;
	text-align: left;
	margin: 10px 0;
	padding: 0;
}
.item {
	margin: 20px 30px;
	border: 1px solid gray;
	clear: both;
}
.itemheader {
	padding: 6px;
	margin: 0;
	background-color: #eee;
}
.itemtitle {
	font-weight: bold;
}
.itemfrom {
	font-style: italic;
}
.itemdescription {
	border-top: 1px solid gray;
	margin: 0;
	padding: 6px;
}
#feedstatsheader {
}
#feedstats {
}
#feeds {
	margin: 10px 0;
	border: 1px solid gray;
	border-spacing: 0;
}
#feedsheader TH {
	background-color: #eee;
	border-bottom: 1px solid gray;
	padding: 5px;
	margin: 0;
}
.feedsrow TD {
	padding: 5px 10px;
	margin: 0;
}
#footer {
        color: black;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 0px;
        font-size: 7pt;
        font-style: italic;
	text-align: right;
}

#aboutmuse {

}

#rss { 
       font-size: 7pt;
       }

body {
       font-family: Helvetica, Futura,"MS Verdana", sans-serif;
       font-size: 10pt;
       }
a:link {
	color: #aa1111;
	text-decoration: none;
	}
a:visited {
           color: #aa1111;
           text-decoration: none;
	   }	
a:active {
          color: #aa1111;
          text-decoration: underline;
	  }	
a:hover {
         color: #aa1111;
         text-decoration: underline;
	 }
pre {
     font-family: Helvetica, Futura,"MS Verdana", sans-serif;
     font-size: 10pt;
     }	
div {
    border-width: 0px;
    }
img {
     border-style: solid; border-width: 1px; border-color: black;
     }
dt { 
     font-family: Helvetica, Futura,"MS Verdana", sans-serif;
     font-size: 10pt;
   }
dd { 
     font-family: Helvetica, Futura,"MS Verdana", sans-serif;
     font-size: 10pt;
   }
td { 
     font-family: Helvetica, Futura,"MS Verdana", sans-serif;
     font-size: 10pt;
   }

#schize { 
          margin-top: 50px;
          margin-bottom: 50px;
          }

hr { 
     border: 1px solid;
 }

.verse { font-size: 12px; font-style: italic; }

/* blorg */

#navigation { width: 100% }

#menus { text-align: left; /* border-bottom: 1px solid black; */
         width: 99% }
.homenu { border-right: 1px solid black; border-left: 1px solid black;
        padding-left: 7px; padding-right: 7px }
.menu { border-right: 1px solid black;
        padding-left: 7px; padding-right: 7px }

/* 1. Iniziamo per dare lo stile a l’elemento <ul> con id="menu_css_orizzontale". */

#menu_css_orizzontale {
                        /*specificare qui un width per un menu orizzontale a larghezza fissa*/
                        /*1. rimuoviamo i marcatori della lista*/
                        list-style:none;
                        /*2. usiamo questo metodo per evitare che lo sfondo dell’elemento contenitore collassa con elementi floatati*/
                        overflow:hidden;
                        /*3. relativo al metodo applicato sopra, per Internet Explorer 6, specifichiamo una larghezza di 100%*/
                        /* width:100%; */
                        width:99%;
                        /*4. azzeriamo le margine – richiesto per Internet Explorer*/
                        margin:0;
                        /*5. impostiamo un spazio cuscinetto (padding) di 1 px tra i bordi della lista e il suo contenuto*/
                        padding:1px;
                        /* /\*6. aggiungiamo un colore di sfondo al menu*\/ */
                        /* background-color:#FFFFFF; */
                        /* /\*7. e un bordo di 1px intorno*\/ */
                        /* border:1px solid #437E7E; */
                        }

/* 2. Per un corretto allineamento orizzontale dei link con Internet Explorer, convertiamo gli elementi <li>
da elemento di blocco a elementi inline: */

#menu_css_orizzontale li {
                           display:inline;
                           }

/* 3. Adesso possiamo impostare lo stile css relativo ai link (elementi <a>) stessi: */

/* #menu_css_orizzontale a { */
/*                           /\*1. convertiamo i link da elementi inline a elemento di blocco, per potere poi specificare altezza/larghezza*\/ */
/*                           display:block; */
/*                           /\*2. usiamo la proprietà  float per allineare gli elementi orizzontalmente*\/ */
/*                           float:left; */
/*                           /\*3. specifichiamo una larghezza per link di stessa larghezza nel caso di questo esempio*\/ */
/*                           /\*per link di larghezza relativa alla larghezza del testo, usare padding-right invece di width*\/ */
/*                           width:60px; */
/*                           /\*4. e un altezza*\/ */
/*                           height:25px; */
/*                           /\*5. aggiungiamo un spazio a sinistra tra ogni link*\/ */
/*                           margin-left:1px; */
/*                           /\*6. e un spazio cuscinetto (padding) a sinistra tra il bordo e il testo dei link*\/ */
/*                           padding-left:15px; */
/*                           /\*7. specifichiamo un colore di sfondo per i link*\/ */
/*                           background-color:#F0F7F7; */
/*                           /\*8. e un bordo sinistro di 10px*\/ */
/*                           border-left:10px solid #C7E2E2; */
/*                           /\*9. specifichiamo il tipo di carattere usato*\/ */
/*                           font-family:arial; */
/*                           /\*10. e la misura del carattere*\/ */
/*                           font-size:10px; */
/*                           /\*11. convertiamo i caratteri da minuscolo a maiuscolo*\/ */
/*                           text-transform:uppercase; */
/*                           /\*12. togliamo la sottolineatura dei link aggiunta per default*\/ */
/*                           text-decoration:none; */
/*                           /\*13. specifichiamo un colore per i link*\/ */
/*                           color:#437E7E; */
/*                           /\*14. allineiamo verticalmente il testo*\/ */
/*                           line-height:25px; */
/*                           } */

/* 4. Finalmente, possiamo dare lo stile css ai link quando l’utente passa sopra i link (stato hover) */

/* #menu_css_orizzontale a:hover { */
/*                                 /\*1. cambiamo il colore di sfondo dei link*\/ */
/*                                 background-color:#E5E5E5; */
/*                                 /\*2. il colore del bordo sinistra*\/ */
/*                                 border-left:10px solid #CCCCCC; */
/*                                 /\*3. e il colore dei link stessi*\/ */
/*                                 color:#666666; */
/*                                 } */

/* 5. ed azzerare il margine del primo link usando la classe ‘primo’ cosi da evitare lo spazio extra a l’inizio del menu. */

#menu_css_orizzontale a.homenu{
margin-left:0;
}

/* fine del menu */

#searchbox { display: none; float: right }

#sidebar { width: 100%; height: 100%; float: right; 
           text-align: center }
.sidebar { text-align: center }

#content { width: 100%; padding: 30px }
.post { padding-bottom: 30px }
.post-title {  }
.post-infos { color: gray }
.author { display: none }
.date { display: inline }
.timestamp { display: inline }
#autore { float: right; text-align: right }
#postamble { float: right; text-align: right }
.comments { float: right; margin-right: 100px }
.post-content { padding-left: 30px; padding-right: 30px; 
                border-left: 1px solid black; border-bottom: 1px solid black }
.under {  }
.tags { text-align: right }

.widget ul li { list-style: none }
.widget_feeds { float: right }

#gotop { display: none }

.outline-2 { margin: 10px; margin-top: 30px; margin-left: 30px }
.outline-text-2 { margin: 20px }
.outline-3 { margin: 10px; margin-top: 30px; margin-left: 30px }
.outline-text-3 { margin: 20px }
.outline-4 { margin: 10px; margin-top: 30px; margin-left: 30px }
.outline-text-4 { margin: 20px }

#table-of-contents { width: 300px; float: right; margin: 20px }
