/*

#ff8000
#ffc080
#ffd8a0 --> #ffd8c0

#0080ff
#80c0ff
#a0d8ff --> #ffd8c0

*/
body, div {
  font-family: Trebuchet MS;
  font-size: 1.2vw;
  margin: 0;
  padding: 0;
  background-color: #ffffff !important;
}

body.codegate {
  background-color: #ff8000 !important;
}

p {
  color: #000000;
  text-align: justify;
  line-height: 2vw;
}

p a, p a:active, p a:hover {
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: #ff8000;
}

@keyframes sp {
    0%   {
      background-color: #ff0000;
      color: #000;}
    13%  {
      background-color: #ff8000;
      color: #888;}
    25%  {
      background-color: #ffff00;
      color: #fff;}
    38%  {
      background-color: #00ff00;
      color: #fff;}
    50%  {
      background-color: #00ff80;
      color: #fff;}
    63%  {
      background-color: #00ffff;
      color: #fff;}
    75%  {
      background-color: #0000ff;
      color: #fff;}
    88%  {
      background-color: #8000ff;
      color: #fff;}
    100%  {
      background-color: #ff00ff;
      color: #fff;}
}

@keyframes qa {
    0%   {
      background-color: #ff0000;
      color: #008000;
      border: 2px solid #0000ff;}
    33%  {
      background-color: #ffff00;
      color: #800080;
      border: 2px solid #ff0000;}
    75%  {
      background-color: #0000ff;
      color: #ff8000;
      border: 2px solid #ffff00;}
    100%  {
      background-color: #ff0000;
      color: #ff8000;
      border: 2px solid #0000ff;}
}

@keyframes qqa {
    0%   {
      background-color: #ffffff;
      color: #000000;
      border: 2px solid #ff0000;}
    33%  {
      background-color: #ff0000;
      color: #ffffff;
      border: 2px dashed #000000;}
    75%  {
      background-color: #000000;
      color: #ff0000;
      border: 2px solid #ffffff;}
    100%  {
      background-color: #ffffff;
      color: #ff0000;
      border: 2px dashed #000000;}
}

#main {
  background-color: #ff8000 !important;
  height: 5.2ex;
  width: 100%;
}

#main.codegate {
  vertical-align: middle;
  font-size: 15vw;
  background-color: #ff8000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  height: auto;
  color: #ffffff;}

#main.codegate sup {
  font-size: 7.5vw;
}

#head {
  background-color: #ff8000 !important;
  color: #ffffff;
  font-size: 2.4vw;
  height: 2.6ex;
  width: 75ex;
  text-align: left;
}

#head.codegate {
  margin-top: 3.0vw;
}

#head.codegate p {
  font-size: 1vw; 
  color: #ffffff;
  text-align: justify;
}

#content {
  color: #000000;
  font-size: 1.2vw;
  width: 120ex;
  text-align: left;
  margin-bottom: 10ex;
}

#content sup {
  font-size: 1.2vw;
}

#content h1 {
  color: #ff8000;
}

#inbox {
  background-color: #ffffff;
  color: #000000;
  font-size: 0.8vw;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}


#inbox sup {
  color: #ff8000;
  font-size: 0.8vw;
  padding-left: 1ex;
}

#sender {
  background-color: #ff8000;
  color: #ffffff;
  text-align: left;
  vertical-align: middle;
  display: inline;
  float: left;
  padding-left: 1ex;
  padding-right: 1ex;
}

#sender:hover {
  background-color: #000000;
}

#subject {
  background-color: #ffffff;
  color: #000000;
  text-align: left;
  text-indent: 0.5ex;
  vertical-align: middle;
  width: 70ex;
  display: inline;
  float: left;
}

input[type="text"], input[type="password"]  {
  border: 0;
  height: 1.2vw;
  vertical-align: middle;
}

input[type="button"], input[type="submit"]  {
  background-color: #ffffff;
  border: 0;
  font-weight: bold;
  height: 1.3vw;
  margin-bottom: 0.1vw;
  margin-top: 0.1vw;
  padding-right: 0.8vw;
  vertical-align: middle;
}

input[type="text"].codegate, input[type="password"].codegate  {
  border: 0;
  height: 2.4vw;
  vertical-align: middle;
  font-size: 1.6vw;
}

input[type="button"].codegate, input[type="submit"].codegate  {
  background-color: #ffffff;
  border: 0;
  font-weight: bold;
  height: 2.6vw;
  margin-bottom: 0.2vw;
  padding-right: 1.6vw;
  vertical-align: middle;
  font-size: 1.6vw;
}

input[type="button"].panic, input[type="submit"].panic  {
  background-color: #d00000;
  color: #ffffff;
  border: 0;
  font-weight: bold;
  height: 1.3vw;
  margin-bottom: 0.1vw;
  padding-right: 0.8vw;
  vertical-align: middle;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="submit"]:focus, textarea:focus {
  box-shadow: 0 0 10px rgba(255, 255, 255, 1);
  outline: none;
}

input[type="text"]:focus.codegate, input[type="password"]:focus.codegate, input[type="submit"]:focus.codegate, textarea:focus.codegate {
  box-shadow: 0 0 20px rgba(255, 255, 255, 1);
  outline: none;
}

input[type="text"]:focus.panic, input[type="password"]:focus.panic, input[type="button"]:focus.panic, input[type="submit"]:focus.panic, textarea:focus.panic {
  box-shadow: 0 0 20px rgba(255, 0, 0, 1);
  outline: none;
}

input:not([value=""]) {
  color: #ff8000;
  font-size: 0.8vw;
  font-weight: bold;
  text-indent: 1ex;
  vertical-align: middle;
}
  
.user {
  color: #ffffff;
  font-size: 1.2vw;
  font-weight: bold;
  line-height: 2.4vw;
  vertical-align: top;}
  
.usercg {
  color: #ffffff;
  font-size: 2.4vw;
  font-weight: bold;
  line-height: 2vw;
  vertical-align: top;
}
  
.black {
  color: #000000;}
  
.black_s {
  color: #000000;
  font-size: 1.2vw;}
  
.orange {
  color: #ff8000;
  font-size: 3.6vw;}
  
.label {
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  padding-top: 0.3vw;
  padding-bottom: 0.3vw;
  background-color: #ff8000;
  vertical-align: middle;
  color: #ffffff;
  font-weight: bold}
.user {
  color: #ffffff;
  font-size: 1.2vw;
  font-weight: bold;
  line-height: 2.4vw;
  vertical-align: top;}
  
.black {
  color: #000000;}
  
.black_s {
  color: #000000;
  font-size: 1.2vw;}
  
.orange {
  color: #ff8000;
  font-size: 3.6vw;}
  
.label {
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  padding-top: 0.3vw;
  padding-bottom: 0.3vw;
  background-color: #ff8000;
  vertical-align: middle;
  color: #ffffff;
  font-weight: bold}
  
.label_w {
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  padding-top: 0.3vw;
  padding-bottom: 0.3vw;
  background-color: #d0d0d0;
  vertical-align: middle;
  color: #000000;
  font-weight: bold}
  
.label_g {
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  padding-top: 0.3vw;
  padding-bottom: 0.3vw;
  background-color: #008000;
  vertical-align: middle;
  color: #ffffff;
  font-weight: bold}
  
.label_b {
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  padding-top: 0.3vw;
  padding-bottom: 0.3vw;
  background-color: #000080;
  vertical-align: middle;
  color: #ffffff;
  font-weight: bold}
  
.label_p {
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  padding-top: 0.3vw;
  padding-bottom: 0.3vw;
  background-color: #800080;
  vertical-align: middle;
  color: #ffffff;
  font-weight: bold}
  
.label_gl {
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  padding-top: 0.3vw;
  padding-bottom: 0.3vw;
  background-color: #ffc000;
  vertical-align: middle;
  color: #ffffff;
  font-weight: bold}
  
.label_r {
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  padding-top: 0.3vw;
  padding-bottom: 0.3vw;
  background-color: #ff0000;
  vertical-align: middle;
  color: #ffffff;
  font-weight: bold}
  
.label_bl {
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  padding-top: 0.3vw;
  padding-bottom: 0.3vw;
  background-color: #202020;
  vertical-align: middle;
  color: #ffffff;
  font-weight: bold}
  
.label_sp {
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  padding-top: 0.3vw;
  padding-bottom: 0.3vw;
  background-color: #ff0000;
  vertical-align: middle;
  color: #ffffff;
  font-weight: bold;
  animation-name: sp;
  animation-iteration-count: infinite;
  animation-duration: 4s;}
  
.label_q {
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  padding-top: 0.3vw;
  padding-bottom: 0.3vw;
  background-color: #ff0000;
  border: 2px solid #00ff00;
  vertical-align: middle;
  color: #ffffff;
  font-weight: bold;
  animation-name: qa;
  animation-iteration-count: infinite;
  animation-duration: 2s;}
  
  
.label_qq {
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  padding-top: 0.3vw;
  padding-bottom: 0.3vw;
  background-color: #ff0000;
  border: 2px dashed #00ff00;
  vertical-align: middle;
  color: #ffffff;
  font-weight: bold;
  animation-name: qqa;
  animation-iteration-count: infinite;
  animation-duration: 2s;}

.tooltip {
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  padding-top: 0.3vw;
  padding-bottom: 0.3vw;
  background-color: #d0d0d0;
  color: #404040;
}

.tooltip_a {
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  padding-top: 0.3vw;
  padding-bottom: 0.3vw;
  background-color: #ffffff;
  color: #ff8000;
  border: 2px solid #ff8000;
  font-weight: bold;
}
span[title].tooltip_a:hover:after {
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  padding-top: 0.3vw;
  padding-bottom: 0.3vw;
  content: attr(title);
  color: #ffffff;
  background-color: #ff8000;
  position: fixed;
  left: 10px;
  top: 10px;
  font-size: 1.0vw;
  width: 20%;
  text-align: justify;
  white-space: pre-line;
}
  
a {
  margin-left: .5ex;
  margin-right: .5ex;
  color: inherit;
  text-decoration: none;}
  
a:active {
  color: inherit;
  text-decoration: none;}
  
a:hover {
  color: #808080;
  text-decoration: none;}