
.engine_cog__hole--right, .engine_cog__hole--top, .engine_cog__hole--left, .engine_cog__hole--bottom {
  background: white;
  width: 10px;
  position: absolute;
  height: 10px;
  border-radius: 50px;
}

.engine_spoke--right_one, .engine_spoke--right_two, .engine_spoke--left_one, .engine_spoke--left_two {
  width: 13px;
  height: 100px;
  border-radius: 20px;
  background: #c2c2c2;
  position: absolute;
}

.engine_piston--right .ring_one, .engine_piston--right .ring_two, .engine_piston--right .ring_three, .engine_piston--left .ring_one, .engine_piston--left .ring_two, .engine_piston--left .ring_three {
  width: 12px;
  height: 100px;
  border-radius: 20px;
  transform: rotateZ(90deg);
  background: #C4595E;
  position: absolute;
}

.engine_piston--right, .engine_piston--left {
  width: 70px;
  height: 20px;
  z-index: -10;
  border-bottom: 150px solid #D66D72;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-radius: 10px;
  position: absolute;
}

body {
  height: 100vh;
}

.engine {
  width: 300px;
  top: 100px;
  margin: auto;
  bottom: 0;
  position: relative;
}
.engine .feed .pie {
  width: 40px;
  height: 20px;
  top: -80px;
  opacity: 0;
  -webkit-animation-iteration-count: 10;
  -webkit-animation: drop 1s forwards, feed 1s forwards, cooked 1s forwards, fin 1s;
  -webkit-animation-delay: 0s, 1s, 2s, 3s;
  left: -140px;
  background: red;
  position: absolute;
}
.engine .feed .pie_two {
  width: 40px;
  height: 20px;
  top: -80px;
  -webkit-animation-iteration-count: 10;
  -webkit-animation: drop 1s forwards, feed 1s forwards, cooked 1s forwards, fin 1s;
  -webkit-animation-delay: 1s, 2s, 3s, 4s;
  left: -140px;
  background: red;
  position: absolute;
}
.engine .feed .pie_three {
  opacity: 0;
  z-index: -1000;
  position: absolute;
  top: 0px;
  -webkit-animation-iteration-count: 10;
  -webkit-animation: drop 1s forwards, feed 1s forwards, cooked 1s forwards, fin 1s;
  animation-iteration-count: 3;
  -webkit-animation-delay: 2s, 3s, 4s, 5s;
  left: -140px;
}
.engine .feed .tin {
  border-bottom: 20px solid #DA6060;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  width: 50px;
  height: 20px;
  transform: rotateZ(180deg);
  top: -80px;
  position: absolute;
}
.engine .feed_base {
  width: 600px;
  height: 20px;
  border-radius: 30px;
  background: white;
  border: 3px solid #DBDBDB;
  position: absolute;
  z-index: -10;
  left: -150px;
  top: 110px;
}
.engine .feed_base__round {
  width: 20px;
  height: 20px;
  border-radius: 30px;
  background: red;
  float: left;
}
.engine_rev {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 120px;
  top: -17px;
  background: #f4f4f4;
  border-radius: 30px;
  border: 5px solid #8a8383;
}
.engine_rev__bar {
  border-radius: 20px;
  height: 40px;
  width: 40px;
  left: 5px;
  top: -3px;
  background: #c4c4c4;
  position: relative;
}
.engine_rev__needle {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 3px 8px 3px;
  position: relative;
  left: 16px;
  z-index: 1;
  -moz-animation: needle .1s linear infinite;
  -webkit-animation: needle .1s linear infinite;
  transform: rotate(14deg);
  transform-origin: 0px 75px;
  top: 12px;
  border-color: transparent transparent #CE6973 transparent;
}
.engine .desc {
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  top: 138px;
  text-shadow: 0px 1px 0px white;
  font-size: 11px;
  left: 100px;
  color: #B0B0B0;
  font-family: verdana;
}
.engine_piston--right {
  top: -80px;
  left: 165px;
  transform: rotateZ(220deg) rotateX(0deg);
  -webkit-animation: pump_right .1s linear infinite;
  -moz-animation: pump_right .1s linear infinite;
}
.engine_piston--right .ring_one {
  top: 100px;
  left: 28px;
}
.engine_piston--right .ring_two {
  top: 75px;
  left: 28px;
}
.engine_piston--right .ring_three {
  top: 50px;
  left: 28px;
}
.engine_piston--left {
  top: -88px;
  left: 40px;
  transform: rotateZ(-220deg) rotateX(0deg);
  -webkit-animation: pump .1s linear infinite;
  -moz-animation: pump .1s linear infinite;
}
.engine_piston--left .ring_one {
  top: 100px;
  left: 28px;
}
.engine_piston--left .ring_two {
  top: 75px;
  left: 28px;
}
.engine_piston--left .ring_three {
  top: 50px;
  left: 28px;
}
.engine_spoke--right_one {
  left: 184px;
  top: 26px;
  transform: rotateZ(45deg);
}
.engine_spoke--right_two {
  left: 166px;
  top: 4px;
  transform: rotateZ(43deg);
}
.engine_spoke--left_one {
  left: 103px;
  top: 26px;
  transform: rotateZ(-45deg);
}
.engine_spoke--left_two {
  left: 120px;
  transform: rotateZ(-43deg);
  top: 4px;
}
.engine_point_one {
  height: 20px;
  width: 20px;
  bottom: 20px;
  background: #6C6C6C;
  left: 39px;
  border-radius: 10px;
  position: absolute;
}
.engine_point_two {
  height: 20px;
  width: 20px;
  bottom: 20px;
  background: #6C6C6C;
  left: 242px;
  border-radius: 10px;
  position: absolute;
}
.engine_base {
  width: 270px;
  margin: auto;
  position: absolute;
  bottom: -10px;
  height: 87px;
  left: 0;
  right: 0;
  background: #e7e7e7;
  border-radius: 8px;
}
.engine_bottom {
  width: 140px;
  margin: auto;
  position: absolute;
  bottom: -27px;
  height: 120px;
  left: 0;
  right: 0;
  background: #e7e7e7;
  border-radius: 18px;
}
.engine_bottom_block {
  width: 252px;
  margin: auto;
  position: absolute;
  bottom: -15px;
  height: 80px;
  left: 0;
  right: 0;
  background: #D4D4D4;
  border-radius: 0px;
  z-index: -1;
}
.engine_circle {
  width: 160px;
  height: 160px;
  background: #a7a7a7;
  border-radius: 100px;
  position: absolute;
  z-index: -10;
  top: -70px;
  right: 0;
  left: 0;
  margin: auto;
}
.engine_top_right {
  width: 60px;
  margin: auto;
  position: absolute;
  bottom: 5px;
  height: 160px;
  transform: rotateZ(-65deg);
  left: 106px;
  z-index: -21;
  right: 0;
  background: #e7e7e7;
  border-radius: 28px;
}
.engine_top {
  width: 60px;
  margin: auto;
  position: absolute;
  bottom: 5px;
  height: 160px;
  transform: rotateZ(65deg);
  left: -100px;
  z-index: -21;
  right: 0;
  background: #e7e7e7;
  border-radius: 28px;
}
.engine_small_cog {
  background: #bfbfbf;
  width: 14px;
  height: 14px;
  bottom: 60px;
  border: 20px solid #bfbfbf;
  border-radius: 50px;
  position: relative;
  -webkit-animation: spin .4s linear infinite;
  -moz-animation: spin .4s linear infinite;
}
.engine_small_cog__hole--right {
  background: white;
  width: 10px;
  position: absolute;
  height: 10px;
  top: 2px;
  right: -9px;
  border-radius: 50px;
}
.engine_small_cog__hole--left {
  background: white;
  width: 10px;
  position: absolute;
  height: 10px;
  top: 2px;
  right: 13px;
  border-radius: 50px;
}
.engine_small_cog__hole--top {
  background: white;
  width: 10px;
  position: absolute;
  height: 10px;
  top: -9px;
  right: 2px;
  border-radius: 50px;
}
.engine_small_cog__hole--bottom {
  background: white;
  width: 10px;
  position: absolute;
  height: 10px;
  top: 13px;
  right: 2px;
  border-radius: 50px;
}
.engine_belt_one {
  width: 100px;
  height: 3px;
  position: absolute;
  background: #9b9b9b;
  left: 27px;
  top: 83px;
  transform: rotateZ(53deg);
}
.engine_belt_two {
  width: 100px;
  height: 3px;
  position: absolute;
  background: #9b9b9b;
  left: 172px;
  top: 85px;
  transform: rotateZ(-53deg);
}
.engine_belt_three {
  width: 60px;
  height: 3px;
  position: absolute;
  background: #9b9b9b;
  left: -7px;
  top: 94px;
  transform: rotateZ(53deg);
}
.engine_belt_four {
  width: 60px;
  height: 3px;
  position: absolute;
  background: #9b9b9b;
  left: 247px;
  top: 94px;
  transform: rotateZ(-53deg);
}
.engine_belt_five {
  width: 110px;
  height: 3px;
  position: absolute;
  background: #9b9b9b;
  left: 163px;
  top: 70px;
  transform: rotateZ(61deg);
}
.engine_belt_six {
  width: 110px;
  height: 3px;
  position: absolute;
  background: #9b9b9b;
  left: 28px;
  top: 70px;
  transform: rotateZ(-61deg);
}
.engine_cog {
  margin: 0 auto;
  background: #c56868;
  box-shadow: 0px 0px 0px 20px #dadada;
  width: 25px;
  height: 25px;
  border: 34px solid #bfbfbf;
  border-radius: 50px;
  bottom: -30px;
  position: relative;
  -moz-animation: spin-op .6s linear infinite;
  -webkit-animation: spin-op .6s linear infinite;
}
.engine_cog__hole--right {
  top: 7px;
  right: -20px;
}
.engine_cog__hole--top {
  top: -20px;
  right: 7px;
}
.engine_cog__hole--left {
  top: 7px;
  right: 36px;
}
.engine_cog__hole--bottom {
  top: 36px;
  right: 8px;
}

.right {
  position: absolute;
  right: 0;
}

.shine {
  background: rgba(255, 255, 255, 0.14);
  width: 500px;
  height: 250px;
  top: -200px;
  right: -137px;
  position: absolute;
  z-index: 10;
  transform: rotateZ(51deg);
}

.crust_one {
  width: 17px;
  height: 17px;
  top: -89px;
  -webkit-animation: crust .1s forwards;
  -webkit-animation-delay: 4s;
  opacity: 0;
  left: -5px;
  z-index: 1;
  border-radius: 12px;
  background: #e6ad64;
  position: absolute;
}

.crust_two {
  width: 17px;
  height: 17px;
  top: -89px;
  left: 7px;
  z-index: 1;
  border-radius: 12px;
  background: #e6ad64;
  -webkit-animation: crust .1s forwards;
  -webkit-animation-delay: 4s;
  opacity: 0;
  position: absolute;
}

.crust_three {
  width: 17px;
  height: 17px;
  top: -89px;
  left: 20px;
  z-index: 1;
  -webkit-animation: crust .1s forwards;
  -webkit-animation-delay: 4s;
  opacity: 0;
  border-radius: 12px;
  background: #e6ad64;
  position: absolute;
}

.crust_four {
  width: 17px;
  height: 17px;
  -webkit-animation: crust .1s forwards;
  -webkit-animation-delay: 4s;
  opacity: 0;
  top: -89px;
  left: 33px;
  z-index: 1;
  border-radius: 12px;
  background: #e6ad64;
  position: absolute;
}

.crust_five {
  width: 17px;
  height: 17px;
  top: -89px;
  -webkit-animation: crust .1s forwards;
  -webkit-animation-delay: 4s;
  opacity: 0;
  left: 46px;
  z-index: 1;
  border-radius: 12px;
  background: #e6ad64;
  position: absolute;
}

.crust_six {
  width: 17px;
  height: 17px;
  top: -89px;
  left: 59px;
  -webkit-animation: crust .1s forwards;
  -webkit-animation-delay: 4s;
  opacity: 0;
  z-index: 1;
  border-radius: 12px;
  background: #e6ad64;
  position: absolute;
}

/* Animations */
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin-op {
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes pump {
  50% {
    top: -85px;
    left: 41px;
  }
}
@-moz-keyframes pump {
  50% {
    top: -85px;
    left: 41px;
  }
}
@-webkit-keyframes pump_right {
  50% {
    top: -82px;
    left: 167px;
  }
}
@-moz-keyframes pump_right {
  50% {
    top: -82px;
    left: 167px;
  }
}
@-webkit-keyframes needle {
  50% {
    transform: rotate(12deg);
  }
}
@-moz-keyframes needle {
  50% {
    transform: rotate(12deg);
  }
}
@-webkit-keyframes drop {
  100% {
    top: 170px;
    opacity: 1;
  }
}
@-webkit-keyframes feed {
  100% {
    left: 130px;
  }
}
@-webkit-keyframes crust {
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fin {
  from {
    left: 420px;
  }
  to {
    left: 420px;
    transform: rotateZ(10deg);
  }
  from {
    top: 90px;
  }
  to {
    top: 140px;
  }
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes cooked {
  from {
    left: 130px;
  }
  to {
    left: 420px;
  }
}

/* Global Styles */
a:link {
    color: white;
    text-decoration: none;
}
a:hover {
    color: white;
    text-decoration: none;
}
a:visited {
    color: white;
    text-decoration: none;
}
/* selected link */
a:active {
    color: white;
    text-decoration: none;
} 
.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f));
	background:-moz-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:-webkit-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:-o-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:-ms-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f',GradientType=0);
	background-color:#f24537;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:18px;
	font-weight:bold;
	padding:13px 17px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537));
	background:-moz-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:-webkit-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:-o-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:-ms-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537',GradientType=0);
	background-color:#c62d1f;
}
.myButton:active {
	position:relative;
	top:1px;
}

html,
body {
  height: 100%;
  width: 100%;
}

.vert-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.vert-text h1 {
  padding: 0;
  margin: 0;
  font-size: 4.5em;
  font-weight: 700;
}

/* Side Menu */

#sidebar-wrapper {
  margin-right: -250px;
  right: 0;
  width: 250px;
  background: #000;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: white;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 55px;
  line-height: 55px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#menu-toggle {
  top: 0px;
  left: 10px;
  position: fixed;
  z-index: 1;
}

#sidebar-wrapper.active {
  left: 0px;
  width: 250px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.toggle {
  margin: 5px 5px 0 0;
}

/* Full Page Image Header Area */

.header {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
  background: url(http://i.imgur.com/xSGEJ9J.png) no-repeat center center fixed; 
  color:white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Intro */

.intro {
  padding: 50px 0;
}

/* Services */

.services {
  background: #ee4f4f;
  padding: 50px 0;
  color: #ffffff;
}

.service-item {
  margin-bottom: 15px;
}

i.service-icon {
  border: 3px solid #ffffff;
  border-radius: 50%;
  display: inline-block;
  font-size: 56px;
  width: 140px;
  height: 140px;
  line-height: 136px;
  vertical-align: middle; 
  text-align: center;
}

i.service-icon:hover {
  font-size: 68px;
}

/* Callout */

.callout {
  color: #ffffff;
  display: table;
  height: 400px;
  width: 100%;
  background: url(../img/section-two.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Portfolio */

.portfolio {
  padding: 50px 0;
}

.portfolio-item {
  margin-bottom: 25px;
}

.img-portfolio {
  margin: 0 auto;
}


/* Call to Action */

.call-to-action {
  color: #ffffff;
  background: #0a5175;
  padding: 50px 0;
}

.call-to-action .btn {
  margin: 10px;
}

/* Footer */

footer {
  padding: 100px 0;
}
