<md-sidenav id="sidebar" md-is-locked-open="true" class="md-whiteframe-z2">
  <md-list>
    <md-list-item data-ng-repeat="video in videos">
        <md-button data-ng-click="playVideo(video)">
          <figure class="preview-pic">
          	<img data-ng-if="video.poster" data-ng-src="posters/{{video.poster}}"/>
          	<span data-ng-if="!video.poster">PREVIEW PIC</span>
          </figure>
          <span>{{video.title}}</span>
        </md-button>
    </md-list-item>
  </md-list>
</md-sidenav>