:root {
	/* Colors */
	--color0: #100210;
	--color1: #D19A5B;
	--color2: #2A569F;
	--color3: #115CA1;
	--color4: #8B7991;
	--color5: #4C97CC;
	--color6: #B1B8BF;
	--color7: #dfe7ef;
	--color8: #9ca1a7;
}

body {
	color: black;
	background-color: var(--color7) !important;
	font-size: large !important;
	margin-left:auto;
	margin-right:auto;
	margin-top:15px;
	font-family: monospace;
	max-width:900px;
	padding:0 10px;
}

i, em, b, strong {
	color: var(--color2);
}

h1, h2, li {
	color: var(--color3) !important;
}

p, div {
	color: var(--color0);
}

a, a:visited, a:hover {
	color: var(--color2) !important;
	text-decoration: none;
}

pre, code {
	color: var(--color2);
}

table, th, td {
	border: 1px solid black;
	padding: 5px;
}
