.hat_td
{
    background-color: #000000; 
    width: 77px; 
    border-left:1px solid #000000; border-right:1px solid #383636;
    cursor:pointer;
}

#hat_div ul
{
    list-style-type: none; margin:0; padding:0;
}

.hat_cwsj_icon
{
	background:url('http://cn.wsj.com/gb/hat2011/images/hat_sprite_active.png') no-repeat scroll -112px -230px #000000;
	height: 14px;
	width: 30px;
}

.hat_sina_icon
{
    float:left; 
    display:inline;
    margin:0 0 0 15 !important;
    margin:4 0 10 15;
    background:url('http://cn.wsj.com/gb/hat2011/images/hat_sprite_active.png') no-repeat scroll -40px -250px #000000; 
    height: 19px; width: 19px;
    cursor:pointer;
}

.hat_qq_icon
{
    float:right;
    display:inline;
    margin:1 15 0 0 !important;
    margin:5 15 0 0;
    background:url('http://cn.wsj.com/gb/hat2011/images/hat_sprite_active.png') no-repeat scroll -40px -221px #000000; 
    height: 19px; width: 19px;
    cursor:pointer;
}

.hat_cwsj_sinapop
{
	float:left; 
	display:inline;
	margin:0 5 5 3 !important;
	margin:0 5 5 3;
	background:url('http://cn.wsj.com/gb/hat2011/images/hat_sprite_active.png') no-repeat scroll -42px -252px #000000;
	height: 16px; width: 16px;
}

.hat_wsj_icon
{
    float:left; 
    display:inline;
    margin:1 0 0 25;
    background: url('http://cn.wsj.com/gb/hat2011/images/hat_sprite_inactive.png') no-repeat scroll -8px -40px #000000; 
    height: 24px; width: 30px;
}

#hat_tab_wsj_top
{
	background: url('http://cn.wsj.com/gb/hat2011/images/hat_sprite_inactive.png') no-repeat scroll -116px -39px #000000;
	height: 12px;
	width: 23px;
}

#hat_tab_wsj_jp_top
{
	background: url('http://cn.wsj.com/gb/hat2011/images/hat_sprite_inactive.png') no-repeat scroll -116px -215px #000000;
	height: 12px;
	width: 23px;
}

.hat_allthingsd_icon
{
    float:left;
    display:inline;
    margin:1 0 0 25;
    background:url('http://cn.wsj.com/gb/hat2011/images/hat_sprite_inactive.png') no-repeat scroll -6px -160px #000000; 
    height: 25px; width: 22px;
}

#hat_tab_atd_top
{
	background:url('http://cn.wsj.com/gb/hat2011/images/hat_sprite_inactive.png') no-repeat scroll -88px -150px #000000;
	height: 12px;
	width: 75px;
}

.hat_marketwatch_icon
{
    float:left;
    display:inline;
    margin:1 0 0 25;
    background:url('http://cn.wsj.com/gb/hat2011/images/hat_sprite_inactive.png') no-repeat scroll -7px -70px #000000; 
    height: 25px; width: 27px;
}

#hat_tab_mw_top
{
	background:url('http://cn.wsj.com/gb/hat2011/images/hat_sprite_inactive.png') no-repeat scroll -91px -102px #000000;
	height: 12px;
	width: 75px;
}

.hat_barrons_icon
{
    float:left;
    display:inline;
    margin:1 0 0 25;
    background:url('http://cn.wsj.com/gb/hat2011/images/hat_sprite_inactive.png') no-repeat scroll -7px -100px #000000; 
    height: 25px; width: 22px;
}

#hat_tab_bar_top
{
	background:url('http://cn.wsj.com/gb/hat2011/images/hat_sprite_inactive.png') no-repeat scroll -100px -118px #000000;
	height: 12px;
	width: 53px;
}

.hat_block
{
    margin: 2 0 0 0 !important;
    margin: 0 0 0 0;
}

.hat_moreTarget_inactive
{
    background:url('http://cn.wsj.com/gb/hat2011/images/hat_sprite_inactive.png') no-repeat scroll -343px -305px #000000;
    display:block;
    width:50px;
    height:25px;
}

.hat_moreTarget_active
{
    background:url('http://cn.wsj.com/gb/hat2011/images/hat_sprite_inactive.png') no-repeat scroll -343px -345px #000000;
    display:block;
    width:50px;
    height:25px;
}

.hat_moreTarget_click
{
    background:url('http://cn.wsj.com/gb/hat2011/images/hat_sprite_active.png') no-repeat scroll -343px -382px #000000;
    display:block;
    width:50px;
    height:25px;
}

.hat_dd_list 
{
    position:absolute;
  	display:block;
  	background:#f2f2f2;
  	border:1px solid #d0d1d0;
  	padding:4px 0;
  	margin:-12px 0 0 9px;
}

.hat_dd_item {
    list-style-type:none;
    line-height:12px;
    font-size:10px;
    font-weight:normal;
    color:#000000;
}

.hat_navlist_hide
{
    display:none;
    position:absolute; 
    width:131px; 
    z-index:2000; 
    background-color:#F2F2F2;  
    padding: 6px 2px; 
    margin: 2 0 0 12 !important;
    margin: 2 0 0 -26;
    font-weight: normal; text-align: center; 
    border-width: 0px 1px 1px; border-style: solid; border-color: #4A5256;
    top:30px;
    /*left:778px;*/
}

.hat_navlist_show
{
    display:block;
    position:absolute; 
    width:131px; 
    z-index:2000; 
    background-color:#F2F2F2;  
    padding: 6px 2px; 
    margin: 0 0 0 20 !important;
    margin: 1 0 0 -26;
    font-weight: normal; text-align: center; 
    border-width: 0px 1px 1px; border-style: solid; border-color: #4A5256;
    top:30px;
    /*left:778px;*/
}

#hat_navlist div {

    z-index:3000;
    margin: 0 0 0 0;
    padding: 1 5 1 5;
    text-align: left;
    /*width: 121px;*/
}

#hat_navlist a
{
    /*width:120px;*/
    padding:2px;
    display:block;
    color:#333333;
}

#hat_navlist a:hover
{
    text-decoration:none;
    color:#FFFFFF;
}

.hat_more_list
{
    color:#333333; font-weight:bold; font-size:10px; text-decoration: none;
    width:130px;
}

.hat_subdd_list
{
    margin: 0 0 0 0;
    padding:0 0 0 0;
    list-style-type: none; list-style-position: outside; list-style-image: none;
}

.hat_list_hover:hover 
{
    color:#FFFFFF;
    background-color:#8F8F8F;
    text-decoration:none;
}

.hat_subdd_list li
{
    font-size:10px; 
    /*background: url('./images/hat_sprite_active.png') no-repeat scroll -390px 7px;*/
    margin:0 !important; margin:-3px 0px;
    height:18px !important; height:15px;
    width:131px !important; width:140px;
}

.hat_subdd_list li:hover
{
    color:#FFFFFF;
    text-decoration:none;
}

.hat_subdd_list li a
{
		background: url('http://cn.wsj.com/gb/hat2011/images/hat_sprite_active.png') no-repeat scroll -390px 7px;
    color:#333333; font-weight:bold; font-size:10px; text-decoration: none;
    padding:0 0 0 15;
    line-height:13px;
}

.hat_subdd_list li a:hover
{
		background: url('hat.css');
    background-color:#8F8F8F;
}

.hat_subdd_list_span
{
	background: url('http://cn.wsj.com/gb/hat2011/images/hat_sprite_active.png') no-repeat scroll -1px -398px;
}

.hat_subdd_list_span_jp
{
	background: url('http://cn.wsj.com/gb/hat2011/images/hat_sprite_active.png') no-repeat scroll -3px -421px;
}

#hat_search
{
	border:0px;
	font-size:12px; font-weight:bold;
	color:#888888;
	width:207px;
	height:22px;
	line-height:22px;
}

.hat_search_submit
{
	color:#fff;
	font-size:12px; font-weight:bold;
	border:0;
	width:60px;
	height:21px;
	padding-bottom:5px;
	line-height:190%;
	cursor:pointer;
}