/* =============================================== */
/* ---------------->>> CSS STYLES <<<------------- */
/* =============================================== */ 

/**
	Luispro - One Page Creative Html Template
	Author :ThemeTosia
	Copyright 2015
**/

/***** Table Of Contents *****
    1.0 Body and Core Css
        1.1 Social Links
        1.2 Button And Text
        1.3 Preloading
        1.4 Highlight
    2.Menu
    3.Slider
    4.Services
    5.Who We Are
    6.Features
    7.News
    8.Pricing
    9. Customer Preferences
    10.Portfolio
    11.Blog 
    12.Share
    13.Contact
    14.Footer
    15.Portfolio Page
    16.Blog Page
    17.News Page
    18.Responsive
*/

/** 1.0 Body And Core Css **/

body {
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    line-height: 22px;
    color: #1d1d1d;
    background-color: #fff;
}

p,
a,
span {
    color: #414141;
    font-size: 16px;
}

p {
    line-height: 24px;
}

a {
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}


h1, h2, h3, h4, h5, h6{
    font-family: 'Raleway', 'Open Sans', Arial, sans-serif;
    font-weight: 700;
    margin-top: 0;
    color: #1d1d1d;
}

h1{
    font-size: 80px;
    line-height: 80px;
}

h2{
    font-size: 36px;
    line-height: 36px;
}

h3{
    font-size: 24px;
    line-height: 24px;
}

h4{
    font-size: 16px;
    line-height: 16px;
}

strong{
    font-weight: 700;
}

img {
    max-width: 100%;
    height: auto;
}

ul,
ol {
    list-style-position: inside;
}

.section-title h2{
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
}

.section-title ul {
    list-style-type: none;
    text-align: center;
    margin-top: 20px;
}

.section-title ul li {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 0;
}

.section-title ul li p {
    color: #414141;
    font-weight: 700;
    font-size: 13px;
    display: table-cell;
}

.color {
    color: #3b9aab !important;
}

.clear {
    clear: both;
}

.line {
    border-bottom: 5px solid #3b9aab;
    width: 100px;
    text-align: center;
    margin: 30px auto 30px auto;
    position: relative;
    z-index: 3;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}

.subtitle {
    padding: 0 10% 0 10%;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
}

.content {
    padding: 60px 0 0 0;
    overflow: hidden;
}

.sub-title {
    margin: 60px 0 60px 0;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    line-height: 48px;
}

/** 1.1 Social Links **/

.social {
    padding-bottom: 30px;
}

.social-button {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    color: #ffffff;
    display: block;
    float: left;
    height: 30px;
    line-height: 30px;
    margin: 0 5px 0 0;
    text-align: center;
    width: 30px;
    font-size: 13px;
}

.dribbble {
    background-color: #ee61a0;
    -webkit-transition:0.4s;
    -moz-transition:0.4s;
    -o-transition:0.4s;
    -ms-transition:0.4s;
    transition:0.4s;
}

.dribbble:hover,
.dribbble:focus,
.dribbble:active {
    background-color: #ffffff;
    color: #ee61a0;
}

.facebook {
    background-color: #3f66e7;
    -webkit-transition:0.4s;
    -moz-transition:0.4s;
    -o-transition:0.4s;
    -ms-transition:0.4s;
    transition:0.4s;
}

.facebook:hover,
.facebook:focus,
.facebook:active {
    background-color: #ffffff;
    color: #3f66e7;
}

.twitter {
    background-color: #5ca6eb;
    -webkit-transition:0.4s;
    -moz-transition:0.4s;
    -o-transition:0.4s;
    -ms-transition:0.4s;
    transition:0.4s;
}

.twitter:hover,
.twitter:focus,
.twitter:active {
    background-color: #ffffff;
    color: #5ca6eb;
}

.pinterest {
    background-color: #ff2237;
    -webkit-transition:0.4s;
    -moz-transition:0.4s;
    -o-transition:0.4s;
    -ms-transition:0.4s;
    transition:0.4s;
} 

.pinterest:hover,
.pinterest:focus,
.pinterest:active {
    background-color: #ffffff;
    color: #ff2237;
}

.instagram {
    background-color: #3b5b9c;
    -webkit-transition:0.4s;
    -moz-transition:0.4s;
    -o-transition:0.4s;
    -ms-transition:0.4s;
    transition:0.4s;
}

.instagram:hover,
.instagram:focus,
.instragram:active {
    color: #3b5b9c;
    background-color: #ffffff;
}

/** 1.2 BUTTON AND TEXT **/

.form-control {
    height: 50px;
    border: none;
    border-bottom: 1px solid #d0d0d0;
    background-color: transparent;
    font-size: 16px;
    font-weight: 900;
    color: #1d1d1d;
    margin-bottom: 50px;
    -webkit-transition:0.4s;
    -moz-transition:0.4s;
    -o-transition:0.4s;
    -ms-transition:0.4s;
    transition:0.4s;
    text-transform: uppercase;
    text-align: center;
    box-shadow: none;
}

.form-control::-webkit-input-placeholder { color: #1d1d1d; }
.form-control:-moz-placeholder { color: #1d1d1d; }
.form-control::-moz-placeholder { color: #1d1d1d; }
.form-control:-ms-input-placeholder { color: #1d1d1d; }


.form-control:focus ,
.form-control:hover {
    box-shadow: none;
    border-bottom: 1px solid #f1c40f;
 }

textarea.form-control {
    height: 150px; 
}

.button {
    color: #ffffff;
    background-color: #3b9aab;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    padding: 5px 15px 5px 15px;
    font-size:14px;
    font-weight: 600;
    box-shadow: none;
    border: 2px solid transparent;
    -webkit-transition:0.4s;
    -moz-transition:0.4s;
    -o-transition:0.4s;
    -ms-transition:0.4s;
    transition:0.4s;
    display: inline-block;
}

.button:hover,
.button:focus,
.button:active {
    color: #3b9aab;
    background: transparent;
    border: 2px solid #3b9aab;
}

/** 1.3 Preloading **/

#preload {
    background-color:#3b9aab;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%; 
    z-index: 99;
    display:table;
}

.spinner {
    margin: 0 auto;
    width: 50px;
    height: 30px;
    text-align: center;
    font-size: 10px;
    display:table-cell;
    vertical-align:middle;
} 

.spinner > div {
    background-color: #ffffff;
    height: 60px;
    width: 6px;
    display: inline-block; 
    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
    20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
    0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}


/** 1.4 Highlight **/

#highlight {
    background: url(../img/bg-highlight.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
    padding: 90px 0 90px 0;
}

#highlight:after{
    position:absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    content:" ";
    background:rgba(0, 0, 0, 0.4)
}

#highlight .heading,
#highlight .title,
#highlight .paragraph {
    color: #ffffff;
}

#highlight .heading,
#highlight .title,
#highlight .paragraph,
#highlight .button {
    position: relative;
    z-index: 2;
}

#highlight .title {
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 500;
}

#highlight .heading,
#highlight .title {
    margin-bottom:20px; 
}

#highlight .paragraph {
    font-size: 13px;
    margin-bottom: 30px;
}

/** 2. Menu **/

.navbar {
    -webkit-transition: background .4s ease-in-out,padding .4s ease-in-out;
    -moz-transition: background .4s ease-in-out,padding .4s ease-in-out;
    transition: background .4s ease-in-out,padding .4s ease-in-out;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
     margin-left:0;
}

.navbar-custom {
    border-radius:0;
    margin-bottom:0;
    z-index:50; 
    background:transparent; 
}

.navbar-custom a{
    color: #ffffff;
    font-weight:600;
    font-size:13px;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:active,
.navbar-custom .navbar-nav > li > a:focus {
    background: transparent;
}

.navbar-custom .navbar-brand {
    margin: 0;
    padding: 0;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    padding-top: 8px;
}

.navbar-custom .container {
    padding-top: 60px;
    z-index: 51;
}

.navbar-custom ul li:before {
    position:absolute;
    left:50%;
    right:50%;
    bottom:-1px;
    height:2px;
    content:'';
    background-color:transparent;
    z-index:1;
    transition: all 300ms;
    /* -webkit-transition: all 300ms; */
}

.navbar-custom ul li:hover:before,
.navbar-custom ul li:active:before {
    left:0px;
    right:0px;
    background-color:#3b9aab;
    -webkit-transition:0.4s;
    -moz-transition:0.4s;
    -o-transition:0.4s;
    -ms-transition:0.4s;
    transition:0.4s;
}

.navbar-custom .icon-bar {
    background-color: #ffffff;
}

.navbar-toggle {
    border: 1px solid #ffffff;
}

.top-nav-collapse {
    background-color: #3b9aab;
    padding: 10px 0;
}

.top-nav-collapse .container {
    padding-top: 0px; 
}

.top-nav-collapse .navbar-nav >li >a {
    color: #fff;
}

.top-nav-collapse .navbar-nav >li>a:hover,
.top-nav-collapse .navbar-nav >li>a:focus,
.top-nav-collapse .navbar-nav >li>a:active {
    color: #000;
}


/** 3. Slider **/

#slides {
    height: 750px !important;
    z-index: 0;
    position: relative;
}

#slides .button {
    font-weight: 700;
}

#slides .slider-title {
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 10px;
    font-weight:400;
} 

#slides .slider-titlebig {
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 10px
} 

#slides .slider-titlebold {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 900;
    margin-bottom: 10px
}

#slides .slider-paragraph {
    color: #ffffff;
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 20px
}

#slides .slider-content {
    margin-top: 150px;
}

#slides .slider-content .iphone {
    height: 625px !important;
    width: auto !important;
    top: 0 !important;
    text-align: right;
    z-index: 10 !important;
    left: inherit !important;
    right: 0px !important;
}

#slides .select-slider {
    margin-top: 40px;
}

#slides .select-slider h4 {
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
}

#slides .select-slider ul {
    list-style: none;
}

#slides .select-slider ul li {
    margin-bottom: 5px
}

#slides ul li a {
    color: #ffffff;
    font-weight: 400;
    text-decoration: none;
    -webkit-transition:0.4s;
    -moz-transition:0.4s;
    -o-transition:0.4s;
    -ms-transition:0.4s;
    transition:0.4s;
}

#slides ul li a:hover,
#slides ul li a:focus,
#slides ul li a:active {
    font-weight: 700;
    text-decoration: none;
}

#slides .active {
    font-weight: 700;
}

#slides .line {
    border-bottom: 1px solid #ffffff;
    width: 40px;
    text-align: left;
    margin: 10px auto 10px auto;
    position: relative;
    z-index: 3;
    display: inline-block;
}

.services-block {
    background-color: #ffffff;
    height: 20px;
    position: relative;
    top: 118px;
    z-index: -1;
}

/** 4. Services **/

#services {
    position: relative;
    padding: 90px 0 90px 0;
    background-color: #ffffff;
}

#services .services-box .title {
    font-weight: 700;
    text-transform: uppercase;
    margin: 30px 0 30px 0;
}

#services .services-box .paragraph {
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 30px;
}

#services .link {
    text-transform: uppercase;
    font-size: 13px;
    color: #3b9aab;
    font-weight: 700;
}

#services .button {
    margin-top: 60px;
}


/** 5. Who We Are **/

#whoweare {
    padding: 90px 0 0px 0;
}

#whoweare .content{
    padding: 60px 0 0px 0;
}

#whoweare .box .member{
    width: 270px;
    height: 270px;
    -webkit-border-top-left-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-bottomleft: 2px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

#whoweare .member-panels {
    margin-right: 30px;
    overflow: hidden;
    position: relative;
    float: left;
}

#whoweare .member-panels .links {
    position: absolute;
    background: rgba(59,154,171,0.80);
    top: 0;
    left: 0;
    right: 0;
    bottom: 7px;
    margin: 0;
    padding: 44% 0 0;
    font-size: 0;
    opacity: 0;
    text-align: center;
    -webkit-transition:0.4s;
    -moz-transition:0.4s;
    -o-transition:0.4s;
    -ms-transition:0.4s;
    transition:0.4s;
}

#whoweare .member-panels:hover .links {
  opacity: 1;
}

#whoweare .detail {
    background-color:#f3f2f2;
    text-align: left;
    min-height: 270px;
    -webkit-border-top-right-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    -moz-border-radius-topright: 2px;
    -moz-border-radius-bottomright: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    padding: 30px;
}

#whoweare .detail .name {
    font-size: 16px;
    font-weight: 800;
    color: #5d5d5d;
}

#whoweare .detail .title {
    font-size: 14px;
    color: #5d5d5d;
    font-weight: 600;
}

#whoweare .item .line {
    border-bottom: 2px solid #b1b1b1;
    width: 40px;
    display: inline-block;
    margin: 5px auto 5px auto;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}

#whoweare .paragraph {
    font-size: 13px;
    line-height: 24px;
    color: #414141;
    font-weight: 500;
}

#whoweare .social .social-title {
    font-weight: 600;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #5d5d5d;
}

#whoweare .owl-theme .owl-controls .owl-buttons div{
    color: #414141;
    font-size: 13px;
    background: transparent;
    opacity: 1;
    border: 2px solid #414141;
    padding: 5px 9px;
    margin-top: 30px;
    -webkit-transition:0.4s;
    -moz-transition:0.4s;
    -o-transition:0.4s;
    -ms-transition:0.4s;
    transition:0.4s;
}

#whoweare .owl-theme .owl-controls .owl-buttons div span {
    -webkit-transition:0.4s;
    -moz-transition:0.4s;
    -o-transition:0.4s;
    -ms-transition:0.4s;
    transition:0.4s;
}

#whoweare .owl-theme .owl-controls .owl-buttons div:hover {
    border-color: #3b9aab !important;
}

#whoweare .owl-theme .owl-controls .owl-buttons div:hover span {
    color:#3b9aab !important;
}

#whoweare .owl-theme .owl-controls {
    margin-top: 0px;
}

/** 6.Features **/

#features {
    padding: 90px 0 90px 0;
}

#features .features-thumb{
    padding: 236px 0 236px 0;  
    background: url(../img/features-thumb.jpg) center center no-repeat #5E5E5E;
    background-size: cover;
    margin-left: -15px;
    height: 624px;
}

#features .features-thumb:after{
    position:absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    content:" ";
    background:rgba(0, 0, 0, 0.4)
}


#features .half-centered-wrapper-left {
    width: 580px;
    margin-right: -20px;
    float: right;
    position: relative;
    z-index: 2;
}

#features .half-centered-wrapper-right {
    width: 580px;
    margin-left: 15px;
    float: left;
}

#features .heading {
    font-weight: 100;
    font-size: 60px;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 10px;
    line-height: 60px;
}

#features .heading_two {
    font-weight: 100;
    font-size: 36px;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 10px;
}

#features .heading_three {
    font-weight: 700;
    font-size: 36px;
    color: #ffffff;
    text-transform: uppercase;
}

#features .feature ul {
    margin-top: 60px;
    list-style-type: none;
}

#features .feature ul li{
    margin-bottom: 45px;
}

#features .feature .feature-title {
    text-transform: uppercase;
}

#features .feature .icon {
    padding-top: 32.5px;
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 20px;
    vertical-align: middle;
}

#features .feature .detail {
    display:table;
}

#features .feature .head {
    text-transform: uppercase;
    margin-bottom: 20px;
}

#features .feature .desc {
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
}

/** 7.Our News **/

#ournews {
    padding: 90px 0 0 0;
}

#ournews .box ul {
    list-style-type: none;
    padding-left: 30px;
}

#ournews .box ul li {
    float: left;
    margin-right:20px; 
}

#ournews .box ul li p {
    color: #ffffff;
}

#ournews .subtitle {
    color: #414141;
}

#ournews .link,
#ournews .author,
#ournews .category,
#ournews .date {
    color: #ffffff;
}

#ournews .author,
#ournews .category,
#ournews .date { 
    margin-right: 10px;
    font-size: 
}

#ournews .content p {
    display: inline;
    font-size: 13px;
}

#ournews .link {
    padding-left: 30px;
    text-transform: uppercase;
    line-height: 26px;
}

#ournews ul li i {
    color: #ffffff;
    float: left;
    margin-right: 20px;
}

#ournews .box {
    position: relative;
    overflow: hidden;
}

#ournews .box:after {
    background: linear-gradient(to top, #000 0%, rgba(0, 0, 0, 0.1) 70%);
    opacity: 1;
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
}

#ournews .news-panel {
    overflow: hidden;
    position: relative;
    -webkit-transition:0.4s;
    -moz-transition:0.4s;
    -o-transition:0.4s;
    -ms-transition:0.4s;
    transition:0.4s;
}

#ournews .news-panel .links {
    z-index: 5;
    position: absolute;
    background: rgba(59,154,171,0.80);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 29% 0 0;
    font-size: 0;
    opacity: 0;
    text-align: center;
    -webkit-transition:0.4s;
    -moz-transition:0.4s;
    -o-transition:0.4s;
    -ms-transition:0.4s;
    transition:0.4s;
}

#ournews .news-panel:hover .links {
    opacity: 1;
}

#ournews .news-panel:hover .color {
    color: #ffffff !important;
}

#ournews .caption {
    top: 80%;
    z-index: 6;
    position: relative;
}

#ournews .last .caption {
    top: 54%;
    z-index: 6;
    position: relative;
}

#ournews .big-news .caption {
    top: 90.5%;
    z-index: 6;
    position: relative;
}

#ournews .last ul li {
    float: none;
}

#ournews  .imgcaption img {
    width: 100%;
}

#ournews  .imgcaption.last {
    margin-top: 30px;
}

#ournews .button {
    margin-top: 60px;
}

/** 8. Pricing **/

#pricing {
    padding: 90px 0 90px 0;
}

#pricing .pricing-box .top {
    background-color: #3b9aab;
    padding: 30px 0 30px 0;
}

#pricing .pricing-box .top .name,
#pricing .pricing-box .top .price,
#pricing .pricing-box .top .period {
    color: #ffffff;
    text-align: center;
}

#pricing .pricing-box .top .name {
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 10px;
}

#pricing .pricing-box .top .price {
    margin-bottom: 10px;
}

#pricing .pricing-box .top .period {
    font-size:14px;
}

#pricing .pricing-box .desc ul {
    list-style-type: none;
    margin-top: 30px;
}

#pricing .pricing-box .desc ul li {
    text-align: center;
    margin-bottom: 30px;
}

#pricing .pricing-box .desc ul > li > p {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: #545454;
}

#pricing .pricing-box .desc {
    border:1px solid #e7e7e7;
}

/** 9. Customer Preferences **/

#customer-preferences {
    background: url(../img/bg-customer.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
    padding: 90px 0 90px 0;
}

#customer-preferences:after{
    position:absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    content:" ";
    background:rgba(0, 0, 0, 0.4)
}

#customer-preferences .head,
#customer-preferences .knob-box,
#customer-preferences .knob-box-last {
    position: relative;
    z-index: 2;
}

#customer-preferences .head {
    font-size: 60px;
    font-weight: 200;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 60px;
    line-height: 60px;
}

#customer-preferences .knob-box {
    margin-bottom: 60px;
    clear: both;
}

#customer-preferences .knob-box-last {
    clear: both;
}

#customer-preferences .box .title {
    color: #ffffff;
    margin-bottom: 20px;
}

#customer-preferences .box .desc {
    font-size: 13px;
    color: #ffffff;
    font-weight: 400;
    margin-bottom: 10px;
}

#customer-preferences .box .choice {
    background-color: #3b9aab;
    padding: 10px;
    display: table-cell;
}

#customer-preferences .box .choice-title {
    color: #ffffff;
    font-weight: 700;
    font-size: 13px;
    float: left;
    margin-right: 10px;
}

#customer-preferences .box .number {
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
    display: table-cell;
}

#customer-preferences .circle {
    float: left;
    margin-right: 20px;
}

#customer-preferences .knob {
    font-family: 'Raleway', sans-serif !important;
    font-weight: 300 !important;
    font-size: 30px !important;
}

/** 10.Portfolio **/

#portfolio {
    padding: 90px 0 0 0;
}

#portfolio .cbp-l-filters-alignRight .cbp-filter-item.cbp-filter-item-active {
    color: #ffffff;
    background-color: #3b9aab;
    cursor: default;
    border-radius: 100px;
}   

#portfolio .cbp-l-filters-alignRight .cbp-filter-item:hover {
    color: #ffffff;
    background-color: #3b9aab;
    cursor: default;
    border-radius: 100px;
}

#portfolio .cbp-l-filters-alignRight .cbp-filter-item {
    background-color: transparent;
    color: #1d1d1d;
    cursor: default;
    font-size: 16px;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 700 !important;
    padding: 1px 10px;
    position: relative;
    overflow: visible;
    margin: 0 15px 0 15px;
    border: none;
    text-transform: uppercase;
    display: inline-block;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    text-align: center;
}

#portfolio .cbp-l-filters-alignRight {
    margin-bottom: 40px;
    text-align: center;
}

#portfolio .cbp-panel {
    /* @editable properties */
    width: 100%;
}

#portfolio .cbp-l-caption-icon i{
    font-size: 25px;
    color: #ffffff;
    border:2px solid #ffffff;
    width:50px;
    height: 50px;
    text-align: center; 
    line-height: 50px;
    border-radius: 100px;
    margin-bottom: 10px;
}

#portfolio .cbp-l-caption-title {
    font-size: 30px;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 700 !important;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 30px;
    margin-bottom: 5px;
}

.cbp-l-caption-desc {
    font-size: 14px;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 300 !important;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 14px;
}

#portfolio .cbp-caption-fadeIn .cbp-caption-activeWrap {
    background-color: rgba(59,154,171,0.80);
}

/** 11.Blog **/

#blog {
    padding: 90px 0 90px 0;
}

.blog-box .left-section {
    float: left;
}

.blog-box .left-section .date {
    background-color: #3b9aab;
    text-align: center;
    padding: 20px;
}

.blog-box .left-section .day {
    font-size: 48px;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 5px;
}

.blog-box .left-section .month {
    font-size: 13px;
    color: #ffffff;
    font-weight: 300;
}

.blog-box .left-section .share {
    margin-top: 20px;
    text-align: center;
}

.blog-box .left-section .share .title {
    font-size: 13px;
    font-weight: 600;
}

.blog-box .left-section .share ul {
    list-style-type: none;
    margin-top: 10px;
}

.blog-box .left-section .share ul li {
    margin-bottom: 5px;
}

.blog-box .left-section .share ul li i {
    font-size: 16px;
}

.blog-box .left-section .share ul li .fa-facebook {
    color: #568fd6;
}

.blog-box .left-section .share ul li .fa-twitter {
    color: #77cae2;
}

.blog-box .left-section .share ul li .fa-google-plus {
    color: #e64a44;
}

.blog-box .right-section img {
    width: 100%;
    height: auto;
}

.blog-box .right-section {
    display: table;
}

.blog-box .right-section .title {
    margin-top: 30px;
    font-weight: 800;
    text-transform: uppercase;
    -webkit-transition:0.4s;
    -moz-transition:0.4s;
    -o-transition:0.4s;
    -ms-transition:0.4s;
    transition:0.4s;
}

.blog-box .right-section .title:hover,
.blog-box .right-section .title:focus,
.blog-box .right-section .title:active {
    color: #3b9aab;
}


.blog-box .right-section ul {
    margin-top: 20px;
    list-style-type: none;
}

.blog-box .right-section ul li {
    margin-right: 20px;
    float: left;
}

.blog-box .right-section ul li p {
    font-size: 13px;
    font-weight: 700;
    display: table-cell;
}

.blog-box .right-section ul li .color {
    color: #3b9aab;
}

.blog-box .right-section .paragraph {
    margin-top: 20px;
    font-size: 13px;
    font-weight: 400;
}

.blog-box .paragraph-big {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 400;
}

#blog .full-width {
    margin: 60px 0 60px 0;
}

/** 12.Share **/

#share {
    background: url(../img/bg-share.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
    padding: 90px 0 90px 0;
}

#share:after{
    position:absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    content:" ";
    background:rgba(0, 0, 0, 0.4)
}

#share .social-button {
    border: 2px solid #ffffff;
    color: #ffffff;
    display: inline-block;
    float: none;
    height: 50px;
    line-height: 50px;
    margin: 0 10px 0 0;
    text-align: center;
    width: 50px;
    font-size: 16px; 
    -webkit-transition:0.4s;
    -moz-transition:0.4s;
    -o-transition:0.4s;
    -ms-transition:0.4s;
    transition:0.4s;
}

#share .social-button:hover,
#share .social-button:focus,
#share .social-button:active {
    background-color: #3b9aab;
    border-color: #3b9aab;
}

#share .social {
    padding: 0;
    position: relative;
    z-index: 2;
}

/** 13. Contact **/

#contact {
    padding: 90px 0 90px 0;
}

#contact .content {
    padding: 60px 0 0 0;
}

/** 14. Footer **/

#footer {
    padding: 0 0 90px 0;
}

#footer p {
    font-size: 13px;
    margin-bottom: 10px;
    font-weight: 500;
}

#footer .line {
    border-bottom: 1px solid #d0d0d0;
    width: 150px;
}

#footer .footer-page {
    padding-top: 90px;
}

/** 15. Portfolio Page **/

#portfolio-page-bg {
    background: url(../img/bg-portfolio-page.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 260px;
    position: relative;
    padding: 90px 0 90px 0;
}

#portfolio-page-bg:after{
    position:absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    content:" ";
    background:rgba(0, 0, 0, 0.4)
}

#portfolio-page-bg .portfolio-title,
#portfolio-page-bg .portfolio-link {
    position: relative;
    z-index: 2;
}

#portfolio-page-bg .portfolio-title {
    margin-top: 60px;
    font-size: 30px;
    font-weight: 800;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 10px;
}

#portfolio-page-bg .portfolio-link {
    list-style-type: none;
    text-align: center;
    display: inline-block;
}

#portfolio-page-bg .portfolio-link li i {
    color: #ffffff;
    font-size: 14px;
    margin-left: 5px;
    margin-right: 5px;
}

#portfolio-page-bg .portfolio-link li {
    float: left;
}

#portfolio-page-bg .portfolio-link a {
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 500;
    -webkit-transition:0.4s;
    -moz-transition:0.4s;
    -o-transition:0.4s;
    -ms-transition:0.4s;
    transition:0.4s;
}

#portfolio-page-bg .portfolio-link a:hover,
#portfolio-page-bg .portfolio-link a:focus,
#portfolio-page-bg .portfolio-link a:active{
    color: #3b9aab;
}

#portfolio-page .section-title ul li p{
    color: #414141;
    font-weight: 700;
    font-size: 13px;
    display: table-cell;
}

#portfolio-page .content {
    padding: 60px 0 60px 0;
}

#portfolio-page .left-box {
    background-color: #ec5690;
    padding: 30px;
    text-align: left;
}

#portfolio-page .left-box .title {
    color: #ffffff;
    text-transform: uppercase;
}

#portfolio-page .section-title ul {
    margin-top: 30px;
    list-style-type: none;
}

#portfolio-page .paragraph,
#portfolio-page ul li p {
    color: #ffffff;
    font-size: 13px;
    font-weight: 500;
}

#portfolio-page ul li {
    margin-bottom: 5px;
}

#portfolio-page .line {
    border-bottom: 1px solid #ffffff;
    width: 150px;
    display: inline-block;    
}

#portfolio-page .left-box ul {
    list-style-type: none;
    margin-top: 20px;
}

#portfolio-page .right-box .paragraph {
    margin-top: 30px;
    color: #414141;
}

#portfolio-page .caption-title {
    font-size: 30px;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 700 !important;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 30px;
    margin-bottom: 5px;
}

#portfolio-page .portfolio-panel ul {
    list-style-type: none;
}

#portfolio-page .caption-icon {
    color: #ffffff;
    font-size: 25px;
    margin-bottom: 20px;
    text-align: center;
}

#portfolio-page .caption-desc {
    font-size: 14px;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 300 !important;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 14px;
}

#portfolio-page .portfolio-panel {
    overflow: hidden;
    position: relative;
}

#portfolio-page .portfolio-panel .links {
    position: absolute;
    background: rgba(59,154,171,0.80);
    top: 0;
    left: 0;
    right: 0;
    bottom: 6px;
    margin: 0;
    padding: 29% 0 0;
    font-size: 0;
    opacity: 0;
    text-align: center;
    -webkit-transition:0.4s;
    -moz-transition:0.4s;
    -o-transition:0.4s;
    -ms-transition:0.4s;
    transition:0.4s;
}

#portfolio-page .portfolio-panel:hover .links {
    opacity: 1;
}

#portfolio-page .portfolio-image {
    margin-top: 30px;
}

/** 16.Blog Page **/

#blog-page-bg {
    background: url(../img/bg-blog-page.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 260px;
    position: relative;
    padding: 90px 0 90px 0;
}

#blog-page-bg:after{
    position:absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    content:" ";
    background:rgba(0, 0, 0, 0.4)
}

#blog-page-bg .blog-title,
#blog-page-bg .blog-link {
    position: relative;
    z-index: 2;
}

#blog-page-bg .blog-title {
    margin-top: 60px;
    font-size: 30px;
    font-weight: 800;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 10px;
}

#blog-page-bg .blog-link {
    list-style-type: none;
    text-align: center;
    display: inline-block;
}

#blog-page-bg .blog-link li i {
    color: #ffffff;
    font-size: 14px;
    margin-left: 5px;
    margin-right: 5px;
}

#blog-page-bg .blog-link li {
    float: left;
}

#blog-page-bg .blog-link a {
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 500;
    -webkit-transition:0.4s;
    -moz-transition:0.4s;
    -o-transition:0.4s;
    -ms-transition:0.4s;
    transition:0.4s;
}

#blog-page-bg .blog-link a:hover,
#blog-page-bg .blog-link a:focus,
#blog-page-bg .blog-link a:active{
    color: #3b9aab;
}

#blog-page .content {
    padding: 60px 0 60px 0;
}

#prev-next {
    margin: 60px 0 60px 0;
    border: 1px solid #dddddd;
}

#comments {
    margin-bottom: 60px;
}

.comment .total-comment {
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

.comment .user-image {
    border: 1px solid #dddddd;
    border-radius: 100px;
    width: 100px;
    height: 100px;
    padding: 4px;
    margin: 47px auto 47px auto;
}

.comment .user-image img {
    width: 90px;
    height: 90px;
    border-radius: 100px;
    text-align: center;
}

.comment .line {
    border-bottom: 1px solid #dddddd;
    width: 80px;
    text-align: center;
    margin: 92px auto 92px auto;
    z-index: 3;
}

.comment .comment-box {
    list-style-type: none;
    margin-bottom: 60px;
}

.comment .comment-box li {
    float: left;
}

.comment .box {
    padding: 30px 122px 30px 30px;
    border: 1px solid #dddddd;
    position: absolute;
    float: left;
}

.comment .box .title {
    font-weight: 800;
    font-size: 13px;
    margin-bottom: 10px;
}

.comment .paragraph {
    font-size: 13px;
    line-height: 24px;
}

.comment .box .button {
    margin-top: 10px;
}

.comment .like {
    top: 0;
    right: 0;
    position: absolute;
}

#comments .comment .like li {
    float: none;
    border-left:1px solid #dddddd;
    padding: 24px;
}

#comments .like {
    list-style-type: none;
    text-align: center;
}

#comments .like .up i,
#comments .like .up p {
    color: #3b9aab;
}

#comments .like i {
    font-size: 16px;
    color: #1d1d1d;
}

#comments .like p {
    font-size: 13px;
    font-weight: 400;
}

.blog-page-contact {
    background-color: #f6f6f6;
    margin-top: 60px;
}

.blog-page-contact .form-control {
    font-weight: 400 !important;
}

/** 17. News Page **/

#news-page-bg {
    background: url(../img/bg-news-page.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 260px;
    position: relative;
    padding: 90px 0 90px 0;
}

#news-page-bg:after{
    position:absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    content:" ";
    background:rgba(0, 0, 0, 0.4)
}

#news-page-bg .news-title,
#news-page-bg .news-link {
    position: relative;
    z-index: 2;
}

#news-page-bg .news-title {
    margin-top: 60px;
    font-size: 30px;
    font-weight: 800;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 10px;
}

#news-page-bg .news-link {
    list-style-type: none;
    text-align: center;
    display: inline-block;
}

#news-page-bg .news-link li i {
    color: #ffffff;
    font-size: 14px;
    margin-left: 5px;
    margin-right: 5px;
}

#news-page-bg .news-link li {
    float: left;
}

#news-page-bg .news-link a {
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 500;
    -webkit-transition:0.4s;
    -moz-transition:0.4s;
    -o-transition:0.4s;
    -ms-transition:0.4s;
    transition:0.4s;
}

#news-page-bg .news-link a:hover,
#news-page-bg .news-link a:focus,
#news-page-bg .news-link a:active{
    color: #3b9aab;
}

#news-page {
    position: relative;
}

.news-page-contact {
    background-color: #f6f6f6;
    margin-top: 60px;
}

#news-page .news-image img {
    width: 100%;
    height: 650px;
}

#news-page .news-image ul {
    list-style-type: none;
}

#news-page .news-image ul li {
    float: left;
}

#news-page .news-image .bton {
    display: inline-block;
    right: 0px;
    top: 610px;
    z-index: 1;
    position: absolute;
}

#news-page .news-image .bton i {
    color: #ffffff;
    font-size: 20px;
    background-color: #3b9aab;
    padding: 40px;
    -webkit-transition:0.4s;
    -moz-transition:0.4s;
    -o-transition:0.4s;
    -ms-transition:0.4s;
    transition:0.4s;
}

#news-page .news-image .bton i:hover {
    background-color: #28243f;
}

#news-page .paragraph { 
    margin-top: 20px;
    font-size: 13px;
    font-weight: 400;
}

#news-page .paragraph-big {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.news-page-contact .form-control {
    font-weight: 400 !important;
}


/** 18.RESPONSIVE **/

/*************************************/
/***** Screen Max. Width = 1100px *****/
/*************************************/
@media screen and (max-width: 1196px) {

.navbar-custom .navbar-nav > li > a:hover, 
.navbar-custom .navbar-nav > li > a:active,
.navbar-custom .navbar-nav > li > a:focus {
    color: #000000;
}

.navbar-custom ul li:hover:before,
.navbar-custom ul li:active:before {
    left:0px;
    right:0px;
    background-color:#000000;
}

#services .services-box {
    margin-bottom: 30px;
}

#features .half-centered-wrapper-left {
    width: inherit;
    float: none;
    text-align: center;
    margin-right:0;
}

#features .feature {
    margin-top: 60px;
}

#features .half-centered-wrapper-right {
    width: inherit;
}

#ournews {
    padding: 0;
}

#ournews .last .caption {
    top: 63%;
}

#ournews .big-news {
    margin-top: 30px;
}

#pricing .pricing-box {
    margin-bottom: 30px;
}

#blog {
    padding: 0 0 90px 0;
}

#blog .full-width {
    margin: 0;
}

#blog  .blog-box {
    margin-bottom: 30px;
}

#whoweare .box {
    margin-bottom: 30px;
}

#comments .comment .comment-box {
    list-style-type: none;
    display: inline-block;
}

#comments .comment .box {
    padding: 30px 70px 30px 30px;
}

#comments .comment .like li {
    padding: 36px;
}

.comment .user-image {
    margin: 74px auto 74px auto;
}

.comment .line {
    margin: 119px auto 119px auto;
}

#portfolio-page .right-box {
    margin-top: 30px;

}

}


/*************************************/
/***** Screen Max. Width = 991 *****/
/*************************************/
@media screen and (max-width: 991px) {

#slides .slider-content .iphone {
    display: none;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 15px 5px;
}
.navbar-custom a {
    color: #ffffff;
    font-weight: 600;
    font-size: 12px;
}

}

/*************************************/
/***** Screen Max. Width = 768px *****/
/*************************************/
@media screen and (max-width: 768px) {

.navbar-fixed-bottom .navbar-collapse, 
.navbar-fixed-top .navbar-collapse {
    max-height: 500px;
    background-color: rgba(59, 154, 171, 0.8)
}

.navbar-custom .navbar-nav > li > a:hover, 
.navbar-custom .navbar-nav > li > a:active,
.navbar-custom .navbar-nav > li > a:focus {
    color: #000000;
}

.navbar-custom ul li:hover:before,
.navbar-custom ul li:active:before {
    left:0px;
    right:0px;
    background-color:#000000;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 15px;
}

#services .services-box {
    margin-bottom: 30px;
}

#features .half-centered-wrapper-left {
    width: inherit;
    float: none;
    text-align: center;
}

#features .feature {
    margin-top: 60px;
}

#features .half-centered-wrapper-right {
    width: inherit;
}

#ournews {
    padding: 0;
}

#ournews .last .caption {
    top: 63%;
}

#ournews .big-news {
    margin-top: 30px;
}

#pricing .pricing-box {
    margin-bottom: 30px;
}

#blog {
    padding: 0 0 90px 0;
}

#blog .full-width {
    margin: 0;
}

#blog  .blog-box {
    margin-bottom: 30px;
}

#whoweare .box {
    margin-bottom: 30px;
}

#comments .comment .comment-box {
    list-style-type: none;
    display: inline-block;
}

#comments .comment .box {
    padding: 30px 70px 30px 30px;
}

#comments .comment .like li {
    padding: 36px;
}

.comment .user-image {
    margin: 74px auto 74px auto;
}

.comment .line {
    margin: 119px auto 119px auto;
}

#portfolio-page .right-box {
    margin-top: 30px;

}

}

/*************************************/
/***** Screen Max. Width = 480px *****/
/*************************************/
@media screen and (max-width: 480px) {

.nav>li>a {
   padding:10px;
}

.navbar-nav>li>a {
    line-height: 12px;
}

h1 {
    font-size: 40px;
    line-height: 40px;
}

h2 {
    font-size: 25px;
    line-height: 25px;
}

#whoweare .detail {
    clear: both;
}

#features .heading {
    font-size: 40px;
}

#features .heading_two {
    font-size: 25px;
}

#features .heading_three {
    font-size: 25px;
}

#ournews .caption {
    top: 45%;
}

#ournews .last .caption {
    top: 54%;
}

#ournews .big-news .caption {
    top: 78.5%;
}

#customer-preferences .head {
    font-size: 40px;
    font-weight: 100;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 60px;
    line-height: 40px;
}

#customer-preferences .box .choice-title {
    font-weight: 600;
    font-size: 12px;
}

#customer-preferences .box .number {
    font-weight: 700;
    font-size: 15px;
}

#customer-preferences .knob-box-last {
    margin-bottom: 60px;
}

.blog-box .right-section img {
    min-height: 94px;
}

.blog-box .left-section {
    float:none;
}

#blog .blog-box {
    margin-bottom: 60px;
}

#comments .comment .comment-box li {
    float: none;
}

#comments .comment .line {
    display: none;
    margin: 119px auto 119px auto;
}

#comments .comment .user-image {
    margin: 60px auto 30px auto;
}

#comments .comment .comment-box {
    list-style-type: none;
    display: inline; 
}

#comments .comment {
    margin-bottom: 417px;
}

#comments .like {
    list-style-type: none;
    text-align: center;
    display: none;
}

#comments .comment .box {
    padding: 30px 30px 30px 30px;
    text-align: center;
    left: 0;
}

#news-page .news-image img {
    width: 100%;
    height: auto;
}

#news-page .news-image .bton i {
    padding: 20px;
}

#news-page .news-image .bton {
    top: 208px;
}

#whoweare .member-panels {
    margin-right: 0px;
}

.services-block {
    margin-top: 81px;
}

}