/* Edelgard did nothing wrong */
/* friendship ended with Rhea, now Edelgard is my best friend */

body {
	background-color: #000000;
	font-size: large;
	margin: auto;
	margin-top:40px;
	font-family: monospace;
	color: #D6EDF5;
}

div.help, body.mayvaneday {
	max-width:900px;
	padding:0 10px;
}

table.web {
	border: 1px solid white;
	border-collapse: collapse;
}

table {
	width: 100%;
	padding: 3px;
}

th {
	text-align: left;
}

h1, h2 {
	font-family: monospace;
	color: #cecd8c;
}
p {
	font-family: monospace;
	font-size: 120%;
}
li {
	font-family: monospace;
	color: #c7bf8d;
	font-size: 120%;
}
blockquote {
	font-size: 100%;
}
a, a:visited {
	font-family: monospace;
	color: #a1c28d;
	text-decoration: none;
}
b, strong {
	font-family: monospace;
	color: #d89b38;
}
pre, code {
	color: #85C8E0;
}
i, em, cite {
	font-family: monospace;
	color: #eed95f;
}
hr {
	border: 0;
	border-top: 3px dashed;
	color: #758f63;
}
