body {
	background-image: url(./back.gif);
	background-color: #000000;
	font-family: monospace;
	color: #FFFFFF;
	max-width:900px;
	margin: auto;
	font-size: large;
}

a, a:visited {
	text-decoration: none;
	color: inherit;
}

.box, nav {
	margin-top: 3%;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 5px 5px 5px 5px black;
	background: #000000;
	padding: 10px 10px 5px 20px;
}

.box-smaller {
	max-width: 700px;
}

table {
	width: 100%;
	padding: 3px;
}

article a, ul a, td a {
	text-decoration: underline;
}

hr {
	display: none;
}
