
/*Nullchan-like*/

#logo {
	filter: invert(100%);
}

img.static {
	filter: invert(80%);
}

a {
	color: #7cafc2 !important;
}

legend {
	color: black !important;
}

a:hover {
	color: #86c1b9;
}

/* TEXT FORMAT */

span.spoiler {
	text-shadow: 0 0 10px rgba(255,255,255,0.8);
}

/* HOME */

#popular-boards-headers {
	color: #999;
}

#popular-boards td {
	padding: 13px;
}

#popular-boards tr:nth-child(even) {
	background-color: #282828;
}

div.home-container {
	margin: 20px;
}

span.home-info {
	color: #999;
}

button.pinned {
	background-color: #315634 !important;
}

div.info {
	background-color: #424242 !important
}

button.primary {
	background-color: #283593 !important;
	border-color: #283593 !important;
}

/* POSTS */

div.reply {
	background-color: #282828 !important;
	border: 1px solid #383838;
}

div.post_preview {
	background-color: black !important;
	border: 1px solid #383838;
}

div.reply.op {
	background-color: #303030 !important;
}

div.reply.selected {
    border-style: dashed;
    border-radius: 5px;
    border-color: #bfadad;
    border-width: 2px;
}

div.post_preview.op {
	border: 1px solid #757575;
}

div.preview_hover {
	background-color: black !important;
}

div.preview_hover.op  {
	background-color: black !important;
}

div.reply.blacklisted {
	background-color: #381616 !important;
}

span.sticky {
	background: #7e3f3f !important;
}

span.post-date {
	color: #999;
}

span.post-subject {
	color: #ba8baf;
	font-weight: bold;
}

span.post-name {
	color: #c5c8c6;
}

a.action {
	color: #c5c8c6 !important;
}

a.post-link {
	color: #ccc !important;
}

button:hover span.post-id, a.post-link:hover {
	color: #fff !important;
	font-weight: bold;
}

a.toggle-replies {
	color: #999 !important;
	border: 1px dashed #666;
	padding: 6px 8px;
	margin: 0.3em 4px;
	display: table;
	text-decoration: none;
}

a.toggle-replies:hover {
	border-color: #86c1b9 !important;
}

blockquote.preview {
	background-color: #403F44;
}

span.subheading {
	color: #BDBDBD !important;
}

blockquote.reply-preview {
	background-color: #424242 !important;
}

input#post_files {
  background-color:rgba(40, 53, 147, 1);
}

textarea.textbody {
	background-color: #424242 !important;
	border-color: #424242 !important;
}

/* PAGE */

hr.thread-separator {
	border: none;
	border-bottom: 1px dashed #666;
	margin-bottom: 15px;
}

.boardinfo {
	color: #ab4642;
}

a.reply-link {
	color: #c5c8c6 !important;
}

a.reply-link:hover {
	color: #FFF !important;
}

#quick-reply {
	background-color: rgba(40,40,40,0.98);
}

div#files-container {
	background-color: #393939;
}

input.close {
	border-color: black;
	background-color: black;
}

input.close:hover {
	border-color: rgb(150,150,150);
	background-color: rgb(150,150,150);
}

button.pagination__item.pressed {
	background-color: #424242 !important;
}

button.pagination__item {
	background-color: #616161 !important;
}

/* CATALOG */

div.catalog-thread:hover {
	background-color: #303030;
}

div.thread-stats {
	color: #999;
}

/* BLACKLIST */

#blacklist_posts tr:nth-child(even), #blacklist_users tr:nth-child(even) {
	background-color: #282828;
}
