*:link {
  color: black;
}
*:visited {
  color: black;
}
*:active {
  color: black;
}
table.c33 {
  height: 100%;
}
body.c32 {
  background-image: url(images/cccross.jpg);
  background-color: #333333;
  color: black;
}
table.c31 {
  background-color: #c0c0c0;
}
table.c30 {
  width: 90px;
}
td.c29 {
  text-align: left;
  vertical-align: top;
}
a.c28 {
  font-family: helvetica,arial,sans-serif;
}
img.c27 {
  border: 0px solid ;
  width: 48px;
  height: 48px;
}
span.c26 {
  font-family: helvetica,arial,sans-serif;
}
td.c25 {
  vertical-align: top;
}
span.c24 {
  color: #555555;
  font-size: 64%;
}
span.c23 {
  color: black;
  font-size: 64%;
}
span.c22 {
  font-size: 64%;
}
span.c21 {
  color: black;
}
span.c20 {
  color: red;
  font-size: 80%;
}
td.c19 {
  background-color: #bbbbbb;
}
table.c18 {
  background-color: #999999;
  width: 371px;
  height: 380px;
}
table.c17 {
  width: 637px;
  height: 306px;
}
td.c16 {
  text-align: left;
}
p.c15 {
  color: #333333;
}
span.c14 {
  font-size: 80%;
}
tr.c13 {
  font-family: helvetica,arial,sans-serif;
}
p.c12 {
  color: #555555;
  font-size: 80%;
}
span.c11 {
  color: #333333;
}
span.c10 {
  color: white;
}
span.c9 {
  color: red;
}
td.c8 {
  width: 4px;
  background-color: #333333;
  vertical-align: top;
}
table.c7 {
  width: 46px;
  height: 400px;
}
td.c6 {
  text-align: center;
}
td.c5 {
  background-color: red;
  text-align: center;
}
td.c4 {
  background-color: red;
  text-align: center;
}
tr.c3 {
  font-family: courier;
  font-weight: bold;
}
td.c2 {
  background-color: red;
  text-align: center;
}
span.c1 {
  font-size: 172%;
}
