
body { max-width: 960px; margin-left: auto; margin-right: auto; }

.left h2 { color: #000; }

a, .tags-label { border-bottom: none; text-decoration: none; color: #3498db; font-weight: bold; }
a:hover, .tags-label:hover { color: #3498db; }

.left hr { margin-left: 100px; margin-right: 0px; width: auto; border-bottom: 1px solid #333; }

.lastcomments { background-color: transparent; }
