body {margin-top:0px;margin-left:0px;margin-bottom:0px;margin-right:2px;background-color:#7b8bc5}

a  {
color:#cddeff;
}

a:hover{color:#ffffff}

a.articlelist {color:#cddeff; font-weight:400; font-size:1.25em; font-family:monospace}
a.articlelist:hover{color:#ffffff}

a.sectionlink {color:#b6c3e8; font-size:1.15em; font-family:sans-serif; font-weight:700}
a.sectionlink:hover{color:#ffffff}

a.intable{color:#cadbfd}
a.intable:hover{color:#ffffff}

ul {margin-left:10px; margin-right:10px; padding-right:40px}
li {margin-bottom:3px; list-style-position: inside}

img {max-width: 100%}
img.link {vertical-align:middle}

#center {
width:80%;
margin-left:10%;
margin-right:10%;
border:0;
padding-top:25px;
padding-bottom:8px;
color:#FFFFFF;
text-align:center;
font-family:Sans-Serif;
display:inline-block;
}

h2 {
font-style: italic;
color:#3141a4;
}

h3 {
color:#b6c3e8;
}

h4 {
color:#cddeff;
}

em {
font-weight:700;
color:#b0c0ea;
}

em.hrec {
font-weight:700;
font-style:italic;
color:lime;
}

em.rec {
font-weight:700;
color:greenyellow;
font-style:normal;
}

em.srec {
font-weight:500;
color:yellow;
font-style:normal;
}

em.nrec {
font-weight:400;
color:orange;
font-style:normal;
}

em.avoid {
font-weight:700;
color:red;
font-style:italic;
}


q,blockquote {
font-style:italic;
color:#def6ff;
}

#articlelist {
width:95%;
margin-top:20px;
font-family:Sans;
text-align:center;
padding:5px;
display:inline-block;
}

h2 {

color:#485978;

}

table {
border:solid 1px #f8f8f8;
}

td {
border: solid 1px #f8f8f8;
padding-left:8px;
padding-right:8px;
padding-top:0px;
padding-bottom:0px;
background-color:#5e5994;
color:#ffffff;
}

.toprow {

background-color:#a4b4d5;
color:#f8f8f8;

}

p {
margin-left:10px;
margin-right:10px;
}


// dont cry
