body {margin-top:0px;margin-left:0px;margin-bottom:0px;margin-right:2px;background-color:#6c5440}

a  {
color:#9c875f;
font-size:16px;
}

a:hover{color:#c9b689}

a.articlelist{color:#9c875f; font-weight:400; font-size:1.25em; font-family:monospace}
a.articlelist:hover{color:#c9b689}

a.sectionlink {color:#48343c; font-size:1.15em; font-family:sans-serif; font-weight:700}
a.sectionlink:hover{color:#c9b689}

a.intable{color:#775747	}
a.intable:hover{color:#eed594}

ul {margin-left:10px; margin-right:10px; padding-right:40px}
li {margin-bottom:3px; list-style-position: inside}

img {max-width: 100%}
img.link {vertical-align:middle}

#center {
width:80%;
margin-left:10%;
margin-right:10%;
color:#eed594;
border:0;
padding-top:25px;
padding-bottom:8px;
text-align:center;
font-family:Sans-Serif;
display:inline-block;
}

h2 {
font-style: italic;
color:#262629;
}

h3 {
color:#48343c;
}

h4 {
color:#9c8339;
}

em {
font-weight:700;
color:#9c875f;
}

em.hrec {
font-weight:700;
font-style:italic;
color:lime;
}

em.rec {
font-weight:700;
color:greenyellow;
font-style:normal;
}

em.srec {
font-weight:500;
color:yellow;
font-style:normal;
}

em.nrec {
font-weight:400;
color:orange;
font-style:normal;
}

em.avoid {
font-weight:700;
color:red;
font-style:italic;
}


q,blockquote {
font-style:italic;
color:#b4a483;
}

#articlelist {
width:95%;
margin-top:20px;
font-family:Sans;
text-align:center;
padding:5px;
display:inline-block;
}


table {
border:solid 1px #f8f8f8;
}

td {
border: solid 1px #f8f8f8;
padding-left:8px;
padding-right:8px;
padding-top:0px;
padding-bottom:0px;
background-color:#b4a483;
color:#f6f6f8;
}

.toprow {
background-color:#80643b;
color:#f8f8f8;

}

p {
margin-left:10px;
margin-right:10px;
}

 // hung
