body {margin:0px;background-color: #D6DAF0; color:#0C0C0E}

a  {
color:#34345C;
}

a:hover{color:#e04000}

a.articlelist{color:#34345c; font-weight:400; font-size:1.25em; font-family:monospace}
a.articlelist:hover{color:#e04000}

a.sectionlink {color: #117743; font-size:1.15em; font-family:sans-serif; font-weight:700}
a.sectionlink:hover{color:#e04000}

a.intable{color:#AF0A0F}
a.intable:hover{color:#117743}

ul {margin-left:10px; margin-right:10px; padding-right:40px}
li {margin-bottom:3px; list-style-position: inside}

img {max-width: 100%}
img.link {vertical-align:middle}

#center {
width:80%;
margin-left:10%;
margin-right:10%;
border:0;
padding-top:25px;
padding-bottom:8px;
color:#0C0C0E;
text-align:center;
font-family:Sans-Serif;
display:inline-block;
}

h2 {
font-style: italic;
color: #9F1919;
}

h3 {
color:#9988ee;
}

h4 {
color: #AA80BC;
}

em {
font-weight:400;
color:#e04000;
}

em.hrec {
font-weight:700;
font-style:italic;
color:lime;
}

em.rec {
font-weight:700;
color:greenyellow;
font-style:normal;
}

em.srec {
font-weight:500;
color:yellow;
font-style:normal;
}

em.nrec {
font-weight:400;
color:orange;
font-style:normal;
}

em.avoid {
font-weight:700;
color:red;
font-style:italic;
}


q,blockquote {
color:#8DA94A;
font-style:italic;
}


#articlelist {
width:95%;
margin-top:20px;
font-family:Sans;
text-align:center;
padding:5px;
display:inline-block;
}

table {
border:solid 1px #f8f8f8;
}

td {
border: solid 1px #f8f8f8;
padding-left:8px;
padding-right:8px;
padding-top:0px;
padding-bottom:0px;
background-color:#9988ee;
color:#0c0c0e;
}

.toprow {

background-color:#34345C;
color:#D6DAF0;

}



// curtains down
