body {
    background-color: #282828;
    /* background-color: #483850; */
    color: white;
    margin: 0;
    padding: 0;
    /* background-image: url("../theatre.gif"); */
    background-size: cover;
    background-repeat: no-repeat;
}

.sidebar {
    float: right;
    margin-right: 3em;
    margin-left: 3em;
    font-size: 120%;
}

/* hide thumbnails in post */
.post img {
    display: none;
}

.header {
    width: 100%;
}

a {
    color: white;
    text-decoration: none;
}

/*a :hover {
}*/

/* todo: responsive */
.main {
    width: 80%;
    margin: 0 auto;
}

.postpreview img {
    display: inline;
}

.postpreview h2 {
    display: inline;
    float: left;
    width: 10em;
    padding-right: 10px;
}

.read_more {
    display: none;
}

#hydeview_comment_post {
    width: 40em;
    height: 10em;
}

.hydeview_comment_publish {
    display: block;
}
