body {
 margin-top : 0;
 margin-bottom : 0;
 margin-left : 0;
 margin-right : 0;
 padding-left : 0;
 padding-right : 0;
 font-family : 'Trebuchet MS', Verdana, Arial, sans-serif;
 color :  #Violet;
 letter-spacing : 2pt;
 font-size : 0.87em;
 line-height : 1.47em;
 background-image : url('bg.gif');
 background-repeat : repeat;
 background-position : top left;
 background-attachment : fixed;
      }
#header {
 margin : 20px;
 padding-top : 70px;
 height : 300px;
 width : 948px;
margin-left: auto;
  margin-right: auto;
 background : #5e5d50;
 background-image : url(images/background1.png);
 background-repeat : no-repeat;
 background-position : center;
 background-attachment : scroll;

 color : #7a7b59;
      }
#left {
 position : sticky;
 left : auto;
 top : 395px;
 width : 950px;
margin-left: auto;
  margin-right: auto;
 color : #000000;
 background-color :  	#ffffff;
      }
#center {
 top : 0;
 margin-left : 520px;
 margin-right : 15px;
 background-color : #4B0082;
 color :  	#FF6347;
      }
a {
 color : #625f53;
 cursor : default;
 font-size : .97em;
 background-color :	#FFD700;
      }
a:link {
 text-decoration : none;
 color : #625f53;
 cursor : default;
 background-color :  	#FFF5EE 	;
      }
a:visited {
 text-decoration : none;
 color : #625f53;
 cursor : default;
 background-color :  	#FFF5EE 	;
      }
a:hover {
 text-decoration : none;
 color : #625f53;
 cursor : default;
 border-bottom : 0 dotted #625f53;
 background-color :  	#FFF5EE 	;
      }
a:active {
 text-decoration : none;
 color : #625f53;
 cursor : default;
 background-color :  	#FFF5EE 	;
      }
#title {
 font-family : 'Trebuchet MS', Verdana, Arial, sans-serif;
 color : #625f53;
 letter-spacing : 2pt;
 font-weight : bolder;
 font-size : 1.79em;
 line-height : 1.47em;
 background-color :  	#FFF5EE 	;
 position: absolute;
 top: 351px;
 padding: 4px;
	filter:alpha(opacity=65);
	opacity: 0.65;
	-moz-opacity:0.65;
      }
h3 {
 font-family : 'Trebuchet MS', Verdana, Arial, sans-serif;
 color : #625f53;
 letter-spacing : 2pt;
 font-weight : bolder;
 font-size : 1.09em;
 line-height : 1.47em;
 background-color :  	#FFF5EE 	;
      }
p {
font-family : 'Trebuchet MS', Verdana Bold, Arial bold, sans-serif bold;
 padding-bottom : 11px;
      }
#content {
 padding : 20px;
 border-left : 1px dashed #625f53;
 border-right : 1px dashed #625f53;
 border-bottom : 1px dashed #625f53;
 height : 100%;

      }
#menu {
 text-align : center;
 padding-left : 3px;
 padding-right : 3px;
 padding-top : 20px;
 padding-bottom : 20px;
 border-top: 0px;
 border-bottom: 0px;
 border-left : 1px dashed #625f53;
 border-right : 1px dashed #625f53;

      }
#footer {
 top : 100%;
 height : 20px;
 border-top : 1px dashed #aec16f;
 color : #aec16f;
 font-size : 0.8em;
 text-align : right;
 background : #636255;
 background-image : url('bg.png');
 background-repeat : repeat;
 background-position : top left;
 background-attachment : fixed;
      }
#footer a {
 color : #aec16f;
 font-size : 1em;
 background : #636255;
 background-image : url('bg.png');
 background-repeat : repeat;
 background-position : top left;
 background-attachment : fixed;
      }
a img {
 border : none;
      }
 img.left, img.center, img.right {
 padding : 4px;
 border : 1px dotted #625f53;
      }
 img.left {
 float : left;
 margin : 0 12px 5px 0;
      }
img.center {
 display : block;
 margin : 0 auto 5px;
      }
img.right {
 float : right;
 margin : 0 0 5px 12px;
      }
form {
 float : right;
 font-size : 11px;
      }
input {
 background-color : #ffffff;
 color : #625f53;
 border : 1px dotted #625f53;
 font-size : 12px;
 padding : 3px;
      }
textarea {
 background-color : #ffffff;
 color : #625f53;
 border : 1px dotted #625f53;
 font-size : 12px;
 padding : 3px;

      }
.button {
 padding : 2px;
 background-color : #aec16f;
 color : #625f53;
 border : 1px solid #625f53;
 font-size : 11px;
      }
#sidebar {
 width : 155px;
 padding-left : 21px;
 padding-right : 5px;
 padding-top : 5px;
 float : right;
 padding-bottom : 20px;
 border-top : 1px dotted #625f53;
 border-bottom : 1px dotted #625f53;
      }
