.modal-post {
	display: block;
	width: 100%;
	margin-bottom: 8px;

	position: relative;
}

.modal-post-image {
	display: inline-block;
	width: 224px;
	height: 136px;

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.modal-post-text {
	display: inline-block;
	width: 240px;
	height: 136px;
	padding-left: 12px;

	background-color: #202020;
	color: #FFF;

	position: absolute;
	left: 224px;
	top: 0;
}

.modal-post-top {
	display: inline-block;
	width: 224px;
	font-size: 12px;

	position: absolute;
	left: 12px;
	top: 8px;
}

.modal-post-bottom {
	display: inline-block;
	width: 224px;

	position: absolute;
	left: 12px;
	bottom: 8px;
}

.modal-post-bottom-left {
	display: inline-block;
	float: left;

	font-size: 12px;
}
.modal-post-bottom-right {
	display: inline-block;
	float: right;

	font-size: 12px;
}