.columns, .columns-headers {
	display: flex;
	justify-content: space-between;
}

.columns {
	padding-bottom: 24px;
}

.columns-headers {
	width: 100%;
	z-index: 500;

	position: absolute;

	background-color: #FFF;
}

.columns-headers-space {
	display: block;
	height: 32px;
}

.column-content {
	padding: 0 8px;
}

.column-big {
	flex: 2 0 0;
}
.column-small {
	flex: 1 0 0;
}