<link rel="stylesheet" type="text/css" href="inc/template/content/index.css">

<div class="columns-headers" id="columns_headers">
	<for each="Pages.pages[page].columns" as="column">
		<include src="inc/template/column-header/index.html" pass-size="{{column.size}}" pass-page="{{page}}" pass-section="{{column.section}}"></include>
	</for>
	<include src="inc/template/column-header/index.html" pass-size="small" pass-page="news" pass-section="news"></include>
</div>


<div class="columns-headers-space" id="columns_headers_space"></div>

<div class="columns">
	<for each="Pages.pages[page].columns" as="column">
		<include src="inc/template/column/index.html" pass-size="{{column.size}}" pass-page="{{page}}" pass-section="{{column.section}}"></include>
	</for>
	<include src="inc/news/news/index.html" pass-size="small" pass-page="news" pass-section="news"></include>
</div>

<script type="text/javascript" src="inc/template/content/index.js"></script>