/* ============================================================ */
/* Base */
/* ============================================================ */
html, body {
  height: 100%; }

body {
  background: #FEFEFE;
  color: #424242;
  font-family: "Open Sans", arial, sans-serif;
  font-size: 18px; }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 20px;
  text-transform: none; }

h1 {
  font-size: 26px; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 20px;
  margin-bottom: 20px; }

h4 {
  font-size: 18px;
  margin-bottom: 18px; }

h5 {
  font-size: 16px;
  margin-bottom: 15px; }

h6 {
  font-size: 14px;
  margin-bottom: 12px; }

p {
  line-height: 1.8;
  margin: 0 0 30px; }

a {
  color: #C60000;
  text-decoration: none; }

ul, ol {
  list-style-position: inside;
  line-height: 1.4;
  margin: 0 0 20px;
  padding: 0; }
  ul ul, ul ol, ol ul, ol ol {
    margin: 10px 0 0 20px; }
  ul li, ol li {
    margin: 0 0 2px; }
    ul li:last-of-type, ol li:last-of-type {
      margin-bottom: 0; }

blockquote {
  border-left: 1px dotted #C60000;
  margin: 40px 0;
  padding: 5px 30px; }
  blockquote p {
    color: #AEADAD;
    display: block;
    font-style: italic;
    margin: 0;
    width: 100%; }

img {
  display: block;
  margin: 40px 0;
  width: auto;
  max-width: 100%; }

pre {
  background: #F1F0EA;
  border: 1px solid #DDDBCC;
  border-radius: 3px;
  margin: 0 0 20px;
  padding: 10px;
  font-size: 16px; }

code {
  padding: 2px 4px;
  font-size: 90%;
  color: #C60000;
  background-color: #F1F0EA;
  border-radius: 4px; }

hr {
  border: none;
  border-bottom: 1px dotted #303030;
  margin: 45px 0; }

table {
  text-align: left;
  vertical-align middle;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  }

th {
  font-size: 80%;
  padding: 5px;
  border-bottom: 2px solid black;

}

td {
  font-size: 75%;
  padding: 5px;
  border-bottom: 1px solid #AEADAD;
  }

tr {
}

tr:nth-child(even) {background-color: #f7f7f3;}

::selection {
  background: #FFF5B8;
  color: #000;
  display: block; }

::-moz-selection {
  background: #FFF5B8;
  color: #000;
  display: block; }

.hidden {
  text-indent: -9999px;
  visibility: hidden;
  display: none; }


/* ============================================================ */
/* General Appearance */
/* ============================================================ */
.container {
  margin: 0 auto;
  position: relative;
  width: 100%%;
  max-width: 900px; }

.button {
  background: #303030;
  border: none;
  border-radius: 3px;
  color: #FEFEFE;
  font-size: 14px;
  font-weight: 700;
  padding: 10px 12px;
  text-transform: uppercase; }
  .button:hover {
    background: #C60000; }

.button-square {
  background: #C60000;
  color: #FFF;
  float: left;
  font-size: 17px;
  margin: 0 0 0 10px;
  padding: 3px 8px 4px; }
  .button-square:hover {
    background: #303030; }

.error {
  text-align: center; }

.comments {
  margin-top: 10px; }

/* ============================================================ */
/* Site Header */
/* ============================================================ */
.site-header {
  background: #303030;
  padding: 40px 0 0;
  overflow: auto;
  text-align: center;
  text-transform: uppercase; }

.site-title-wrapper {
  display: table;
  margin: 0 auto; }

.site-title {
  float: left;
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  text-transform: uppercase; }
  .site-title a {
    float: left;
    background: #C60000;
    color: #FEFEFE;
    padding: 5px 10px 6px; }

.site-logo {
  display: block; }
  .site-logo img {
    margin: 0; }

.site-nav {
  list-style: none;
  margin: 28px 0 10px; }

.site-nav-item {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  margin: 0 10px; }
  .site-nav-item a:hover {
    color: #424242; }

/* ============================================================ */
/* content */
/* ============================================================ */
.content-container {
  margin: 0 40px; }

.content-header {
  border-bottom: 6px solid #303030;
  margin: 0 0 20px;
  padding: 0 0 20px;
  text-align: center;
  text-transform: uppercase; }

.content-title {
  font-size: 150%;
  margin: 20px 0px 0px;
  text-align: center;
  text-transform: uppercase; }

.content-description {
  color: #AEADAD;
  font-size: 100%;
  margin: 20px 0px 0px;}

.content-content a:hover {
  border-bottom: 1px dotted #C60000;
  padding: 0 0 2px; }

.content-content:last-child {
  margin-bottom: 0; }

.content-footer {
  margin-top: 5px; }

.content-navigation {
  display: table;
  margin: 70px auto 100px; }

.newer-contents,
.older-contents {
  float: left;
  background: #C60000;
  color: #FEFEFE;
  font-size: 14px;
  font-weight: 600;
  margin: 0 5px;
  padding: 5px 10px 6px;
  text-transform: uppercase; }
  .newer-contents:hover,
  .older-contents:hover {
    background: #303030; }

.content-number {
  display: none; }

/* ============================================================ */
/* content Index */
/* ============================================================ */
.content-list {
  list-style: none; }

.content-stub {
  border-bottom: 1px dotted #303030;
  margin: 0;
  position: relative; }
  .content-stub:first-child {
    padding-top: 0; }
  .content-stub a {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: block;
    color: #424242;
    padding: 20px 5px; }
    .content-stub a:hover {
      background: #FCF5F5;
      color: #C60000;
      padding: 20px 12px; }
      .content-stub a:hover .content-stub-tag {
        background: #C60000; }

.content-stub-tag {
  background: #303030;
  border-radius: 3px;
  color: #FFF;
  float: right;
  font-size: 10px;
  margin: 7px 0 0;
  padding: 0 5px;
  text-transform: uppercase; }

.content-stub-title {
  display: inline-block;
  margin: 0;
  text-transform: none; }

.content-stub-description {
  display: inline-block;
  margin: 0;
  text-transform: none; }

.content-stub-date {
  display: inline-block; }
  .content-stub-date:before {
    content: "/ "; }

.next-contents-link a,
.previous-contents-link a {
  display: block;
  padding: 8px 11px; }



/* ============================================================ */
/* Footer */
/* ============================================================ */
.footer {
  background: #303030;
  color: #D3D3D3;
  height: 265px;
  margin-top: 95px;
  overflow: auto; }
  .footer .site-title-wrapper {
    margin: 80px auto 35px; }
  .footer .site-title,
  .footer .button-square:hover {
    background: #121212; }
  .footer .button-jump-top {
    font-size: 23px;
    line-height: 1.1;
    padding-top: 1px; }

/*# sourceMappingURL=style.css.map */
