body {
	background-image:	url(DCIM/pineapple.jpg); /* bacgkround image */
	background-repeat: repeat;
	color:       #000000; /* body text color */
	font-size:	 	medium;
	font-family: 	verdana, sans-serif;
	letter-spacing:	1px;
	margin:			0 auto;
	width: 50em;
	}

a{
	color:				#A41818; /* link text color */
	padding:  			0.50em;
	text-decoration:	none;
 }

a:hover {
		text-decoration: underline;
		}

#content {
	background: #fafb8d; /* body background color */
	padding: 0.50em
}

nav li {display: inline;
	  list-style: none:
