/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/* MIXINS */
/* /MIXINS */
/* COLORS */
a {
	color:#181818
}

body {
	background: transparent
}
/* /COLORS */
button:active {
  outline: none !important;
}
/* common */
.user-avatar.initials span {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 28px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 1px #000000;
}
.alink {
  cursor: pointer;
}
.video-js .vjs-time-control {
  display: block;
}
.video-js .vjs-progress-control .vjs-progress-holder {
  height: 10px !important;
}
.video-js .vjs-progress-control .vjs-progress-holder .vjs-play-progress.vjs-slider-bar:before {
  top: -2px;
  font-size: 14px;
}
.full-screen {
  width: 100%;
  height: 100%;
  position: fixed !important;
  top: 0;
  left: 0;
  border: 0 !important;
  border-radius: 0px !important;
}
.loading-container {
  padding: 20px 0;
}
#category-select {
  z-index: 11;
}
.dropzone {
  position: relative;
  cursor: pointer;
  background-color: #f5f2f2;
}
.dropzone .header {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.dropzone .header i.icon,
.dropzone .header .content {
  color: #cecece;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.dropzone .header.hidden {
  display: none;
}
.dropzone input[type="file"] {
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
  opacity: 0;
}
.dropzone:hover .header i.icon,
.dropzone:hover .header .content {
  color: #2185D0;
}
input[type="file"].hidden {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
#dropzone .header {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.item-static-info .item-static-info-row {
  width: 100%;
  display: block;
  padding-bottom: 5px;
}
.item-static-info .item-static-info-row span {
  display: inline-block;
  word-wrap: break-word;
  vertical-align: top;
  width: 50%;
}
.item-static-info .item-static-info-row span:last-child {
  text-align: right;
}
.item-static-info .item-static-info-row span select {
  color: black;
}
#category-select-elements-container {
  width: 100%;
}
#category-select-elements-container .field {
  width: 50%;
  float: left;
  clear: none;
}
#category-select-elements-container .field .selection {
  width: 95%;
  min-width: 95%;
  display: block;
  margin: 0 auto;
  z-index: 21;
  float: left;
}
#category-select-elements-container .field:first-child {
  padding-right: 5px;
}
#category-select-elements-container .field:last-child {
  padding-left: 5px;
  float: right;
}
#category-select-elements-container .field:last-child .selection {
  float: right;
}
.channel-image-selection {
  min-height: 80px;
}
.associated-image-config-container {
  margin-top: 15px;
}
.associated-image-config-container .associated-image-uploader {
  padding: 15px;
}
.associated-image-config-container img {
  max-width: 100%;
  margin: 0 auto;
}
#pagination-menu-container {
  margin-top: 15px;
}
#pagination-menu-container #pagination-menu-wrapper #pagination-menu .item {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
#pagination-menu-container #pagination-menu-wrapper #pagination-menu .item.active {
  background-color: #2185D0;
  color: white;
}
.image i.icon {
  position: absolute;
  left: 5px;
  bottom: 5px;
  background: black;
  width: 26px;
  height: 26px !important;
  border: 1px solid white;
  border-radius: 100%;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
  margin: 0;
}
.image i.icon:before {
  color: white;
  vertical-align: text-top;
}
.ui.menu .item.hidden {
  display: none !important;
}
.ui.menu .item:hover {
  text-decoration: none !important;
}
/* /common */
#template-container {
  padding-top: 70px;
}
/* nav bar */
#main-navbar {
  background: #181818;
  border-radius: 0px !important;
  height: 70px;
  margin-bottom: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 222;
}
#main-navbar #navbar-grid {
  width: 100%;
  padding-left: 30px;
  color: white;
}
#main-navbar #navbar-grid #items-search-form-container {
  z-index: 100;
}
#main-navbar #navbar-grid #items-search-form-container #search-form-wrapper {
  padding: 0;
}
#main-navbar #navbar-grid #items-search-form-container #search-form-wrapper #items-search-input {
  padding: 18px 18px;
}
#main-navbar #navbar-grid #items-search-form-container #search-form-wrapper #items-search-input .wrapper {
  border: 1px solid white;
  border-radius: 5px;
  padding-right: 30px;
  position: relative;
}
#main-navbar #navbar-grid #items-search-form-container #search-form-wrapper #items-search-input .wrapper .ok {
  color: #939393;
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px 4px;
  cursor: pointer;
}
#main-navbar #navbar-grid #items-search-form-container #search-form-wrapper #items-search-input .wrapper .ok:hover {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  color: white;
}
#main-navbar #navbar-grid #items-search-form-container #search-form-wrapper #items-search-input input {
  background-color: transparent;
  border: 0;
  color: white;
  font-size: 14px;
}
#main-navbar #navbar-grid #items-search-form-container #search-form-wrapper #items-search-input input:focus,
#main-navbar #navbar-grid #items-search-form-container #search-form-wrapper #items-search-input input:active {
  border: 0 !important;
  outline: none !important;
}
#main-navbar #navbar-grid #items-search-form-container #search-form-wrapper #items-search-input .button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  margin: 0;
}
#main-navbar #navbar-grid #right-side-user-menu {
  padding-right: 65px;
  padding-top: 14px;
}
#main-navbar #navbar-grid #right-side-user-menu #user-menu-container {
  padding: 0;
  background-color: transparent;
  margin-right: 0;
  float: right;
}
#main-navbar #navbar-grid #right-side-user-menu #user-menu-container > a > i {
  margin: 0;
}
#main-navbar #navbar-grid #right-side-user-menu #user-menu-container #user-menu-toggle-button.w-avatar {
  padding: 7px 11px;
}
#main-navbar #navbar-grid #right-side-user-menu #user-menu-container .ui.menu {
  background-color: #181818;
}
#main-navbar #navbar-grid #right-side-user-menu #user-menu-container .ui.menu .item {
  color: white !important;
}
#main-navbar #navbar-grid #right-side-user-menu #user-menu-container .ui.menu::after {
  background-color: #181818;
}
#main-navbar #navbar-grid #right-side-user-menu #user-menu {
  position: absolute;
  right: 0;
  top: 50px;
  width: 200px;
  background-color: #232323;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}
#main-navbar #navbar-grid #right-side-user-menu #user-menu .menu-arrow-up {
  position: absolute;
  top: -5px;
  right: 19px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #232323;
}
#main-navbar #navbar-grid #right-side-user-menu #user-menu .item .toggle.checkbox {
  margin-left: 40px;
}
#main-navbar #navbar-grid #right-side-user-menu #user-menu .item label {
  margin-right: 10px;
}
#main-navbar #navbar-grid #navbar-logo-section #intergalactic a,
#main-navbar #navbar-grid #navbar-logo-section #file-server a {
  color: white;
}
#main-navbar #navbar-grid #navbar-logo-section #intergalactic {
  text-align: right;
  line-height: 70px;
  padding-right: 40px;
  opacity: 0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
#main-navbar #navbar-grid #navbar-logo-section #file-server {
  text-align: left;
  line-height: 70px;
  padding-left: 40px;
  opacity: 0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
#main-navbar #navbar-grid #navbar-logo-section #logo-element {
  display: block;
  width: 50px;
  padding: 0;
  position: absolute;
  top: 25px;
  left: 50%;
  margin-left: -25px;
  z-index: 100;
}
#main-navbar #navbar-grid #navbar-logo-section #logo-element img {
  width: 100%;
}
#main-navbar #navbar-grid #navbar-logo-section #logo-element.w-logo {
  height: 50px;
  border: 2px solid white;
  border-radius: 100%;
  overflow: hidden;
  background-color: #dcdcdc;
}
#main-navbar #navbar-grid #navbar-logo-section #logo-element.w-logo img {
  min-height: 100%;
}
#main-navbar .item {
  cursor: pointer;
}
#main-navbar .item a {
  cursor: pointer;
}
#main-navbar .moderations-toggle .checkbox label {
  color: white !important;
}
#main-navbar .moderations-toggle .checkbox label:before {
  background-color: #bfbfbf;
}
#main-navbar #main-menu {
  padding-top: 12px;
  font-size: 18px;
}
#main-navbar #items-search-form-container .ui.compact {
  margin: 15px;
}
#main-navbar #toggle-sidebar-link {
  padding: 14px;
  margin-left: 0;
}
#main-navbar #toggle-sidebar-link i {
  margin: 0 auto;
}
/* /nav bar */
/* side bar */
#sidebar-container .menu {
  font-size: 18px;
}
/* /side bar */
/* main view */
#main-view #main-view-page-header {
  background: #555;
  padding-bottom: 149px;
  border-bottom: 2px solid #b1b1b1
}
#main-view #main-view-page-header .introduction {
  text-align: center;
  padding: 50px 0;
}
#main-view #main-view-page-header .introduction h1 {
  font-size: 60px;
}
#main-view #main-view-page-header .introduction h2 {
  margin-top: 0px;
}
#main-view #main-view-page-header #channel-info-box .channel-image {
  display: table;
  margin: 15px auto;
  width: 150px;
  height: 150px;
  background-color: #fff;
  border-radius: 150px;
}
/* /main view */
/* dashboard */
#item-dashboard {
  position: relative;
  padding-top: 163px;
  margin-top: -163px;
}
#item-dashboard #content-type-menu-container {
  position: absolute;
  overflow-x:scroll;
  left: 0;
  width: 100%;
  margin: 0;
  top: 60px;
}
#item-dashboard #content-type-menu-container #content-type-menu-wrapper {
  padding: 0;
}
#item-dashboard #content-type-menu-container #content-type-menu-wrapper .menu .item {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
#item-dashboard #content-type-menu-container #content-type-menu-wrapper .menu .item h4 {
  margin-bottom: 0;
  height: 77px;
  color: white;
}
#item-dashboard #content-type-menu-container #content-type-menu-wrapper .menu .item .content .icon {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
#item-dashboard #content-type-menu-container #content-type-menu-wrapper .menu .item .content .content-type-name {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
#item-dashboard #content-type-menu-container #content-type-menu-wrapper .menu .item .content .label {
  color: white;
  background: #181818;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
#item-dashboard #content-type-menu-container #content-type-menu-wrapper .menu .item.active {
  background-color: rgba(225, 225, 225, 1);
}
#item-dashboard #content-type-menu-container #content-type-menu-wrapper .menu .item.active .icon {
  color: #2185D0;
}
#item-dashboard #content-type-menu-container #content-type-menu-wrapper .menu .item.active .content .content-type-name {
  color: #2185D0;
}
#item-dashboard #content-type-menu-container #content-type-menu-wrapper .menu .item.active .content .label {
  color: white;
  background: #2185D0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
#item-dashboard #file-types-menu-container #file-types-menu {
  margin: 10px 15px;
  margin-bottom: 0;
}
#item-dashboard #file-types-menu-container #file-types-menu .item.active .label {
  background-color: #2185D0;
  color: white;
}
#item-dashboard #file-types-menu-container #file-types-menu .item.active .label .file-type-name {
  color: #2185D0;
}
#item-dashboard #sort-options-menu-container #sort-options-menu {
  margin: 10px 15px;
  margin-top: 20px;
  min-height: 31px;
  height: 31px;
}
#item-dashboard #sort-options-menu-container #sort-options-menu .item {
  padding: 10px;
}
#item-dashboard #sort-options-menu-container #sort-options-menu .item.active {
  background-color: #2185D0;
  color: white !important;
}
#item-dashboard #item-list-container #items-container {
  margin-top: 10px;
  margin-bottom: 10px;
}
#item-dashboard #item-list-container #items-container .item-preview-display {
  margin: 10px 0;
  position: relative;
  padding: 10px;
  background: #f1f1f1;
}
#item-dashboard #item-list-container #items-container .item-preview-display .hide-item-button {
  position: absolute;
  top: 15px;
  right: 31px;
  width: 48px;
  height: 48px;
  border-radius: 48px;
  z-index: 1000;
  background-color: #6a6a6a;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
#item-dashboard #item-list-container #items-container .item-preview-display .hide-item-button i {
  font-size: 40px;
  color: white;
  position: absolute;
  top: 14px;
  right: -3px;
}
#item-dashboard #item-list-container #items-container .item-preview-display .hide-item-button:hover {
  background-color: #fff;
}
#item-dashboard #item-list-container #items-container .item-preview-display .hide-item-button:hover i {
  color: #6a6a6a;
}
#item-dashboard #item-list-container #items-container .list-item-container .list-item {
  height: 100%;
  border: 1px solid transparent;
}
#item-dashboard #item-list-container #items-container .list-item-container .list-item .moderation-toggle-item {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
#item-dashboard #item-list-container #items-container .list-item-container .list-item .list-item-image-container.default-image a {
  width: 100%;
  border-radius: inherit;
  display: block;
  background-color: #181818;
  height: 110px;
  float: left;
}
#item-dashboard #item-list-container #items-container .list-item-container .list-item .list-item-image-container.default-image a i.icon {
  font-size: 40px;
  margin: 20px auto;
  display: block;
  border: 5px solid white;
  color: white;
  border-radius: 100%;
  position: relative;
  padding: 30px;
}
#item-dashboard #item-list-container #items-container .list-item-container .list-item .list-item-image-container.default-image a i.icon:before {
  position: absolute;
  top: 20px;
  left: 10px;
}
#item-dashboard #item-list-container #items-container .list-item-container .list-item .list-item-image-container.default-image a i.icon.film:before {
  top: 19px;
  left: 10px;
  font-size: 37px;
}
#item-dashboard #item-list-container #items-container .list-item-container .list-item .image a {
  border-radius: inherit;
  position: relative;
  display: block;
}
#item-dashboard #item-list-container #items-container .list-item-container .list-item .image a img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: inherit;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
#item-dashboard #item-list-container #items-container .list-item-container .list-item .piece {
  overflow: hidden;
  height: 5px;
  border-radius: 0;
  float: left;
  width: 100%;
}
#item-dashboard #item-list-container #items-container .list-item-container .list-item .piece .progress {
  height: 10px;
  margin: 0;
}
#item-dashboard #item-list-container #items-container .list-item-container .list-item .piece .progress .bar {
  border-radius: 0;
}
#item-dashboard #item-list-container #items-container .list-item-container .list-item .list-item-details-container {
  position: relative;
}
#item-dashboard #item-list-container #items-container .list-item-container .list-item .list-item-details-container .item-filetype-text {
  display: block;
  position: absolute;
  top: -40px;
  right: 8px;
  color: white;
  border: 1px solid white;
  padding: 2px 5px;
  background: rgba(0, 0, 0, 0.5);
}
#item-dashboard #item-list-container #items-container .list-item-container .list-item .list-item-details-container h3 {
  margin-bottom: 5px;
}
#item-dashboard #item-list-container #items-container .list-item-container .list-item .list-item-details-container h3 a {
  word-wrap: break-word;
}
#item-dashboard #item-list-container #items-container .list-item-container .list-item .list-item-details-container .author {
  margin-bottom: 5px;
  position: relative;
  padding-left: 32px;
  min-height: 28px;
  line-height: 28px;
}
#item-dashboard #item-list-container #items-container .list-item-container .list-item .list-item-details-container .author a {
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#item-dashboard #item-list-container #items-container .list-item-container .list-item .list-item-details-container .author img {
  margin-right: 5px;
  position: absolute;
  left: 0;
  background: url('../img/x-avatar.png');
  border-radius: 100%;
  overflow: hidden;
  background-size: contain;
}
#item-dashboard #item-list-container #items-container .list-item-container .list-item .list-item-footer {
  padding: 0;
}
#item-dashboard #item-list-container #items-container .list-item-container .list-item .list-item-footer .item {
  cursor: inherit;
  margin: 0;
  width: 25%;
}
#item-dashboard #item-list-container #items-container .list-item-container .list-item .list-item-footer .item .header {
  margin: 0 auto;
}
#item-dashboard #item-list-container #items-container .list-item-container .list-item .list-item-footer .item span {
  font-size: 14px;
}
#item-dashboard #item-list-container #items-container .list-item-container .list-item .list-item-footer .item span .green {
  color: #21ba45;
}
#item-dashboard #item-list-container #items-container .list-item-container .list-item .list-item-footer .item span .yellow {
  color: #d6ad0a;
}
#item-dashboard #item-list-container #items-container .list-item-container .list-item .list-item-footer .item .icon,
#item-dashboard #item-list-container #items-container .list-item-container .list-item .list-item-footer .item span {
  color: #666;
}
#item-dashboard #item-list-container #items-container .list-item-container .list-item .list-item-footer .item:hover {
  background-color: #fff !important;
}
#item-dashboard #item-list-container #items-container .list-item-container .list-item .list-item-footer.w-trash {
  cursor: pointer;
}
#item-dashboard #item-list-container #items-container .list-item-container .list-item .list-item-footer.w-trash .item {
  width: 20%;
}
#item-dashboard #item-list-container #items-container .list-item-container .list-item .list-item-footer.w-trash .item.trash {
  padding-right: 0;
  padding-left: 0;
}
#item-dashboard #item-list-container #items-container .list-item-container .list-item .list-item-footer.w-trash .item.trash:hover {
  color: #d05151;
  background-color: #d05151;
}
#item-dashboard #item-list-container #items-container .list-item-container .list-item .list-item-footer.w-trash .item.delete-status .header:hover .icon,
#item-dashboard #item-list-container #items-container .list-item-container .list-item .list-item-footer.w-trash .item.delete-status .header:hover span {
  color: #d05151;
}
#item-dashboard #item-list-container #items-container .list-item-container .list-item.cached {
  border: 1px solid #21ba45;
  -webkit-border-top-right-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -webkit-border-top-left-radius: 7px;
  -moz-border-radius-topright: 7px;
  -moz-border-radius-bottomright: 7px;
  -moz-border-radius-bottomleft: 7px;
  -moz-border-radius-topleft: 7px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#item-dashboard #item-list-container #items-container .list-item-container .list-item.cached .list-item-image-container.default-image .icon {
  border-color: #21ba45;
}
#item-dashboard #item-list-container #items-container .list-item-container .list-item.cached .list-item-image-container.default-image .icon:before {
  color: #21ba45;
}
#item-dashboard #item-list-container #items-container .list-item-container .list-item.cached .image {
  min-height: 50px;
}
#item-dashboard #item-list-container #items-container .list-item-container .list-item.cached .image.icon {
  min-height: auto;
}
#item-dashboard #item-list-container #items-container .list-item-container .list-item.cached .image a {
  width: 100%;
  height: auto;
  min-height: 50px;
  position: relative;
  display: block;
}
#item-dashboard #item-list-container #items-container .list-item-container .list-item.cached .image img {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: grayscale(0%);
}
#item-dashboard #item-list-container #items-container .list-item-container .list-item.cached .list-item-footer .item.peers .header .icon,
#item-dashboard #item-list-container #items-container .list-item-container .list-item.cached .list-item-footer .item.peers .header span {
  color: black;
}
#item-dashboard #item-list-container #items-container .list-item-container .list-item.cached .list-item-footer .item.up-votes .header .icon,
#item-dashboard #item-list-container #items-container .list-item-container .list-item.cached .list-item-footer .item.up-votes .header span {
  color: #21ba45;
}
#item-dashboard #item-list-container #items-container .list-item-container .list-item.cached .list-item-footer .item.down-votes .header .icon,
#item-dashboard #item-list-container #items-container .list-item-container .list-item.cached .list-item-footer .item.down-votes .header span {
  color: #d05151;
}
#item-dashboard #item-list-container #items-container .list-item-container .list-item.cached .list-item-footer .item.comment-count .header .icon,
#item-dashboard #item-list-container #items-container .list-item-container .list-item.cached .list-item-footer .item.comment-count .header span {
  color: #2185D0;
}
#item-dashboard #item-list-container #items-container .list-item-container .list-item.deleted {
  border: 1px solid #d05151 !important;
}
#item-dashboard #item-list-container #items-container .list-item-container .list-item.deleted .list-item-image-container.default-image .icon {
  border-color: #d05151;
}
#item-dashboard #item-list-container #items-container .list-item-container .list-item.deleted .list-item-image-container.default-image .icon:before {
  color: #d05151;
}
#item-dashboard #item-list-container #items-container .list-item-container .list-item.deleted .image {
  min-height: 50px;
}
#item-dashboard #item-list-container #items-container .list-item-container .list-item.deleted .image.icon {
  min-height: auto;
}
#item-dashboard #item-list-container #items-container .list-item-container .list-item.deleted .image a {
  width: 100%;
  height: auto;
  min-height: 50px;
  position: relative;
  display: block;
}
#item-dashboard #item-list-container #items-container .list-item-container .list-item.deleted .image img {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: grayscale(0%);
}
#item-dashboard #item-list-container #items-container .list-item-container .list-item:hover .image img {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: grayscale(0%);
}
/* /dashboard */
/* item view */
#item-view #item-redownload-form {
  width: 100%;
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  background: rgba(0, 0, 0, 0.5);
}
#item-view #item-redownload-form .form {
  width: 300px;
  margin: auto;
  text-align: center;
  color: white;
  border: 1px solid white;
  padding: 20px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.5);
}
#item-view #item-redownload-form .form .header {
  color: white;
}
#item-view #item-redownload-form .form .content {
  margin-bottom: 20px;
}
#item-view #item-media-player-container {
  background: #444;
  padding-bottom: 10px;
  position: relative;
}
#item-view #item-media-player-container #archive-view-container {
  padding: 15px;
}
#item-view #item-media-player-container #archive-view-container .archive-display {
  margin: 10px;
  padding: 10px;
  background-color: #fff;
}
#item-view #item-media-player-container #archive-view-container .loading-archive-container {
  margin: 50px auto;
  display: table;
  /* padding-top: 100px; */
  position: relative;
}
#item-view #item-media-player-container #archive-view-container .loading-archive-container i.archive {
  font-size: 100px;
  color: #22ba45;
  top: 0;
  line-height: 1;
}
#item-view #item-media-player-container #archive-view-container .loading-archive-container i.cloud {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 30px;
  margin-left: -19px;
  margin-top: 10px;
  color: white;
}
#item-view #item-media-player-container #archive-view-container ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  column-count: 3;
}
#item-view #item-media-player-container #archive-view-container ul li {
  padding: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}
#item-view #item-media-player-container #archive-view-container ul li:nth-child(odd) {
  background-color: #f3f3f3;
}
#item-view #item-media-player-container #fetching-piecemap-information {
  margin: 0;
  color: white;
  padding: 5px;
  background-color: #e8e8e8c4;
}
#item-view #item-media-player-container #item-downloading-info-container {
  width: 300px;
  padding: 50px 0;
}
#item-view #item-media-player-container #item-downloading-info-container #item-downloading-info .progress {
  margin-bottom: 10px;
}
#item-view #item-media-player-container #item-downloading-info-container #item-downloading-info h2 {
  color: white;
  text-align: center;
}
#item-view #item-media-player-container #item-downloading-info-container #item-downloading-info .label * {
  color: white;
}
#item-view #item-media-player-container #item-downloading-info-container #item-downloading-info .info-msg {
  color: white;
  margin-top: 5px;
  padding-top: 5px;
  border-top: 1px solid #ffffff4a;
}
#item-view #item-media-player-container #item-downloading-info-container #item-downloading-info .button {
  margin: 20px auto 10px auto;
  display: block;
}
#item-view #item-media-player-container #item-file-piece-download-info-container {
  height: 10px;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
#item-view #item-media-player-container #item-file-piece-download-info-container .piece {
  height: 8px;
  float: left;
  overflow: hidden;
  /*&.complete {
            background-color: @green;
          }

          &.downloading {
            background-color: yellow;
          }

          &.failed {
            background-color: @red;
          }*/
}
#item-view #item-media-player-container #item-file-piece-download-info-container .piece .progress {
  height: 8px;
  margin: 0;
}
#item-view #item-media-player-container #item-file-piece-download-info-container .piece .progress .bar {
  width: 100%;
  height: 100%;
  border-radius: 0;
  margin: 0;
  height: 8px;
}
#item-view #item-media-player-container #item-file-piece-download-info-container .piece.downloading .progress .bar {
  background-color: #999;
}
#item-view #item-media-player-container #item-file-piece-download-info-container .piece.downloading .progress .bar:after {
  background-color: yellow;
  opacity: 1;
  border-radius: 0;
}
#item-view #item-media-player-container #item-file-piece-download-info-container .piece.undefined .progress .bar {
  background-color: #e8e8e8 !important;
}
#item-view #item-media-player-container #item-file-piece-download-info-container.non-bfs-loaded {
  background-color: #21BA45;
}
#item-view #item-media-player-container #authorize-redownload-form {
  width: 300px;
  margin: 0 auto;
  padding: 50px 0;
}
#item-view #item-media-player-container #authorize-redownload-form .form {
  width: 100%;
  text-align: center;
  color: white;
  padding: 15px;
  border: 1px solid #888;
  border-radius: 5px;
  background: #888;
}
#item-view #item-media-player-container #authorize-redownload-form .form .header {
  color: white;
}
#item-view #item-view-container {
  padding-top: 1rem;
}
#item-view #item-view-container #item-view-container-left {
  border-right: 1px solid #e8e8e8 !important;
  padding-right: 0;
}
#item-view #item-view-container #item-view-container-left #item-details-container .item-details-row {
  padding: 10px 0;
  padding-right: 15px;
  position: relative;
}
#item-view #item-view-container #item-view-container-left #item-details-container #item-details-top {
  position: relative;
  padding-right: 100px;
  padding-bottom: 0;
  border-bottom: 2px solid #e8e8e8 !important;
  height: 120px;
}
#item-view #item-view-container #item-view-container-left #item-details-container #item-details-top h1 {
  color: #2185D0;
  margin-bottom: 5px;
  word-wrap: break-word;
}
#item-view #item-view-container #item-view-container-left #item-details-container #item-details-top .channel-info-container {
  padding-left: 33px;
  padding-bottom: 10px;
  position: relative;
  height: 38px;
  line-height: 28px;
}
#item-view #item-view-container #item-view-container-left #item-details-container #item-details-top .channel-info-container img {
  width: 28px;
  height: 28px;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('../img/x-avatar.png');
  background-size: contain;
}
#item-view #item-view-container #item-view-container-left #item-details-container #item-details-top .channel-info-container a {
  font-size: 16px;
}
#item-view #item-view-container #item-view-container-left #item-details-container #item-details-top #item-peer-count {
  position: absolute;
  right: 0;
  bottom: -2px;
  font-size: 20px;
  text-align: center;
  width: 115px;
  border-bottom: 2px solid #2185D0;
  padding-bottom: 10px;
}
#item-view #item-view-container #item-view-container-left #item-details-container #item-details-top #item-peer-count .ui.icon {
  margin: 0;
}
#item-view #item-view-container #item-view-container-left #item-details-container #item-details-top #item-peer-count .ui.icon span {
  font-size: 20px;
  display: block;
  float: left;
  width: 100%;
  text-align: center;
}
#item-view #item-view-container #item-view-container-left #item-details-container #item-details-top #item-peer-count .ui.icon span small {
  display: block;
  float: left;
  width: 100%;
  font-size: 12px;
  height: 15px;
  line-height: 15px;
}
#item-view #item-view-container #item-view-container-left #item-details-container #item-details-top #item-peer-count .ui.icon span + span {
  margin-top: 5px;
  height: 28px;
}
#item-view #item-view-container #item-view-container-left #item-details-container #item-details-mid {
  padding-right: 115px;
  padding-top: 30px;
  border-bottom: 1px solid #e8e8e8 !important;
  word-wrap: break-word;
}
#item-view #item-view-container #item-view-container-left #item-details-container #item-details-mid #item-download-link {
  position: absolute;
  bottom: 10px;
  right: 8px;
  display: block;
  width: 120px;
  text-align: center;
  font-size: 13px;
}
#item-view #item-view-container #item-view-container-left #item-details-container #item-details-mid #item-votes-container {
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 8px;
  width: 100px;
  border: 0;
  box-shadow: none;
  padding: 0;
  margin: 0;
}
#item-view #item-view-container #item-view-container-left #item-details-container #item-details-mid #item-votes-container .menu {
  margin: 0;
}
#item-view #item-view-container #item-view-container-left #item-details-container #item-details-mid #item-votes-container .menu#delete-optional-file-menu {
  position: absolute;
  top: 0;
  right: 100%;
}
#item-view #item-view-container #item-view-container-left #item-details-container #item-details-mid #item-votes-container .menu#delete-optional-file-menu .item {
  width: 100%;
}
#item-view #item-view-container #item-view-container-left #item-details-container #item-details-mid #item-votes-container .item {
  margin: 0;
  width: 50%;
}
#item-view #item-view-container #item-view-container-left #item-details-container #item-details-mid #item-votes-container .item span {
  font-size: 12px;
}
#item-view #item-view-container #item-view-container-left #item-details-container #item-details-mid #item-votes-container .item.up-votes span {
  color: #21ba45;
}
#item-view #item-view-container #item-view-container-left #item-details-container #item-details-mid #item-votes-container .item.up-votes span.grey {
  color: #767676;
}
#item-view #item-view-container #item-view-container-left #item-details-container #item-details-mid #item-votes-container .item.down-votes span {
  color: #d05151;
}
#item-view #item-view-container #item-view-container-left #item-details-container #item-details-mid #item-votes-container .item.down-votes span.grey {
  color: #767676;
}
#item-view #item-view-container #item-view-container-left #item-details-container #item-details-mid #item-votes-container .item:hover {
  background: white !important;
}
#item-view #item-view-container #item-view-container-left #item-details-container #item-details-mid .slim {
  width: 50px !important;
}
#item-view #item-view-container #item-view-container-left #item-details-container #item-embed-container {
  padding-bottom: 56px;
}
#item-view #item-view-container #item-view-container-left #item-details-container #item-embed-container #item-embed-code {
  word-break: break-all;
  background-color: #e8e8e8;
}
#item-view #item-view-container #item-view-container-left #item-details-container #item-embed-container .button {
  float: right;
  margin: 10px 0;
}
#item-view #item-view-container #item-view-container-left #item-comments-container {
  padding: 5px 7.5px 5px 0;
  border-top: 2px solid #e8e8e8 !important;
}
/* /item view */
/* comments */
#comments-container #comment-form-container {
  position: relative;
  border: 0;
  box-shadow: none;
  padding: 0;
  margin: 0;
  padding-left: 48px;
  padding-bottom: 56px;
}
#comments-container #comment-form-container .comment-avatar {
  position: absolute;
  left: 0;
  top: 0;
}
#comments-container #comment-form-container .button {
  float: right;
  margin: 0 0 10px 0;
}
/* /comments */
/* item view right */
#item-view-container-right #related-item-list .item {
  position: relative;
}
#item-view-container-right #related-item-list .item .content {
  display: block;
  width: 70%;
  float: left;
}
#item-view-container-right #related-item-list .item .content a {
  word-wrap: break-word;
}
#item-view-container-right #related-item-list .item > .image {
  float: left;
  display: block;
  width: 30%;
  position: relative;
}
#item-view-container-right #related-item-list .item > .image a {
  width: 100%;
  height: auto;
  display: block;
}
#item-view-container-right #related-item-list .item > .image img {
  width: 100%;
  border: 2px solid #e8e8e8 !important;
}
#item-view-container-right #related-item-list .item > .image i.icon {
  display: none;
}
#item-view-container-right #related-item-list .item .list-item-image-container.default-image {
  padding-right: 7px;
  width: 30%;
  float: left;
  height: auto;
}
#item-view-container-right #related-item-list .item .list-item-image-container.default-image a {
  background-color: #181818;
  width: 100%;
  display: block;
  float: left;
}
#item-view-container-right #related-item-list .item .list-item-image-container.default-image a i.icon {
  display: table;
  border: 5px solid white;
  color: white;
  border-radius: 100%;
  margin: 10px;
  position: relative;
  padding: 10px;
  font-size: 40px;
  border: 0;
  width: 100%;
  margin: 0;
  /* padding: 0; */
  /* height: auto; */
  /* display: block; */
  /* float: left; */
  text-align: center;
}
#item-view-container-right #related-item-list .item .list-item-image-container.default-image a i.icon:before {
  /* position: absolute; */
  /* top: 20px; */
  /* left: 10px; */
  display: block;
  /* float: left; */
  /* margin-top: 10px; */
  margin: 10px auto;
}
#item-view-container-right #related-item-list .item .list-item-image-container.default-image a i.icon.film:before {
  top: 19px;
  left: 10px;
  font-size: 37px;
}
#item-view-container-right #related-item-list .item.cached .image img {
  border-color: #21ba45 !important;
}
#item-view-container-right #related-item-list .item.cached .list-item-image-container.default-image .icon {
  border-color: #21ba45;
}
#item-view-container-right #related-item-list .item.cached .list-item-image-container.default-image .icon:before {
  color: #21ba45;
}
#item-view-container-right #related-item-list .item.deleted .image img {
  border-color: #d05151 !important;
}
#item-view-container-right #related-item-list .item.deleted .list-item-image-container.default-image .icon {
  border-color: #d05151;
}
#item-view-container-right #related-item-list .item.deleted .list-item-image-container.default-image .icon:before {
  color: #d05151;
}
#item-view-container-right #related-item-list #show-more-btn {
  display: block;
  width: 100%;
  text-align: center;
  padding: 10px;
  background: #efefef;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
#item-view-container-right #related-item-list #show-more-btn:hover {
  background: #d6d6d6;
}
/* /item view right */
/* media players / viewers */
#book-reader-container {
  padding: 15px 0;
}
#book-reader-container #book-reader .segment {
  margin: 0 auto;
}
#image-viewer {
  padding: 15px;
}
#image-viewer img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
.video-js {
  width: 100%;
  min-height: 485px;
  cursor: pointer;
}
#game-emulators-container {
  padding: 15px 0;
}
#game-emulators-container #atari-emulator-container #javatari #javatari-elements-container #javatari-screen {
  margin: 0 auto 15px auto;
}
#game-emulators-container #atari-emulator-container #javatari #javatari-elements-container #javatari-console-panel {
  margin: 0 auto;
}
#game-emulators-container #dos-emulator {
  width: 100%;
  min-height: 400px;
  text-align: center;
}
#game-emulators-container #dos-emulator #dosbox-section-container {
  margin: 0 auto;
  display: table;
}
#game-emulators-container #dos-emulator #dosbox-section-container #dosbox-section {
  width: 100%;
}
#game-emulators-container #dos-emulator #dosbox-section-container #dosbox-section #dosbox .dosbox-container {
  min-width: 640px;
  min-height: 400px;
}
#game-emulators-container #dos-emulator #dosbox-section-container #dosbox-section #dosbox .dosbox-loader {
  width: 640px;
  height: 400px;
}
#game-emulators-container #dos-emulator #dosbox-section-container #dosbox-section #dosbox canvas {
  padding: 15px;
  background-color: black;
  border-radius: 8px;
}
#game-emulators-container #nes-emulator #nes-emulator-container #emulator .nes-screen {
  margin-bottom: 15px;
}
#game-emulators-container #nes-emulator #nes-emulator-container #emulator .nes-roms {
  display: none !important;
}
#game-emulators-container #nes-emulator #nes-emulator-container #emcontrols {
  display: none;
}
#game-emulators-container #nes-emulator #nes-emulator-container #emcontrols .nes-controls-info-container {
  width: 267px;
  margin-top: 15px;
}
#game-emulators-container #nes-emulator #nes-emulator-container #emcontrols .nes-controls-info-container div {
  width: 100%;
}
#game-emulators-container #nes-emulator #nes-emulator-container #emcontrols .nes-controls-info-container div span {
  text-align: center;
  width: 33%;
  display: inline-block;
}
#game-emulators-container #nes-emulator #nes-emulator-container #emcontrols .nes-controls-info-container div span:first-child {
  text-align: left;
}
#game-emulators-container #nes-emulator #nes-emulator-container #emcontrols .nes-controls-info-container div span:last-child {
  text-align: right;
}
#game-emulators-container #cpc-emulator-container {
  text-align: center;
}
#game-emulators-container #cpc-emulator-container #amstrad-status-container {
  margin: 0;
}
#game-emulators-container #cpc-emulator-container #amstrad-status-container #status {
  line-height: 10px;
  color: white;
}
#game-emulators-container #cpc-emulator-container #control-panel-container {
  margin-top: 0;
}
#game-emulators-container #cpc-emulator-container #control-panel-container .control-panel .item i.icon {
  color: white;
}
/* /media players / viewers */
/* user view */
#user-view {
  padding-left: 84px;
  position: relative;
  padding-top: 77px;
  height: 100%;
}
#user-view #user-sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 70px;
  height: 100%;
  padding-top: 70px;
  z-index: 1;
}
#user-view #user-sidebar #user-channels-sidebar {
  width: 100%;
  padding: 0;
  background: #1b1c1d;
  border-radius: 0;
  height: 100%;
}
#user-view #user-sidebar #user-channels-sidebar .item {
  padding: 10px 5px;
  border-radius: 0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
#user-view #user-sidebar #user-channels-sidebar .item img {
  width: 55px;
  height: 55px;
  border-radius: 100%;
  border: 2px solid white;
  margin: 0 auto;
  background-image: url('../img/x-avatar.png');
  background-size: contain;
  overflow: hidden;
  box-shadow: 0px 1px 11px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
#user-view #user-sidebar #user-channels-sidebar .item .header {
  width: 100%;
  margin-bottom: 0;
  height: 60px;
}
#user-view #user-sidebar #user-channels-sidebar .item .header .icon {
  color: #2185D0;
  font-size: 4rem;
  margin-bottom: 0;
}
#user-view #user-sidebar #user-channels-sidebar .item .header .content {
  color: #2185D0;
  font-size: 16px;
  margin-top: -10px;
}
#user-view #user-sidebar #user-channels-sidebar .item:before {
  height: 2px;
}
#user-view #user-sidebar #user-channels-sidebar .item.active {
  background-color: #2185D0;
}
#user-view #user-sidebar #user-channels-sidebar .item.active .header .icon {
  color: #181818;
}
#user-view #user-section-container {
  padding-bottom: 15px;
  padding-top: 15px;
  padding-right: 15px;
}
#user-view #user-section-container #channel-header-container {
  position: absolute;
  top: 14px;
  left: 0;
  width: 100%;
  padding-left: 84px;
}
#user-view #user-section-container #channel-header-container #channel-header {
  height: 77px;
}
#user-view #user-section-container #channel-header-container #channel-header .menu {
  border-color: #2185D0;
  padding-left: 15px;
  border-width: 0 0 2px 0;
  background-color: #181818;
}
#user-view #user-section-container #channel-header-container #channel-header .menu .item {
  color: #2185D0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
#user-view #user-section-container #channel-header-container #channel-header .menu .item:hover {
  color: #2d92de;
}
#user-view #user-section-container #channel-header-container #channel-header .menu .item:active {
  color: #1e77ba;
}
#user-view #user-section-container #channel-header-container #channel-header .menu .item.active {
  color: #98c4e9;
  border-color: #98c4e9;
}
#user-view #user-section-container #channel-header-container #channel-header #channel-header-left {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-top: 0;
}
#user-view #user-section-container #channel-header-container #channel-header #channel-header-left .menu .item {
  padding: 26px 15px 25px 15px;
  font-size: 24px;
}
#user-view #user-section-container #channel-header-container #channel-header #channel-header-left .menu .item.edit {
  padding: 0;
}
#user-view #user-section-container #channel-header-container #channel-header #channel-header-left .menu .item.edit h4 {
  padding: 0;
}
#user-view #user-section-container #channel-header-container #channel-header #channel-header-left .menu .item.edit h4 i::before {
  color: #2185D0;
}
#user-view #user-section-container #channel-header-container #channel-header #channel-header-right {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-top: 0;
}
#user-view #user-section-container #channel-header-container #channel-header #channel-header-right .right {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 15px;
}
#user-view #user-section-container #channel-header-container #channel-header #channel-header-right .menu {
  height: 77px;
}
#user-view #user-section-container #channel-header-container #channel-header #channel-header-right .menu .right .item {
  padding: 16px;
}
#user-view #user-section-container #channel-header-container #channel-header #channel-header-right .menu .right .item .header {
  margin-bottom: 0;
}
#user-view #user-section-container #channel-header-container #channel-header #channel-header-right .menu .right .item .header .icon {
  color: #2185D0;
  margin-bottom: 0;
}
#user-view #user-section-container #channel-header-container #channel-header #channel-header-right .menu .right .item .header .icon:hover {
  color: #2d92de;
}
#user-view #user-section-container #channel-header-container #channel-header #channel-header-right .menu .right .item .header .icon:active {
  color: #1e77ba;
}
#user-view #user-section-container #channel-header-container #channel-header #channel-header-right .menu .right .item:hover {
  background-color: rgba(225, 225, 225, 0.1);
}
#user-view #user-section-container #channel-header-container #channel-header #channel-header-right .menu .right .item.active {
  background-color: rgba(225, 225, 225, 0.2);
}
#user-view #user-section-container #channel-header-container #channel-header #channel-header-right .menu .right .item.active .header .icon {
  color: #98c4e9;
}
#user-view #user-section-container #user-main-section {
  padding: 0 15px 15px 0;
}
#user-view #user-section-container #channel-dashboard #channel-no-files-container {
  text-align: center;
}
#user-view #user-section-container #channel-dashboard #channel-no-files-container #channel-no-files-message {
  margin: 0 auto;
}
#user-view #user-section-container #channel-dashboard #channel-files #channel-files-table .channel-files-sort-option {
  text-transform: capitalize;
}
#user-view #user-section-container #channel-dashboard #channel-files #channel-files-table .list-item-actions > .menu {
  border: 0;
  box-shadow: none;
  margin-bottom: 0;
  background-color: transparent;
}
#user-view #user-section-container #channel-dashboard #channel-files #channel-files-table .list-item-actions > .menu .right {
  padding: 0;
  border-left: 0;
}
#user-view #user-section-container #channel-dashboard #channel-files #channel-files-table .list-item-actions > .menu .right .item {
  padding: 5px;
  margin: 0;
  color: #2185D0;
}
#user-view #user-section-container #channel-dashboard #channel-files #channel-files-table .list-item-actions > .menu .right .item .icon {
  font-size: 20px;
  margin: 0 0 5px 0;
}
#user-view #user-section-container #channel-dashboard #channel-files #channel-files-table .list-item-actions > .menu .right .item .icon.edit:before {
  margin-left: 4px;
  vertical-align: middle;
}
#user-view #user-section-container #channel-dashboard #channel-dashboard-header {
  padding: 13px;
}
#user-view #user-section-container #channel-dashboard #channel-dashboard-header span {
  margin-right: 5px;
}
#user-view #user-section-container #upload-section #item-list-container #upload-file-list-container {
  padding-bottom: 36px;
}
#user-view #user-section-container #upload-section #item-list-container #upload-file-list-container .button {
  float: right;
}
#user-view #user-section-container #upload-section #item-list-container #upload-files-table .inner-file-anchor-link {
  display: block;
  cursor: pointer;
}
#user-view #user-section-container #upload-section #item-list-container #upload-files-table .list-item-actions > .menu {
  border: 0;
  box-shadow: none;
  margin-bottom: 0;
}
#user-view #user-section-container #upload-section #item-list-container #upload-files-table .list-item-actions > .menu .right {
  padding: 0;
  border-left: 0;
}
#user-view #user-section-container #upload-section #item-list-container #upload-files-table .list-item-actions > .menu .right .item {
  padding: 5px;
  margin: 0;
  color: #2185D0;
}
#user-view #user-section-container #upload-section #item-list-container #upload-files-table .list-item-actions > .menu .right .item .icon {
  font-size: 20px;
  margin: 0 0 5px 0;
}
#user-view #user-section-container #upload-section #item-list-container #upload-files-table .list-item-actions > .menu .right .item .icon.edit:before {
  margin-left: 4px;
  vertical-align: middle;
}
#user-view #user-section-container #upload-section #item-list-container #upload-files-table .file-progress-container {
  margin: 0;
}
#user-view #user-section-container #user-item-edit-section #item-form-container .form-section-content {
  margin-top: 0;
}
#user-view #user-section-container #user-item-edit-section #item-form-container #item-form {
  padding-bottom: 50px;
}
#user-view #user-section-container #user-item-edit-section #item-form-container #item-form .ui.button {
  float: right;
}
#user-view #user-section-container #user-channel-edit-section #channel-form-container .form-view {
  padding-bottom: 50px;
}
#user-view #user-section-container #user-channel-edit-section #channel-form-container .form-view .button {
  float: right;
}
#user-view #user-section-container .item-image img {
  width: 100%;
}
#user-view #user-section-container .channel-image-selection .column {
  padding: 0;
}
#user-view #user-section-container .channel-image-selection .item-image {
  padding: 12px;
  cursor: pointer;
  display: block;
  float: left;
  width: 100%;
}
#user-view #user-section-container .channel-image-selection .item-image img {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  border: 3px solid transparent;
}
#user-view #user-section-container .channel-image-selection .item-image.active img {
  border-color: #2185D0;
}
/* /user view */
/* clusters view */
#cluster-channel-list-container #cluster-channel-list {
  margin-top: 15px;
  margin-bottom: 15px;
}
#cluster-channel-list-container #cluster-channel-list #cluster-view-header {
  float: left;
  width: 100%;
}
#cluster-channel-list-container #cluster-channel-list #cluster-view-header .cluster-link {
  color: white;
  font-size: 12px;
  position: absolute;
  left: 17px;
  bottom: 0;
}
#cluster-channel-list-container #cluster-channel-list #cluster-view-header h2 {
  float: left;
  font-size: 30px;
  margin-bottom: 0;
}
#cluster-channel-list-container #cluster-channel-list #cluster-view-header h2 .item-title-name {
  display: block;
  padding-right: 130px;
  float: left;
  position: relative;
}
#cluster-channel-list-container #cluster-channel-list #cluster-view-header h2 .item-title-name a {
  color: white;
}
#cluster-channel-list-container #cluster-channel-list #cluster-view-header h2 .item-title-name .label {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -13px;
  padding-left: 15px;
  color: #2185D0;
}
#cluster-channel-list-container #cluster-channel-list #cluster-view-header h2 .item-title-name .label:after {
  background-color: #2185D0 !important;
}
#cluster-channel-list-container #cluster-channel-list #cluster-view-header .checkbox-container {
  padding: 6px;
  margin: 0;
}
#cluster-channel-list-container #cluster-channel-list #cluster-view-header .checkbox-container label {
  color: #2185D0 !important;
}
#cluster-channel-list-container #cluster-channel-list #cluster-channels {
  margin-bottom: 30px;
}
#cluster-channel-list-container #cluster-channel-list #cluster-channels #upload-files-table .cluster-channels-sort-option {
  text-transform: capitalize;
}
/* clusters view */
.confirm-delete-file-modal {
  padding: 0 25% !important;
}
.confirm-overwrite-modal {
  padding: 0 15% !important;
}
#faq-rules-modal .content {
  background: white;
  color: #181818;
}
#faq-rules-modal .content img {
  width: 100%;
}
#new-channel-modal #new-channel-form-container .form-view .button {
  float: right;
}
#inner-file-select-form-container .form-view ul {
  column-count: 3;
}
#inner-file-select-form-container .form-view ul li a {
  cursor: pointer;
  display: block;
}
