a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display: block
}

body {
	line-height: 1
}

ol,ul {
	list-style: none
}

blockquote,q {
	quotes: none
}

blockquote:after,blockquote:before,q:after,q:before {
	content: "";
	content: none
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

*,:after,:before {
	box-sizing: border-box
}

body {
	max-width: 1000px;
	margin: 0 auto
}

.desktop_body {
	display: block;
}
.mobile_body {
	display: none;
}

@media screen and (min-width:768px) and (max-width:1200px) {
	body {
		width: 767px
	}
	.desktop_body {
		display: none;
	}
	.mobile_body {
		display: block;
	}
}

@media screen and (min-width:622px) and (max-width:767px) {
	body {
		width: 100%
	}
	.desktop_body {
		display: none;
	}
	.mobile_body {
		display: block;
	}
}

@media screen and (min-width:0px) and (max-width:621px) {
	body {
		width: 100%
	}
	.desktop_body {
		display: none;
	}
	.mobile_body {
		display: block;
	}
}

img {
	max-width: 100%
}

@media screen and (min-width:768px) and (max-width:1200px) {
	img {
		width: 100%
	}
}

a {
	color: #0098db;
	text-decoration: none
}

a:hover {
	color: #000;
	text-decoration: underline
}

.column-heading {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 20px 0;
	margin-bottom: 30px;
	font-family: "Arial","Heiti SC","Microsoft Yahei",simsun,sans-serif;
	font-size: 14px;
	line-height: 0;
	text-align: center;
	text-transform: uppercase
}

.column-heading h3 {
	font-size: 14px;
	color: #888;
	margin: 0;
	padding: 0
}

.column-heading h3,.column-subheading {
	font-family: "Arial","Heiti SC","Microsoft Yahei",simsun,sans-serif;
	letter-spacing: 1px;
	font-weight: 400
}

.column-subheading {
	border-top: 1px dotted #ccc;
	border-bottom: 1px dotted #ccc;
	padding: 15px 0;
	margin-bottom: 15px;
	font-size: 10px;
	line-height: 0;
	text-align: center;
	text-transform: uppercase
}

.column-subheading h4 {
	font-size: 10px;
	font-family: "Arial","Heiti SC","Microsoft Yahei",simsun,sans-serif;
	font-weight: 400px;
	letter-spacing: 1px;
	color: #888;
	margin: 0;
	padding: 0
}

h3 a {
	color: #000;
	-webkit-transition: -webkit-transform .25s ease-in-out;
	transition: transform .25s ease-in-out
}

h3 a:focus,h3 a:hover,h3 a:visited {
	text-decoration: none
}

h3 a:focus {
	color: #000
}

header {
	margin-top: 25px;
	overflow: hidden;
	position: relative;
	border-bottom: 1px solid #ccc;
	padding: 0 15px
}

@media screen and (min-width:768px) and (max-width:1200px) {
	header {
		white-space: nowrap;
		font-size: 0
	}
}

@media screen and (min-width:1201px) {
	header {
		white-space: nowrap;
		font-size: 0;
		padding: 0
	}
}

@media screen and (max-width:621px) {
	header {
		padding: 0 15px;
		text-align: center
	}
}

header .header-meta {
	display: inline-block
}

@media screen and (min-width:1201px) {
	header .header-meta {
		width: 33.33%
	}
}

@media screen and (min-width:768px) and (max-width:1200px) {
	header .header-meta {
		width: 44%
	}
}

@media screen and (max-width:621px) {
	header .header-meta {
		width: 100%;
		height: 100px;
		padding: 0 15px;
		border-bottom: 2px solid #000
	}
}

header .logo-wrap {
	width: 100px;
	display: inline-block;
	margin-right: 15px
}

@media screen and (min-width:1201px) {
	header .logo-wrap {
		padding-bottom: 12px
	}
}

@media screen and (min-width:768px) and (max-width:1200px) {
	header .logo-wrap {
		padding-bottom: 12px
	}
}

@media screen and (max-width:621px) {
	header .logo-wrap {
		margin: 0;
		margin-right: 15px
	}
}

header .logo-wrap img {
	height: 55px
}

header .logo-wrap h1 {
	font-family: Whitney SSm,Helvetica Neue,Helvetica,Arial,sans-serif;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 12px;
	font-weight: 500;
	margin-top: 7px;
	margin-bottom: 15px;
	margin-left: 16px;
	color: #000
}

header figure {
	display: inline-block;
	vertical-align: bottom;
	width: 200px;
	height: 123px;
	background-size: 100%;
	background-position: top;
	background-repeat: no-repeat;
	cursor: pointer;
	margin-left: -10px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

@media screen and (min-width:622px) and (max-width:767px) {
	header figure {
		width: 160px;
		height: auto;
		position: absolute;
		top: 0;
		right: 10px;
		bottom: 0
	}
}

@media screen and (max-width:621px) {
	header figure {
		width: 100px;
		height: 98px;
		position: relative;
		top: 0;
		margin: 0
	}
}

header .dek {
	display: inline-block;
	vertical-align: bottom;
	font-family: "Arial","Heiti SC","Microsoft Yahei",simsun,sans-serif;
	font-size: 16px;
	padding-bottom: 27px;
	font-weight: 400;
}

@media screen and (min-width:1201px) {
	header .dek {
		width: 66.66%;
		padding-left: 0
	}
}

@media screen and (min-width:768px) and (max-width:1200px) {
	header .dek {
		width: 66%
	}

	header .dek,header .dek p {
		font-size: 14px
	}
}

@media screen and (min-width:622px) and (max-width:767px) {
	header .dek {
		width: calc(100% - 170px);
		display: block;
		padding-top: 0;
		font-size: 14px;
		line-height: 1.35em
	}
}

@media screen and (max-width:621px) {
	header .dek {
		width: 100%;
		display: block;
		padding: 30px 15px
	}
}

@media screen and (max-width:621px) {
	header .dek nav {
		margin-top: 10px
	}
}

header .dek nav li {
	display: inline-block;
	position: relative
}

header .dek nav li+li {
	margin-left: .5em
}

header .dek nav li+li:before {
	content: '/';
	width: 0;
	height: 1em;
	display: inline-block;
	vertical-align: middle;
	margin-right: 1.25em;
	color: #ccc;
	font-size: 10px
}

header .dek nav li a {
	font-weight: 600;
	text-transform: uppercase;
	font-size: 15px;
	font-family: "Arial","Heiti SC","Microsoft Yahei",simsun,sans-serif;
}

body,html {
	height: 100%
}

@media screen and (min-width:768px) and (max-width:1200px) {
	body {
		width: 100%;
		max-width: 767px
	}
}

body>.wrapper {
	min-height: 100%;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column
}

section#root {
	-ms-flex: 1;
	flex: 1
}

hr {
	width: 50px;
	margin: 0;
	margin-top: 15px;
	margin-bottom: 15px;
	border-top: 3px solid #000
}

.full {
	width: 100%!important
}

p {
	font-family: "Arial","Heiti SC","Microsoft Yahei",simsun,sans-serif;
	font-size: 15px;
	line-height: 24px;
}

h3 {
	font-family: "Arial","Heiti SC","Microsoft Yahei",simsun,sans-serif;
	font-weight: 600;
	margin-bottom: 10px;
	position: relative
}

.feature-wrapper {
	display: block;
	padding-bottom: 30px;
	padding-top: 30px;
	border-bottom: 1px solid #ccc
}

.feature-wrapper .feature-headline {
	font-size: 42px;
	line-height: 50px;
	-webkit-transition: -webkit-transform .25s ease-in-out;
	transition: transform .25s ease-in-out
}

.feature-wrapper .feature-headline h3 a {
	background-size: 0 4px;
	background-image: linear-gradient(90deg,#f7f7f7 0,#eaeaea 50%,#f7f7f7);
	background-position: bottom;
	background-repeat: no-repeat;
	-webkit-transition: -webkit-background-size .25s ease-in-out;
	transition: background-size .25s ease-in-out;
	background-position: 50% calc(100% - 2px)
}

.feature-wrapper p {
	font-size: 16px
}

.feature-wrapper .feature-meta-wrapper {
	width: 33.33%;
	padding-right: 30px;
	display: inline-block;
	vertical-align: top
}

.feature-wrapper .feature-image-wrapper {
	width: 66.66%;
	display: inline-block;
	-webkit-transition: -webkit-transform .25s ease-in-out;
	transition: transform .25s ease-in-out
}

.feature-wrapper .feature-image-wrapper h3 a {
	background-size: 0 4px;
	background-image: linear-gradient(90deg,#f7f7f7 0,#eaeaea 50%,#f7f7f7);
	background-position: bottom;
	background-repeat: no-repeat;
	-webkit-transition: -webkit-background-size .25s ease-in-out;
	transition: background-size .25s ease-in-out
}

.feature-wrapper .feature-image-wrapper img {
	width: 100%
}

.feature-wrapper.highlight .feature-headline h3 a,.feature-wrapper.highlight .feature-image-wrapper h3 a {
	background-size: 100% 4px;
	text-shadow: -1px -1px 0 #fff,1px -1px 0 #fff,-1px 1px 0 #fff,1px 1px 0 #fff
}

.features-wrapper {
	width: 33.33%;
	display: inline-block;
	vertical-align: top;
	padding-left: 30px;
	border-left: 1px solid #ccc;
	margin-top: 10px
}

.features-wrapper .features-headline {
	border-top: 0;
	padding-top: 10px
}

.features-wrapper .features-card-wrapper {
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: 1px dotted #ccc
}

.features-wrapper .features-card-wrapper:last-of-type {
	border-bottom-width: 0
}

.features-wrapper .features-card-wrapper .features-card-headline {
	font-size: 20px;
	line-height: 24px;
	margin-top: 6px;
	-webkit-transition: -webkit-transform .25s ease-in-out;
	transition: transform .25s ease-in-out
}

.features-wrapper .features-card-wrapper .features-card-headline h3 a {
	background-size: 0 4px;
	background-image: linear-gradient(90deg,#f7f7f7 0,#eaeaea 50%,#f7f7f7);
	background-position: bottom;
	background-repeat: no-repeat;
	-webkit-transition: -webkit-background-size .25s ease-in-out;
	transition: background-size .25s ease-in-out
}

.features-wrapper .features-card-wrapper .features-card-headline h3 {
	margin-bottom: 5px
}

.features-wrapper .features-card-wrapper .features-card-headline h3 a {
	padding-bottom: 0
}

.features-wrapper .features-card-wrapper .features-card-description {
	width: 100%;
	display: inline-block;
	font-size: 13px;
	line-height: 22px
}

.features-wrapper .features-card-wrapper .features-image-wrapper {
	-webkit-transition: -webkit-transform .25s ease-in-out;
	transition: transform .25s ease-in-out
}

.features-wrapper .features-card-wrapper .features-image-wrapper h3 a {
	background-size: 0 4px;
	background-image: linear-gradient(90deg,#f7f7f7 0,#eaeaea 50%,#f7f7f7);
	background-position: bottom;
	background-repeat: no-repeat;
	-webkit-transition: -webkit-background-size .25s ease-in-out;
	transition: background-size .25s ease-in-out
}

.features-wrapper .features-card-wrapper .features-image-wrapper img {
	width: 100%
}

.features-card-wrapper.highlight .features-card-headline h3 a,.features-card-wrapper.highlight .features-image-wrapper h3 a {
	background-size: 100% 4px;
	text-shadow: -1px -1px 0 #fff,1px -1px 0 #fff,-1px 1px 0 #fff,1px 1px 0 #fff;
	background-size: 100% 3px
}

.recent-wrapper {
	margin-top: 10px;
	padding-right: 30px
}

@media screen and (min-width:1201px) {
	.recent-wrapper {
		width: 66.66%;
		display: inline-block;
		vertical-align: top
	}
}

@media screen and (min-width:768px) and (max-width:1200px) {
	.recent-wrapper {
		width: 100%
	}
}

.recent-wrapper .recent-headline {
	border-top: 0;
	padding-top: 10px
}

.recent-wrapper .recent-card-wrapper {
	position: relative;
	padding-bottom: 30px;
	border-bottom: 1px dotted #ccc;
	margin-bottom: 30px
}

.recent-wrapper .recent-card-wrapper:last-of-type {
	border-bottom-width: 0;
	margin-bottom: 0
}

.recent-wrapper .recent-card-headline {
	font-size: 28px;
	line-height: 34px;
	-webkit-transition: -webkit-transform .25s ease-in-out;
	transition: transform .25s ease-in-out
}

.recent-wrapper .recent-card-headline h3 a {
	background-size: 0 4px;
	background-image: linear-gradient(90deg,#f7f7f7 0,#eaeaea 50%,#f7f7f7);
	background-position: bottom;
	background-repeat: no-repeat;
	-webkit-transition: -webkit-background-size .25s ease-in-out;
	transition: background-size .25s ease-in-out;
	padding-bottom: 0;
	background-position: 50% calc(100% - 1px)
}

.recent-wrapper .recent-meta-wrapper {
	width: 72.3%;
	display: inline-block;
	padding-right: 30px;
	vertical-align: top
}

@media screen and (min-width:1201px) {
	.recent-wrapper .recent-meta-wrapper {
		width: 72.3%
	}
}

@media screen and (min-width:768px) and (max-width:1200px) {
	.recent-wrapper .recent-meta-wrapper {
		width: 44%
	}
}

.recent-wrapper .recent-image-wrapper {
	width: 27.5%;
	display: inline-block;
	-webkit-transition: -webkit-transform .25s ease-in-out;
	transition: transform .25s ease-in-out
}

.recent-wrapper .recent-image-wrapper h3 a {
	background-size: 0 4px;
	background-image: linear-gradient(90deg,#f7f7f7 0,#eaeaea 50%,#f7f7f7);
	background-position: bottom;
	background-repeat: no-repeat;
	-webkit-transition: -webkit-background-size .25s ease-in-out;
	transition: background-size .25s ease-in-out
}

@media screen and (min-width:1201px) {
	.recent-wrapper .recent-image-wrapper {
		width: 27.5%
	}
}

@media screen and (min-width:768px) and (max-width:1200px) {
	.recent-wrapper .recent-image-wrapper {
		width: 56%;
		padding-right: 30px
	}
}

.recent-card-wrapper.highlight .recent-card-headline h3 a,.recent-card-wrapper.highlight .recent-image-wrapper h3 a {
	background-size: 100% 4px;
	text-shadow: -1px -1px 0 #fff,1px -1px 0 #fff,-1px 1px 0 #fff,1px 1px 0 #fff;
	background-size: 100% 3px
}

.single-wrapper {
	width: 100%;
	padding: 0 15px;
	margin-top: 30px
}

@media screen and (max-width:621px) {
	.single-wrapper {
		padding: 0 15px
	}
}

.single-wrapper .single-card-wrapper {
	position: relative;
	border-bottom: 1px dotted #ccc;
	padding-bottom: 15px;
	margin-bottom: 15px
}

.single-wrapper .single-card-wrapper:after {
	content: '';
	display: block;
	visibility: hidden;
	clear: both
}

.single-wrapper .single-card-wrapper:last-of-type {
	border-bottom-width: 0;
	margin-bottom: 0
}

.single-wrapper .single-card-wrapper .single-card-headline {
	font-size: 25px;
	line-height: 30px;
	padding-top: 15px;
	-webkit-transition: -webkit-transform .25s ease-in-out;
	transition: transform .25s ease-in-out
}

.single-wrapper .single-card-wrapper .single-card-headline h3 a {
	background-size: 0 4px;
	background-image: linear-gradient(90deg,#f7f7f7 0,#eaeaea 50%,#f7f7f7);
	background-position: bottom;
	background-repeat: no-repeat;
	-webkit-transition: -webkit-background-size .25s ease-in-out;
	transition: background-size .25s ease-in-out;
	padding-bottom: 0;
	background-position: 50% calc(100% - 2px)
}

.single-wrapper .single-card-wrapper .single-card-description {
	padding-top: 7px;
	padding-bottom: 15px
}

.single-wrapper .single-card-wrapper .single-card-description,.single-wrapper .single-card-wrapper .single-card-headline {
	margin-bottom: 0;
	width: 44%;
	float: left;
	padding-right: 30px
}

@media screen and (max-width:621px) {
	.single-wrapper .single-card-wrapper .single-card-description,.single-wrapper .single-card-wrapper .single-card-headline {
		width: 100%;
		float: none
	}
}

.single-wrapper .single-card-wrapper .single-image-wrapper {
	width: 56%;
	float: right;
	-webkit-transition: -webkit-transform .25s ease-in-out;
	transition: transform .25s ease-in-out
}

.single-wrapper .single-card-wrapper .single-image-wrapper h3 a {
	background-size: 0 4px;
	background-image: linear-gradient(90deg,#f7f7f7 0,#eaeaea 50%,#f7f7f7);
	background-position: bottom;
	background-repeat: no-repeat;
	-webkit-transition: -webkit-background-size .25s ease-in-out;
	transition: background-size .25s ease-in-out
}

@media screen and (max-width:621px) {
	.single-wrapper .single-card-wrapper .single-image-wrapper {
		width: 100%;
		float: none;
		margin-bottom: 5px
	}
}

.single-wrapper .single-card-wrapper .single-image-wrapper img {
	width: 100%
}

.single-card-wrapper.highlight .single-card-headline h3 a,.single-card-wrapper.highlight .single-image-wrapper h3 a {
	background-size: 100% 4px;
	text-shadow: -1px -1px 0 #fff,1px -1px 0 #fff,-1px 1px 0 #fff,1px 1px 0 #fff
}

.grow-x-y .highlight-waiting h3 a {
	background-size: 50% 0
}

.grow-x-y .highlight-hover h3 a {
	background-size: 100% 5px
}

.grow-y .highlight-waiting h3 a {
	background-size: 100% 0
}

.grow-y .highlight-hover h3 a {
	background-size: 100% 5px
}

.grow-x .highlight-waiting h3 a {
	background-size: 0 5px
}

.grow-x .highlight-hover h3 a {
	background-size: 100% 5px
}

.grow-x-left .highlight-waiting h3 a {
	background-size: 0 5px;
	background-position: 0 100%
}

.grow-x-left .highlight-hover h3 a {
	background-size: 100% 5px
}

.grow-x-y-grey .highlight-waiting h3 a {
	background-size: 50% 0;
	background-image: linear-gradient(90deg,#e0e2f3 0,#eaeaea)
}

.grow-x-y-grey .highlight-hover h3 a {
	background-size: 100% 5px
}

.jobs-wrapper {
	padding-top: 30px
}

@media screen and (min-width:1201px) {
	.jobs-wrapper {
		font-size: 0;
		white-space: nowrap
	}
}

@media screen and (min-width:768px) and (max-width:1200px) {
	.jobs-wrapper {
		font-size: 0;
		white-space: nowrap
	}
}

@media screen and (min-width:1201px) {
	.jobs-wrapper .jobs-left-wrapper {
		width: 66.66%;
		display: inline-block;
		vertical-align: top;
		white-space: normal;
		padding-right: 30px
	}
}

@media screen and (min-width:768px) and (max-width:1200px) {
	.jobs-wrapper .jobs-left-wrapper {
		width: 66.66%;
		display: inline-block;
		vertical-align: top;
		white-space: normal;
		padding-right: 30px
	}
}

.jobs-wrapper .jobs-intro-wrapper {
	margin-bottom: 30px
}

@media screen and (min-width:1201px) {
	.jobs-wrapper .jobs-intro-wrapper {
		width: 100%;
		display: block;
		white-space: normal
	}
}

@media screen and (min-width:768px) and (max-width:1200px) {
	.jobs-wrapper .jobs-intro-wrapper {
		width: 100%;
		display: block;
		white-space: normal
	}
}

@media screen and (min-width:622px) and (max-width:767px) {
	.jobs-wrapper .jobs-intro-wrapper {
		padding: 0 15px
	}
}

@media screen and (max-width:621px) {
	.jobs-wrapper .jobs-intro-wrapper {
		padding: 0 15px
	}
}

.jobs-wrapper .jobs-intro-wrapper .jobs-intro-headline {
	font-size: 42px;
	line-height: 45px;
	font-style: italic;
	font-weight: 300
}

.jobs-wrapper .jobs-intro-wrapper p {
	margin-bottom: 1em;
	font-size: 20px;
	line-height: 32px;
	font-weight: 300
}

@media screen and (min-width:1201px) {
	.jobs-wrapper .jobs-listings-wrapper {
		width: 100%;
		display: block;
		vertical-align: top;
		white-space: normal
	}
}

@media screen and (min-width:768px) and (max-width:1200px) {
	.jobs-wrapper .jobs-listings-wrapper {
		width: 100%;
		display: block;
		vertical-align: top;
		white-space: normal
	}
}

.jobs-wrapper .jobs-listings-wrapper .jobs-listings-card {
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: 1px dotted #ccc
}

@media screen and (min-width:1201px) {
	.jobs-wrapper .jobs-listings-wrapper .jobs-listings-card {
		font-size: 0;
		white-space: nowrap
	}
}

@media screen and (min-width:768px) and (max-width:1200px) {
	.jobs-wrapper .jobs-listings-wrapper .jobs-listings-card {
		font-size: 0;
		white-space: nowrap
	}
}

@media screen and (min-width:622px) and (max-width:767px) {
	.jobs-wrapper .jobs-listings-wrapper .jobs-listings-card {
		padding: 0 15px 30px
	}
}

@media screen and (max-width:621px) {
	.jobs-wrapper .jobs-listings-wrapper .jobs-listings-card {
		padding: 0 15px 30px
	}
}

.jobs-wrapper .jobs-listings-wrapper .jobs-listings-card:last-of-type {
	border-bottom-width: 0;
	margin-bottom: 0
}

.jobs-wrapper .jobs-listings-wrapper .jobs-card-meta {
	white-space: normal
}

@media screen and (min-width:1201px) {
	.jobs-wrapper .jobs-listings-wrapper .jobs-card-meta:not(:last-of-type) {
		width: 50%;
		display: inline-block;
		vertical-align: top;
		padding-right: 30px
	}
}

@media screen and (min-width:768px) and (max-width:1200px) {
	.jobs-wrapper .jobs-listings-wrapper .jobs-card-meta:not(:last-of-type) {
		width: 50%;
		display: inline-block;
		vertical-align: top;
		padding-right: 30px
	}
}

@media screen and (min-width:622px) and (max-width:767px) {
	.jobs-wrapper .jobs-listings-wrapper .jobs-card-meta:not(:last-of-type) {
		width: 50%;
		display: inline-block;
		vertical-align: top;
		padding-right: 30px
	}
}

.jobs-wrapper .jobs-listings-wrapper .jobs-card-headline {
	font-size: 18px;
	line-height: 31px;
	margin-bottom: 5px;
	font-family: "Arial","Heiti SC","Microsoft Yahei",simsun,sans-serif;
	font-style: italic;
	font-weight: 500
}

.jobs-wrapper .jobs-listings-wrapper .jobs-card-headline h3 a:hover {
	-webkit-transform: translateY(-3px);
	transform: translateY(-3px)
}

.jobs-wrapper .jobs-listings-wrapper .jobs-card-headline a {
	position: relative
}

.jobs-wrapper .jobs-listings-wrapper .jobs-card-headline a:after {
	content: '\BB';
	position: relative;
	left: .25em
}

.jobs-wrapper .jobs-listings-wrapper .jobs-card-description {
	font-size: 15px;
	line-height: 25px;
	white-space: normal
}

.jobs-wrapper .jobs-listings-wrapper .jobs-card-description p {
	margin-bottom: 1em
}

.jobs-wrapper .jobs-listings-wrapper .jobs-card-description a {
	text-decoration: none;
	font-weight: 500;
	letter-spacing: -.5px
}

.jobs-wrapper .jobs-listings-wrapper .jobs-card-skills {
	font-size: 15px;
	line-height: 25px;
	font-family: "Arial","Heiti SC","Microsoft Yahei",simsun,sans-serif;
}

@media screen and (min-width:1201px) {
	.jobs-wrapper .jobs-listings-wrapper .jobs-card-skills {
		width: 50%;
		display: inline-block;
		white-space: normal;
		vertical-align: top;
		padding-left: 30px;
		border-left: 1px dotted #ccc
	}
}

@media screen and (min-width:768px) and (max-width:1200px) {
	.jobs-wrapper .jobs-listings-wrapper .jobs-card-skills {
		width: 50%;
		display: inline-block;
		white-space: normal;
		vertical-align: top;
		padding-left: 30px;
		border-left: 1px dotted #ccc
	}
}

@media screen and (min-width:622px) and (max-width:767px) {
	.jobs-wrapper .jobs-listings-wrapper .jobs-card-skills {
		width: 50%;
		display: inline-block;
		vertical-align: top;
		padding-left: 30px;
		border-left: 1px dotted #ccc
	}
}

.jobs-wrapper .jobs-listings-wrapper .jobs-card-skills ul {
	padding-left: 15px
}

.jobs-wrapper .jobs-listings-wrapper .jobs-card-skills ul li {
	margin-bottom: 7px;
	position: relative
}

.jobs-wrapper .jobs-listings-wrapper .jobs-card-skills ul li:before {
	content: '\2666';
	position: absolute;
	top: 0;
	left: -1.375em;
	font-size: 11px
}

@media screen and (min-width:1201px) {
	.jobs-wrapper .jobs-coverage-wrapper {
		width: 33.33%;
		display: inline-block;
		vertical-align: top;
		white-space: normal;
		border-left: 1px solid #ccc;
		padding-left: 30px;
		font-size: 13px;
		line-height: 22px
	}
}

@media screen and (min-width:768px) and (max-width:1200px) {
	.jobs-wrapper .jobs-coverage-wrapper {
		width: 33.33%;
		display: inline-block;
		vertical-align: top;
		white-space: normal;
		border-left: 1px solid #ccc;
		padding-left: 30px;
		font-size: 13px;
		line-height: 22px
	}
}

.jobs-awards-wrapper .jobs-awards-headline {
	margin-bottom: 20px
}

.jobs-awards-wrapper .awards-card {
	width: 100%;
	padding-bottom: 20px;
	border-bottom: 1px dotted #ccc;
	margin-bottom: 20px
}

@media screen and (min-width:622px) and (max-width:767px) {
	.jobs-awards-wrapper .awards-card {
		padding: 0 15px
	}
}

@media screen and (max-width:621px) {
	.jobs-awards-wrapper .awards-card {
		padding: 0 15px 20px;
		margin-bottom: 20px
	}
}

.jobs-awards-wrapper .awards-card:last-of-type {
	border-bottom: 0;
	margin-bottom: 0
}

.jobs-awards-wrapper .award-prize {
	position: relative;
	margin-bottom: 2px;
	font-size: 12px;
	font-weight: 400;
	font-family: "Arial","Heiti SC","Microsoft Yahei",simsun,sans-serif;
	line-height: 20px;
	text-transform: uppercase
}

.jobs-awards-wrapper .award-prize .award-prize-name {
	color: #000
}

.jobs-awards-wrapper .award-prize .award-prize-institution {
	color: #888
}

.jobs-awards-wrapper .award-article h5 {
	font-size: 15px;
	line-height: 20px
}

@media screen and (min-width:768px) and (max-width:1200px) {
	.fourohfour-wrapper {
		white-space: nowrap;
		font-size: 0
	}
}

.fourohfour-wrapper .fof-ascii-wrapper {
	padding: 30px 0;
	background: #000;
	text-align: center
}

.fourohfour-wrapper .fof-ascii-wrapper pre {
	display: inline-block;
	background: transparent;
	overflow: hidden;
	font-family: "Arial","Heiti SC","Microsoft Yahei",simsun,sans-serif;
	text-align: left;
	font-size: 15px;
	letter-spacing: -1px;
	color: #96e14b
}

@media screen and (min-width:1201px) {
	.fourohfour-wrapper .fof-ascii-wrapper pre {
		font-size: 17px
	}
}

@media screen and (min-width:622px) and (max-width:767px) {
	.fourohfour-wrapper .fof-ascii-wrapper pre {
		font-size: 14px
	}
}

@media screen and (max-width:621px) {
	.fourohfour-wrapper .fof-ascii-wrapper pre {
		font-size: 12px
	}
}

.fourohfour-wrapper .fof-ascii-wrapper .blinker {
	animation: blink 2s linear infinite
}

@keyframes blink {
	0% {
		opacity: 1
	}

	49% {
		opacity: 1
	}

	50% {
		opacity: 0
	}

	to {
		opacity: 0
	}
}

.fourohfour-wrapper .fof-error-wrapper {
	padding: 30px 0;
	margin: 30px 0;
	text-align: center
}

@media screen and (min-width:768px) and (max-width:1200px) {
	.fourohfour-wrapper .fof-error-wrapper {
		white-space: normal
	}
}

.fourohfour-wrapper .fof-error-wrapper .fof-error-headline {
	font-size: 52px;
	line-height: 60px
}

.fourohfour-wrapper .fof-error-wrapper .fof-error-description {
	width: 100%;
	max-width: 566px;
	margin: auto;
	padding: 15px 0
}

.fourohfour-wrapper .fof-error-wrapper .fof-error-description p:first-of-type {
	font-size: 18px;
	line-height: 26px
}

.fade-enter {
	opacity: .01
}

.fade-enter.fade-enter-active {
	opacity: 1;
	transition: opacity .3s ease-in
}

.fade-leave {
	opacity: 1
}

.fade-leave.fade-leave-active {
	opacity: .01;
	transition: opacity .3s ease-in
}

footer {
	position: relative;
	padding-top: 30px;
	border-top: 1px solid #ccc;
	margin-top: 30px;
	line-height: 1.75em
}

@media screen and (min-width:768px) and (max-width:1200px) {
	footer {
		padding: 30px 15px 95px
	}
}

@media screen and (min-width:622px) and (max-width:767px) {
	footer {
		padding: 30px 15px 0
	}
}

@media screen and (max-width:621px) {
	footer {
		padding: 30px 15px 0;
		text-align: center
	}
}

footer.hidden {
	visibility: none
}

footer .footDek {
	display: inline-block;
	padding-bottom: 15px
}

@media screen and (min-width:622px) and (max-width:767px) {
	footer .footDek {
		padding-right: 130px
	}
}

@media screen and (max-width:621px) {
	footer .footDek {
		width: 100%
	}
}

footer .footDek h1,footer .footDek p {
	display: inline-block
}

@media screen and (max-width:621px) {
	footer hr {
		margin: 15px auto
	}
}

footer figure {
	position: absolute;
	right: 15px;
	bottom: 0;
	vertical-align: bottom;
	width: 130px;
	height: 130px;
	margin-left: 10px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 100% 0
}

@media screen and (max-width:621px) {
	footer figure {
		width: 100%;
		position: relative;
		right: auto;
		bottom: auto;
		margin: 0;
		background-position: 100% 0;
		background-size: contain
	}
}

footer h1 {
	font-size: 50px;
	letter-spacing: -6px
}

footer h1:first-letter {
	font-size: 30px
}

footer .footnote-links {
	font-size: 12px;
	font-family: "Arial","Heiti SC","Microsoft Yahei",simsun,sans-serif;
}

footer .footnote-links li {
	display: inline-block;
	margin-right: 1em;
	list-style: none
}

footer .footnote-links li:after {
	content: '';
	width: 0;
	height: 1.5em;
	display: inline-block;
	vertical-align: middle;
	border-right: 1px dotted #ccc;
	margin-left: 1em
}

footer .footnote-links li:last-of-type,footer .footnote-links li:nth-last-of-type(2) {
	margin-right: 0;
	border-right: 0
}

footer .footnote-links li:last-of-type:after,footer .footnote-links li:nth-last-of-type(2):after {
	display: none
}

footer .footnote-links li:last-of-type {
	display: block
}

footer .footnote-links a {
	color: #333
}