body{font-family:Verdana,Arial,Helvetica,'Nimbus Sans L',sans-serif;font-size:1em;background:#fefefe;margin:0;padding:0;line-height:1.5;word-wrap:break-word}
#menu{background:#fefefe;padding:0.3em 2em;font-weight:bold}
#menu span{color:#a9a9a9}
#totalfut{text-align:center;background:#fefefe;padding:2em 0.5em}
.linkbox{margin:0.5em 2em;border:1px solid #f5f5f5;padding:1em;background:#ffffff;border-radius:3px}
a:link{color:#0000ee;text-decoration:none;outline:none;font-weight:bold}a:visited{color:#660099;text-decoration:none}
a:hover{text-decoration:underline}
a:active{color:#be6aff}
.ss:link{color:#be6aff;text-decoration:none;outline:none;font-weight:bold}
.ss:visited{color:#be6aff;text-decoration:none}
.ss:hover{color:#ff4500;text-decoration:none}
.ss:active{color:#808080}
tt{color:#dcdcdc}



