/* search results */
#chron_search_content{max-width:100%;margin:1em 2em 2em;line-height:1.6}
.chron_search_content_title{font-size:1.3rem}
.chron_search_content_title a{color:#0000ee;text-decoration:none}
.chron_search_content_title a:hover{border-bottom:1px solid #333}
.chron_search_result{padding-top:1em;clear:both}
#chron_search_results_count, .chron_search_content_debug{font-size:13px/1.5;font-family:monospace;text-transform:uppercase;color:#999;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing:grayscale}
#chron_search_results_count{padding-top:5px}
.chron_search_content_url, .chron_search_note, .chron_search_related, #chron_search_error, #chron_search_replace{font-size:1em;color:#666;word-wrap:break-word;hyphens:auto;/* padding-top:7px; */}
.chron_search_note tt{color:#333;padding:3px 4px;border-radius:3px;background:#f3f3f3}
.chron_search_content_url a, .chron_search_note a, .chron_search_related a, #chron_search_replace a, #chron_search_replace a:hover{color:#006600;text-decoration:none}
.chron_search_content_url a:hover, .chron_search_note a:hover, .chron_search_related a:hover{color:#666}
#chron_search_replace, .chron_search_related{margin-top:5px}
#chron_search_error{color:#333;margin-top:17px}
.chron_search_content_text{font-size:1.1rem;color:#333;word-wrap:break-word;hyphens:auto;/* margin-top:9px; */}
.chron_search_content_bold{font-weight:900;color:#000000}
.chron_search_content_debug{margin:7px 0 2px 0} /* ? */

/* images */
.chron_search_image{padding:0.6em 1em 0 0;float:left}
.chron_search_img{width:100%;max-width:200px;height:auto;transition:0.5s;border-radius:3px;color:#7900d6}
.chron_search_img:hover{opacity:0.9}
#chron_search_zoom_text{font-size:1em;font-family:monospace;color:#ccc;text-transform:uppercase;letter-spacing:1px;font-weight:600;padding-top:9px}
#chron_search_zoom_text a{color:#ccc;text-decoration:none;border-bottom:1px solid #f7f7f7;padding-bottom:2px}
#chron_search_zoom_text a:hover{border:0}
.chron_search_image_zoom{cursor:pointer}
#chron_search_image_modal{display:none;position:fixed;z-index:1000;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgba(0, 0, 0, 0.9)}
#chron_search_image_modal img{background-color:#fff;background-image:linear-gradient(45deg, #e8e8e8 25%, transparent 25%, transparent 74%, #e8e8e8 75%, #e8e8e8), linear-gradient(45deg,#e8e8e8 25%, transparent 25%, transparent 74%, #e8e8e8 75%, #e8e8e8);background-size:30px 30px;background-position:0 0, 15px 15px}
.chron_search_image_close{position:absolute;top:0;left:0;font:2.3em "PT Sans Regular", monospace;color:#ccc;padding:25px 30px;cursor:pointer}
.chron_search_image_block{margin:0 auto;max-width:900px;padding:73px 30px 30px 30px;box-sizing:border-box;color:#fff}
#chron_search_zoom_img{max-width:100%;height:auto}
#chron_search_zoom_text, .chron_search_zoom_options{padding-top:9px}

/* footer */
#chron_search_foot{margin:51px 0 21px 0;column-span:all}
#chron_search_foot_boxes{font-size:1em;text-transform:uppercase;color:#333;padding:0;margin:0;cursor:pointer} /* ? */
#chron_search_foot_boxes li{display:inline;list-style:none;margin:0;padding:0}
#chron_search_foot_boxes li a{background-color:#f7f7f7;color:#666;padding:10px 17px 11px 17px;border-radius:3px;margin-right:7px;text-decoration:none;text-align:center;transition:0.3s}
#chron_search_foot_boxes li.current{background:#be6aff;color:#ffffff;padding:10px 17px 11px 17px;border-radius:3px;margin-right:7px;text-align:center}
#chron_search_foot_boxes li a:hover{background:#be6aff;color:#ffffff}

/* video */
#chron_search_content video{width:100%;max-width:200px;margin-top:0.5em}
