/*
    This project licenses this file to you under the Unlicense.
    See the LICENSE file in the project root for more information. 
*/

#menu_wrapper {
    float: left;
    height: 63px;
    width: 100%;
    margin-top: 5px;
    font-size: 20px;
    color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    min-width: 800px;
    max-width: 1024px;
    background-color: #000000;
}

#core_logo {
    position: absolute;
    float: left;
    z-index: 1;
    background-image: url("../images/logo.png");
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 139px;
    width: 139px;
}

/* TODO: Rename the "core_menu" class to a new core naming scheme. */

#core_menu {
    float: right;
    margin: 0 0 3em 0;
    padding: 0;
    font-family: "Verdana", Geneva, sans-serif;
    padding-right: 10px;
}

    #core_menu ul {
        list-style: none;
    }

    #core_menu li {
        float: left;
    }

        #core_menu li a {
            color: #FFFFFF; /* Used for main template */
            padding: 8px 15px;
            text-decoration: none;
        }
