.post .body {
  font-size: 15px;
  line-height: 1.4;
  text-align: justify;
}

.post .more {
    padding: 5px 10px;
    margin-top: 15px;
}

.left .trigger {
    padding: 0 10px;
}

.post {
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.right .posts, .right .post-full, .right .pager, .right .footer {
    padding: 0 0 0 15px;
}

body.loaded .left {
    width: 250px;
}
