body{
	position: relative;
	background-color: white;
    background-image: none;
}

body::before {
    background: url("/1diyHbGrjKR65DLVpaLoMYsiwqiQYskKD/img/electronic-circuit-board-2560x1600-wallpaper.jpg") no-repeat center center;
    background-size: cover;
	opacity: .7;
    content: ' ';
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    will-change: transform;
    z-index: -1;
}

.head .logo {
	background-color: #00979c;
}

a {
	color: #00979c;
}

.topic-full {
	border-color: #00979c;
}