/* YOUR CSS HERE */
@font-face {
    font-family: 'hitman'; 
    src: url('hitman.ttf'); 
}

h1 {
    font-family: 'hitman'; 
    color: white;
}

h3 {
    font-family: 'hitman'; 
    color: white;
}

p {
    font-family: 'Verdeba';
    color: white;
}


a:link {
    color: white;
    text-decoration: none;
    padding: 14px 25px;
}


a:visited {
    color: white;
    text-decoration: none;
    padding: 14px 25px;
}


a:hover {
    color: white;
    text-decoration: none;
}

a:active {
    color: white;
    text-decoration: none;
} 
