body {
	background-color: #2e3436;
	color: #babdb6;
	font-family: "Arial", sans-serif;
}

a { color: #e9b96e; }
a { color: #729fcf; }

h1 { line-height: 1.6em; }
h2 { font-size: 1.4em }

.topmenu {
	font-size: 13px;
	background-color: #272c2d;
/*	box-shadow: 0 0 20px rgba(0,0,0,0.3); */
	color: #ccc;
}

.topmenu a { color: #e9b96e; }

.topic-new-link {
	color: #000;
	background-color: #babdb6;
	border: 1px solid transparent;
	border-radius: .2em;
	margin-top: 1em;
}

.topic-title, .topics-title {
	color: #d3d7cf;
	font-weight: 600;
	font-family: "Open Sans", sans-serif;
	font-size: 2em;
	line-height: 1.2;
}

.topic {
	background-color: #272c2d;
/*	box-shadow: 0 0 20px rgba(0,0,0,0.3); */
	margin: 0 0 14px 0;
}

.topic blockquote { border-left-color: #555753; background-color: rgba(255, 255, 255, 0.04); }

h2.title a.title-link  {
	color: #d3d7cf;
	font-weight: 600;
	font-family: "Open Sans", sans-serif;
	font-size: inherit;
}

code {
	background-color: #000;
	border: solid 1px #555;
}

pre code {
	border: solid 1px #555;
	background-color: #000;
	border-bottom: 2px solid #666;
}

input.text, textarea {
	border: 2px solid #888;
	color: #ccc;
	background-color: #333;
}

input.text:focus, textarea:focus {
	border-color: #444;
	background-color: #000;
}

.editor {
	width: auto;
	display: block;
	overflow: hidden;
	resize: none;
	border: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 900;
	position: relative;
	max-height: none !important;
	white-space: pre-wrap !important;
}

.editbg {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	opacity: 0;
	background-color: #333;
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	-ms-transition: opacity 0.5s;
	transition: opacity 0.5s;
	left: 0px;
	top: 0px;
	z-index: 500;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
}

.comment .body blockquote a { color: #8ae234; } 

.comment .body blockquote { border-left: 5px solid #555753; }

.comment {
	background-color: #272c2d;
/*	box-shadow: 0 0 20px rgba(0,0,0,0.3); */
	border-bottom: none;
	margin: 0 0 14px 0;
	border-radius: 1em;
}

.comment blockquote { border-left-color: #555753; background-color: rgba(255, 255, 255, 0.04); }

.icon-topic-chat, .icon-topic-link {
	filter: invert(100%);
}

.topic-sticky .sticky-title,
.feed-follow .text-follow, .feed-follow .text-following {
	color: #babdb6;
	border-radius: 3px;
	font-size: 0.8em;
	padding: 2px 4px;
	background-color: #555753;
	text-transform: lowercase;
}

.feed-follow:hover {
	background-color: #000;
	border: 1px solid #555753;
}

.feed-follow-show {
	border: 1px solid #555753;
}

.icon-feed {
	background-color: #ccc;
}

.icon-feed:after {
	border-top: 2px solid #ccc;
	border-right: 2px solid #ccc;
}

.icon-feed:before{
	border-top: 2px solid #ccc;
	border-right: 2px solid #ccc;
}

.feed-follow:active { border-color: #229A55 }

.button {
	border-radius: .2em;
    border: 1px solid #d4d4d4;
    color: #eeeeec;
    background-image: none;

    display: inline-block;
    text-align: center;
    padding: 6px 12px;
    vertical-align: middle;
    cursor: pointer;
    white-space: nowrap;
    text-decoration: none;
    line-height: 1.4;
    margin-top: 0;
}


.button:hover,
.button:active {
/*    box-shadow: 0 0 1px 1px #729fcf; */
    background-color: #999;
    border-color: white;
    border-bottom: 2px solid #4D4D4C;
}

.button-submit {
	background-color: #204a87;
    color: #eeeeec;
}

.button-submit:hover {
	background-color: #3070c0;
}

.head .logo {
	background-color: #8f5902;
}

.topic-full {
	border-left: 2px solid #9b421b;
}

.bottombar {
	background-color: #000;
}

.button {
	background-color: #555753;
}

.button.save {
	background-color: #204a87;
}

.button.delete {
	background-color: #DB3207;
}
