/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/* MIXINS */
/* /MIXINS */
/* COLORS */
/* /COLORS */
video:focus {
  outline: none;
  outline-style: none;
}
.video-render-mask {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.video-react {
  font-family: inherit;
  overflow: hidden;
}
.video-react .video-react-big-play-button {
  border: 0.06666em solid transparent !important;
  background-color: #ff0000 !important;
}
.video-react .video-react-slider:focus {
  box-shadow: none;
}
.video-react .video-react-control-bar {
  font-size: 6pt;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex !important;
  visibility: visible;
  opacity: 1;
  height: 5em;
  padding-top: 1em;
  padding-right: 1em;
  padding-left: 1em;
  background-color: rgba(0, 0, 0, 0.7);
  background: transparent;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #000000), color-stop(1, transparent));
  background: -ms-linear-gradient(bottom, #000000, transparent);
  background: -moz-linear-gradient(center bottom, #000000 0%, transparent 100%);
  background: -o-linear-gradient(transparent, #000000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='transparent', endColorstr='#000000', GradientType=0);
}
.video-react .video-react-control::before {
  font-size: 2.8em;
  line-height: 1.4;
}
.video-react .video-react-current-time,
.video-react .video-react-duration {
  line-height: 2.7em;
  font-size: 1.5em;
}
.video-react .video-react-current-time {
  padding-right: 0;
}
.video-react .video-react-current-time::after {
  content: "/";
  position: absolute;
  top: 0;
  right: -0.7em;
}
.video-react .video-react-volume-bar.video-react-slider-vertical {
  width: 100%;
  height: 8.5em;
  padding: 1.35em;
  margin-right: 0 !important;
  margin-left: 0 !important;
  background-color: transparent;
}
.video-react .video-react-volume-bar.video-react-slider-vertical .video-react-volume-level {
  width: 0.3em;
  left: 50%;
  margin-left: -0.15em;
  z-index: 10;
}
.video-react .video-react-volume-bar.video-react-slider-vertical .video-react-volume-level::before {
  position: absolute;
  font-size: 1.6em;
}
.video-react .video-react-volume-bar.video-react-slider-vertical .video-react-volume-level::before {
  top: -0.2em;
  left: -0.4em;
}
.video-react .video-react-volume-bar.video-react-slider-vertical::after {
  width: 0.3em;
  left: 50%;
  margin-left: -0.15em;
  height: 100%;
  content: "";
  display: block;
  background-color: rgba(115, 133, 159, 0.5);
  position: absolute;
  top: 0;
}
.video-react .video-react-volume-bar.video-react-slider-horizontal {
  width: 7em;
  height: 4em;
  margin: 0;
  background-color: transparent;
}
.video-react .video-react-volume-bar.video-react-slider-horizontal .video-react-volume-level {
  height: 0.4em;
  top: 1.75em;
  left: 0.5em;
}
.video-react .video-react-volume-bar.video-react-slider-horizontal .video-react-volume-level::before {
  font-size: 1.6em;
  top: -4px;
  right: -0.4em;
}
.video-react .video-react-volume-menu-button-horizontal::before {
  width: 1.5em;
  font-size: 2.6em;
  margin-top: 0.1em;
}
.video-react .video-react-volume-menu-button-vertical:hover .video-react-menu-content {
  height: 12em;
  width: 2.9em;
  bottom: 2.5em;
}
.video-react .video-react-time-divider {
  display: none !important;
}
.video-react .video-react-progress-control.video-react-control {
  position: absolute;
  top: 4px;
  left: 0;
  height: 1em;
  width: 100%;
  padding: 0 1em;
}
.video-react .video-react-progress-control.video-react-control .video-react-mouse-display {
  background-color: transparent !important;
}
.video-react .video-react-progress-control.video-react-control .video-react-mouse-display::after {
  font-size: 0.8em;
}
.video-react .video-react-progress-control.video-react-control .video-react-progress-holder {
  height: 100%;
  padding: 13px 0 0 0;
  background: none;
  margin: 0;
}
.video-react .video-react-progress-control.video-react-control .video-react-progress-holder .video-react-play-progress::before {
  visibility: hidden;
}
.video-react .video-react-progress-control.video-react-control .video-react-progress-holder:hover .video-react-play-progress::before {
  visibility: visible !important;
}
.video-react .video-react-progress-control.video-react-control .video-react-slider-bar,
.video-react .video-react-progress-control.video-react-control .video-react-load-progress {
  top: 50%;
  margin-top: -0.15em;
}
.video-react .video-react-progress-control.video-react-control .video-react-load-progress {
  width: 100% !important;
}
.video-react .video-react-progress-control.video-react-control .video-react-load-progress div {
  background: #eaeaeaba;
}
.video-react .video-react-play-progress.video-react-slider-bar::after {
  display: none !important;
}
.video-react .video-react-fullscreen-control {
  position: absolute;
  right: 1em;
}
.video-react .video-react-play-progress {
  background-color: #ff0000;
}
.video-react .video-react-play-progress::before {
  color: #ff0000;
}
