body {
	display:absolute;
	background-color: grey; 
}
input#message { 
	padding: 5px; 
	width: 50%; 
	height: 34px; 
}
input#send { 
	height: 34px; 
	margin-left: -2px; 
}

div{
	display:inline-block;
	width: auto;
}
li{
	list-style-type:none;
	padding-left:100px;
}


