
/*Yotsuba B-like*/

body {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-image: -moz-linear-gradient(top, rgba(234,241,248,1) 0%, rgba(249,249,249,1) 100%);
	background-image: -webkit-linear-gradient(top, rgba(234,241,248,1) 0%,rgba(249,249,249,1) 100%);
	background-image: linear-gradient(to bottom, rgba(234,241,248,1) 0%,rgba(249,249,249,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaf1f8', endColorstr='#f9f9f9',GradientType=0 );
}

/* TEXT FORMAT */

span.spoiler {
	text-shadow: 0 0 10px rgba(0,0,0,0.8);
}


/* HOME */

#popular-boards {
	border: 1px solid;
}

#popular-boards td,th,tr {
	border: 1px solid;
	padding: 12px;
}

#popular-boards tr:nth-child(even) {
	background-color: #dadfec;
}

div.home-container {
	margin: 20px;
}

span.home-info {
	color: #3F29AE;
}

div.recent-post div.reply.op {
	background-color: rgba(234,241,248,1) ;
}

/* POSTS */

div.reply {
	background-color: #D6DAF0;
	border: 1px solid #B7C5D9;
}

div.reply.blacklisted {
	background-color: #ffefef;
}

div.post_preview {
	background-color: rgb(178, 191, 228) !important;
	border: 1px solid #B7C5D9;
}

div.preview_hover {
	background-color: rgb(178, 191, 228) !important;
}

span.post-subject {
       color: #273B75;
       font-weight: bold;
}


a.post-link {
	color: #000;
}

a.toggle-replies {
	color: #13527a;
}

blockquote.preview {
	background-color: #E2E0E9;
}

/* PAGE */

span.sticky {
	background: #bac1c3;
}

hr.thread-separator {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(126, 158, 186, 0.5), rgba(0, 0, 0, 0));
}

h1.boardinfo {
	color: #304B7B;
	font-family: monospace,sans-serif;
	font-size: 2em;
}

a.reply-link:hover {
	color: #a0acc5;
}

.create {
	background: #a0d6fa;
	background-image: -webkit-linear-gradient(top, #a0d6fa, #e6e6e6);
	background-image: -moz-linear-gradient(top, #a0d6fa, #e6e6e6);
	background-image: -ms-linear-gradient(top, #a0d6fa, #e6e6e6);
	background-image: -o-linear-gradient(top, #a0d6fa, #e6e6e6);
	background-image: linear-gradient(to bottom, #a0d6fa, #e6e6e6);
	font-family: Georgia;
	color: #6b6981;
	font-size: 15px;
	padding: 5px 10px 5px 10px;
	text-decoration: none;
	font-weight: bold;
	margin: 3px;
}

.create:hover {
	background: #3cb0fd;
	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
	text-decoration: none;
}

#quick-reply {
	background-color: rgba(231,233,242,0.95);
}

div#files-container {
	background-color: #ced8ea;
}

input.close {
	border-color:lightsteelblue;
	background-color: lightsteelblue;
}

input.close:hover {
	border-color:aliceblue;
	background-color: aliceblue;
}

/* CATALOG */

div.catalog-thread:hover {
	background-color: #D0DFE6;
}

div.thread-stats {
	color: #2f3853;
}

/* BLACKLIST */

#blacklist_posts tr:nth-child(even), #blacklist_users tr:nth-child(even) {
	background-color: #dadfec;
}
