.center{
  text-align: center;
}
#menu{
	text-align: center;
	padding-bottom: 3em;
}
#menu li{
	display: inline;
	padding: 5px;
}

#menu a {
	text-decoration: none;
	font-size: 2em;
	color: white;
}
#menu a:hover{
	color: red;
}

#mainContent li{
padding-top: 0.5em;
list-style-type: none;

}
label { display: inline-block; width: 85px; text-align: left; }


#postList a{
  color: black;
}

#postList{
  display: inline;
  text-align: left;
}
#postList h2{
}
#postListArea{
  margin-top: 4em;
  border: 1px solid black;
  border-radius: 3px;
  margin-left: 10%;
  margin-right: 10%;
  padding: 1em;
  padding-bottom: 10%;
}
#postListArea img{
  max-width: 100%;
}

.postPreview{
  text-align: left;
  padding-left: 2em;
}

#siteTitle, #postTitle{
  text-align: center;
  font-family: sans-serif;
}
#siteTitle a{
  color: black;
  text-decoration: none;
}
#siteTitle{
  font-size: 2.5em;
}

#mainContent{
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 1%;
  padding-bottom: 10%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 4em;
  border: 2px solid black;
  border-radius: 3px;
  overflow-x: scroll;
}

#mainContent img{
  max-width: 100%;
}

@media only screen and (max-device-width : 640px) {
  #mainContent{
  padding-left: 8%;
  padding-right: 8%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 3em;
  }
}
#postDate{
  margin-bottom: 2em;
}


#navbar{
  list-style-type: none;
  margin: 0;
  padding: 5px;
  text-align: center;
  margin-bottom: 2em;
  background-color: grey;
  margin-left: 15%;
  margin-right: 15%;
  border-radius: 3px;
  background: black;
  color: white;
}

@media only screen and (max-device-width : 640px) {
  #navbar{
    margin-left: 2%;
    margin-right: 2%;
  }
}

.navBarItem{
  display: inline;
  padding-left: 1em;
  padding-right: 1em;

}
.navBarItem a, .navBarItem a:visited{
  text-decoration: none;
  color: white;
  font-family: sans-serif;
  font-size: 125%;
}


html, body { height: 100%; }

#wrapper { min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -100px; }
#bottom, #push { height: 90%;}

#footer {
  padding-top: 20px;
	background-color: black;
	bottom: 0px;
	padding-bottom: 100px;
	box-shadow: 0px 500px 0px 500px black;
  color: white;
  text-align: center;
  margin-top: 5em;
}

.socialLink{
  padding-left: 8px;
  padding-right: 8px;
}

#socialLinks{
  padding-top: 10px;
}

html {
    background-color: #000000;
    color: #00c400;
    border-color: #ffffff;
    font-family: Consolas;
}

#postListArea {
    border-color: #006b19;
    border-width: 4px;
    border-style: double;
}

div.postPreview {
    border-color: #00611a;
}

#postList {
    border-color: #00611a;
    transition: 1;
}

div.postPreview p a {
    color: #00611a;
}

#postList a h2 {
    color: #00ff33;
    font-family: monospace;
}

p strong a {
    color: #005c0b;
    text-decoration: none;
}

#mainContent {
    font-family: monospace;
}
#mainContent p {
	text-indent: 1em;
}

#mainContent h2 {
    color: #00ff3c;
    transition: 1s;
}

a {
    color: #00ffdb;
    text-decoration: none;
}

#footer footer {
    color: #00ff51;
}

#mainContent h2 {
    color: #20c20e;
    transition: 1;
}

div.postPreview:hover {
    border-color: #ffffff;
}


#postList a:hover {
    color: #20c20e;
    transition: 1;
}

#siteTitle:before {
    content: "[ ";
}

#siteTitle:after {
    content: " ]";
}

#siteTitle {
    font-family: monospace;
}

html {
    font-family: monospace;
}

div.postPreview a {
    color: #00ff77 !important;
}

html {
    background-color: #000000 !important;
    color: #22ff00 !important;
    font-family: monospace !important;
}

#siteTitle a {
    color: #22ff00 !important;
    font-family: monospace !important;
}

#mainContent h2 {
    color: #22ff00 !important;
}

#footer footer {
    color: #22ff00 !important;
}

a {
    color: ##00ffdb !important;
    text-decoration: none !important;
    font-family: monospace !important;
}

#mainContent {
    border-color: #22ff00 !important;
    border-style: double !important;
    border-width: 3px !important;
}

div.postPreview a {
    font-family: monospace !important;
}

img {
    border-radius: 15px !important;
}

#siteTitle {
    font-family: monospace !important;
}

#postListArea {
    border-color: #22ff00 !important;
    border-style: double !important;
    border-width: 3px !important;
}

#myIntro{
  font-style: italic;
}
