
html,
body {
  width: 100%;
}
.page-root {
  margin: 0px;
  border: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.151);
  background: url(/1TrackGHdbCFJ9zSUNgzSLZybsQgJZr8j/assets/img/background.png?9a486e4e159c721d68a09a518bfdf958) no-repeat center center fixed;
  background-size: cover;
}
.page-root .page-list {
  margin: 0px 0px 700px 0px;
  border: 0px;
  padding: 5px;
  display: flex;
  flex-direction: column;
}
.page-root .page-list .block-headline {
  margin: 5px;
  border: 0px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  background: rgba(0, 0, 0, 0.5);
}
.page-root .page-list .block-headline .block-headline__title {
  margin: 0px;
  border: 0px;
  padding: 5px;
  display: flex;
  flex-direction: row;
}
.page-root .page-list .block-headline .block-headline__title .block-headline__title-img {
  margin: 0px;
  border: 0px;
  padding: 0px;
  width: 40px;
  height: 40px;
  background: url(/1TrackGHdbCFJ9zSUNgzSLZybsQgJZr8j/assets/img/logo.png?73c8289ede03cb0de15f2e03af7adcf8);
  background-size: 100%;
}
.page-root .page-list .block-headline .block-headline__title .block-headline__title-text {
  margin: auto;
  border: 0px;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #fff;
}
.page-root .page-list .block-headline .block-headline__status {
  margin: 0px;
  border: 0px;
  padding: 0px;
  position: absolute;
  right: 75px;
  display: flex;
  flex-direction: row-reverse;
}
.page-root .page-list .block-headline .block-headline__status .block-headline__status-item {
  margin: 0px 2px;
  border: 1px solid rgba(0, 225, 255, 0.5);
  padding: 6px;
  right: 0px;
  text-align: center;
  background: #00000080;
}
.page-root .page-list .block-headline .block-headline__status .block-headline__status-item .block-headline__status-item-top-text {
  margin: 0px;
  border: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: rgba(0, 255, 102, 0.9);
  font-weight: 600;
}
.page-root .page-list .block-headline .block-headline__status .block-headline__status-item .block-headline__status-item-bottom-text {
  margin: 0px;
  border: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: rgba(239, 255, 0, 0.9);
  font-weight: 600;
}
.page-root .page-list .show-language-popup {
  margin: 0px;
  border: 0px;
  padding: 0px;
}
.page-root .page-list .show-language-popup:hover .block-popup {
  display: block;
}
.page-root .page-list .block-popup {
  margin: 0px;
  border: 0px;
  padding: 9px;
  position: absolute;
  z-index: 50;
  background: rgba(0, 0, 0, 0.7);
  display: none;
}
.page-root .page-list .block-popup .block-popup__title {
  color: #00e1ff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 600;
  padding: 2px;
  cursor: context-menu;
}
.page-root .page-list .block-popup .block-popup__item {
  color: rgba(239, 255, 0, 0.9);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 600;
  padding: 2px;
  cursor: pointer;
}
.page-root .page-list .block-scroll-page {
  margin: 5px;
  border: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  background: rgba(0, 0, 0, 0.7);
}
.page-root .page-list .block-scroll-page .block-scroll-page__item {
  margin: 5px;
  border: 0px;
  padding: 0px;
  border-bottom: 1px solid #46ecd6;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}
.block-fixed {
  margin: 0px;
  border: 0px;
  padding: 0px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 0px;
  height: 0px;
}

.page-video-tile {
  margin: 0px;
  border: 0px;
  padding: 0px;
}
.page-video-tile .block-filter {
  margin: 5px;
  border: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.5);
}
.page-video-tile .block-filter .block-filter__main {
  margin: 0px;
  border: 0px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
}
.page-video-tile .block-filter .block-filter__main .block-filter__search {
  margin: 0px;
  border: 0px;
  padding: 0px;
}
.page-video-tile .block-filter .block-filter__main .block-filter__search input {
  margin: 0px;
  border: 1px;
  padding: 4px 4px 4px 10px;
  width: 150px;
  height: 20px;
}
.page-video-tile .block-filter .block-filter__main .block-filter__date {
  margin: 0px;
  border: 0px;
  padding: 0px;
}
.page-video-tile .block-filter .block-filter__main .block-filter__date input {
  margin: 0px;
  border: 0px;
  padding: 0px;
  width: 110px;
  height: 28px;
  text-align: center;
}
.page-video-tile .block-filter .block-filter__main .block-filter__select {
  margin: 0px;
  border: 0px;
  padding: 0px;
}
.page-video-tile .block-filter .block-filter__main .block-filter__select select {
  margin: 0px;
  border: 1px;
  padding: 4px;
  width: 100px;
  height: 15px;
}
.page-video-tile .block-content {
  margin: 0px;
  border: 0px;
  padding: 0px 5px 0px 5px;
  /*Отступы таблицы*/
  text-align: -webkit-center;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(205px, 1fr));
  /*количество колонок*/
}
.page-video-tile .block-context {
  margin: 5px;
  border: 0px;
  padding: 0px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.5);
  position: relative;
}
.page-video-tile .block-context .block-context__count {
  margin: auto 0px;
  border: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #fff;
}
.page-video-tile .block-context .block-context__add {
  margin: auto 0px;
  border: 0px;
  border-radius: 20px;
  padding: 5px 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: black;
  background: #ffd422;
  cursor: pointer;
}
.page-video-tile .block-context .block-context__time {
  margin: auto 0px;
  border: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #fff;
}

.item-video-tile {
  text-align: initial;
  margin: 5px;
  border: 0px;
  padding: 0px;
  min-width: 200px;
  max-width: 200px;
  height: 300px;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
}
.item-video-tile .block-content__item-img {
  margin: 0px;
  border: 0px;
  padding: 0px;
  width: 200px;
  height: 300px;
}
.item-video-tile .block-content__item-img img {
  width: fit-content;
  height: 100%;
}
.item-video-tile:hover .block-content__item-info {
  display: block;
}
.item-video-tile .block-content__item-info {
  margin: 0px;
  border: 0px;
  padding: 0px 10px;
  display: none;
  background: #000000cc;
  position: absolute;
  width: 180px;
  height: 300px;
  top: 0px;
  left: 0px;
  z-index: 0;
  overflow-y: overlay;
}
.item-video-tile .block-content__item-info .block-content__item-info__title {
  margin: 5px 0px;
  border: 0px;
  padding: 0px;
  color: #ffffff;
  overflow: hidden;
  cursor: pointer;
}
.item-video-tile .block-content__item-info .block-content__item-info__title:nth-child(2n) {
  background: #434607;
}
.item-video-tile .block-content__item-info .block-content__item-info__title:nth-child(1) {
  background: #009e0375;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(238, 255, 0, 0.9);
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(238, 255, 0, 0.9);
}

.layer-video {
  margin: 0px;
  border: 0px;
  padding: 0px;
  left: 84px;
  top: 16px;
  width: 413px;
  height: 264px;
  z-index: 101;
  background: rgba(28, 29, 30, 0.9);
  border-radius: 5px;
}
.layer-video .layer-video__header {
  margin: 0px;
  border: 0px;
  padding: 8px 6px 8px 12px;
  white-space: nowrap;
  overflow: hidden;
  width: calc(100% - 50px);
  cursor: move;
}
.layer-video .layer-video__header .layer-video__header-title {
  margin: 0px;
  border: 0px;
  padding: 0px;
  height: 12px;
  font-weight: 600;
  color: #fff;
}
.layer-video .layer-video__header .layer-video__header-close {
  margin: 3px 0px;
  border: 0px;
  padding: 0px;
  position: absolute;
  right: 13px;
  top: 9px;
  opacity: 0.9;
  cursor: pointer;
  background: url(/1TrackGHdbCFJ9zSUNgzSLZybsQgJZr8j/assets/img/video_icon.png?952991b5ae00168a3a68e85916a35c98) 0 -139px;
  height: 10px;
  width: 10px;
}
.layer-video .layer-video__media {
  margin: 6px 6px;
  border: 0px;
  padding: 0px 0px;
  width: calc(100% - 12px);
  height: calc(100% - 40px);
  background: #000;
}
.layer-video .layer-video__media:hover .layer-video__media__ui__control {
  display: block !important;
}
.layer-video .layer-video__media .layer-video__media__content {
  margin: 0px;
  border: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}
.layer-video .layer-video__media .layer-video__media__content > video {
  margin: 0px;
  border: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}
.layer-video .layer-video__media .layer-video__media__ui {
  margin: 0px;
  border: 0px;
  padding: 0px;
}
.layer-video .layer-video__media .layer-video__media__ui .layer-video__media__ui__background {
  margin: 0px;
  border: 0px;
  padding: 0px;
}
.layer-video .layer-video__media .layer-video__media__ui .layer-video__media__ui__control {
  margin: 0px;
  border: 0px;
  padding: 0px;
  display: none;
}
.layer-video .layer-video__media .layer-video__media__ui .layer-video__media__ui__control progress {
  position: relative;
  bottom: 16px;
  width: 100%;
  height: 6px;
}
.layer-video .layer-video__media .layer-video__media__ui .layer-video__media__ui__control progress:not([value]) {
  background: #f44;
}
.layer-video .layer-video__media .layer-video__media__ui .layer-video__media__ui__control progress[value] {
  background-image: -webkit-linear-gradient(-45deg, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%), -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25)), -webkit-linear-gradient(left, #09c, #f44);
  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}
.layer-video .layer-video__media .layer-video__media__ui .layer-video__media__ui__control .layer-video__media__ui__control__play {
  margin: 0px;
  border: 0px;
  padding: 0px;
}
.layer-video .layer-video__media .layer-video__media__ui .layer-video__media__ui__control .layer-video__media__ui__control__time-line {
  margin: 0px;
  border: 0px;
  padding: 0px;
}
.layer-video .layer-video__media .layer-video__media__ui .layer-video__media__ui__control .layer-video__media__ui__control__sound {
  margin: 0px;
  border: 0px;
  padding: 0px;
}
.layer-video .layer-video__media .layer-video__media__ui .layer-video__media__ui__control .layer-video__media__ui__control__value {
  margin: 0px;
  border: 0px;
  padding: 0px;
}
.layer-video .layer-video__media .layer-video__media__ui .layer-video__media__ui__control .layer-video__media__ui__control__subtitles {
  margin: 0px;
  border: 0px;
  padding: 0px;
}
.layer-video .layer-video__media .layer-video__media__ui .layer-video__media__ui__control .layer-video__media__ui__control__settings {
  margin: 0px;
  border: 0px;
  padding: 0px;
}
.layer-video .layer-video__media .layer-video__media__ui .layer-video__media__ui__context {
  margin: 0px;
  border: 0px;
  padding: 0px;
}

.page-music-list {
  margin: 0px;
  border: 0px;
  padding: 0px;
}
.page-music-list .block-filter {
  margin: 5px;
  border: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.5);
}
.page-music-list .block-filter .block-filter__main {
  margin: 0px;
  border: 0px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
}
.page-music-list .block-filter .block-filter__main .block-filter__search {
  margin: 0px;
  border: 0px;
  padding: 0px;
}
.page-music-list .block-filter .block-filter__main .block-filter__search input {
  margin: 0px;
  border: 1px;
  padding: 4px 4px 4px 10px;
  width: 150px;
  height: 20px;
}
.page-music-list .block-filter .block-filter__main .block-filter__date {
  margin: 0px;
  border: 0px;
  padding: 0px;
}
.page-music-list .block-filter .block-filter__main .block-filter__date input {
  margin: 0px;
  border: 0px;
  padding: 0px;
  width: 110px;
  height: 28px;
  text-align: center;
}
.page-music-list .block-filter .block-filter__main .block-filter__select {
  margin: 0px;
  border: 0px;
  padding: 0px;
}
.page-music-list .block-filter .block-filter__main .block-filter__select select {
  margin: 0px;
  border: 1px;
  padding: 4px;
  width: 100px;
  height: 15px;
}
.page-music-list .block-content {
  margin: 0px;
  border: 0px;
  padding: 0px 5px 0px 5px;
  /*Отступы таблицы*/
  text-align: -webkit-center;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(305px, 1fr));
  /*количество колонок*/
}
.page-music-list .block-context {
  margin: 5px;
  border: 0px;
  padding: 0px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.5);
  position: relative;
}
.page-music-list .block-context .block-context__count {
  margin: auto 0px;
  border: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #fff;
}
.page-music-list .block-context .block-context__add {
  margin: auto 0px;
  border: 0px;
  border-radius: 20px;
  padding: 5px 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: black;
  background: #ffd422;
  cursor: pointer;
}
.page-music-list .block-context .block-context__time {
  margin: auto 0px;
  border: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #fff;
}

.item-music-list {
  text-align: initial;
  margin: 5px;
  border: 0px;
  padding: 0px;
  min-width: 300px;
  max-width: 300px;
  height: 42px;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
}
.item-music-list .block-content__item_player {
  margin: 0px;
  border: 0px;
  padding: 0px;
  width: 300px;
  height: 42px;
  display: flex;
  cursor: pointer;
}
.item-music-list .block-content__item_player .block-content__item_player_play {
  margin: 0px;
  border: 0px;
  padding: 0px;
  height: 40px;
  width: 40px;
  border-radius: 25px;
  box-sizing: content-box;
  color: #f30000;
  cursor: pointer;
  direction: ltr;
  display: block;
  float: left;
  background: #2a5885;
}
.item-music-list .block-content__item_player .block-content__item_player_play .block-content__item_player_btn_icon {
  margin: 8px 14px;
  height: 24px;
  width: 17px;
  background: url(/1TrackGHdbCFJ9zSUNgzSLZybsQgJZr8j/assets/img/video_play_small.png?ca1f07ce2034010e6bd98100e4fa0b54) 0px 0px;
}
.item-music-list .block-content__item_player .block-content__item_player_title_wrap {
  margin: auto 0px auto 15px;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 19px;
}
.item-music-list .block-content__item_player .block-content__item_player_title_wrap .block-content__item_player_title {
  color: #d7e2ec;
  text-align: left;
  text-overflow: ellipsis;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  overflow: hidden;
  white-space: pre;
}
.item-music-list:hover .block-content__item-info {
  display: block;
}
.item-music-list .block-content__item-info {
  margin: 0px 0px 0px 45px;
  border: 0px;
  padding: 0px 10px;
  display: none;
  background: #000000cc;
  position: absolute;
  width: 235px;
  height: 42px;
  top: 0px;
  left: 0px;
  z-index: 0;
  overflow-y: overlay;
}
.item-music-list .block-content__item-info .block-content__item-info__title {
  margin: 5px 0px;
  border: 0px;
  padding: 0px;
  color: #ffffff;
  overflow: hidden;
  cursor: pointer;
}
.item-music-list .block-content__item-info .block-content__item-info__title:nth-child(2n) {
  background: #434607;
}
.item-music-list .block-content__item-info .block-content__item-info__title:nth-child(1) {
  background: #009e0375;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(238, 255, 0, 0.9);
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(238, 255, 0, 0.9);
}

.layer-music {
  margin: 0px;
  border: 2px solid #3f0;
  padding: 0px;
  left: 330px;
  top: 17px;
  width: 330px;
  height: 40px;
  z-index: 101;
  background: rgba(28, 29, 30, 0.9);
  border-radius: 5px;
}
.layer-music audio {
  display: none;
}
.layer-music .block-content__item_player {
  margin: 0px;
  border: 0px;
  padding: 0px;
  width: 310px;
  height: 42px;
  display: flex;
  cursor: move;
}
.layer-music .block-content__item_player .block-content__item_player_prev {
  margin: 0px;
  border: 0px;
  padding: 0px;
  height: 40px;
  width: 40px;
  box-sizing: content-box;
  color: #f30000;
  cursor: pointer;
  direction: ltr;
  display: block;
  float: left;
  background: rgba(28, 29, 30, 0.9);
}
.layer-music .block-content__item_player .block-content__item_player_prev .block-content__item_player_btn_icon {
  margin: 0px 10px 0px 15px;
  height: 11px;
  width: 15px;
  background: url(/1TrackGHdbCFJ9zSUNgzSLZybsQgJZr8j/assets/img/audio_icons.png?e9ae83d846e1b96d5b14c3fac4a44d55) -1px 11px;
}
.layer-music .block-content__item_player .block-content__item_player_play {
  margin: 0px;
  border: 0px;
  padding: 0px;
  height: 40px;
  width: 40px;
  box-sizing: content-box;
  color: #f30000;
  cursor: pointer;
  direction: ltr;
  display: block;
  float: left;
  background: rgba(28, 29, 30, 0.9);
}
.layer-music .block-content__item_player .block-content__item_player_play .block-content__item_player_btn_icon {
  margin: 8px 10px;
  height: 24px;
  width: 24px;
  background: url(/1TrackGHdbCFJ9zSUNgzSLZybsQgJZr8j/assets/img/audio_icons.png?e9ae83d846e1b96d5b14c3fac4a44d55) -96px 0px;
}
.layer-music .block-content__item_player .block-content__item_player_next {
  margin: 0px;
  border: 0px;
  padding: 0px;
  height: 40px;
  width: 40px;
  box-sizing: content-box;
  color: #f30000;
  cursor: pointer;
  direction: ltr;
  display: block;
  float: left;
  background: rgba(28, 29, 30, 0.9);
}
.layer-music .block-content__item_player .block-content__item_player_next .block-content__item_player_btn_icon {
  margin: 0px 15px 0px 10px;
  height: 11px;
  width: 15px;
  background: url(/1TrackGHdbCFJ9zSUNgzSLZybsQgJZr8j/assets/img/audio_icons.png?e9ae83d846e1b96d5b14c3fac4a44d55) -16px 11px;
}
.layer-music .block-content__item_player .block-content__item_player_title_wrap {
  margin: 5px 0px auto 0px;
  position: relative;
  text-overflow: ellipsis;
  min-height: 19px;
  width: 185px;
}
.layer-music .block-content__item_player .block-content__item_player_title_wrap .block-content__item_player_title {
  color: #d7e2ec;
  text-align: left;
  text-overflow: ellipsis;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  overflow: hidden;
  white-space: pre;
}
.layer-music .block-content__item_player .block-content__item_player_title_wrap .block-slider {
  bottom: 0px;
  color: #000000;
  cursor: pointer;
  height: 2px;
  left: 0px;
  padding: 8px 0px 6px 0px;
}
.layer-music .block-content__item_player .block-content__item_player_title_wrap .block-slider .slider_slide-track {
  color: #000000;
  cursor: pointer;
  height: 2px;
  position: relative;
}
.layer-music .block-content__item_player .block-content__item_player_title_wrap .block-slider .slider_slide-track .slider_slide-track_loading_bar {
  background: #18ec07;
  cursor: pointer;
  height: 100%;
}
.layer-music .block-content__item_player .block-content__item_player_title_wrap .block-slider .slider_slide-track .slider_slide-track_back {
  background-color: #d1d6de;
  border-radius: 2px;
  color: #000000;
  cursor: pointer;
  display: block;
  height: 2px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.layer-music .block-content__item_player .block-content__item_player_title_wrap .block-slider .slider_slide-track .slider_slide-track_amount {
  background-color: #5181b8;
  border-radius: 2px;
  bottom: 0px;
  color: #000000;
  cursor: pointer;
  height: 2px;
  position: absolute;
  top: 0px;
}
.layer-music .block-content__item_player .block-content__item_player_title_wrap .block-slider .slider_slide-track .slider_slide-track_handler {
  background-color: #5181b8;
  border-radius: 50%;
  color: #000000;
  cursor: pointer;
  display: block;
  height: 6px;
  line-height: 15.002px;
  opacity: 0;
  position: absolute;
  top: -2px;
  transition-delay: 0s, 0s, 0s, 0s, 0s;
  transition-duration: 0.08s, 0.08s, 0.08s, 0.08s, 0.16s;
  transition-property: top, width, height, margin-left, opacity;
  transition-timing-function: linear, linear, linear, linear, linear;
  width: 6px;
}
.layer-music .block-content__item_player .block-content__item_player_title_wrap .block-slider .slider_slide-track_hint {
  opacity: 0;
  background-color: #dfe7ee;
  border-radius: 4px;
  color: #788da4;
  cursor: pointer;
  font-size: 13px;
  font-weight: 400;
  height: 14px;
  line-height: 14.3px;
  padding: 3px 4px 3px 4px;
  position: absolute;
  top: 0px;
  margin-left: -12px;
  transition-delay: 0.11s, 0s, 0s;
  transition-duration: 0s, 0.06s, 0.11s;
  transition-property: visibility, margin-top, opacity;
  transition-timing-function: ease, linear, linear;
  user-select: none;
  white-space: nowrap;
}
.layer-music .layer-music__header {
  margin: 0px;
  border: 0px;
  padding: 8px 6px 8px 12px;
  white-space: nowrap;
  overflow: hidden;
  width: calc(100% - 50px);
  cursor: move;
}
.layer-music .layer-music__header .layer-music__header-title {
  margin: 0px;
  border: 0px;
  padding: 0px;
  height: 12px;
  font-weight: 600;
  color: #fff;
}
.layer-music .layer-music__header .layer-music__header-close {
  margin: 3px 0px;
  border: 0px;
  padding: 0px;
  position: absolute;
  right: 8px;
  top: 12px;
  opacity: 0.9;
  cursor: pointer;
  background: url(/1TrackGHdbCFJ9zSUNgzSLZybsQgJZr8j/assets/img/video_icon.png?952991b5ae00168a3a68e85916a35c98) 0 -139px;
  height: 10px;
  width: 10px;
}

.page-image-card {
  margin: 0px;
  border: 0px;
  padding: 0px;
}
.page-image-card .block-filter {
  margin: 5px;
  border: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.5);
}
.page-image-card .block-filter .block-filter__main {
  margin: 0px;
  border: 0px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
}
.page-image-card .block-filter .block-filter__main .block-filter__search {
  margin: 0px;
  border: 0px;
  padding: 0px;
}
.page-image-card .block-filter .block-filter__main .block-filter__search input {
  margin: 0px;
  border: 1px;
  padding: 4px 4px 4px 10px;
  width: 150px;
  height: 20px;
}
.page-image-card .block-filter .block-filter__main .block-filter__date {
  margin: 0px;
  border: 0px;
  padding: 0px;
}
.page-image-card .block-filter .block-filter__main .block-filter__date input {
  margin: 0px;
  border: 0px;
  padding: 0px;
  width: 110px;
  height: 28px;
  text-align: center;
}
.page-image-card .block-filter .block-filter__main .block-filter__select {
  margin: 0px;
  border: 0px;
  padding: 0px;
}
.page-image-card .block-filter .block-filter__main .block-filter__select select {
  margin: 0px;
  border: 1px;
  padding: 4px;
  width: 100px;
  height: 15px;
}
.page-image-card .block-content {
  margin: 0px;
  border: 0px;
  padding: 0px 5px 0px 5px;
  /*Отступы таблицы*/
  text-align: -webkit-center;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(305px, 1fr));
  /*количество колонок*/
}
.page-image-card .block-context {
  margin: 5px;
  border: 0px;
  padding: 0px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.5);
  position: relative;
}
.page-image-card .block-context .block-context__count {
  margin: auto 0px;
  border: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #fff;
}
.page-image-card .block-context .block-context__add {
  margin: auto 0px;
  border: 0px;
  border-radius: 20px;
  padding: 5px 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: black;
  background: #ffd422;
  cursor: pointer;
}
.page-image-card .block-context .block-context__time {
  margin: auto 0px;
  border: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #fff;
}

.item-image-card {
  text-align: initial;
  margin: 5px;
  border: 0px;
  padding: 0px;
  min-width: 300px;
  max-width: 300px;
  height: 180px;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
}
.item-image-card .block-content__item-img {
  margin: 0px;
  border: 0px;
  padding: 0px;
  width: 300px;
  height: 180px;
}
.item-image-card .block-content__item-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.item-image-card:hover .block-content__item-info {
  display: block;
}
.item-image-card .block-content__item-info {
  margin: 0px;
  border: 0px;
  padding: 0px 10px;
  display: none;
  background: #000000cc;
  position: absolute;
  width: 280px;
  height: 180px;
  top: 0px;
  left: 0px;
  z-index: 0;
  overflow-y: overlay;
}
.item-image-card .block-content__item-info .block-content__item-info__title {
  margin: 5px 0px;
  border: 0px;
  padding: 0px;
  color: #ffffff;
  overflow: hidden;
  cursor: pointer;
}
.item-image-card .block-content__item-info .block-content__item-info__title:nth-child(2n) {
  background: #434607;
}
.item-image-card .block-content__item-info .block-content__item-info__title:nth-child(1) {
  background: #009e0375;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(238, 255, 0, 0.9);
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(238, 255, 0, 0.9);
}
