@font-face {
     font-family: Thonburi-Bold;
     src: url('c/Alice-Regular.ttf'); 
}

body, html 
    { 
    	background-color: #000000;
    	font-family: verdana; 
    	border: 0; margin: 0px; 
    	padding: 0px; 
    	color: #9A9A9A; 
    	font-size: 12pt; 
    	}


    	
    	
A:link {color: #1FDAB2;  text-decoration:none; border-bottom: none;  }
A:visited {color: #FBFDFF; font-size: 1em; font-weight: bold; }
A:active {color: #FBFDFF; font-size: 1em; font-weight: bold; }
A:hover {color: #FFFFFF;   
	
	}

A.m { font-size: 1em; font-weight: bold; padding-right:40px;  }

A:hover {	
	-webkit-transition: 100ms linear 0s;
	-moz-transition: 100ms linear 0s;
	-o-transition: 100ms linear 0s;
	transition: 100ms linear 0s; text-shadow: -1px 1px 8px #ffc, 1px -1px 8px #fff;    }
	
	p {
    text-indent: 20px;
}

div.ma {
       background-image: url("images/msb2.jpg"); width:1000px; min-height:300px;
	   font-family: Microsoft YaHei; 
	   font-size:12pt
 }

div.mm {
	position: relative; left:0px; background-image: url("images/m.png");
	height: 20px;
	padding: 13px;
	width:980;
	font-family: Microsoft YaHei; 
 }
 
 div.rm {
 	float:right; width:320px; padding-top:10px; 
 	height:149;
 	
  }  
  
  div.footer1 {
  	align:center; font-size:10pt;
  	height:40px;
		padding: 5px;  	
  }
  div.footer {
  	background-image: url("images/footer.png");
	background-position: center;
	background-repeat: no-repeat;
  	align:center; font-size:10pt;
  	height:40px;
		padding: 5px;  	
  }
  
input[type="submit"]  
/* Or better yet try giving an ID or class if possible*/
{
 border: 5;
 background: none;
 cursor:pointer;
 border-radius: 3px;
}  
#pop:hover
{
    outline:none;
    border: 1px solid #4195fc; 
    box-shadow: 0px 0px 5px #4195fc; 
    -moz-box-shadow: 0px 0px 5px #4195fc;
    -webkit-box-shadow: 0px 0px 5px #4195fc;  
}
input, textarea, select { 
    padding: 3px; 
    border: solid 1px #832309;  margin:3px;
    outline: 0; 
    font: Verdana; 
    background: #320F03 url('images/bgf.png') left top repeat-x; 
    color: #FFFFFF;
    } 
   
h1 {  color: #FFFFFF; }


textarea { 
    line-height: 150%; 
    } 

div.fo {
	width:180px; float:left;
  }
  
  font.r {
  	color: #D72907;
  }
  
.e    { 
      	color: #FF0000; 
    	font-size: 12pt; 
    	}
    	
.ok    { 
      	color: #00FF00; 
    	font-size: 12pt; 
    	}
    	
.but {

  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  color: #ffffff;
  padding: 7px 20px 7px 20px;
  text-decoration: none;
}

.but:hover {
  background: #b37217;
  background-image: -webkit-linear-gradient(top, #b37217, #b8791a);
  background-image: -moz-linear-gradient(top, #b37217, #b8791a);
  background-image: -ms-linear-gradient(top, #b37217, #b8791a);
  background-image: -o-linear-gradient(top, #b37217, #b8791a);
  background-image: linear-gradient(to bottom, #b37217, #b8791a);
  text-decoration: none;
}
