@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url("./opensans/300.ttf") format('ttf');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url("./opensans/400.ttf") format('ttf');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url("./opensans/600.ttf") format('ttf');
}

/*@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url("../opensans/700.ttf") format('ttf');
}*/

/*@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: url("../opensans/800.ttf") format('ttf');
}*/

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: url("./opensans/300i.ttf") format('ttf');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url("./opensans/400i.ttf") format('ttf');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: url("./opensans/600i.ttf") format('ttf');
}

/*@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: url("../opensans/700i.ttf") format('ttf');
}*/
/*
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: url("../opensans/800i.ttf") format('ttf');
}*/

body {
  background: #FFF;
  color: #424753;
  padding: 0;
  margin: 0;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

A {
  color: #57A0B0;
  text-decoration: none;
}

A:hover {
  color: #57A0B0;
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0px;
  margin-top: 0px;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 72px;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 64px;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 48px;
}

h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 36px;
}

h5 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 24px;
}

h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 26px;
}

#welcome {
  background-color: #5C7F92;
  background-image: url("./img/back-full.jpg");
  color: #eceeef;
  text-align: center;
  padding: 25vh 0;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

#welcome h1 {
/*   line-height: 25%; */
/*   font-size: 10vmin; */
  line-height: 10vh;
  font-size: 9vh;
}

#welcome h5 {
  line-height: 6.5vh;
  font-size: 3.5vh;
}

.box1 {
  border: 1px solid #57a0b0;
  margin-left: -8px;
/*   margin: 10px; */
  padding: 10px;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.15);
}

.box2 {
  border: 0;
  margin: 10px;
  padding: 10px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  background-color: #57a0b0;
  color: white;
}

.wrp{
  width: 100%;
  text-align: justify;
  height:60px;
  background:#EFEFEF;
/*   float: center; */
  margin: 0;
}

.hor {
  display: inline-block;
  float: left;
  line-height: 120px;
/*   width: 300px; */
/*   margin-right: 10px; */
  text-align: center; 
  
  border: 1px solid #57a0b0;
  padding: 10px;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.15);
}

.tbl {
  table-layout: fixed;
}
.tbl .imgrow td {
  background-size: cover; 
  height: 25vw;
}

.textrow td {
  text-align: center;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 0;
}

.txcell h5 {
  font-size: 2.5vmax;
}

#col1 {
  background-image: url("./img/1.png");
}
#col2 {
  background-image: url("./img/2.png");
}
#col3 {
  background-image: url("./img/3.png");
}

#toprow {
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.25);
  background-color: #F4F5F7;
  z-index: 1;
  position: relative;
}

#features {
  z-index: 0;
  position: relative;
}

.ftrtable {
  table-layout: fixed; 
}

#lefts {
  background-image: url("./img/emptypag.jpg");
  background-size: cover;
}

#slid {
display:inline-block;
  margin-top: 11.5%;
  margin-left: 25%;
  margin-bottom: 20%;
  width: 30%; 
  height: 22vw;
  background-size: cover;
/*  width: 100px;
  padding-bottom: 500px;*/
  mix-blend-mode: multiply;

  
}

#slid > img {
    max-width: 100%;
    max-height: 100%;
}

#mslidcont {
position: relative;
  background-image: url("./img/emptypag.jpg");
  background-position: center;
  background-size: cover;
  margin: 0;
  padding: 0;
  padding-top: 13vw;
  padding-left: 21.5vw;
  height: 70vw;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.25);
}

#slid2 {
  display:inline-block;
  margin: 0;
  width: 33vw; 
  height: 50vw;
  background-size: cover;
/*  width: 100px;
  padding-bottom: 500px;*/
  mix-blend-mode: multiply;

  
}

#slid2 > img {
    max-width: 100%;
    max-height: 100%;

}

#featext {
  background-image: url("./img/right.png");
  background-size: cover;
  padding-left: 5%;
  margin-right: 0;
  padding-right: 0;
  font-size: 1.7vw;
  line-height: 3vw;
  font-weight: 300;
}

#featextmob {
  background-image: url("./img/right.png");
  background-size: cover;
  padding: 3vw 17vw;
  font-size: 3vw;
  line-height: 6vw;
  font-weight: 300;
}

.ftr {
  margin-right: 15px;
}

@media screen and (min-width: 0px) and (max-width: 720px) {
  #features { display: none; }
  #trynow { display: none; }
  #aimg { display: none; }
  #aclrig {width: 100%;}
  
}

@media screen and (min-width: 720px) {
  #featuresmobile { display: none; }
  #mobilewarning { display: none; }
  #trynowmobile { display: none; }
  #aimg {display: inline-block;}
  #aclrig {width: 70%;}
}

#ourapp {
  color: #eceeef;
  background-color: #326771;
  padding: 3vw;
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.35);
  z-index: 2;
  position: relative;
}

#ourapp h4{
  font-size: 36px;
}

#ourapp img {
  max-width: 95vw;
}

#download {
  position: relative;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 0px;
}

#download a{
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 0px;
}

#turtle {
  padding: 20px 0;
}

#mobilewarning {
  margin: 0 5px;
  font-size: 22px;
}

#trynow {
  position: relative;
  z-index: 7;
  padding: 25px 0;
  vertical-align: middle;
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.25);
  background-color: #fcfcfc;
  text-align: center;
}

#trytext {
  padding-left: 20px;
}

#trynowmobile {
  position: relative;
  z-index: 7;
  padding: 25px 10px;
  vertical-align: middle;
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.25);
  background-color: #fcfcfc;
  text-align: center;
}


#trytextm {
  vertical-align: top;
  padding: 25px 0;
}

#trygifm {
  padding: 0;
  margin: 0;
}

#trygifm img {
    max-width: 100%;
    max-height: 100%;
}

#footer {
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1;
  color: #eceeef;
  background-color: #57A0B0;
  padding: 25px;
}

#footer a{
  color: #eceeef;
}

#article {
  font-size: 18px;
  padding: 2% 10%;
  line-height: 1.75em;
}

#aimg{
  text-align: right;
  margin: 0;
  padding: 0;
  vertical-align: top;
/*   display: inline-block; */
  width: 29%;
}

#aclrig {
/*   width: 70%; */
  display: inline-block;
}

.ulbutton {
    display:inline-block;
    vertical-align: middle;
    float: left;
    padding: 20px 10px;
    margin: 0;
    width: 180px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    display: table;
    }
  
.ulbutton p {
    margin: 0;
    position: relative;
    transition: all ease 1s;
    color: #57a0b0;
}

.ulshadow {
    margin: 0;
    line-height: 550%;
    position: absolute;
    top: 0;
    left: 0;
    height: 0px;
    width: 100%;
    background: #57a0b0;
    overflow:hidden;
    transition: ease 0.2s;
    
}

.ulshadow span {
    opacity:0;
    transition: ease 0.2s;
}

.ulbutton:hover .ulshadow {
    height: 100%;
}

.ulbutton:hover p {
    opacity: 0;
}

.ulbutton:hover .ulshadow span {
    opacity: 1;
}


