
/* BASE CSS */

html {
	height: 100%;
}

body {
	counter-reset: posts;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

.shrink-enter-active {
	transition: all .4s;
	transform: scale(1.0);
	-webkit-transform: scale(1.0);
        -ms-transform: scale(1.0);
}

.shrink-leave-active  {
	transition: all .2s;
	transform: scale(0.9);
	-webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
}

.shrink-enter {
	transform: scale(0.0);
	-webkit-transform: scale(0.0);
        -ms-transform: scale(0.0);
}

.shrink-leave-to {
	animation-delay: 2s;
	-webkit-animation-delay: 2s;
}

ul {
	list-style-position: inside;
}

li {
	position: relative;
}

span.min-content {
	width: -moz-min-content;
	width: min-content;
	width: -webkit-min-content;
}

div.files-container {
	float: left;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

span.div-file {
	float: left;
	margin: 10px;
	position: relative;
	z-index: 7;
}

span.div-file img {
	float: left;
	margin: 5px 10px 10px 5px;
}

.application {
	line-height: 1.3 !important;
}

div.v-input__icon--append, i.v-alert__icon {
	display: none !important;
}

div.overlay-mask {
	position: fixed;
	display: table;
	text-align: center;
	background-color: rgba(0,0,0,0.5);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99;
}

div.overlay-content {
	display: table-cell;
	vertical-align: middle;
	align-content: center;
	font-size: 22px;
	font-family: monospace,sans-serif;
}

footer {
	font-size: 11px;
	font-family: monospace,sans-serif;
	text-align: center;
	padding: 50px;
}

a, video {
	outline: none;
}

a.action {
	background: none;
	border: none;
	padding: 0;
	text-decoration: none;
}

a.action:hover {
	font-weight: bold;
}

button.blacklist:hover {
	text-shadow: 1px 1px red;
}

.create:hover {
	cursor: pointer;
}

button#user-menu {
	position: absolute;
	top: 0px;
	left: 5px;
	font-size: 11px;
}

button#faq {
	position: absolute;
	top: 0px;
	left: 100px;
	font-size: 11px;
}

h4.faq-question {
	font-size: 14px;
	font-weight: bold;
	color: black;
}

hr.question-hr {
	margin: 10px 0px;
}

span.faq-answer {
	font-size: 12px;
	color: grey;
}

#menu-content {
	background-color: #FFF;
	max-width: 500px;
	margin: 0 auto;
	padding: 30px;
	max-height: 90vh;
	overflow-y: auto;
}

/* TEXT FORMAT */

span.spoiler {
	transition: all .2s;
	color: transparent;
}


span.implying span.spoiler {
	text-shadow: 0 0 10px rgba(120,153,34,0.9);
}

span.spoiler:hover {
	transition: all .2s;
	color: inherit;
}

span.heading {
	font-size: 13pt;
	color: #FF4066;
	font-weight: bold;
}

span.heading:hover {
	color: #FF4066 !important;
}

span.implying {
	color: #789922;
}

span.strike {
	text-decoration: line-through;
}

span.snippet {
	background-color: #f5f5f5;
	border-radius: 2px;
	padding: 1px 4px;
	color: #444;
	border: 1px solid #ccc;
	font-size: 11px;
}


/* HOME */

#popular-boards {
	margin: 10px;
}

div.home-container {
	margin: 50px 0;
}

span.home-info {
	font-weight: bold;
	font-family: monospace,sans-serif;
	font-size: 18px;
}

span.recent-time {
	font-size: 12px;
	margin-left: 10px;
}

button.recent-button {
	margin: 5px;
	font-size: 10px;
	background: #CCC;
}

input.numberInput {
	width: 4em;
	background-color: #FCFCFC;
}


/* POSTS */

div.posts_wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

div.reply {
	border-left: none;
	border-top: none;
	padding: 5px;
	margin: 4px;
	max-width: 100%;
}

div.reply.op {
	border: none;
	box-shadow: none;
}

div.post_preview {
	z-index: 17;
	position: fixed;
	background-color: white !important;
	border: 1px solid #383838;
	text-align: left;
	display: inline-block;
	word-break: break-word;
}

input.subject-edit {
	margin-right: 5px;
	padding: 2px 5px;
	border: 1px solid #adadad;
	border-radius: 3px;
}

a.cite:hover {
	position: relative;
	z-index: 20;
	transition: all .3s;
	opacity: .10;
	color: inherit !important;
}

a.selectedUser {
	font-size: 15px;
}

span.post-name {
	color: #117743;
	font-weight: bold;
}

textarea {
	resize: both;
	min-width: 270px;
	min-height: 140px;
	border-radius: 3px;
	border: 1px solid #adadad;
	padding: 5px;
}

blockquote.reply-preview {
	max-width: 500px;
	max-height: 50vh;
	min-height: 140px;
	word-wrap: break-word;
	overflow-y: auto;
	overflow-x: hidden;
}

div.file-info {
	font-size: 12px;
	word-break: break-all !important;
}

div.file-data {
	word-break:keep-all !important;
}

div.file-data::before {
	content: "(";
}

div.file-data::after {
	content: " )";
}


div.file-width {
	max-width: 200px;
}

div.post-info {
	padding: 2px;
}

div.catalog-thread blockquote.post-message {
	width: 200px;
}


div.post-body {
	margin-top: 0.8em;
}

div.files-container + div.post-body {
	margin-top: 3.1em;
}

div.post-body blockquote {
	margin: 5px;
}

div.post-files img {
  	margin: 3px;
	max-width: 200px;
}

img.full_image {
	max-width: 99% !important;
}

div.post-files span {
	margin: 5px;
	display: inline-block;
}

div.inthread span.mod_tools::before {
	counter-increment: posts;
	content:  "#" counter(posts);
	margin-left: 0.1em;
	margin-right: 0.4em;
	color: #789922;
}

a.post-link {
	text-decoration: none;
}

a.toggle-replies {
	font-size: 14px;
	cursor: pointer;
	padding-left: 10px;
}

blockquote.post-message {
	position: relative;
	word-wrap: break-word;
}

span.mod_tools button {
	color: #9B9BBD;
	font-size: 15px;
	text-decoration: none;
	font-weight: bold;
	margin: -2px;
}

img[lazy=loading] {
	border-top: 16px solid aliceblue !important;
	border-bottom: 16px solid aliceblue !important;
	border-left: 16px solid #7d73b0 !important;
	border-right: 16px solid #7d73b0 !important;
	border-radius: 50% !important;
	width: 100px;
	height: 100px;
	animation: spin 2s linear infinite;
	margin: 30px;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

img[lazy=error] {
	border-color: #a8a8a8;
	border-radius: 100%;
	background: -webkit-linear-gradient(-45deg, transparent 0%, transparent 46%, white 46%, white 56%,transparent 56%, transparent 100%), -webkit-linear-gradient(45deg, transparent 0%, transparent 46%, white 46%, white 56%,transparent 56%, transparent 100%);
	background-color: #a8a8a8;
	box-shadow: 0px 0px 4px 4px rgba(0,0,0,0.5);
	opacity: 0.7;
	width: 120px;
	height: 120px;
	margin: 30px;
}

div.post-replies {
	font-size: 11px;
	margin-top: 10px;
	clear: both;
}

div.post-replies a {
	margin-left: 2px;
	margin-right: 2px;
}

a.file-expand {
	font-size: 12px;
}

textarea.edit-body {
	width: 400px;
	height: 100px;
}

div.edited {
    font-size: 10px;
    font-family: monospace,sans-serif;
    margin: 10px 0px;
}

span.post-capcode {
	color: #f51f17;
	font-weight: bold;
}

pre {
	padding: 7px;
	border-radius: 3px;
	display: inline-block !important;
	max-height: 400px;
	max-width: 100%;
	margin: 1em 0px;
	overflow-x: auto !important;
}

.seed {
	cursor: pointer;
	background: none;
	color: green;
	border: none;
	padding: 0;
	font: inherit;
	font-weight: bold;
	font-size: 14px;
	word-break: keep-all;
}

img.playable {
	border: dashed 0.1em;
}

input#post_files {
  color: rgba(255, 255, 255, 1);
  padding:14px;
  background-color:rgba(40, 53, 147, 1);
  cursor:pointer;
  border-radius:2px;
  border: dashed 3px rgba(10, 3, 147, 0.5);
  box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.2);
}

.carousel {
	max-width: 1280px;
	max-height: 720px;
}

/* PAGE */

h1.boardinfo {
	font-family: monospace,sans-serif;
	font-size: 17pt;
	max-width: 450px;
}

span.sticky {
	font-size:14px;
	font-style:italic;
	padding: 3px;
	border-radius: 4px;
}

div.nav-page button {
	float:left;
}

div.nav-page button.active {
	background:#CCC;
}

div#bottom-links, div#top-links {
	clear: left;
	padding: 10px;
}

div#bottom-links a {
	margin: 2px;
}

input#post_files {
	color: transparent;
	position: relative;
	left: 5px;
}

a.reply-link {
	text-decoration: none;
	padding: 0px 2px;
	font-size: 15px;
}

#quick-reply td.draggable:hover {
	cursor: move;
}

#quick-reply {
	border: 1px solid;
	border-radius: 3px;
	padding: 8px;
	min-width: 350px;
	min-height: 230px;
}

textarea.textbody {
	max-width: 100%;
}

blockquote.preview {
	min-width: 225px;
	min-height: 100px;
	padding: 10px;
	background-color: #403F44;
}

div#files-container {
	max-height: 150px;
	overflow-y: auto;
	border-radius: 4px;
	border: 1px solid rgba(0, 0, 0, 0.3); /* border around selected filesssss container */
	width: 380px;
}

input[type=file] {
  display: none;
}

div.selected_image /* individual selected images */ {
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	padding-bottom: 5px;
	margin-top: 5px!important;
	display: inline-grid;
	max-width: 300px;
	grid-template-columns: 1fr 2fr 2fr 6fr;
	align-items: center;
	justify-content: center;
	grid-gap: 2px;
}

div.selected_file /* individual selected files (no spoiler input) */ {
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	padding-bottom: 5px;
	margin-top: 5px!important;
	display: inline-grid;
	max-width: 270px;
	grid-template-columns: 1fr 1fr 2fr;
	align-items: center;
	justify-content: center;
	grid-gap: 2px;
}

#custom_post_files {
  display:inline-block;
  border: 3px dashed rgba(255, 255, 255, 0.6);
  border-radius: 2px;
  padding: 16px 12px;
  cursor: pointer;
}

#custom_post_files:hover {
  background: rgba(0, 0, 0, 0.2);
}

div#files-container * {
	margin: 0px 4px;
}

img.thumb_preview {
	max-height: 40px;
	max-width: 40px;
}

input.close {
	position: absolute;
	right: 10px;
	box-sizing:border-box;
	width:20px;
	height:20px;
	border-width:3px;
	border-style: solid;
	border-radius:100%;
	background: -webkit-linear-gradient(-45deg, transparent 0%, transparent 46%, white 46%,  white 56%,transparent 56%, transparent 100%), -webkit-linear-gradient(45deg, transparent 0%, transparent 46%, white 46%,  white 56%,transparent 56%, transparent 100%);
	box-shadow:0px 0px 5px 2px rgba(0,0,0,0.5);
	transition: all 0.3s ease;
}

/* CATALOG */

div.catalog-thread {
	display: inline-block;
	margin: 2px;
}

div.catalog-thread {
	padding-top: 8px;
	padding-left: 8px;
	padding-right: 8px;
	max-width: 250px;
	max-height: 330px;
	overflow: hidden;
}

div.catalog-thread:hover {
	overflow-y: auto
}

div.thread-stats {
	text-align: center;
	font-size: 12px;
	font-family: monospace,sans-serif;
}

div.catalog-thread div.post-body {
	width: 300px;
}

a.thread-link div.post-files {
	text-align: center;
}

.thread-list-move {
	transition: transform 1.5s;
}

/* EDIT */

table.board-edit td,
table.board-edit tr {
	padding: 5px;
	font-size: 20px;
}

table.board-edit input {
	font-size: 15px;
}


/* BLACKLIST */

#blacklist_posts, #blacklist_users {
	width: 100%;
}

#blacklist_posts, #blacklist_users * {
	text-align: center;
}

#blacklist_posts, #blacklist_users {
	border: 1px solid;
}

#blacklist_users td,
#blacklist_users th,
#blacklist_users tr,
#blacklist_posts td,
#blacklist_posts th,
#blacklist_posts tr {
	padding: 10px;
}

label.blacklist-toggle {
	font-size: 12px;
	font-family: monospace,sans-serif;
}

.input-group__details::before {
	background-color: hsla(0,0%,100%,.7) !important;
}

