body {
  background-color: lightgray;
  font-family: "Verdana", sans-serif;
  padding: 5px 25px;
  font-size: 18px;
  margin: 0;
  color: #444;
  text-decoration: none;
}

h1 {
  font-family: "Merriweather", serif;
  font-size: 40px;
  text-decoration: none;
}

h2 {
  font-size: 18px;
  color: black;
}

.textIN {
  font-size: 15px;
  color: red
}
.don {
  margin: 10px;
  margin-top: 150px;
  padding: 10px;
  float: left;
  border-style: solid;
}
.c1{color: red;}

.c2{color: orange;}

.c3{color: blue;}

.box {
  color: rebeccapurple;
  border-style: solid;
  width: 28%;
  margin: 10px;
  padding: 1%;
  float: left;
  text-decoration: none;
}

.RED {
  color: red;
  border-style: solid;
  float: left;
  padding: 1%;
  text-decoration: none;
}

.BLUE {
  color: blue;
  border-style: solid;
  float: left;
  padding: 1%;
  margin-left: 5px;
  text-decoration: none;
}

.ORANGE {
  color: orange;
  border-style: solid;
  padding: 1%;
  float: left;
  margin-left: 5px;
  text-decoration: none;
}
