@font-face {font-family: "diploma"; src: url(diploma.ttf);}
img{max-width: 100%; max-height: 100%;}
img:hover{max-width: 100%; max-height: 100%; background-color:orange;}
html{background:fixed; background-image:url('hatter.png'); font-family: "Comic Sans MS";}
h1{color:yellow; font-size: 16px;}
h2{color:#0078ff; font-size: 18px;}
h3{color:red; font-size: 20px;background-color: lightblue; text-align: center;}
h4{color:orange; font-size: 40px; text-align: center; font-family: diploma;}
h4:hover{color:black; background-color:orange; font-size: 40px; text-align: center; font-family: diploma;}
h5{color:red; font-size: 40px; text-decoration:underline;}
h6{
font-size: 18px; 
padding: -5em;
animation-name:myfirst;
animation-duration:5s;
animation-timing-function:linear;
animation-delay:1s;
animation-iteration-count:infinite;
animation-direction:alternate;
animation-play-state:running;
/* Safari and Chrome: */
-webkit-animation-name:myfirst;
-webkit-animation-duration:5s;
-webkit-animation-timing-function:linear;
-webkit-animation-delay:1s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:alternate;
-webkit-animation-play-state:running;
}

@keyframes myfirst
{
0%   {color:red;}
25%  {color:yellow;}
50%  {color:blue; }
75%  {color:green;}
100% {color:red;}
}

@-webkit-keyframes myfirst
{
0%   {color:red;}
25%  {color:yellow;}
50%  {color:blue; }
75%  {color:green;}
100% {color:red;}
}
a{color:yellow; font-size: 18px;}
a:active{color:black; font-size: 18px;}
a:visited{color:red; font-size :18px;}
a:hover{color:black; background-color:yellow ;font-size: 18px;}
marquee{scrollamount:5; direction:left; color:#64FF00; font-size: 40px; text-align: center; font-family: diploma;}
