body {
  background: #333;
  margin: 0px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

[v-cloak] {
  display: none;
}

#header {
  color: white;
  background: black;
  padding: 10px;
}

#select-user {
  color: black;
  font-weight: bold;
  background: white;
  padding: 5px;
  border-radius: 12px;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  margin-right: 25px;
}

#select-user:hover {
  background: silver;
}

#logo {
  font-size: 24px;
  margin-right: 24px;
}

#logo a {
  color: white;
  text-decoration: none;
}

#logo:hover {
  cursor: pointer;
}

#infobox {
    background: #B72F2F;
    padding: 10px;
    margin: 10px;
    border: 2px solid red;
    color: #F2E55B;
    font-weight: bold;
    font-size: 16px;
}

#followbox {
    margin: 10px;
    padding: 10px;
    background: #E0E0E0;
    border: 2px solid #9F9F9F;
}

#stats {
    margin-left: 25px;
    background: rgb(128, 103, 176);
    padding: 2px 10px;
    border-radius: 12px;
}

h2 {
  margin-left: 10px;
}

.poll-list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: 10px;
  margin-right: 10px;
}

.poll-list li {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  padding: 0px;
}

.poll-list li .button-bar {
  background: #ddd;
  border-radius: 0px 0px 4px 4px;
  padding: 5px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  height: 20px;
}

.poll-list li .button-bar button {
  margin-right: 5px;
}

.poll-list li .v-space {
  -webkit-flex: 1;
  flex: 1;
}

.poll-list li .h-space {
  -webkit-flex: 1;
  flex: 1;
}

.poll-content {
  padding: 10px;
}

.question {
  margin-bottom: 10px;
  font-size: 24px;
}

.question a {
  text-decoration: none;
  color: black;
}

#create-box {
  background: silver;
  padding: 10px;
  border-radius: 4px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 18px;
}

#create-box p {
  margin: 0px;
}

#data-usage {
  margin-right: 25px;
  background: #333;
  padding: 2px;
  border-radius: 12px;
  padding-left: 10px;
  padding-right: 10px;
}

h2 {
  color: silver;
}

h2 span {
  color: #555;
}

h2 span {
  cursor: pointer;
}

h2 span.active {
  color: silver;
  cursor: auto;
}

.poll {
  background: white;
  padding: 10px;
  margin: 5px;
  box-shadow: 2px 2px 3px black;
  border-radius: 4px;
  min-width: 300px;
  -webkit-flex: 1;
  flex: 1;
}

ul {
  padding: 0px;
  margin: 0px;
}

li {
  list-style: none;
}

pre {
  color: silver;
}

.chart {
  display:table;
  table-layout: fixed;
  width:100%;
  margin:0 auto;
}

.chart li {
  position:relative;
  display:table-row;
  vertical-align:bottom;
  height:20px;
}

.chart p {
  display: table-cell;
  overflow: hidden;
}

.chart p:first-child {
  width: 50px;
}

.chart span {
  height: 20px;
  margin: 2px;
  display: block;
  background: #d1ecfa;
  white-space: nowrap;
}

#markdown-div {
    background: white;
    padding: 10px;
    margin: 20px;
}

#markdown-info {
    margin-bottom: 10px;
}

#markdown-link {
    background: #CBF6C5;
    padding: 10px;
}

#markdown-result {
    background: rgb(194, 194, 228);
    padding: 10px;
    margin-top: 5px;
}

#hide-votes {
    cursor: auto !important;
    background: #0E1114;
    border-radius: 12px;
    font-size: 16px;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    color: #9C9C9C !important;
    vertical-align: middle;
    margin-left: 25px;
}

#comment-box {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 10px;
    background: #DDD;
}

#comment-box li {
    background: white;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 2px 2px 3px gray;
}

#comments-h {
  margin-top: 5px;
  color: black;
}

.comment-user {
  font-weight: bold;
}

.comment-user:hover {
  cursor: pointer;
}

.comment-date {
    font-size: 12px;
    color: #414141;
}

.comment-admin {
    color: #FFF;
    font-size: 12px;
    background: #F38C8C;
    padding: 2px;
    border-radius: 12px;
    padding-left: 5px;
    padding-right: 5px;
}

.comment-count {
}

.comment-count a {
  color: black;
  text-decoration: none;
}

.comment-body {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.comment-delete {
    color: gray;
    float: right;
    cursor: pointer;
}

blockquote {
    margin: 0px;
    border-left: 3px solid silver;
    padding-left: 10px;
    color: gray;
}

.loading-wrapper {
    position: relative;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    width: 20px;
    vertical-align: top;
}

.loading-div2 {
  height: 16px;
  width: 16px;
  border-radius: 12px;
  border: 1px solid gray;
  overflow: hidden;

  animation-duration: .5s;
  animation-name: zooming;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-direction: alternate;
}

.loading-div {
  width: 16px;
  height: 4px;
  position: absolute;
  top: 6px;
  left: 0px;
  border-radius: 12px;

  animation-duration: .35s;
  animation-name: spinning;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spinning {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(180deg);
  }
}

@keyframes zooming {
  from {
    transform: scale(0.7);
    box-shadow: 0px 0px -3px gray;
  }

  to {
    transform: scale(1.0);
    box-shadow: 0px 0px 6px gray;
    border-radius: 4px;
  }
}

@keyframes draw-chart {
  0% {width:0;}
}

.appear-transition {
  transition: all .4s ease;
}

.appear-enter, .appear-leave {
  opacity: 0.0;
  transform: scale(0.0);
}
