body {
    background-color: #f2f2f2; 
    font-family: Verdana, Arial, Geneva;
    line-height: 1.5em;
}
a 	 {color: #404040;}
h1   {
    color: #333333;
    text-align: center;
    margin-left: 200px;
    }
p    {color: #4d4d4d;}
b    {color: #404040;}
ul   {color: #4d4d4d;}
i    {color: #000000;}
div.tipo2 {
    max-width: 1500px;
    margin-left: 200px;
    border-left: 3px solid #a6a6a6;
    padding: 10px;

}
div.tipo1 {
    max-width: 1500px;
    margin-left: 200px;
    border-left: 3px solid #a6a6a6;
    padding: 10px;
    padding-left: 50px;
}   

div.cantoinferior {
    position: fixed;
	background-color: #FFFFFF;
    bottom: 0;
    right: 0;
    margin-right: 0; 
    width: 280px;
    border: 3px solid #a6a6a6;
}

ul.menu {
    position: absolute;
    top: 0;
    left: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    font-size: 18px;
    background-color: #f1f1f1;
}

li.menu1 a {
    
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

li.menu1 a:hover {
    background-color: #555;
    color: white;
}

.dropbtn {
    background-color: #f1f1f1;
    width: 200px;
    padding: 0px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    text-align: left;
}

.dropdown {
    position: relative;
    display: inline-block;

}

.dropdown-content {
    display: none;
    position: relative;
    color: white;
    background-color: #b3b3b3;
    min-width: 190px;
    max-width: 200px;
    
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #555;
    color: white;
}
