@font-face {
  font-family: bitwise;
  src: local("bitwise"),
       local("bitwise"),
       url(bitwise.ttf);
  font-weight: bold;
}
html{
	background-color: black;
}
.title{
	margin-top:1%;
	padding: 0;
	font-family: bitwise;
	color:#00CCCC;
	font-size:500%;
	text-align:center;
}
.ip{
	font-family: bitwise;
}