/* layout + colour */

body {
	background-color: rgb(53, 68, 88);
	font-family: 'Open Sans', sans-serif;
}


.content {
	margin: auto;
	margin-top: 2em;
	max-width: 950px;
	position: relative
}

.block{
	box-sizing: border-box;
	padding: 1.5em;
	margin-bottom: 0.5em;
	
	box-shadow: 0px 0px 0.25rem 0.125rem rgba(0, 0, 0, 0.15);
}

.block-footer {
	background-color: rgb(119, 197, 247);
	border-radius: 0 0 1em 1em;
}

.block-banner {
	background-color: rgb(235, 114, 96);
	text-align: center;
	padding: 0.5em;
}


.block-banner .pure-menu-link {
	color: black;
	margin-left: 30%;
	margin-right: 30%;
}

.block-banner .pure-menu-link:hover{background-color:#CCECFF;}

.block-banner .pure-menu-link:active{background-color:#CCECFF;}

.block-header{
	background-color: rgb(119, 197, 247);
	border-radius: 1em 1em 0 0;
	text-align: center;
}

.block-main{
	background-color: #CCECFF;
	min-height: 400px;
	font-size: 1em;
	line-height: 1.5em;
}

pre code{
	background-color: rgb(53, 68, 88) !important;
	padding: 0.5em;
	border-radius: 0.5em;
}

pre{margin: 0;}

li{margin-bottom: 1em;}

.red-line{
	background-color: white;
	width: 90%;
	height: 1px;
	margin: 0 auto;
}

#siteinfo {
	padding: 1em;	
	padding-bottom: 0;
	color: white;
}

/* typography */

h1 {
	font-weight: 100;
	font-size: 3.5em;
	font-family: 'Josefin Slab', serif;
	height: 0.9em;
	
	margin: 0em;
	padding:0.2em;
	font-weight: 600;
	color: white;
	text-transform: uppercase;
}

h2{
	font-size: 1.7em;
	font-weight: 700;
	margin-bottom: 0.2em;
	font-family: 'Josefin Slab', serif;
	text-transform: uppercase;
	border-bottom: 1px solid rgb(53, 68, 88);
	color: rgb(53, 68, 88);
}

a{
	color: rgb(235, 114, 96);
}

