body {
  font-family:Palatino;
  background-color:#f5f5f5;
}

header {
    position: fixed;
    float: left;
    width: 20%;
}

img {
  width: 80%;
}

.paragraph {
  width: 75%;
  line-height: 185%;
}

.title {
    font-size: 16px;
    font-family: Palatino;
    padding: 6px;
    margin-bottom: -10px;
    color: black;
}

.article-title {
    color: black;
    font-size: 42px;
    margin-bottom: -10px;
    max-width:80%;
}

.date {
    font-size: 15px;
    color: #cf25a5;
    padding: 5px;
}

a {
  color:#cf25a5;
  text-decoration:none;

}

article {
  float: right;
  max-width: 85%;
  position: absolute;
  margin-left: 15%;
}

nav {
    position: fixed;
}

ul {
    list-style-type: none;
    margin: 8px;
    padding: 0;
    overflow: hidden;
    background-color: #cf25a5;
}

li {
    font-family: Palatino;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

li a:hover {
  background-color: #a61b83;
}
