body {
  background-image: url("tile.png");
  background-color: black;
  font-family: "Courier New";
  color: white;
}
#justlarge {
    font-size: large;
}

#txt {
    color: red;
    font-size: large;
}