@charset "utf-8";
.nav {
    overflow: hidden;
    width: 960px;
    margin: 0 auto;
}

.nav ul {
    zoom: 1;
    padding: 5px 6px 5px;
    margin-bottom: 8px;
    background: #c8e8fd;
}

.nav ul:after {
    content: "";
    display: table;
    clear: both;
    overflow: hidden;
}

.nav ul:before {
    content: "";
    display: table;
}

.nav li {
    float: left;
    display: inline;
    margin: 0 2px 2px;
}

.nav a {
    display: inline-block;
    line-height: 30px;
    width: 75px;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
}

.nav a:hover, .nav a.active {
    background: #5ac2e9;
    color: #fff;
    text-decoration: none;
}

.crumbs {
    margin: 10px 0;
    font-family: "simsun";
    line-height: 24px;
}

.list {
    margin: 0 -1px 30px 0;
    position: relative;
}

.list .share {
    position: absolute;
    top: 0;
    right: 0;
}

.list h1 {
    line-height: 2;
    margin-bottom: 10px;
    font-size: 20px;
}

.items {
    overflow: hidden;
    zoom: 1;
    clear: both;
    border-top: 1px dotted #ccc;
    border-left: 1px dotted #ccc;
    position: relative;
}

.items:after {
    content: '';
    display: table;
    clear: both;
    overflow: hidden;
}

.items:before {
    content: '';
    display: table;
}

.items li {
    float: left;
    display: inline;
    width: 239px;
    height: 110px;
    border-right: 1px dotted #ccc;
    border-bottom: 1px dotted #ccc;
    text-align: center;
    overflow: hidden;
}

.items li p {
    margin:0 20px;
    padding-top: 26px;
    height: 54px;
    overflow: hidden;
    font-size: 18px;
    color: #333;
    cursor: pointer;
    position: relative;
}

.items li p:hover {
    /*background: #c8e8fd;*/
}

.items li div {
    background: #f4f4f4;
    line-height: 30px;
}

.page {
    text-align: center;
    margin: 10px 0 20px;
}

.page a {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    margin: 0 5px;
    background: #c8e8fd;
}

.page span {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    margin: 0 5px;
    background: #5ac2e9;
    color: #fff;
}

.page a:hover, .page a.active {
    text-decoration: none;
    background: #5ac2e9;
    color: #fff;
}

.intro {
    line-height: 24px;
    text-indent: 2em;
    font-size: 14px;
}

.zeroclipboard-is-hover {
    text-decoration: none;
    /*background: #c8e8fd;*/
    color: #fff;
}

.copy .zeroclipboard-is-hover {
    background-color: #c6e9ff;
    color: #333;
}

.mod-box {
    padding: 20px 0;
    margin-bottom: 20px;
    background: #f9f9f9;
    font-size: 16px;
    text-align: center;
    vertical-align: top;
}

.mod-box .word {
    display: inline-block;
    margin-right: 20px;
    line-height: 54px;
    vertical-align: top;
}

.mod-box .text {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 10px 10px;
    width: 580px;
    margin-right: 20px;
    font-size: 22px;
}

.mod-box .copy {
    display: inline-block;
    width: 100px;
    height: 40px;
    line-height: 40px;
    background: #c6e9ff;
    color:#333;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    *margin-top:10px;
    *vertical-align: top;
}