@charset "utf-8";

.container {
    padding-top: 20px;
    margin-bottom: 20px;
}
.container h1 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
}

.container dl {
    border: #d2d2d2 1px solid;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
}

.container dt {
    font-size: 16px;
    font-weight: 700;
    background: #eee;
    padding: 0 10px;
    border-bottom: 1px solid #ccc;
    line-height: 40px;
    color: #333;
}

.container dd {
    color: #333;
    font-size: 14px;
    padding:10px;
    line-height: 30px;
}