@charset "utf-8";


.top {
    width: 960px;
    margin: auto;
    overflow: hidden;
    zoom:1;
}

a.logo {
    padding-top: 25px;
    display: block;
    float: left;
}

.share {
    padding-top: 35px;
    margin-left: 150px;
    float: left;
}

.log {
    float: left;
    _display: inline;
    text-decoration: none;
    line-height: 28px;
    margin-right: 20px;
    font-size: 16px;
    color: #333;
}

.link {
    float: right;
    padding-top: 40px;
}

.link .input {
    width: 200px;
    border: 1px #e6e6e6 solid;
    height: 25px;
    line-height: 25px;
    padding-left: 7px;
    font-size: 16px;
    color: #333;
    float: left;
}

.copy {
    float: left;
    width: 100px;
    height: 27px;
    line-height: 27px;
    background-color: #c6e9ff;
    text-decoration: none;
    color: #333;
    margin-left: 5px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    position: relative;
}

.copy span {
    display: inline-block;
}

.title {
    display: block;
    margin-bottom: 55px;
    _display: none;
}

.main {
    background: url("../image/bg1.gif");
    border-bottom: 5px #dff3ff solid;
    border-top: 5px #dff3ff solid;
    height: 510px;
}

.wrap {
    width: 960px;
    margin: auto;
    zoom: 1;
}

.wrap:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.wrap .android1 {
    float: left;
    height: 445px;
    padding-top: 65px;
    _margin-top: 65px;
    width: 400px;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../image/android1.png');
}

.wrap .android1 img {
    _display: none;
}

.content {
    float: right;
    display: inline;
    padding-top: 35px;
    width: 514px;
    _margin-top: 35px;
    _height: 280px;
    _padding-top: 226px;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../image/title.png");
}

.qrcode {
    padding: 35px 24px;
}

.qrlink {
    position: absolute;
    top: 0;
    left: 270px;
    background: url("../image/qrbg.png") no-repeat;
    width: 177px;
    height: 223px;
    _background: none;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../image/qrbg.png");
    cursor: pointer;
}

.down {
    position: relative;
}

.download {
    position: absolute;
    left: 17px;
    top: 10px;
    width: 206px;
    height: 79px;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../image/download.png");
    cursor: pointer;
}

.download img {
    _display: none;
}

.step {
    width: 960px;
    margin: auto;
    margin-top: 20px;
    position: relative;
    height: 201px;
}

.step img {
    position: absolute;
}

.arrow1 {
    left: 252px;
    top: 77px;
}

.arrow2 {
    left: 610px;
    top: 77px;
}

.step2 {
    left: 345px;
}

.step3 {
    left: 724px;
}

.other {
    width: 960px;
    margin: auto;
    margin-top: 25px;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px #e6e6e6 solid;
    height: 138px;
    overflow: hidden;
}

.other ul {
    margin: 20px -50px 20px 17px;
    zoom: 1;
    clear: both;
}

.other ul:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.other ul li {
    float: left;
    margin-right: 48px;
    display: inline;
}

.other ul li img {
    display: block;
    width: 72px;
    height: 72px;
}

.other ul li a {
    text-decoration: none;
    font-size: 14px;
    color: #808080;
}

.other ul li a:hover, .foot a:hover {
    color: #0889dc;
}

.other ul li span {
    display: block;
    text-decoration: none;
    text-align: center;
    margin-top: 8px;
}

.foot {
    margin: auto;
    width: 960px;
    text-align: center;
    font-size: 12px;
    color: #b2b2b2;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
    padding: 10px 0;
}

.foot a {
    text-decoration: none;
    color: #808080;
}

.detail {
    width: 960px;
    margin: 20px auto 0;
    border-top: 1px solid #E6E6E6;
    clear: both;
}

.detail h1 {
    font-size: 16px;
    line-height: 30px;
    margin-top: 15px;
}

.detail p {
    line-height: 25px;
    font-size: 14px;
    text-indent: 2em;
    margin-bottom: 10px;
}

/*2014.11.26*/
body, ul, li, ol, dl, caption, pre, p, blockquote, input, textarea {
    font-size: 12px;
    font-family: "Microsoft Yahei", Arial, Helvetica;
}

.tabs {
    width: 960px;
    margin: 0 auto 15px;
    font-size: 14px;
}

.tabs ul {
    overflow: hidden;
    _zoom: 1;
}

.tabs .nav {
    padding: 5px 6px 5px;
    margin-bottom: 8px;
    background: #c8e8fd;
    overflow: hidden;
    zoom:1;
}

.tabs .nav li {
    float: left;
    margin: 0 2px 2px;
}

.tabs .nav a {
    display: inline-block;
    line-height: 30px;
    width: 75px;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
}

.tabs .nav a:hover {
    background: #5ac2e9;
    color: #fff;
    text-decoration: none;
}

.tabs .panels {
}

.tabs .panels ul {
    width: 960px;
    border-top: 1px dotted #ccc;
    border-left: 1px dotted #ccc;
}

.tabs .panels li {
    float: left;
    width: 239px;
    height: 110px;
    border-right: 1px dotted #ccc;
    border-bottom: 1px dotted #ccc;
    overflow: hidden;
}

.tabs .item {
    text-align: center;
}

.tabs .item p {
    margin:0 20px;
    padding-top: 26px;
    height: 54px;
    overflow: hidden;
    font-size: 18px;
    color: #333;
    cursor: pointer;
}

.tabs .item div {
    background: #f4f4f4;
    line-height: 30px;
}
.more{
	margin:15px 0 0;
}
.more a{
	display:block;
	height:40px;
	line-height:40px;
	background:#f4f4f4;
	text-align:center;
	font-weight:bold;
	font-size:16px;
}
.more a:hover{
	text-decoration:none;
	background:#c8e8fd;
}