body {
    background-color: #000000;
    font-size: large;
   	margin-left:auto;
	margin-right:auto;
	margin-top:40px;
	font-family: monospace;
}

.mayvaneday {
	max-width:900px;
	padding:0 10px;
}

h1, h2 {
  font-family: monospace;
  color: orange;
}
p {
    font-family: monospace;
    font-size: 120%;
    color: white;
}
li {
    font-family: monospace;
    font-size: 120%;
    color: #31402f;
}
a, a:visited {
  font-family: monospace;
  color: green;
  text-decoration: none;
}
b, strong {
  font-family: monospace;
  color: red;
}
pre, code {
  color: #9faf00;
}
i, em {
  font-family: monospace;
  color: #b3d9ff;
}
