@media (max-width: 880px) {
	nav#top-nav aside.widget_categories.hover ul li a:hover,
	#mobile-nav	{
		background-color: rgb(234,0,55);
		border-color: rgb(37,37,37);
	}
	nav#top-nav aside.widget_categories ul li a,
	nav#top-nav aside.widget_categories.hover ul li a, nav#top-nav aside.widget_categories:hover ul li a{
		color: rgb(234,0,55);
		border-color: rgb(37,37,37);
	}
	nav#top-nav aside ul.menu li.current_page_item a, nav#top-nav aside ul.menu li a:hover, nav#top-nav aside.widget_categories 	h4:hover, nav#top-nav aside.widget_categories:hover h4, nav#top-nav aside.widget_categories h4 {
		border-color: rgb(37,37,37);
	}
}
/* to overwrite styles from style.css */
#logo h1 a{
	color: rgb(240,240,240);
}
.videoPost,
article.post,
footer
{
	background-color: rgb(37,37,37);
}
#headerBox {
	background: rgba(37,37,37,1);
}
nav#top-nav aside.widget_search input#s {
	background: rgb(0,0,0);
	border-color: rgb(97,9,30);
}
