
/*Yotsuba B-like*/

body {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-image: -moz-linear-gradient(top, rgba(234,241,248,1) 0%, rgba(249,249,249,1) 100%);
	background-image: -webkit-linear-gradient(top, rgba(234,241,248,1) 0%,rgba(249,249,249,1) 100%);
	background-image: linear-gradient(to bottom, rgba(234,241,248,1) 0%,rgba(249,249,249,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaf1f8', endColorstr='#f9f9f9',GradientType=0 );
}

/* TEXT FORMAT */

span.spoiler {
	text-shadow: 0 0 10px rgba(0,0,0,0.8);
}


/* HOME */

#popular-boards {
	border: 1px solid;
}

#popular-boards td,th,tr {
	border: 1px solid;
	padding: 12px;
}

#popular-boards tr:nth-child(even) {
	background-color: #dadfec;
}

div.home-container {
	margin: 20px;
}

span.home-info {
	color: #3F29AE;
}

button.pinned {
	background-color: #C8E6C9 !important;
}

/* POSTS */

div.reply {
	background-color: #E8EAF6 !important;
	border: 1px solid #B7C5D9;
}

div.post_preview {
	background-color: #E8EAF6 !important;
	border: 1px solid #B7C5D9;
}

div.reply.op {
	background-color: #FAFAFA !important;
}

div.post_preview.op {
	border: 1px solid #B7C5D9;
}

div.preview_hover {
	background-color: #C5CAE9 !important;
}

div.preview_hover.op  {
	background-color: #E3F2FD !important;
}

div.reply.blacklisted {
	background-color: #FFEBEE !important;
}

span.post-subject {
       color: #273B75;
       font-weight: bold;
}


a.post-link {
	color: #000;
}

button:hover span.post-id, a.post-link:hover {
	color: #f44 !important;
	font-weight: bold;
}

a.toggle-replies {
	color: #13527a !important;;
}

blockquote.preview {
	background-color: #E2E0E9;
}

span.subheading {
	color: #616161 !important;
}

blockquote.reply-preview {
	background-color: #ECEFF1 !important;
}

/* PAGE */

span.sticky {
	background: #bac1c3;
}

hr.thread-separator {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(126, 158, 186, 0.5), rgba(0, 0, 0, 0));
}

.boardinfo {
	color: #304B7B;
}

a.reply-link:hover {
	color: #a0acc5;
}

#quick-reply {
	background-color: rgba(231,233,242,0.98);
}

div#files-container {
	background-color: #ced8ea;
}

input.close {
	border-color:lightsteelblue;
	background-color: lightsteelblue;
}

input.close:hover {
	border-color:aliceblue;
	background-color: aliceblue;
}

button.pagination__item.pressed {
	background-color: #E0E0E0 !important;
}

button.pagination__item {
	background-color: #F5F5F5 !important;
}

/* CATALOG */

div.catalog-thread:hover {
	background-color: #D0DFE6;
}

div.thread-stats {
	color: #2f3853;
}

/* BLACKLIST */

#blacklist_posts tr:nth-child(even), #blacklist_users tr:nth-child(even) {
	background-color: #dadfec;
}
