body 
{
        background-color: white;
	margin: 10px;
	padding: 5px;
}

h1
{
	color: black;
	font-weight: normal;
}

a
{
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	font-size:inherit;
}

td
{
	font-style: italic;
	color: black;
	padding: 2px 15px 2px 0px;
}



