.emphasis {
    font-size: 1.5em;
    margin-bottom: 0.25em;
}

.box {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

pre {
    background-color: #EEEEEE;
    padding: 10px;
}
