/* general */
.theme-dark {
  /* notification */
  /* noscript page */
  /* blacklist page */
  /* code theme */
  /* ZeroBlog */
  /* chromium scrollbar */ }
  .theme-dark * {
    border-color: #333 !important;
    text-shadow: none !important; }
  .theme-dark a {
    border-bottom: none;
    color: #8899A6 !important; }
  .theme-dark a:hover {
    color: #ccc !important; }
  .theme-dark strong {
    color: #ccc; }
  .theme-dark textarea {
    outline: 1px solid #333 !important;
    background-color: #161616 !important;
    color: #ccc !important; }
  .theme-dark select {
    color: #ccc !important; }
  body.theme-dark {
    background-color: #1b1b1b !important;
    color: #ccc; }
  .theme-dark h1, .theme-dark h2, .theme-dark h3, .theme-dark h4, .theme-dark h5, .theme-dark h6 {
    color: #ccc; }
  .theme-dark hr {
    background-color: #333;
    border-bottom: 1px solid #333;
    border-right: 1px solid #333; }
  .theme-dark :root {
    background-color: transparent; }
  .theme-dark th {
    background-color: #303030 !important;
    color: #ccc !important; }
  .theme-dark tr {
    background-color: #242424 !important;
    color: #ccc !important; }
  .theme-dark tr:hover {
    background-color: #333 !important; }
  .theme-dark li:nth-child(2n+1) {
    background-color: transparent !important; }
  .theme-dark button {
    background: #333;
    color: #ccc; }
  .theme-dark ::-moz-selection {
    background: rgba(200, 200, 200, 0.2) !important;
    color: #ddd !important; }
  .theme-dark ::selection {
    background: rgba(200, 200, 200, 0.2) !important;
    color: #ddd !important; }
  .theme-dark ::-webkit-input-placeholder {
    color: #999 !important; }
  .theme-dark ::-moz-placeholder {
    color: #999 !important;
    opacity: 1; }
  .theme-dark .notification > .body > .message > div {
    background-color: #444 !important; }
  .theme-dark .notification .body {
    background-color: #333; }
  .theme-dark .notification {
    color: #ccc; }
  .theme-dark .notification .input {
    background-color: #161616 !important; }
  .theme-dark .notification .select:hover, .theme-dark .notification .select.active {
    background-color: #444; }
  .theme-dark .unsupported {
    background-color: #242424;
    box-shadow: 0px 0px 5px #888; }
  .theme-dark .content #details {
    background-color: #303030;
    box-shadow: none; }
  .theme-dark .content {
    color: #ccc; }
  .theme-dark .hljs-tag, .theme-dark .hljs-name, .theme-dark .hljs-attribute {
    color: #F0E68C; }
  .theme-dark .hljs-keyword, .theme-dark .hljs-selector-tag, .theme-dark .hljs-subst {
    color: #F0E68C; }
  .theme-dark .hljs-built_in, .theme-dark .hljs-builtin-name {
    color: #98FB98; }
  .theme-dark pre {
    color: #ddd;
    background-color: #333;
    /* '!important' affects NullPaste selected text color */
    border: 0px solid #060606 !important;
    overflow: auto; }
  .theme-dark pre code {
    color: #ddd;
    background-color: #333 !important;
    border: 0px solid #060606 !important; }
  .theme-dark .hljs {
    color: #ddd;
    background-color: #333 !important;
    border: 0px solid #060606 !important; }
  .theme-dark code {
    color: #FFA0A0;
    background-color: #333 !important; }
  .theme-dark .hljs-title, .theme-dark .hljs-section, .theme-dark .hljs-selector-id, .theme-dark .hljs-selector-class {
    color: #98FB98; }
  .theme-dark .hljs-meta {
    color: #98FB98; }
  .theme-dark .hljs-number, .theme-dark .hljs-literal, .theme-dark .hljs-variable, .theme-dark .hljs-template-variable, .theme-dark .hljs-tag .hljs-attr {
    color: #FFA0A0; }
  .theme-dark .hljs-string, .theme-dark .hljs-doctag {
    color: #FFA0A0; }
  .theme-dark .hljs-comment, .theme-dark .hljs-quote, .theme-dark .hljs-link {
    color: #87CEEB; }
  .theme-dark .hljs-symbol, .theme-dark .hljs-bullet {
    color: #FFA858; }
  .theme-dark .hljs-tag .hljs-title, .theme-dark .hljs-rules .hljs-property, .theme-dark .django .hljs-tag .hljs-keyword {
    color: #FFA0A0; }
  .theme-dark .hljs-string, .theme-dark .hljs-tag .hljs-value, .theme-dark .hljs-phpdoc, .theme-dark .hljs-dartdoc, .theme-dark .tex .hljs-formula {
    color: #ddd; }
  .theme-dark .hljs-title, .theme-dark .hljs-id, .theme-dark .scss .hljs-preprocessor {
    color: #F0E68C; }
  .theme-dark .hljs-number, .theme-dark .hljs-hexcolor, .theme-dark .ruby .hljs-constant {
    color: #FFA0A0; }
  .theme-dark .hljs-deletion {
    background: #422; }
  .theme-dark .hljs-addition {
    background: #242; }
  .theme-dark .hljs-winutils, .theme-dark .nginx .hljs-title, .theme-dark .hljs-subst, .theme-dark .hljs-request, .theme-dark .hljs-status {
    color: #ddd; }
  .theme-dark .comment-new .button-submit {
    background-color: #333; }
  .theme-dark .post {
    background-color: transparent; }
  .theme-dark .main a {
    color: #8899a6; }
  .theme-dark .feed-follow {
    background-color: #333;
    color: #ccc !important; }
  .theme-dark .feed-follow:hover {
    background-color: #444; }
  .theme-dark .feed-follow.following .text-following {
    color: #ccc; }
  .theme-dark .icon-feed {
    background-color: #999 !important; }
  .theme-dark .icon-feed::before {
    border-top: 2px solid #999 !important;
    border-right: 2px solid #999 !important; }
  .theme-dark .icon-feed::after {
    border-top: 2px solid #999 !important;
    border-right: 2px solid #999 !important; }
  .theme-dark .feed-follow .text-follow, .theme-dark .feed-follow .text-following {
    font-family: Roboto, Helvetica, Arial; }
  .theme-dark .post .body h1::before {
    border-top: 1px solid #333; }
  .theme-dark .ae-ui .ae-container-input input, .theme-dark .ae-ui .ae-container-input .ae-input {
    color: #ccc !important; }
  .theme-dark .ae-ui .ae-container-input {
    background-color: #242424 !important; }
  .theme-dark .ae-ui .ae-toolbar, .theme-dark .ae-ui [class^="ae-toolbar-"] {
    background-color: #333 !important;
    color: #ccc !important; }
  .theme-dark .tags-label {
    color: #8899a6; }
  .theme-dark .tags-label:hover {
    color: #ccc; }
  .theme-dark .post .body {
    font-size: 15px;
    color: #ccc;
    font-family: Helvetica,Arial,sans-serif; }
  .theme-dark .post table th {
    background-color: #242424; }
  .theme-dark .zoom-overlay {
    background: #101010; }
  .theme-dark .zoom-overlay-open .zoom-overlay {
    opacity: 0.9; }
  .theme-dark .left h2 {
    color: #ccc; }
  .theme-dark .comment, .theme-dark .lastcomments {
    background-color: #1b1b1b; }
  .theme-dark .lastcomments .lastcomment .details .postlink {
    border-bottom: 0px solid #BBB; }
  .theme-dark .post .details .comments-num .num {
    border-bottom: 0px solid #eee;
    color: #8899A6; }
  .theme-dark .bottombar {
    background-color: rgba(255, 255, 255, 0.2); }
  .theme-dark .button.publish {
    background-color: #333;
    color: #bbb; }
  .theme-dark .button.publish:hover {
    background-color: #222; }
  .theme-dark .button {
    background-color: #333;
    color: #ccc; }
  .theme-dark .button.is-hovered, .theme-dark .button:hover {
    color: #ccc;
    background-color: #444; }
  .theme-dark .editbg {
    background-color: transparent; }
  .theme-dark .markdown-help {
    background-color: #242424; }
  @media screen and (max-width: 840px) {
    .theme-dark .left input ~ .trigger {
      background-color: #242424;
      box-shadow: none; }
    .theme-dark .left input:checked ~ .trigger {
      box-shadow: 0px 0px 30px #555; }
    .theme-dark .trigger .lastcomments {
      background-color: transparent; } }
  @media screen and (min-width: 750px) {
    .theme-dark ::-webkit-scrollbar {
      width: 6px !important;
      height: 6px !important; }
    .theme-dark body::-webkit-scrollbar {
      width: 6px !important; }
    .theme-dark ::-webkit-scrollbar-thumb {
      height: 50px !important;
      background-color: #666 !important;
      border-radius: 3px !important; }
    .theme-dark ::-webkit-scrollbar-button {
      display: none !important; }
    .theme-dark body::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important; }
    .theme-dark ::-webkit-scrollbar-track {
      background-color: #999 !important; }
    .theme-dark ::-webkit-scrollbar-track-piece {
      background-color: #333 !important; }
    .theme-dark ::-webkit-scrollbar-corner {
      background-color: #999 !important; }
    .theme-dark ::-webkit-resizer {
      background-color: #666 !important; } }

/*# sourceMappingURL=dark.css.map */
