body, html {
margin:0;
animation-name: page;
height: 3000px;
-webkit-animation-name: page;
-moz-animation-name: page;
animation-duration: 1.0s;
-webkit-animation-duration: 1.0s;
-moz-animation-duration: 1.0s;
background-color: white;
}
@font-face {
    font-family: 'lalezar';
    src: url('font/Lalezar.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'most';
    src: url('font/Montserrat.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@keyframes page{
from{
opacity: 0;
}to{
opacity: 1.0;
}
}
@-webkit-keyframes page{
from{
opacity: 0;
}to{
opacity: 1.0;
}
}
#header{
margin:0;
z-index:40;
font-family: lalezar;
}
.drop{
display:none;
 z-index:20;
}

.nav-main {
width: 100%;
background-color: #b71c1c;
height: 70px;
color: #fff;
}

.logo {
float: left;
height: 40px;
padding: 15px 30px;
font-size: 2.5em;
line-height: 40px;
}

.nav-main > ul {
margin: 0;
padding: 0;
float: left;
list-style-type: none;
}

.nav-main > ul > li {
float: left;
}

.nav-item {
display: inline-block;
padding: 15px 20px;
height: 40px;
line-height: 40px;
color: #fff;
text-decoration: none;

}
.nav-item:hover{
background-color: #d32f2f;
}
.nav-main > a{
  color: white;
  text-decoration: none;
}
.ico{
  float: right;
  padding-top: 5px;
  padding-right: 10px;
}
.ico:hover{
  animation-name: log;
  -webkit-animation-name: log;
  -moz-animation-name: log;
  animation-duration: 1.0s;
  -webkit-animation-duration: 1.0s;
  -moz-animation-duration: 1.0s;
  cursor: pointer;
}
.content{
  padding-left: 50px;
  padding-top: 50px;
}
.content > h1{
  font-family: lalezar;
  font-size: 5em;
}
.content > p {
  font-family: most;
}
.bs {
  font-family: most;
}
a {
  color: black;
  text-decoration: underline;;
}
.bit{
  float: left;
  padding-top: 70px;
}
.key{
  color: black;
  font-family: 'oswald';
  font-size: 1.5em;
  position: absolute;
  padding-left: 20px;
  padding-top: 98px;
}
.key:hover{
  text-decoration: underline;
}
.foot{
  height: 100px;
  padding-top: 100px;
}
@keyframes log{
  from{
    opacity: 1.0;
  }50%{
    opacity: 0.5;
  }to{
    opacity: 1.0;
  }
}
@-webkit-keyframes log{
  from{
    opacity: 1.0;
  }50%{
    opacity: 0.5;
  }to{
    opacity: 1.0;
  }
}
