body, html {
  margin:0;
  animation-name: page;
  -webkit-animation-name: page;
  -moz-animation-name: page;
  animation-duration: 1.0s;
  -webkit-animation-duration: 1.0s;
  -moz-animation-duration: 1.0s;
  background-color: #b71c1c;
}

/* FONTS */

@font-face {
    font-family: 'font1';
    src: url('font/font1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'oswald';
    src: url('font/Oswald-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'fontP';
    src: url('font/fontP.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* ANIMATIONS */

@keyframes page{
  from{
  opacity: 0;
  background-color: white;
  }to{
  opacity: 1.0;
  background-color: #b71c1c;
  }
  }
@-webkit-keyframes page{
  from{
  opacity: 0;
  background-color: white;
  }to{
  opacity: 1.0;
  background-color: #b71c1c;
  }
}
@keyframes titp{
  from{
    padding-left: 2000px;
  }50%{
    padding-left: 1000px;
  }to{
    padding-left: 0px;
  }
}
@-webkit-keyframes titp{
  from{
    padding-left: 2000px;
  }50%{
    padding-left: 1000px;
  }to{
    padding-left: 0px;
  }
}
@keyframes linp{
  from{
    padding-left: 2000px;
    opacity: 0;
  }65%{
    padding-left: 1000px;
    opacity: 0;
  }to{
    padding-left: 0px;
    opacity: 1.0;
  }
}
@-webkit-keyframes linp{
  from{
    padding-left: 2000px;
    opacity: 0;
  }65%{
    padding-left: 1000px;
    opacity: 0;
  }to{
    padding-left: 0px;
    opacity: 1.0;
  }
}
@keyframes prop{
  from{
    transform: scale(0);
    opacity: 0;
  }65%{
    transform: scale(0);
    opacity: 0;
  }to{
    transform: scale(1.0);
    opacity: 1.0;
  }
}
@-webkit-keyframes prop{
  from{
    transform: scale(0);
    opacity: 0;
  }65%{
    transform: scale(0);
    opacity: 0;
  }to{
    transform: scale(1.0);
    opacity: 1.0;
  }
}
@keyframes press{
  from{
    transform: scale(1.0);
  }50%{
    transform: scale(1.5);
  }to{
    transform: scale(1.0);
  }
}
@-webkit-keyframes press{
  from{
    transform: scale(1.0);
  }50%{
    transform: scale(1.5);
  }to{
    transform: scale(1.0);
  }
}
/* CLASSES */

.tit {
  padding-top: 60px;
  position: absolute;
  color: white;
  font-family: 'font1';
  font-size: 8.0em;
  padding-left: 34%;
}
.tx{
  color: white;
  font-family: 'font1';
  font-size: 3.0em;
  padding-top: 500px;
}
.logo {
  padding-top: 14%;
  position: absolute;
  padding-left: 20%;
}

.butt{
  padding-top: 80px;
}
.butt:hover{
  animation-name: press;
  -webkit-animation-name: press;
  -moz-animation-name: press;
  animation-duration: 1.0s;
  -webkit-animation-duration: 1.0s;
  -moz-animation-duration: 1.0s;
  cursor: pointer;
}
.foot {
  height: 200px;
  padding-top: 10px;
}
.or{
  color: white;
  font-family: 'font1';
  font-size: 2.0em;
  padding-top: 15px;
}
.bit{
  float: left;
  padding-top: 70px;
}

.key{
  color: white;
  font-family: 'oswald';
  font-size: 1.5em;
  position: absolute;
  padding-left: 20px;
  padding-top: 90px;
}
.key:hover{
  text-decoration: underline;
}

/* IDs */

#cont{
  animation-name: titp;
  -webkit-animation-name: titp;
  -moz-animation-name: titp;
  animation-duration: 2.0s;
  -webkit-animation-duration: 2.0s;
  -moz-animation-duration: 2.0s;
}
#line{
  background: white;
  height: 5px;
  width: 200px;
  position: absolute;
  top: 420px;
  left: 43%;
  animation-name: linp;
  -webkit-animation-name: linp;
  -moz-animation-name: linp;
  animation-duration: 2.0s;
  -webkit-animation-duration: 2.0s;
  -moz-animation-duration: 2.0s;
}
#inf {
  animation-name: prop;
  -webkit-animation-name: prop;
  -moz-animation-name: prop;
  animation-duration: 2.0s;
  -webkit-animation-duration: 2.0s;
  -moz-animation-duration: 2.0s;
}
