.tha{
  padding-top: 20px;
  color: white;
  font-family: 'font1';
  font-size: 8.0em;
}
.tx {
  padding-top: 20px;
}
.logoF{
  padding-top: 20px;
}
.logoF:hover{
  animation-name: log;
  -webkit-animation-name: log;
  -moz-animation-name: log;
  animation-duration: 1.0s;
  -webkit-animation-duration: 1.0s;
  -moz-animation-duration: 1.0s;
  cursor: pointer;
}
.bit{
  float: left;
  padding-top: 70px;
}
.key{
  color: white;
  font-family: 'oswald';
  font-size: 1.5em;
  position: absolute;
  padding-left: 20px;
  padding-top: 70px;
}
.key:hover{
  text-decoration: underline;
}
@keyframes log{
  from{
    opacity: 1.0;
  }50%{
    opacity: 0.5;
  }to{
    opacity: 1.0;
  }
}
@-webkit-keyframes log{
  from{
    opacity: 1.0;
  }50%{
    opacity: 0.5;
  }to{
    opacity: 1.0;
  }
}
